<form novalidate name="anyTx">

    <div class="body-1" w-i18n="directives.anyTransaction.textAreaTitle"></div>

    <w-input-container>
        <w-input ng-model="$ctrl.json"
                 w-i18n-attr="placeholder"
                 w-validate
                 w-validator-custom="{{$ctrl.isValidJSON}}"
                 name="script"
                 textarea
                 class="large"></w-input>

        <w-input-error name="custom">
            <span ng-if="$ctrl.requiredError"
                  w-i18n="directives.anyTransaction.errors.invalidScript"></span>
        </w-input-error>

        <w-input-error name="custom">
            <span ng-if="$ctrl.validationError"
                  w-i18n="directives.anyTransaction.errors.invalidScript"></span>
        </w-input-error>
    </w-input-container>

    <div class="margin-top-2 warning-plate">
        <div class="body-2 warning-400" w-i18n="directives.anyTransaction.warning.title"></div>
        <div class="footnote-1 basic-500" w-i18n="directives.anyTransaction.warning.body"></div>
    </div>

    <div class="margin-top-2 basic-500 footnote-1"
         w-i18n="directives.anyTransaction.fee"
         params="{fee: $ctrl.fee}"></div>

    <div class="margin-top-3">
        <w-button class="big long submit"
                  disabled="anyTx.$invalid"
                  on-click="$ctrl.next()">
            <span w-i18n="directives.anyTransaction.ok"></span>
        </w-button>
    </div>
</form>
