<div class="txinfo__lead">
    <div class="exchange-header-row">
        <h3 class="basic-700"
            w-i18n="transaction.amounts.{{::$ctrl.typeName}}"
            params="{
          sign: $ctrl.signAmount,
          amount: $ctrl.transaction.amount.toFormat(),
          name: $ctrl.transaction.amount.asset.name
        }">
        </h3>
        <span ng-if="$ctrl.isScamAmount"
              class="asset__label asset__label-suspicious"
              w-i18n="transaction.headers.suspicious"></span>
    </div>
    <div class="exchange-header-row">
        <div class="body-2 basic-500"
             w-i18n="transaction.amounts.{{::$ctrl.typeName}}"
             params="{
           sign: $ctrl.signPrice,
           amount: $ctrl.totalPrice,
           name: $ctrl.transaction.price.asset.name
         }"></div>
        <span ng-if="$ctrl.isScamPrice"
              class="asset__label asset__label-suspicious asset__label-suspicious_small"
              w-i18n="transaction.headers.suspicious"></span>
    </div>
</div>
