<div class="txinfo__row">
    <div class="txinfo__key"
         w-i18n="transaction.modals.exchange.pair"></div>
    <div class="txinfo__value">
        {{::$ctrl.transaction.amount.asset.displayName}}/{{::$ctrl.transaction.price.asset.displayName}}
    </div>
</div>
<div class="txinfo__row">
    <div class="txinfo__key"
         w-i18n="transaction.modals.exchange.exchangeType"></div>
    <div class="txinfo__value" w-i18n="transaction.modals.exchange.{{::$ctrl.transaction.exchangeType}}"></div>
</div>
<div class="txinfo__row">
    <div class="txinfo__key"
         w-i18n="transaction.modals.price"></div>
    <div class="txinfo__value" w-i18n="money-currency" params="::{money: $ctrl.transaction.price}"></div>
</div>
<div class="txinfo__row">
    <div class="txinfo__key"
         w-i18n="transaction.modals.exchange.matcherFee"></div>
    <div ng-if="::$ctrl.showSellMatcherFee"
         class="txinfo__value"
         w-i18n="money-currency"
         params="::{money: $ctrl.transaction.sellMatcherFee}"></div>
    <div ng-if="::$ctrl.showBuyMatcherFee"
         class="txinfo__value"
         w-i18n="money-currency"
         params="::{money: $ctrl.transaction.buyMatcherFee}"></div>
</div>
<w-transaction-info-general height="$ctrl.transaction.height"
                            timestamp="$ctrl.transaction.timestamp"
                            id="$ctrl.id"></w-transaction-info-general>
