@import (reference) 'config';
@import (reference) '../../app/less/typography';

body.tokens {
  @height-title: 60px;

  .nameHelper {
   display: none;

    &.showNameHelper {
      display: block;
    }
  }

  .main-content .content {
    height: 100%;
    overflow: auto;
    margin: 0 auto;
    max-width: 100%;
  }

  .tokens-page {
    height: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 2%;

    &-wrapper {
      background-color: @color-white;
      border-radius: @border-radius;
      box-shadow: @shadow-type-1;
      max-width: 540px;
      margin: auto;
      width: 100%;
    }

    w-select {
      .issue-select {
        white-space: nowrap;
      }
    }

    &__content {
      overflow: auto;
      padding: 0 40px;

      &::after {
        display: block;
        content: '';
        height: 40px;
      }
    }

    textarea {
      min-height: 77px;
      max-height: 300px;
    }

    .page-title {
      display: flex;
      align-items: center;
      padding: 0 40px;
      font-size: 17px;
      font-family: 'Roboto-Medium';
      height: @height-title;
      border-bottom: 1px solid @color-basic-200;
    }

    .preview {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      border-radius: @border-radius;
      background-color: @color-disabled-50;
      border: 1px solid @color-basic-100;
      height: 72px;

      .avatar-wrap {
        display: flex;
        width: 30px;
        height: 30px;
        margin: 19px 16px;
        border-radius: 100%;
        background-color: @color-basic-100;
        position: relative;
      }

      .asset-logo_new {
        &:hover + w-info-tooltip .tooltip {
          display: flex;
        }
      }

      .token-info-wrap {
        display: flex;
        flex-direction: column;
        height: 40px;
        width: calc(~'100% - 62px');
        justify-content: center;

        &.empty {

          .token-name::after {
            width: 112px;
          }

          .token-value::after {
            width: 242px;
          }

          .token-name::after, .token-value::after {
            content: '';
            display: block;
            height: 8px;
            border-radius: 100px;
            background-color: @color-basic-100;
          }
        }

        .line {
          display: flex;
          height: 50%;
          align-items: center;
        }
      }
    }

    .generate-form {
      .row {
        margin-top: 20px;

        &-script {
          margin-top: 10px;
        }
      }
    }
  }

  w-info-tooltip {
    top: -8px;
    left: 50%;

    &.important-information-tokens {
      position: absolute;
    }

    .information-icon {
      display: none;
    }

    .tooltip {
      align-items: center;
      transform: translateX(-50%);
    }
  }
}

@media screen and (max-width: 768px) {
  body.tokens {
    .main-content .content {
      height: calc(100vh ~'- 60px');
      width: 100%;
    }

    .token-page {
      .generate-form {
        padding: 0 10px;
        width: 100%;
        max-width: calc(100% ~'- 20px');
      }

      .input-like .select-wrap .issue-select {
        width: calc(100% ~'- 12px');
      }

      textarea {
        font-size: 14px;
      }

      .byte-validator__help {
        position: relative;
        top: 4px;
      }
    }
  }
}
