<div class="wB-wrapper wB-wrapper-block">
	<div class="wB-header">
		<img class="wB-icon" ng-src="img/coins_icons/waves.svg" alt="{{::$ctrl.displayName}}"/>
		<div class="wB-name">{{::$ctrl.displayName | uppercase}}</div>
	</div>
	<div class="wB-add"></div>
	<div class="wB-balLabel">Current Balance</div>
	<div class="wB-bal">
		<span class="wB-balInt">{{$ctrl.integerBalance}}</span>
		<span class="wB-balDec">{{$ctrl.fractionBalance}}</span>
	</div>
	<div class="wB-hr-separator"></div>
	<div class="wB-buttons">
	  <a ng-click="$ctrl.onSend({currency: $ctrl.balance.currency})">
	    <div class="wB-but wB-butSend fade"><p>Send</p></div>
	  </a>
	  <a ng-click="$ctrl.onWithdraw({currency: $ctrl.balance.currency})">
	    <div class="wB-but wB-butRec fade"><p>Receive</p></div>
	  </a>
	  <a ng-click="$ctrl.onDeposit({currency: $ctrl.balance.currency})">
	    <div class="wB-but wB-butTrade fade"><p>Buy</p></div>
	  </a>
	</div>
</div>