@import (reference) '../../../config';

w-dex-order-book {
  display: block;
  width: 100%;
  height: 100%;
  text-align: right;

  w-table {
    position: relative;
    z-index: 1;

    w-row {
      padding: 0 10px 0 5px;
      border-bottom: 1px solid transparent;
      border-top: 1px solid transparent;

      &:hover {
        background-color: @color-basic-50;
        border-color: @color-basic-200;
      }
    }

    w-t-head {
      w-row {
        padding: 0 14px 0 5px;
        background: @color-white;

        &:hover {
          background: @color-white;
          border-color: transparent;
        }

        .table-cell {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  w-scroll-box {
    .asks w-row,
    .bids w-row {
      cursor: pointer;
    }
  }

  .decimal-muted {
    color: @color-disabled-500;
  }

  .spread {
    padding: 7px 0;
    border-top: 1px solid @color-basic-100;
    border-bottom: 1px solid @color-basic-100;
    background: @color-white;

    .cell-0 {
      color: @color-error-400;

      .decimal-muted {
        color: @color-error-200;
      }
    }

    .cell-1 {
      color: @color-submit-300;
    }

    .cell-2 {
      color: @color-success-600;

      .decimal-muted {
        color: @color-success-200;
      }
    }
  }

  .bids .cell-1 {
    color: @color-success-600;

    .decimal-muted {
      color: @color-success-200;
    }
  }

  .asks .cell-1 {
    color: @color-error-400;

    .decimal-muted {
      color: @color-error-200;
    }
  }
}