@import (reference) 'config';
@import (reference) '../../../app/less/typography';
@import (reference) 'icons';

.dex-order-book {
  display: block;
  width: 100%;
  height: 100%;
  text-align: right;

  &__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &.has-order-book {
    w-empty-block,
    w-error-block {
      display: none;
    }
  }
}

@media screen and (max-width: 1024px) {
  .dex-layout {
    &__column_orderbook {
      .dex-layout {
        &__block[data-block="orderbook"] {
          w-empty-block,
          w-error-block {
            top: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 659px) {
  .dex-order-book {
    min-height: 360px;

    &__wrapper {
      min-height: 322px;
    }

    w-scroll-box {
      max-height: 155px;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}
