<div w-i18n-ns="app.ui" class="input-wrap" ng-if="$ctrl.name">
    <w-input type="text"
             w-validate
             class="input no-validate-icons"
             ng-class="[$ctrl.inputClasses]"
             w-validator-gt="{{$ctrl.min}}"
             w-validator-lte="{{$ctrl.realMaxBalance}}"
             w-validator-asset="{{$ctrl.asset}}"
             ng-focus="$ctrl.focus = true"
             ng-blur="$ctrl.focus = false"
             name="{{::$ctrl.name}}"
             ng-disabled="$ctrl.disabled"
             ng-model="$ctrl.amount"
             required></w-input>
    <div ng-if="!$ctrl.focus" title="{{$ctrl.asset.ticker || $ctrl.asset.name}}"
         class="currency basic-500 caption-2">{{$ctrl.asset.displayName}}
    </div>
    <div ng-mousedown="$ctrl.fillMaxClick()"
         ng-touchstart="$ctrl.fillMaxClick()"
         class="send-all"
         ng-if="$ctrl.focus">
        <span w-i18n="balanceInput.max"></span>
    </div>
</div>
