<div class="gateway">
    <div ng-if="!$ctrl.hasError">
        <div class="text-center gateway-icon" ng-if="$ctrl.imageSrc !== ''">
            <img src="{{::$ctrl.imageSrc}}"/>
        </div>

        <h3 class="text-center margin-2 basic-700">
            <span w-i18n="modal.gatewaySign.headline" params="{url: $ctrl.referrer, name: $ctrl.name}"></span>
        </h3>

        <div class="warning-plate margin-2 body-2 warning-500">
            <span w-i18n="modal.gatewaySign.warning"></span>
        </div>

        <div class="content margin-3 caption-1 basic-500 flex-caption">
            <i class="icon-lock"></i>
            <span w-i18n="modal.gatewaySign.description"></span>
        </div>

        <div class="buttons-wrapper">
            <w-button class="big" w-modal-close>
                <span w-i18n="modal.gatewaySign.cancel"></span>
            </w-button>
            <w-button class="big submit" on-click="$ctrl.send()">
                <span w-i18n="modal.gatewaySign.continue"></span>
            </w-button>
        </div>
    </div>
    <div ng-if="$ctrl.hasError">
        <div class="icon-disconnected"></div>

        <h3 class="text-center margin-4 basic-700">
            <span w-i18n="modal.gatewaySign.error.headline"></span>
        </h3>

        <div class="note-plate margin-4" ng-if="$ctrl.debug">
            <pre class="body-2">{{::$ctrl.errorMessage}}</pre>
        </div>

        <w-button class="big long white" w-modal-close>
            <span w-i18n="modal.gatewaySign.error.button"></span>
        </w-button>
    </div>
</div>
