<div class="gateway">
    <div ng-if="!$ctrl.hasError">
        <div class="text-center gateway-icon">
            <img ng-if="$ctrl.imageSrc !== ''" src="{{::$ctrl.imageSrc}}"/>
            <div ng-if="!$ctrl.imageSrc !== ''" class="icon-browser"></div>
        </div>

        <h3 class="text-center margin-2 basic-700">
            <span w-i18n="modal.gatewaySign.headline" params="{url: $ctrl.referrer, name: $ctrl.name}"></span>
        </h3>

        <div class="content margin-2 caption-1 basic-500 flex-caption">
            <i class="icon-lock"></i>
            <span w-i18n="modal.gatewaySign.description"></span>
        </div>

        <div ng-if="$ctrl.isDesktop" class="content margin-2 body-3 basic-500 flex-caption">
            <i class="icon-grey-warning"></i>
            <span>
                <span w-i18n="modal.gatewaySign.descriptionDesktop1"></span>
                <span w-i18n="modal.gatewaySign.descriptionDesktop2"
                      class="link body-3"
                      w-copy="$ctrl.successUrl"
                ></span>
                <span w-i18n="modal.gatewaySign.descriptionDesktop3"></span>
            </span>
        </div>

        <div class="buttons-wrapper">
            <w-button class="big" w-modal-close>
                <span w-i18n="modal.gatewaySign.cancel"></span>
            </w-button>
            <w-button class="big submit" w-modal-close on-click="$ctrl.send()">
                <span w-i18n="modal.gatewaySign.continue"></span>
            </w-button>
        </div>
    </div>
    <div ng-if="$ctrl.hasError">
        <div class="icon-disconnected"></div>

        <h3 class="text-center margin-4 basic-700">
            <span w-i18n="modal.gatewaySign.error.headline"></span>
        </h3>

        <div class="note-plate margin-4" ng-if="$ctrl.debug">
            <pre class="body-2">{{::$ctrl.errorMessage}}</pre>
        </div>

        <w-button class="big long white" w-modal-close>
            <span w-i18n="modal.gatewaySign.error.button"></span>
        </w-button>
    </div>
</div>
