<div class="asset-modal__head">
    <div class="asset-modal__head-content">
        <w-asset-logo ng-cloak asset-id="{{::$ctrl.assetId}}"
                      size="65"
                      class="asset-modal__logo"></w-asset-logo>

        <div class="asset-modal__data">
            <h2 ng-cloak class="asset-modal__name basic-900" ng-class="{'has-label': $ctrl.hasLabel}">
                <span class="name">{{$ctrl.assetName}}</span>
                <span ng-if="$ctrl.isVerified" class="status-label-min active" w-i18n-ns="app.utils" w-i18n="modal.assetInfo.qualified"></span>
                <span ng-if="$ctrl.isGateway" class="status-label-min active"  w-i18n-ns="app.utils" w-i18n="modal.assetInfo.gateway"></span>
                <span ng-if="$ctrl.isSuspicious" class="status-label-min inactive" w-i18n="modal.assetInfo.suspicious"></span>
            </h2>

            <div ng-if="$ctrl.ticker" class="body-2 basic-500 asset__ticker">{{$ctrl.ticker}}</div>
        </div>

        <div class="chart-wrapper">
            <w-asset-rate-chart no-update="::true" asset-id="::$ctrl.assetId"></w-asset-rate-chart>
            <div class="interactive-stop"></div>
        </div>

    </div>
</div>
