<span class="logo logo-header" ng-if="$ctrl.isLogined"></span>
<a class="logo logo-header" ng-if="!$ctrl.isLogined" href="/"></a>

<w-change-language class="change-language_header"></w-change-language>

<nav class="top-menu" ng-if="$ctrl.isLogined">
    <a class="top-menu__link top-menu__link-dex" ui-sref="main.dex" w-i18n="welcome.exchange"></a>
    <div class="top-menu__link dropdown-toggler">
        <a class="dropdown-toggler__btn" w-i18n="welcome.wallet"></a>
        <div class="main-header__dropdown dropdown">
            <a class="dropdown__link dropdown__link_assets" ui-sref="main.wallet.assets">
                <i class="dropdown__icon dropdown__icon_dashboard icon-18"></i>
                <span  class="dropdown__text" w-i18n="welcome.dashboard"></span>
            </a>
            <a class="dropdown__link dropdown__link_portfolio" ui-sref="main.wallet.portfolio">
                <i class="dropdown__icon dropdown__icon_portfolio icon-18"></i>
                <span  class="dropdown__text" w-i18n="welcome.portfolio"></span>
            </a>
            <a class="dropdown__link dropdown__link_transactions" ui-sref="main.wallet.transactions">
                <i class="dropdown__icon dropdown__icon_transactions icon-18"></i>
                <span  class="dropdown__text" w-i18n="welcome.transactions"></span>
            </a>
            <a class="dropdown__link dropdown__link_leasing" ui-sref="main.wallet.leasing">
                <i class="dropdown__icon dropdown__icon_leasing icon-18"></i>
                <span  class="dropdown__text" w-i18n="welcome.leasing"></span>
            </a>
        </div>
    </div>
    <a class="top-menu__link top-menu__link-tokens" ui-sref="main.tokens" w-i18n="welcome.createToken"></a>
</nav>

<w-click-outside on-click-outside="$ctrl.closeDropdown()" ng-if="$ctrl.isLogined">
    <div class="main-header__user {{SELECTORS.MAIN_HEADER_USER}}">

        <div class="dropdown-toggler dropdown-toggler_right" ng-click="$ctrl.toggleDropdown()">
            <div class="dropdown-toggler__avatar dropdown-toggler__avatar_has-helper">
                <w-analytics event="'Account Picture Click'" event-target="'ui'">
                    <w-avatar type="{{$ctrl.userType}}"
                              size="36"
                              address="$ctrl.address"></w-avatar>
                </w-analytics>

                <w-help-icon class="avatar-options-list" ng-if="($ctrl.hasTypeHelp)">
                    <div class="help-icon__row row-keeper" ng-if="$ctrl.isKeeper">
                        <span class="acount-option-icon"></span>
                        <span class="help-icon__text" w-i18n="welcome.keeperAccount"></span>
                    </div>
                    <div class="help-icon__row row-ledger" ng-if="$ctrl.isLedger">
                        <span class="acount-option-icon"></span>
                        <span class="help-icon__text" w-i18n="welcome.ledgerAccount"></span>
                    </div>
                    <div class="help-icon__row row-script" ng-if="$ctrl.isScript">
                        <span class="acount-option-icon"></span>
                        <span class="help-icon__text" w-i18n="welcome.scriptAccount"></span>
                    </div>
                </w-help-icon>
            </div>
        </div>


        <div class="main-header__dropdown main-header__dropdown_user dropdown" ng-class="{'main-header__dropdown_open': $ctrl.isMenuOpen}">
            <div class="main-header__dropdown-menu-wrapper">
                <div class="main-header__dropdown-menu" ng-class="{'main-header__dropdown-menu_open': $ctrl.isMenuOpen}">
                    <div>
                        <div class="user-account text-center has-helper">
                            <div class="user-account__name">
                                <div class="user-account__block" ng-show="!$ctrl.showInput" ng-click="$ctrl.setNameView()">
                                    <div class="user-account__text">{{user.name}}</div>
                                    <w-info-tooltip class="{{SELECTORS.TOOLTIP_RENAME}}" no-icon="true">
                                        <span class="tooltip__content" w-i18n="welcome.renameAccount"></span>
                                    </w-info-tooltip>
                                </div>

                                <div class="user-account__input" ng-show="$ctrl.showInput">
                                    <form ng-submit="$ctrl.onSave()" name="$ctrl.setUserName">
                                        <w-input-container>
                                            <w-input
                                                    type="text"
                                                    class="tiny long"
                                                    ng-focus="$ctrl.onFocus()"
                                                    ng-blur="$ctrl.onBlur()"
                                                    ng-model="$ctrl.userName"
                                                    maxlength="{{::MAX_USER_NAME_LENGTH}}"
                                                    name="userName"
                                                    autocomplete="off"
                                                    required
                                            ></w-input>

                                            <w-input-error class="tiny" w-i18n-ns="app.ui" ng-class='{hidden: $ctrl.isUniqueUserName}'>
                                                <span w-i18n="password.nameExists"></span>
                                            </w-input-error>
                                        </w-input-container>
                                        <div class="user-account__btns">
                                            <button class="user-account__btn user-account__btn_cancel"
                                                    ng-mousedown="$ctrl.onCancel()" ng-touchstart="$ctrl.onCancel()"></button>
                                            <button class="user-account__btn user-account__btn_ok"
                                                    ng-disabled="!$ctrl.userName || !$ctrl.isUniqueUserName"
                                                    ng-mousedown="$ctrl.onSave()" ng-touchstart="$ctrl.onSave()"></button>
                                        </div>
                                    </form>
                                </div>

                            </div>

                            <div class="user-account__address">
                                <w-copy-wrap-default class="copy-underline basic-500 caption-4" info="$ctrl.address">
                                    {{$ctrl.address}}
                                </w-copy-wrap-default>

                                <w-info-tooltip no-icon="true">
                                    <span class="tooltip__content" w-i18n="welcome.copyAddress"></span>
                                </w-info-tooltip>
                            </div>
                        </div>

                        <a class="dropdown__link dropdown__link_aliases" ng-click="$ctrl.showAliases()">
                            <i class="dropdown__icon dropdown__icon_aliases icon-18"></i>
                            <span class="dropdown__text" w-i18n="welcome.aliases"></span>
                        </a>
                        <a class="dropdown__link dropdown__link_settings" ng-click="$ctrl.showSettings()">
                            <i class="dropdown__icon dropdown__icon_settings icon-18"></i>
                            <span class="dropdown__text" w-i18n="welcome.settings"></span>
                        </a>
                        <a class="dropdown__link dropdown__link_accounts" ng-click="$ctrl.toggleAccounts()">
                            <i class="dropdown__icon dropdown__icon_accounts icon-18"></i>
                            <span class="dropdown__text" w-i18n="welcome.switchAccount"></span>
                            <i class="dropdown__icon dropdown__icon_arrow-right"></i>
                        </a>
                        <a class="dropdown__link dropdown__link_logout" ng-click="$ctrl.logout()">
                            <i class="dropdown__icon dropdown__icon_logout icon-18"></i>
                            <span class="dropdown__text" w-i18n="welcome.logout"></span>
                        </a>
                    </div>

                    <div class="switch-accounts">
                        <a class="switch-accounts__back"
                           ng-click="$ctrl.toggleAccounts()"
                           w-i18n="welcome.menu"
                        ></a>

                        <div class="switch-accounts__list">
                            <div ng-repeat="user in $ctrl.userList track by $index"
                                 class="switch-accounts__item-wrap"
                            >
                                <div ng-click="$ctrl.switchUser(user)" class="switch-accounts__item">
                                    <w-avatar
                                            type="{{::user.userType}}"
                                            size="30"
                                            address="user.address"
                                            class="switch-accounts__avatar"
                                    ></w-avatar>
                                    <div class="switch-accounts__info-wrap">
                                        <div class="switch-accounts__name-wrap">
                                            <div class="switch-accounts__name footnote-1" ng-if="user.name">{{user.name}}</div>
                                            <span ng-if="$ctrl.isCurrentUser(user)"
                                                  class="switch-accounts__active"
                                                  w-i18n-ns="app.ui"
                                                  w-i18n="active"
                                            ></span>
                                        </div>
                                        <div class="switch-accounts__address body-3">{{::user.address}}</div>
                                    </div>
                                </div>
                                <w-analytics event="'Remove Switch Account Successfully Unlocked'">
                                    <div class="switch-accounts__remove icon-remove-user icon-close" ng-click="$ctrl.deleteUser(user)"></div>
                                </w-analytics>
                            </div>
                            <div ng-if="$ctrl.userListLocked.length" class="switch-accounts__unlock">
                                <span w-i18n="welcome.accountList.locked"></span>
                            </div>
                            <div ng-repeat="user in $ctrl.userListLocked track by $index"
                                 class="switch-accounts__item-wrap switch-accounts__item-wrap_unlock"
                            >
                                <div ng-click="$ctrl.unlockUser(user)" class="switch-accounts__item">
                                    <w-avatar
                                            type="{{::user.userType}}"
                                            size="30"
                                            address="user.address"
                                            class="switch-accounts__avatar"
                                    ></w-avatar>
                                    <div class="switch-accounts__info-wrap">
                                        <div class="switch-accounts__name footnote-1" ng-if="user.name">{{user.name}}</div>
                                        <div class="switch-accounts__address">{{::user.address}}</div>
                                    </div>
                                </div>
                                <w-analytics event="'Remove Switch Account Pending Unlock'">
                                    <div class="switch-accounts__remove icon-remove-user icon-close"
                                         ng-click="$ctrl.deleteUser(user)"
                                    ></div>
                                </w-analytics>
                            </div>
                        </div>
                        <div class="switch-accounts__add-wrapper">
                            <w-analytics event="'Add Account'">
                                <a ui-sref="create" w-i18n="userList.addNew" class="switch-accounts__add"></a>
                            </w-analytics>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</w-click-outside>
