<w-step-by-step active-step="$ctrl.step">

    <w-step>

        <div class="text-center icon confirm-icon"></div>
        <h3 class="text-center">{{::$ctrl.amount.toFixed($ctrl.precision)}} {{::$ctrl.name}}</h3>
        <div class="text-center body-2 basic-500" w-i18n="reissuble.{{::$ctrl.reissuble}}"></div>

        <div class="footnote-1 disabled-600" w-i18n="modal.descriptionTitle"></div>
        <div class="description basic-900 footnote-1" w-i18n="modal.description"></div>

        <div class="fee">
            <div class="footnote-1 disabled-600" w-i18n="fee"></div>
            <div class="basic-900">1 WAVES</div>
        </div>

        <div class="buttons-wrapper">
            <w-button class="big">
                <w-i18n>back</w-i18n>
            </w-button>
            <w-button class="big submit">
                <w-i18n>confirm</w-i18n>
            </w-button>
        </div>

    </w-step>
</w-step-by-step>