<div w-i18n-ns="app.tokens" class="token-page">
    <div class="page-title headline-4 disabled-900" w-i18n="pageTitle"></div>
    <div class="token-page__content">
        <form class="generate-form" name="$ctrl.createForm" novalidate>

            <div class="row">
                <div class="body-2 basic-900">
                    <w-i18n>name</w-i18n>
                    <div class="footnote-1 basic-500" w-i18n="help.name"></div>
                </div>
                <w-input-container>
                    <w-input type="text"
                             name="name"
                             ng-model="$ctrl.name"
                             w-validate
                             class="medium"
                             w-validator-byte-gte="4"
                             w-validator-byte-lte="16"
                             required></w-input>

                    <w-input-error message="required">
                        <w-i18n>validators.required</w-i18n>
                    </w-input-error>
                    <w-input-error message="byteLte">
                        <w-i18n>validators.byte.lte</w-i18n>
                    </w-input-error>
                    <w-input-error message="byteGte">
                        <w-i18n>validators.byte.gte</w-i18n>
                    </w-input-error>
                </w-input-container>
            </div>

            <div class="row">
                <div class="body-2 basic-900" w-i18n="description"></div>
                <w-input-container>
                    <w-input class="no-validate-icons" textarea
                             name="description"
                             ng-model="$ctrl.description"
                             placeholder="placeholders.description"
                             w-validate
                             w-validator-byte-lte="1000"
                             w-i18n-attr="placeholder"></w-input>

                    <w-input-error message="byteLte">
                        <w-i18n>validators.descriptionLen</w-i18n>
                    </w-input-error>
                </w-input-container>
            </div>

            <div class="row">
                <div class="body-2 basic-900 relative">
                    <w-i18n>count</w-i18n>
                    <w-help-icon>
                        <div class="row-help headline-3">
                            <w-i18n>helpIcon.totalTokens.headline</w-i18n>
                        </div>
                        <div class="row-help" w-i18n="helpIcon.totalTokens.reissuable"></div>
                        <div class="row-help" w-i18n="helpIcon.totalTokens.notReissuable"></div>
                    </w-help-icon>
                </div>
                <w-input-container>
                    <div class="input-like medium">
                        <w-input class="embed"
                                 class="medium"
                                 type="text"
                                 name="count"
                                 ng-model="$ctrl.count"
                                 w-validate
                                 w-validator-precision="{{$ctrl.precision.toString()}}"
                                 w-validator-gt="0"
                                 w-validator-lt="{{$ctrl.maxCoinsCount}}"
                                 w-validator-integer
                                 w-validator-number
                                 required></w-input>

                        <div class="select-wrap">
                            <w-select class="issue-select tiny" ng-model="$ctrl.issue">
                                <w-option value="::false">
                                    <span class="caption-1 mobile-caption-4 basic-700" w-i18n-ns="app.tokens"
                                          w-i18n="reissuable.false"></span>
                                </w-option>
                                <w-option value="::true">
                                    <span class="caption-1 mobile-caption-4 basic-700" w-i18n-ns="app.tokens"
                                          w-i18n="reissuable.true"></span>
                                </w-option>
                            </w-select>
                        </div>
                    </div>
                    <w-input-error message="required">
                        <w-i18n>validators.required</w-i18n>
                    </w-input-error>
                    <w-input-error message="gt">
                        <w-i18n>validators.minValueCount</w-i18n>
                    </w-input-error>
                    <w-input-error message="lt">
                        <w-i18n>validators.maxValueCount</w-i18n>
                    </w-input-error>
                    <w-input-error message="precision">
                        <w-i18n>validators.precisionCount</w-i18n>
                    </w-input-error>
                </w-input-container>
            </div>

            <div class="row">
                <div class="body-2 basic-900 relative">
                    <w-i18n>precision</w-i18n>
                    <w-help-icon>
                        <div class="row-help headline-3">
                            <w-i18n>helpIcon.demicals</w-i18n>
                        </div>
                    </w-help-icon>
                </div>
                <w-input-container>
                    <w-input type="text"
                             class="medium"
                             name="precision"
                             ng-model="$ctrl.precision"
                             required
                             w-validate
                             w-validator-lte="8"
                             w-validator-gte="0"
                             w-validator-integer
                             w-validator-number
                             placeholder="placeholders.precision"
                             w-i18n-attr="placeholder"></w-input>

                    <w-input-error message="lte">
                        <w-i18n>validators.minValuePrecision</w-i18n>
                    </w-input-error>
                    <w-input-error message="gte">
                        <w-i18n>validators.maxValuePrecision</w-i18n>
                    </w-input-error>
                    <w-input-error message="required">
                        <w-i18n>validators.required</w-i18n>
                    </w-input-error>
                    <w-input-error message="integer">
                        <w-i18n>validators.required</w-i18n>
                    </w-input-error>
                </w-input-container>
            </div>

            <div class="row">
                <div class="body-2 basic-900" w-i18n="preview"></div>
                <div class="preview">
                    <div class="avatar-wrap">
                        <w-asset-logo ng-if="$ctrl.name" size="30" asset-name="$ctrl.name"></w-asset-logo>
                    </div>
                    <div class="token-info-wrap" ng-class="{empty: $ctrl.createForm.$invalid}">
                        <div class="line token-name headline-3 basic-900">
                            <span ng-if="$ctrl.name && $ctrl.createForm.$valid">{{$ctrl.name}}</span>
                        </div>
                        <div class="line token-value body-2 basic-700">
                        <span ng-if="$ctrl.name && $ctrl.createForm.$valid"
                              w-nice-number="$ctrl.count"
                              precision="$ctrl.precision.toString()"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div ng-class="{'error-400': $ctrl.invalid}" class="footnote-1 basic-500" w-i18n="fee"></div>
                <div ng-if="$ctrl.invalid" class="error-400" w-i18n="validators.noMoney"></div>
            </div>

            <div class="row">
                <w-button disabled="$ctrl.createForm.$invalid || $ctrl.invalid"
                          class="submit long margin-2"
                          on-click="$ctrl.generate()">
                    <w-i18n>create</w-i18n>
                </w-button>
            </div>

        </form>
    </div>
</div>
