@import (reference) 'config';
@import (reference) 'icons';
@import (reference) '../../app/less/typography';

.update-wrapper {
  max-width: 468px;
  margin-top: 100px;
}


.step-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 50px;
  margin: 80px 0 100px 0;
  &_fail {
    margin: 20px 0;
  }
}

.return-button {
  float: left;
  display: flex;
  cursor: pointer;

  &__arrow {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: rgba(31, 90, 246, 0.06);
  }

  &__text {
    font-size: 13px;
    color: @color-submit-500;
  }
}

.progress-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__item {
    flex: 1;

    &:nth-child(2) {
      flex: 4;

      //&::after {
      //  content: '';
      //  position: relative;
      //  left: -100%;
      //  width: 100%;
      //  height: 2px;
      //  background-color: @color-basic-100;
      //  top: 7px;
      //}
    }

    &-number {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 20px;
      height: 20px;
      border: solid 2px @color-basic-500;
      border-radius: 50%;
      margin: 0 auto 8px;
      padding-left: 1px;

    }

    &.active {
      color: @color-submit-500;

      .progress-bar__item-number {
        border: solid 2px @color-submit-500;
      }

      .progress-bar__item-text {
        color: @color-submit-500;
      }
    }

    &.done {
      //.progress-bar__item-number {
      //  &::after {
      //    content: '';
      //    width: 120px;
      //    height: 2px;
      //    background-color: @color-basic-100;
      //  }
      //}

      .progress-bar__item-number {
        color: transparent;
        border: solid 2px @color-submit-500;
        background: url(/img/icons/checkbox-icon.svg) center no-repeat @color-submit-500;
      }

      .progress-bar__item-text {
        color: @color-submit-500;
      }

    }

    &.fail {
      .progress-bar__item-number {
        border: solid 2px #ef4829;
        background: @notification-icon-close center no-repeat #ef4829;
        color: transparent;
      }

      .progress-bar__item-text {
        color: #ef4829;
      }
    }
  }
}

.download-bar {
  height: 100%;
  box-shadow: 2px 2px 5px 0 rgba(31, 90, 246, 0.25);
  background-color: @color-submit-500;

  &__wrapper {
    height: 8px;
    width: 440px;
    display: flex;
    justify-content: flex-start;
    border-radius: 4px;
  }
}

.fail-icon {
  width: 80px;
  height: 80px;
  background-image: @import-modal-icon-error;
  margin: 50px auto 0;
}

.fail-text {
  margin-bottom: 40px;
}

.look-at-faq {
  margin-top: 40px;
  &__item {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.try-again-btn {
  min-width: 224px;
}