<div class="flex-row split-half data margin-top-2" ng-if="$ctrl.signPending">
    <div w-i18n="directives.sign.txId"></div>
    <div>{{$ctrl.id}}</div>
</div>

<div ng-if="!$ctrl.signPending && $ctrl.signError"
     class="warning-plate warning-plate-red  margin-3">
    <div  ng-if="::$ctrl.isLedger" w-i18n="directives.sign.confirmRequestLedger.errorHeader" class="error-400 body-2"></div>
    <div  ng-if="::$ctrl.isLedger" w-i18n="directives.sign.confirmRequestLedger.errorDescription" class="basic-500"></div>

    <div ng-if="::$ctrl.isKeeper" w-i18n="directives.sign.confirmRequestKeeper.errorHeader" class="error-400 body-2"></div>
    <div ng-if="::$ctrl.isKeeper" w-i18n="directives.sign.confirmRequestKeeper.errorDescription" class="basic-500"></div>
</div>

<div ng-if="!$ctrl.signPending && $ctrl.signError"
     class="buttons-wrapper">
    <w-button class="big" hasLoader="true" on-click="$ctrl.cancel()">
        <span ng-if="::$ctrl.isLedger" w-i18n="directives.sign.confirmRequestLedger.cancel"></span>
        <span ng-if="::$ctrl.isKeeper" w-i18n="directives.sign.confirmRequestKeeper.cancel"></span>
    </w-button>
    <w-button class="big submit" hasLoader="true" on-click="$ctrl.trySign()">
        <span ng-if="::$ctrl.isLedger" w-i18n="directives.sign.confirmRequestLedger.sign"></span>
        <span ng-if="::$ctrl.isKeeper" w-i18n="directives.sign.confirmRequestKeeper.sign"></span>
    </w-button>
</div>

<div ng-if="$ctrl.signPending" class="relative sign-loader">
    <div ng-if="::$ctrl.isLedger" w-i18n="directives.sign.confirmRequestLedger.waiting" class="center basic-500"></div>
    <div ng-if="::$ctrl.isKeeper" w-i18n="directives.sign.confirmRequestKeeper.waiting" class="center basic-500"></div>
    <w-loader></w-loader>
</div>
