<div ng-if="$ctrl.signPending">
    <span w-i18n="modal.sign.txId"></span> {{$ctrl.id}}
    <div w-i18n="modal.sign.confirmRequestLedger.waiting"></div>
    <w-loader></w-loader>
</div>
<div ng-if="!$ctrl.signPending && $ctrl.signError">
    <div w-i18n="modal.sign.confirmRequestLedger.error"></div>

    <w-button class="big" on-click="$ctrl.cancel()">
        <span w-i18n="modal.sign.confirmRequestLedger.cancel"></span>
    </w-button>
    <w-button class="big submit" on-click="$ctrl.trySign()">
        <span w-i18n="modal.sign.confirmRequestLedger.retry"></span>
    </w-button>
</div>
