<div id="mBB-portfolio" class="mBB-content wScroll">
    <h2 class="sectionHeader">PORTFOLIO</h2>
    <table class="wavesTable wScroll">
        <thead>
        <tr>
            <td>ASSET NAME</td>
            <td>ISSUER</td>
            <td>RE-ISSUABLE</td>
            <td>BALANCE</td>
            <td>OPTIONS</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-show="$ctrl.noData">
            <td colspan="5">You do not own/have not created any assets.</td>
        </tr>
        <tr ng-show="!$ctrl.noData" ng-repeat="tx in $ctrl.assets | asset track by tx.id">
            <td>
                <span ng-class="{verified: tx.balance.currency.verified}">{{tx.name}}</span>
            </td>
            <td>{{tx.formatted.sender}}</td>
            <td>{{tx.reissuable}}</td>
            <td>{{tx.balance | moneyShort}}</td>
            <td>
                <button class="wButton wButton-neg fade" ng-click="$ctrl.assetTransfer(tx.id)">TRANSFER</button>
                <span class="divider-2"></span>
                <button class="wButton wButton-neg fade" ng-disabled="!tx.formatted.canReissue"
                        ng-click="$ctrl.assetReissue(tx.id)">REISSUE
                </button>
                <span class="divider-2"></span>
                <button class="wButton wButton-neg fade" ng-click="$ctrl.assetDetails(tx.id)">DETAILS</button>
                <span class="divider-2"></span>
                <!-- TODO: remove MASS PAY feature or re-engineer it using a centralized service
                <button class="wButton wButton-neg fade" ng-click="$ctrl.assetMassPay(tx.id)">MASS PAY</button>
                -->
            </td>
        </tr>
        </tbody>
    </table>
    <div class="noDisp" ng-controller="assetDetailsController as details">
        <div id="asset-details-dialog" waves-dialog cancel-button-visible="false">
            <h2 class="sectionHeader">ASSET DETAILS</h2>
            <table class="wavesTable">
                <thead>
                <tr>
                    <td>FIELD</td>
                    <td>DESCRIPTION</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Issuer:</td>
                    <td ng-if="!details.isSenderCopiable">{{details.sender}}</td>
                    <td ng-if="details.isSenderCopiable"><span class="clipSpan" tooltipster
                                                               tooltip-theme="tooltipster-theme1" ngclipboard
                                                               data-clipboard-text="{{details.sender}}"
                                                               title="Copy this address to the clipboard."
                                                               ngclipboard-success="clipboardOk()">{{details.sender}}</span>
                    </td>
                </tr>
                <tr>
                    <td>Identifier:</td>
                    <td><span class="clipSpan" tooltipster tooltip-theme="tooltipster-theme1" ngclipboard
                              data-clipboard-text="{{details.assetId}}" title="Copy this asset id to the clipboard."
                              ngclipboard-success="clipboardOk()">{{details.assetId}}</span></td>
                </tr>

                <tr>
                    <td>Name:</td>
                    <td>{{details.name}}</td>
                </tr>
                <tr>
                    <td>Details:</td>
                    <td>{{details.description}}</td>
                </tr>
                <tr>
                    <td>Total tokens:</td>
                    <td>{{details.totalTokens}}</td>
                </tr>
                <tr>
                    <td>Reissuable:</td>
                    <td>{{details.reissuable}}</td>
                </tr>
                <tr>
                    <td>Issue date:</td>
                    <td>{{details.timestamp | formatting}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="noDisp" ng-controller="assetTransferController as transfer">
        <div id="asset-transfer-dialog" waves-dialog ok-button-caption="TRANSFER"
             on-dialog-ok="transfer.submitTransfer(transfer.assetForm)">
            <form id="transfer-asset-form" name="transfer.assetForm" novalidate
                  ng-validate="transfer.validationOptions">
                <h2 class="sectionHeader">ASSET TRANSFER</h2>
                <div class="balanceAmt">
                    <p>Asset balance: </p><span
                        class="balancewaves">{{transfer.availableBalance | moneyLong:true}}</span><br/>
                    <p>Waves balance: </p><span
                        class="balancewaves">{{transfer.feeAssetBalance | moneyLong:true}}</span>
                </div>
                <table class="wavesTable">
                    <thead>
                    <th>DESCRIPTION</th>
                    <th>INPUT</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Recipient's Address</td>
                        <td>
                            <div class="form-field">
                                <input class="wInput form-control" name="assetRecipient" type="text"
                                       placeholder="Recipient" ng-model="transfer.recipient"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>
                            <div class="form-field">
                                <input class="wInput form-control" name="assetAmount" type="text" placeholder="Amount"
                                       ng-model="transfer.amount" decimal-input-restrictor/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Attachment</td>
                        <td>
                            <div class="form-field">
                                <textarea rows="2" class="wInput form-control" name="assetAttachment"
                                          ng-model="transfer.attachment"></textarea>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Fee</td>
                        <td>
                            <md-autocomplete md-input-name="assetFee"
                                             md-selected-item="transfer.autocomplete.selectedFee"
                                             md-search-text="transfer.autocomplete.searchText"
                                             md-items="item in transfer.autocomplete.querySearch(transfer.autocomplete.searchText)"
                                             md-item-text="item.amount.toString()" md-min-length="0" md-require-match=""
                                             md-no-cache="true"
                                             md-menu-class="popup-autocomplete" class="fee-autocomplete">
                                <md-item-template>
                                    <span md-highlight-text="transfer.autocomplete.searchText">{{item.displayText}}</span>
                                </md-item-template>
                            </md-autocomplete>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div id="transfer-asset-confirmation" waves-dialog ok-button-caption="CONFIRM"
             ok-button-enabled="!transfer.broadcast.pending" on-dialog-ok="transfer.broadcastTransaction()">
            <div class="dialog-confirmation">
                <p class="dialog-text">You are sending <span class="confirmation-value">{{transfer.confirm.amount | moneyLong:true}}</span>
                    with
                    <span class="confirmation-value">{{transfer.confirm.fee | moneyLong:true}}</span> fee <br/>
                    to the address: <span class="confirmation-value">{{transfer.confirm.recipient}}</span>
                </p>
                <p class="dialog-text">Please <span class="fontBold"> CONFIRM </span>to execute or <span
                        class="fontBold"> CANCEL </span> to discard.</p>
            </div>
        </div>
    </div>
    <div class="noDisp" ng-controller="assetReissueController as reissue">
        <div id="asset-reissue-dialog" waves-dialog ok-button-caption="REISSUE"
             ok-button-enabled="!reissue.broadcast.pending" on-dialog-ok="reissue.submitReissue(reissue.assetForm)">
            <form id="asset-reissue-form" name="reissue.assetForm" novalidate ng-validate="reissue.validationOptions">
                <h2 class="sectionHeader">ASSET REISSUE</h2>
                <div class="balanceAmt">
                    <p>Total tokens issued: </p><span
                        class="balancewaves">{{reissue.totalTokens.formatAmount()}}</span><br/>
                    <p>Waves balance: </p><span class="balancewaves">{{reissue.wavesBalance.formatAmount(true)}}</span>
                </div>
                <table class="wavesTable">
                    <thead>
                    <tr>
                        <th>DESCRIPTION</th>
                        <th>INPUT</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Asset identifier</td>
                        <td>{{reissue.assetId}}</td>
                    </tr>
                    <tr>
                        <td>Asset name</td>
                        <td>{{reissue.assetName}}</td>
                    </tr>

                    <tr>
                        <td>Additional amount</td>
                        <td>
                            <div class="form-field">
                                <input class="wInput form-control" name="assetAmount" type="text" placeholder="Amount"
                                       ng-model="reissue.amount" decimal-input-restrictor/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Reissue enabled</td>
                        <td>
                            <div class="form-field">
                                <input class="wInput form-control" name="assetReissue" type="checkbox"
                                       ng-model="reissue.reissuable"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Fee</td>
                        <td>{{::reissue.fee.formatAmount(true)}} {{::reissue.fee.currency.displayName}}</td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div id="asset-reissue-confirm-dialog" waves-dialog ok-button-caption="CONFIRM"
             ok-button-enabled="!reissue.broadcast.pending" on-dialog-ok="reissue.broadcastTransaction()">
            <div class="dialog-confirmation">
                <p class="dialog-text">You are issuing an additional amount of <span class="confirmation-value">{{reissue.confirm.amount | moneyShort}}</span>
                    tokens <br/>
                    to the asset <span class="confirmation-value">{{reissue.confirm.amount.currency}}</span>
                    with a fee of <span class="confirmation-value">{{reissue.confirm.fee | moneyLong:true}}</span>
                </p>
                <p class="dialog-text">Please <span class="fontBold"> CONFIRM </span>to execute or <span
                        class="fontBold"> CANCEL </span> to discard.</p>
            </div>
        </div>
    </div>
    <div class="noDisp" ng-controller="massPaymentController as mass">
        <div id="asset-mass-pay-dialog" waves-dialog ok-button-caption="SEND" show-buttons="false">
            <h2 class="sectionHeader">MASS PAYMENT</h2>
            <ng-switch on="mass.stage">
                <p ng-if="mass.invalidPayment" class="notice-alert">{{mass.inputErrorMessage}}
                    Please fix the error and load the file again.</p>
                <form id="massPaymentFilesForm" name="mass.form" novalidate ng-switch-when="loading"
                      ng-validate="mass.validationOptions">
                    <table class="wavesTable">
                        <thead>
                        <tr>
                            <th>DESCRIPTION</th>
                            <th>INPUT</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Payments file</td>
                            <td>
                                <input type="file" name="inputFile" ng-model="mass.filename" file-select
                                       file-handler="mass.handleFile(file)" accept=".json,.csv"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Fee per transaction</td>
                            <td>
                                <md-autocomplete md-input-name="massPayFee"
                                                 md-selected-item="mass.autocomplete.selectedFee"
                                                 md-search-text="mass.autocomplete.searchText"
                                                 md-items="item in mass.autocomplete.querySearch(mass.autocomplete.searchText)"
                                                 md-item-text="item.amount.toString()" md-min-length="0"
                                                 md-require-match="" md-no-cache="true"
                                                 md-menu-class="popup-autocomplete" class="fee-autocomplete">
                                    <md-item-template>
                                        <span md-highlight-text="mass.autocomplete.searchText">{{item.displayText}}</span>
                                    </md-item-template>
                                </md-autocomplete>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    <ng-if ng-if="mass.loadingInProgress">
                        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                        <br/>
                    </ng-if>
                    <div class="button-row">
                        <button class="wButton wButton-neg" ng-disabled="mass.loadingInProgress"
                                ng-click="mass.processInputFile(massPaymentFilesForm)">LOAD
                        </button>
                    </div>
                </form>
                <div class="massPayRecap wScroll" ng-switch-when="processing">
                    <p>Please notice that only the first 10 transactions are shown below as a sample. Use the EXPORT
                        functionality to export the full transaction details to clipboard.</p>
                    <p>Total transactions: {{mass.summary.totalTransactions}} | Total amount:
                        {{mass.summary.totalAmount.toTokens()}} | Total fee: {{mass.summary.totalFee.toTokens()}}</p>

                    <table class="wavesTable">
                        <thead>
                        <tr>
                            <td>RECIPIENT</td>
                            <td>AMOUNT</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="transfer in mass.transfers track by $index">
                            <td>{{transfer.recipient}}</td>
                            <td>{{transfer.amount}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    <div class="button-row">
                        <button class="wButton wButton-neg fade" ngclipboard
                                ngclipboard-text-provider="mass.transactionsToClipboard()"
                                ngclipboard-success="mass.dataCopied()">EXPORT
                        </button>
                        <span class="divider-2"></span>
                        <button class="wButton wButton-neg fade" ng-click="mass.submitPayment()">SEND</button>
                        <span class="divider-2"></span>
                        <button class="wButton wButton-neg fade" ng-click="mass.cancel()">CANCEL</button>
                    </div>
                </div>
            </ng-switch>
        </div>
        <div id="asset-mass-pay-confirmation" waves-dialog ok-button-caption="CONFIRM"
             ok-button-enabled="!mass.broadcast.pending" on-dialog-ok="mass.broadcastTransaction()">
            <div class="dialog-confirmation">
                <p class="dialog-text">You are sending <span class="confirmation-value">{{mass.confirm.amount | moneyLong:true}}</span>
                    with
                    <span class="confirmation-value">{{mass.confirm.fee | moneyLong:true}}</span> total fee <br/>
                    to <span class="confirmation-value">{{mass.confirm.recipients}}</span> recipients.
                </p>
                <p class="dialog-text">Please <span class="fontBold"> CONFIRM </span>to execute or <span
                        class="fontBold"> CANCEL </span> to discard.</p>
            </div>
        </div>
    </div>
</div>