<div class="main-content">
    <w-header></w-header>
    <w-left-menu></w-left-menu>
    <div class="content">
        <ui-view name="mainContent"></ui-view>
    </div>
    <div class="notifications">
        <w-notifications></w-notifications>
    </div>
</div>

<!--TODO: remove before release-->
<div w-i18n-ns="app" style="position: fixed; right: 10px; bottom: 10px; width: 500px; height: 200px; background: #000; padding: 10px; font-size: 200%; color: #fff; z-index: 10000;">
    <w-i18n>xss.test</w-i18n>
</div>
