<div class="block-wrapper">
    <div w-i18n="directives.markets.title" class="block-title"></div>
    <w-radio-wrap ng-model="$ctrl.amountAssetId">
        <w-radio value="$ctrl.wavesId">Waves</w-radio>
        <w-radio value="$ctrl.bitcoinId">Bitcoin</w-radio>
        <w-radio value="$ctrl.activeAssetId">{{$ctrl.activeAsset.name}}</w-radio>
        <div class="btn btm-row">+</div>
    </w-radio-wrap>
    <w-table selected="$ctrl.priceAssetId">
        <w-t-head>
            <w-row>
                <w-cell>
                    <w-i18n>directives.markets.table.unit</w-i18n>
                </w-cell>
                <w-cell>
                    <w-i18n>directives.markets.table.price</w-i18n>
                </w-cell>
                <w-cell>
                    <w-i18n>directives.markets.table.volume</w-i18n>
                </w-cell>
                <w-cell>
                    <w-i18n>directives.markets.table.rate</w-i18n>
                </w-cell>
            </w-row>
        </w-t-head>
        <w-row ng-repeat="favorite in $ctrl.favorites | filter: {id: '!' + $ctrl.amountAssetId}"
               select-value="{{::favorite.id}}">
            <w-cell>{{::favorite.name}}</w-cell>
            <w-cell>{{::favorite.name}}</w-cell>
            <w-cell>{{::favorite.name}}</w-cell>
            <w-cell>{{::favorite.name}}</w-cell>
        </w-row>
    </w-table>
</div>
