@import (reference) 'config';
@import (reference) 'icons';

.footer-language {
	.select {
		.select__wrap {
			&.expanded .select__title {
				border-radius: 0 0 4px 4px;
			}
		}

		&_change-lang {
			.select__wrap.expanded {
				.select__title {
					border: 1px solid @color-basic-200;
					border-top: 1px solid transparent;
				}
			}
		}

		&__list {
			border-radius: 4px 4px 0 0;
		}
	}
}

@media screen and (max-width: 480px) {
	.footer-language {
		.select {
			&_change-lang {
				width: 100px;
			}

			&__title {
				padding: 0 15px;

				&::after {
					right: 4px;
				}
			}
		}
	}
}