@import (reference) 'config';
@import (reference) 'icons';
@import (reference) '../../../../app/less/typography';

@cell-height: 64px;
@responsive-cell-height: auto;

.smart-table.smart-table {
  &_dex-trade-history {
    .smart-table {
      &__thead {
        border-bottom: none;

        .smart-table__row {
          padding: 0 13px 0 8px;
        }
      }

      &__tbody {
        .smart-table__row {
          padding: 6px 8px;
          margin-right: 2px;
          width: auto;
          border-radius: @border-radius;
        }

        &::-webkit-scrollbar-track {
          box-shadow: none;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: @border-radius;
        }
      }

      &__row {
        flex-wrap: nowrap;
        padding: 6px 12px;
        justify-content: space-between;

        .to-dex-link {
          cursor: default;
        }

        .underline .to-dex-link {
          cursor: pointer;
        }
      }

      &__cell {
        flex-basis: calc(20% ~' - 20px');
      }

      &__cell[data-column-id="type"] {
        flex-basis: 50px;
        color: @color-basic-900;
      }

      &__cell[data-column-id="price"],
      &__cell[data-column-id="amount"],
      &__cell[data-column-id="total"],
      &__cell[data-column-id="time"],
      &__cell[data-column-id="fee"] {
        text-align: right;
      }
    }

    &__cell[data-column-id="pair"] {
      font-family: @font-roboto-medium;
    }
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
  .tab_tradeHistory {
    .smart-table.smart-table_dex-trade-history {
      .smart-table__wrapper {
        min-width: 450px;
      }
    }
  }

  .tab_myTradeHistory {
    .smart-table.smart-table_dex-trade-history {
      .smart-table__wrapper {
        min-width: 700px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .smart-table.smart-table_dex-trade-history {
    min-width: 100%;
    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 4px;

      &-track {
        box-shadow: none;
      }

      &-thumb {
        border-radius: @border-radius;
      }
    }

    &:hover {
      &::-webkit-scrollbar {
        height: 4px;
      }
    }

    .smart-table {
      &__thead {
        display: flex;
      }

      &__cell {
        flex-basis: 25%;

        .cell-label {
          display: none;
        }
      }

      &__cell[data-column-id="pair"] {
        order: 0;
        margin-bottom: 5px;
        font-family: @font-roboto-medium;

        span {
          max-width: none;
        }
      }
    }

    .stop {
      background-size: 10px 10px;
      background-repeat: no-repeat;
      background-position: center center;
      margin-left: 0;
      height: 30px;
      width: 30px;
    }
  }
}

@media screen and (max-width: 860px) {
  .smart-table.smart-table_dex-trade-history {
    .smart-table__cell {
      .cell {
        width: auto;
        max-width: none;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .smart-table.smart-table_dex-trade-history {
    .smart-table {
      &__thead {
        display: none;
      }

      &__tbody {
        &::-webkit-scrollbar-track {
					-webkit-box-shadow: none;
        }
        
        .smart-table__row {
          padding: 6px 0;
        }
      }

      &__cell[data-column-id="type"] {
        display: none;
      }

      &__cell[data-column-id="price"] {
        text-align: center;
        order: 1;
      }

      &__cell[data-column-id="total"] {
        order: 2;
      }

      &__cell[data-column-id="amount"] {
        display: none;
      }

      &__cell[data-column-id="time"] {
        order: 0;
        text-align: left;
        margin-right: 0;
        color: @color-basic-500;
        font-size: @font-size-caption-2;

        .cell-label {
          display: none;
        }
      }

      &__cell[data-column-id="controls"] {
        order: 4;
        position: absolute;
        flex-basis: 30px;
        right: 10px;
        min-width: 30px;
        top: 0;
        height: 30px;
        width: 30px;
        font-size: 0;
        margin-top: 5px;
      }

      &__cell[data-column-id="pair"] {
        display: none;
      }

      &__cell[data-column-id="fee"] {
        display: none;
      }
    }
  }
}
