@import (reference) 'config';
@import (reference) 'icons';
// TODO uIsk - move all icons to icons config
@import (reference) '../../app/less/typography';

body.welcome {
  overflow: hidden;
  font-size: 15px;
  margin: 0 auto;
  max-width: 100%;

  .white-bg {
    background: @color-white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  div.wrapper {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
  }

  .wrapper {
    margin-top: 60px;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
  }

  h2 {
    font-weight: 400;
  }

  .section-wrapper {
    padding-left: 80px;
    padding-right: 80px;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
  }

  section {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    overflow: hidden;
    max-width: 100%;
  }

  .get-started-btn {
    margin-right: 15px;

    .icon-arrow-right {
      margin-left: 10px;
      transition: .3s;
    }

    &:hover {
      .icon-arrow-right {
        transform: translateX(10px);
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  body.welcome {
    .section-wrapper {
      padding-left: 40px;
      padding-right: 40px;
    }

    .section-welcome {
      .welcome-text {
        font-size: 44px;
        line-height: 1.3;
      }

      .left-side {
        max-width: 480px;
      }

      .dex-screenshot {
        right: auto;
        left: calc(50% ~'- 100px');
        max-width: calc(50% ~'+ 100px');
      }
    }
  }
}

@media screen and (max-width: 1340px) {
  body.welcome {

    .section-welcome {
      .dex-screenshot {
        left: 580px;
        max-width: calc(100% ~'- 580px');
      }

      .welcome-text {
        font-size: 40px;
        line-height: 1.2;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  body.welcome {
    .links {
      padding-left: 30px;
    }

    .section-welcome {
      .left-side {
        max-width: 480px;
      }
    }
  }
}

@media screen and (max-width: 1023px) and (min-width: 861px) {
  body.welcome {
    .section-welcome {
      .left-side {
        max-width: 45%;
      }

      .dex-screenshot {
        left: 50%;
        max-width: 50%;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  body.welcome {
    .section {
      &-promo {
        &-card {
          flex-basis: 33.33%;
        }
      }
    }
  }
}

@media screen and (max-width: 860px) {
  body.welcome {
    font-size: 13px;

    .table-markets {
      .row {
        padding: 15px 86px 15px 15px;
        flex-wrap: wrap;

        &-header {
          display: none;
        }

        .cell {
          flex-basis: 50%;
          width: 50%;
          max-width: 50%;
          font-size: 13px;
          padding: 0;
        }
        .low24,
        .height24 {
          display: none;
        }

        .graph {
          width: 50px;
          height: 35px;
          position: absolute !important;
          right: 15px;
          canvas {
            position: static !important;
          }
        }

        .volume {
          order: 3;
          color: @color-basic-500;
        }

        .last-price {
          order: 2;
          text-align: right;
        }

        .change {
          order: 4;
          text-align: right;
        }

        .hight24,
        .low24 {
          display: none;
        }
      }
    }

    .section-welcome {
      height: auto;

      .left-side {
        max-width: 100%;
      }

      .buttons-wrapper {
        flex-direction: column;
        width: 100%;
        margin-bottom: 82px;

        .fake-button {
          width: 100%;
        }

        .get-started-btn {
          margin: 0 0 15px;
        }
      }

      .welcome-text {
        position: relative;
        padding-top: 90px;
        font-size: 28px;
      }

      .dex-screenshot {
        display: none;
      }
    }

    .section-promo {
      .section-wrapper {
        flex-direction: column;
        padding-top: 25px;
        padding-bottom: 25px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  body.welcome {
    .section-wrapper,
    .section-markets .content-wrapper {
      padding-left: 20px;
      padding-right: 20px;
    }
    footer {
      .section-wrapper {
        margin-top: 0px;
      }
    }
  }
}

@media screen and (min-width: 860px) {
  body.welcome {
    .section {
      &-promo {
        .section-wrapper {
          text-align: left;
        }

        &-card {
          padding: 20px 30px 20px 4px;
          flex-basis: 50%;
          display: flex;
          flex-direction: row;
        }

        &-content {
          margin-left: 20px;
        }
      }
    }
  }
}

