@import (reference) 'config';
@import (reference) 'icons';
// TODO uIsk - move all icons to icons config
@import (reference) '../../app/less/typography';

body.welcome {
  width: 100%;
  overflow: hidden;
  font-family: 'Roboto', 'Tahoma', 'Arial';
  font-size: 15px;
  margin: 0 auto;
  font-weight: normal;
  color: @color-basic-900;

  .white-bg {
    background: @color-white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  div.wrapper {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
    width: 100%;
  }

  .wrapper {
    padding-top: 60px;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
  }

  h2 {
    font-weight: 400;
  }

  .section-wrapper {
    padding-left: 80px;
    padding-right: 80px;
  }

  section {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  .get-started-btn {
    margin-right: 15px;

    .icon-arrow-right {
      margin-left: 10px;
      transition: .3s;
    }

    &:hover {
      .icon-arrow-right {
        transform: translateX(10px);
      }
    }
  }

  .table {
    &-markets {
      border-radius: 4px;
      background: @color-white;
      width: 100%;

      .cell {
        width: ~"calc((100% - 190px) / 5)";
        max-width: ~"calc((100% - 190px) / 5)";
        overflow: hidden;
        vertical-align: middle;
        white-space: nowrap;
      }

      .graph {
        width: 110px;
        height: 36px;
        margin-left: 10px;

      }

      .change {
        padding-left: 10px;
      }

      .row {
        display: flex;
        font-size: 15px;
        align-items: center;
        height: 70px;
        padding: 0 40px;
        position: relative;
        color: inherit;

        &.red {
          .change {
            color: @color-error-500;
          }
        }

        &.blue {
          .change {
            color: @color-submit-400;
          }
        }

        &-content {
          &:hover {
            background: #f9fbfd;
            box-shadow: 0px 1px 0px 0px #f9fbfd, 0px -1px 0px 0px #f9fbfd;
          }

          .pair {
            font-weight: 600;
            font-family: 'Roboto-regular';
          }

          &:not(:last-child)::after {
            content: '';
            display: block;
            bottom: 0;
            position: absolute;
            width: calc(100% ~'- 80px');
            height: 1px;
            background: @color-info-50;
          }
        }

        &-header {
          font-size: 13px;
          border-bottom: 1px solid @color-info-50;
        }
      }
    }
  }

  .section-wrapper {
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
    max-width: 1440px;
    width: 100%;
  }

  .section {
    &-welcome {
      display: block;
      height: 800px;
      align-items: center;
      width: 100%;
      background: @color-white;

      .section-wrapper {
        display: flex;
        height: 100%;
        align-items: center;
      }

      .welcome-text {
        font-size: 50px;
        font-weight: 500;
        line-height: 1.4;
        font-family: 'Roboto-Regular';
      }

      .left-side {
        max-width: 540px;
        z-index: 2;
      }

      .submit {
        margin-right: 15px;
      }

      .dex-screenshot {
        left: calc(50% ~'- 50px');
        max-width: calc(50% ~'+ 50px');
        @dex-screenshot-width: 2732px;
        @dex-screenshot-height: 1536px;
        width: calc(@dex-screenshot-width / 2.7);
        height: calc(@dex-screenshot-height / 2.7);
        display: block;
        position: absolute;
        top: 90px;
        box-shadow: 0 0 30px @color-basic-200;
        z-index: 1;
        transition: .5s;
        background: url(/img/landing/dex-screenshot.png) left center no-repeat @color-white; // image size = 2732 × 1536
        background-size: cover;
      }
    }

    &-markets {
      background: @color-basic-100;
      max-width: 100%;
      padding: 0;
      .section-wrapper {
        max-width: 1440px;
        margin: 0 auto;
        padding-bottom: 60px;
        h2 {
          margin: 0;
        }
      }
    }

    &-slider {
      padding: 0;
      background: @color-basic-100;
      overflow: visible;
      position: relative;
      max-width: 100%;

      &:before {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        content: '';
        background: @color-basic-100;
      }

      @media screen and (max-width: 480px) {
        padding-left: 20px;
        padding-right: 20px;
      }

      .slider-wrapper {
        max-width: 1440px;
        margin: 0 auto;
        padding-top: 60px;
        padding-bottom: 60px;
      }

      @media screen and (max-width: 1340px) {
        .slider-wrapper {
          max-width: 100%;
          padding: 80px 0;
        }
      }

      w-carousel {
        height: 140px;
      }

      .slider {
        display: flex;
        width: 100%;
        max-width: 1440px;
      }

      .slide {
        min-width: 290px;
        overflow: visible;
        &_css-anim {
          border-radius: @border-radius;
          background: @color-white;
          padding: 30px;
          transition: all 0.3s;
          &:hover {
            box-shadow: 0 1rem 2.5rem rgba(58, 78, 136, 0.1), 0 0.5rem 1rem -0.75rem rgba(58, 78, 136, 0.1) !important;
            transform: translate3d(0, -3px, 0);
          }
        }

        .graph {
          width: 100px;
          height: 46px;
          position: relative;
        }

        .red {
          color: @color-error-500;
        }

        .blue {
          color: @color-submit-400;
        }

        h2 {
          font-weight: normal;
          margin: 0 0 7px;
        }
      }

      @media screen and (max-width: 1400px) {
        .slide {
          width: 30%;
        }
      }
      @media screen and (max-width: 1000px) {
        .slide {
          width: 48%;
        }
      }
      @media screen and (max-width: 620px) {
        .slide {
          width: 100%;
        }
      }
    }

    &-promo {
      .section-wrapper {
        display: flex;
        align-items: flex-start;
        text-align: center;
        flex-wrap: wrap;
      }

      &::before {
        position: absolute;
        background: @color-white;
        width: 5000px;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        display: block;
        content: '';
        z-index: -1;
      }

      &-card {
        padding: 15px 20px;
        width: 100%;
      }
    }

    &-roadmap {
      padding: 20px 0;
      background: @color-white;

      .roadmap-slider {
        display: flex;
        margin: 40px 0;
        position: relative;

        &:after {
          content: '';
          height: 1px;
          background: @color-submit-50;
          width: 100%;
          position: absolute;
          top: 38px;
          left: 0;
        }

        &-wrapper {
          overflow: hidden;
          margin: 0 210px;
        }

        &-icon {
          display: inline-flex;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          border: 2px solid @color-submit-50;
          background-color: @color-white;
          background-repeat: no-repeat;
          background-position: center;

          &-wrap {
            display: flex;
            justify-items: center;
            margin-bottom: 15px;
            padding: 0 50px;
            background: @color-white;
            z-index: 2;
          }
        }

        &-item {
          flex-basis: 280px;
          justify-items: center;
          align-items: center;
          display: flex;
          flex-direction: column;
          text-align: center;
          flex-shrink: 0;
          padding: 20px 25px;
        }

        &-title {
          font-weight: 400;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  body.welcome {
    .section-wrapper {
      padding-left: 40px;
      padding-right: 40px;
    }

    .section-welcome {
      .welcome-text {
        font-size: 44px;
        line-height: 1.3;
      }

      .left-side {
        max-width: 480px;
      }

      .dex-screenshot {
        right: auto;
        left: calc(50% ~'- 100px');
        max-width: calc(50% ~'+ 100px');
      }
    }
  }
}

@media screen and (max-width: 1340px) {
  body.welcome {
    .section-wrapper,
    .section-slider,
    .section-markets .content-wrapper {
      padding-left: 40px;
      padding-right: 40px;
    }

    .slide {
      width: 30%;
    }

    .section-welcome {
      .dex-screenshot {
        left: 580px;
        max-width: calc(100% ~'- 580px');
      }

      .welcome-text {
        font-size: 40px;
        line-height: 1.2;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  body.welcome {
    .links {
      padding-left: 30px;
    }

    .section-welcome {
      .left-side {
        max-width: 480px;
      }
    }
  }
}

@media screen and (max-width: 1023px) and (min-width: 861px) {
  body.welcome {
    .section-welcome {
      .left-side {
        max-width: 45%;
      }

      .dex-screenshot {
        left: 50%;
        max-width: 50%;
      }
    }
  }
}

@media screen and (max-width: 860px) {
  body.welcome {
    font-size: 13px;

    .table-markets {
      .row {
        padding: 15px 86px 15px 15px;
        flex-wrap: wrap;

        &-header {
          display: none;
        }

        .cell {
          flex-basis: 50%;
          width: 50%;
          max-width: 50%;
          font-size: 13px;
          padding: 0;
        }

        .graph {
          width: 50px;
          height: 35px;
          position: absolute !important;
          right: 15px;
          canvas {
            position: static !important;
          }
        }

        .volume {
          order: 2;
          color: @color-basic-500;
        }

        .last-price {
          order: 1;
          text-align: right;
          span {
            display: none;
          }
        }

        .change {
          order: 3;
          text-align: right;
        }

        .height24,
        .low24 {
          display: none;
        }
      }
    }

    .section-welcome {
      height: auto;

      .left-side {
        max-width: 100%;
      }

      .buttons-wrapper {
        flex-direction: column;
        width: 100%;
        margin-bottom: 82px;

        .fake-button {
          width: 100%;
        }

        .get-started-btn {
          margin: 0 0 15px;
        }
      }

      .welcome-text {
        position: relative;
        padding-top: 90px;
        font-size: 28px;
      }

      .dex-screenshot {
        display: none;
      }
    }

    .section-promo {
      .section-wrapper {
        flex-direction: column;
        padding: 25px 0;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  body.welcome {
    .section-wrapper,
    .section-slider,
    .section-markets .content-wrapper {
      padding-left: 20px;
      padding-right: 20px;
    }
    footer {
      .section-wrapper {
        margin-top: 0px;
      }
    }
  }
}

@media screen and (min-width: 860px) {
  body.welcome {
    .section {
      &-promo-card {
        padding: 20px 30px 40px;
        flex-basis: 33.33%;
      }

      &-roadmap {
        padding: 60px 0;
      }
    }
  }
}


@media screen and (min-width: 1440px) {
  .header-new-user {
    header {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}
