<div class="portfolio-wrapper" w-i18n-ns="app.wallet.portfolio">

    <div class="toolbar">
        <w-button class="interface" on-click="$ctrl.showSend()">
            <span class="btn-icon icon-send" w-i18n="send"></span>
        </w-button>
        <w-button class="interface" on-click="$ctrl.showReceivePopup()">
            <span class="btn-icon icon-deposit" w-i18n="receive"></span>
        </w-button>

        <w-select ng-model="$ctrl.filter">
            <w-option value="::'active'">
                <w-i18n w-i18n-ns="app.wallet.portfolio"
                        params="{count: $ctrl.details.active.length || 0}">
                    allactive
                </w-i18n>
            </w-option>
            <!--<w-option value="pinned">-->
            <!--Favorites ({{$ctrl.details.pinned.length}})-->
            <!--</w-option>-->
            <w-option value="::'spam'">
                <w-i18n w-i18n-ns="app.wallet.portfolio"
                        params="{count: $ctrl.details.spam.length || 0}">
                    spamselect
                </w-i18n>
            </w-option>
        </w-select>
    </div>

    <w-smart-table class="smart-table" data="$ctrl.balanceList" header-info="$ctrl.tableHeaders">
        <w-loader ng-if="$ctrl.pending"></w-loader>
        <w-table-row
                w-toggle-class-container
                ng-repeat="balance in $data track by balance.asset.id">
            <w-table-cell class="smart-table__name">
                <div class="cell">
                    <w-asset-logo class="margin-right-1" asset-id="{{::balance.asset.id}}" size="30"></w-asset-logo>
                    <span>{{::balance.asset.name}}</span>
                </div>
            </w-table-cell>
            <w-table-cell class="smart-table__available">
                <div class="cell-header">
                    <w-i18n>list.balance</w-i18n>
                </div>
                <div class="cell">
                    <w-balance money="balance.available" short-mode="::true"></w-balance>
                </div>
            </w-table-cell>
            <w-table-cell class="smart-table__in-orders">
                <div class="cell-header">
                    <w-i18n>list.inOrders</w-i18n>
                </div>
                <div class="cell">
                    <w-balance money="balance.inOrders"></w-balance>
                </div>
            </w-table-cell>
            <w-table-cell class="smart-table__available-value">
                <div class="cell-header">
                    <w-i18n params="{currency: $ctrl.mirror.displayName}">list.mirror</w-i18n>
                </div>
                <div class="cell">
                    <w-exchange noUpdate balance="balance.available"
                                ng-if="::balance.asset.id !== WavesApp.defaultAssets.USD"></w-exchange>
                    <span ng-if="::balance.asset.id == WavesApp.defaultAssets.USD">—</span>
                </div>
            </w-table-cell>
            <w-table-cell class="smart-table__chart-wrap">
                <div class="cell-header">
                    <w-i18n params="{currency: $ctrl.mirror.displayName}">list.rate</w-i18n>
                </div>
                <div class="cell">
                    <w-change-rate ng-if="::balance.asset.id !== WavesApp.defaultAssets.USD"
                                   asset-id="balance.asset.id"></w-change-rate>
                    <span ng-if="::balance.asset.id == WavesApp.defaultAssets.USD">—</span>
                    <div>
                        <w-asset-rate-chart no-update="::true"
                                            start-from="::$ctrl.chartStartDate"
                                            asset-id="::balance.asset.id"></w-asset-rate-chart>
                    </div>
                </div>
            </w-table-cell>
            <w-table-cell class="smart-table__change">
                <div class="cell-header">
                    <w-i18n>list.change</w-i18n>
                </div>
                <div class="cell">
                    <w-change24 asset-from="balance.asset.id"
                                asset-to="$ctrl.mirrorId"
                                no-update></w-change24>
                    <span>%</span>
                </div>
            </w-table-cell>
            <w-table-cell class="smart-table__control-cell">
                <div class="cell">
                    <span ng-if="::$ctrl.canShowDex(balance)" class="icon icon-dex" ng-click="$ctrl.openDex(balance.asset)">
                        <div><w-i18n>dex</w-i18n></div>
                    </span>
                    <span class="icon icon-send" ng-click="$ctrl.showSend(balance.asset)">
                        <div><w-i18n>send</w-i18n></div>
                    </span>
                    <span class="icon icon-receive"
                          ng-click="$ctrl.showReceivePopup(balance.asset)">
                        <div><w-i18n>receive</w-i18n></div>
                    </span>
                    <span class="icon"
                          ng-if="::balance.asset.id !== WavesApp.defaultAssets.WAVES && !balance.isPinned && !balance.hasSpamSignatures"
                          ng-class="{'icon-hide': !balance.isSpam, 'icon-show': balance.isSpam}"
                          ng-click="$ctrl.toggleSpam(balance.asset)">
                         <div>
                            <w-i18n ng-if="!balance.isSpam">tospam</w-i18n>
                            <w-i18n ng-if="balance.isSpam">unspam</w-i18n>
                         </div>
                    </span>
                    <w-actions>
                        <w-action ng-click="$ctrl.showAsset(balance.asset)">
                            <w-i18n>info</w-i18n>
                        </w-action>
                        <w-action ng-click="$ctrl.showSend(balance.asset)">
                            <w-i18n>send</w-i18n>
                        </w-action>
                        <w-action ng-click="$ctrl.showReceivePopup(balance.asset)">
                            <w-i18n>receive</w-i18n>
                        </w-action>
                        <w-action ng-if="::balance.asset.isMyAsset"
                                  ng-click="$ctrl.showBurn(balance.asset.id)">
                            <w-i18n>burn</w-i18n>
                        </w-action>
                        <w-action ng-if="::balance.asset.isMyAsset && balance.asset.reissuable"
                                  ng-click="$ctrl.showReissue(balance.asset.id)">
                            <w-i18n>reissue</w-i18n>
                        </w-action>
                        <w-action ng-if="::$ctrl.canShowDex(balance)" ng-click="$ctrl.openDex(balance.asset)">
                            <w-i18n>dex</w-i18n>
                        </w-action>
                        <w-action ng-if="::balance.asset.id !== WavesApp.defaultAssets.WAVES && !balance.isPinned && !balance.hasSpamSignatures"
                                  ng-click="$ctrl.toggleSpam(balance.asset)">
                            <w-i18n w-i18n-ns="app.wallet.portfolio" ng-if="!balance.isSpam">tospam</w-i18n>
                            <w-i18n w-i18n-ns="app.wallet.portfolio" ng-if="balance.isSpam">unspam</w-i18n>
                        </w-action>
                    </w-actions>
                    <i class="toggler" w-toggle-class></i>
                </div>
            </w-table-cell>
        </w-table-row>
    </w-smart-table>
</div>
