<div class="controls">
    <div class="part left">
        <w-button ng-click="$ctrl.send()">Send</w-button>
        <w-button>Receive</w-button>
    </div>
</div>
<ul class="portfolio-list">
    <li class="portfolio-item title">

    </li>
    <li class="portfolio-item" ng-repeat="asset in $ctrl.portfolio track by asset.id">
        <div class="portfolio-item-name">
            <w-asset-logo class="margin-right-1" asset-id="{{::asset.id}}" size="30"></w-asset-logo>
            {{::asset.name}}
        </div>
        <div class="portfolio-item-balance">
            <w-balance balance="asset.balance" asset-id="{{::asset.id}}"></w-balance>
        </div>
        <div class="portfolio-item-mirror">
            <w-balance balance="asset.mirrorBalance" asset-id="{{::$ctrl.mirrorId}}"></w-balance>
        </div>
        <div class="portfolio-item-bid"></div>
    </li>
</ul>
