<div class="portfolio-wrapper" w-i18n-ns="app.wallet.portfolio">

    <div class="toolbar">
        <w-button class="interface" on-click="$ctrl.showSend()">
            <span class="btn-icon icon-send" w-i18n="send"></span>
        </w-button>
        <w-button class="interface" on-click="$ctrl.showReceivePopup()">
            <span class="btn-icon icon-deposit" w-i18n="receive"></span>
        </w-button>

        <w-select ng-model="$ctrl.filter">
            <w-option value="::'active'">
                <span w-i18n="allactive"
                      w-i18n-ns="app.wallet.portfolio"
                      params="{count: $ctrl.details.active.length || 0}"></span>
            </w-option>
            <!--<w-option value="pinned">-->
            <!--Favorites ({{$ctrl.details.pinned.length}})-->
            <!--</w-option>-->
            <w-option value="::'spam'">
                <span w-i18n="spamselect"
                      w-i18n-ns="app.wallet.portfolio"
                      params="{count: $ctrl.details.spam.length || 0}"></span>
            </w-option>
        </w-select>
    </div>

    <w-smart-table class="smart-table smart-table__mode-large" data="$ctrl.balanceList"
                   header-info="$ctrl.tableHeaders">
        <w-loader ng-if="$ctrl.pending"></w-loader>
        <w-table-row ng-repeat="balance in $data track by balance.asset.id">
            <w-visible>
                <w-portfolio-row can-show-dex="::$ctrl.canShowDex(balance)"
                                 balance="balance"></w-portfolio-row>
            </w-visible>
        </w-table-row>
    </w-smart-table>
</div>
