<div w-i18n-ns="app.keeper" class="import-content">
    <w-change-language></w-change-language>
    <div class="waves-logo"></div>

    <div class="keeper-error-wrapper" ng-if="$ctrl.error">
        <div ng-if="$ctrl.noKeeper">
            <div>Error no installed keeper</div>
        </div>

        <div ng-if="$ctrl.noKeeperPermission">
            <div>Error no has keeper permissions</div>
        </div>

        <div ng-if="$ctrl.noKeeperAccounts">
            <div>Error keeper no has users</div>
        </div>

        <div ng-if="$ctrl.incorrectKeeperNetwork">
            <div>Error change keeper networks</div>
        </div>

        <a ui-sref="import" w-i18n="keeperForm.back"></a>
    </div>

    <div class="import-wrapper margin-3" ng-if="$ctrl.isInit && !$ctrl.error">
        <div class="keeper-avatars-list">
            <div class="avatar-wrapper">
                 <w-avatar address="$ctrl.selectedUser.address"
                          size="49"
                          type="keeper"></w-avatar>
            </div>

            <div class="loader-wrapper" ng-if="$ctrl.loading">
                <w-loader></w-loader>
            </div>
        </div>

        <div class="body-2 basic-900" w-i18n="keeperForm.address"></div>

        <div class="input-like margin-2">
            <div class="address basic-900 mobile-caption-2">
                {{$ctrl.selectedUser.address}}
            </div>
        </div>

        <div class="margin-2">
            <div class="body-2 basic-900" w-i18n="keeperForm.name"></div>
            <w-input w-autofocus
                     class="big no-validate no-icon"
                     type="text"
                     maxlength="20"
                     ng-model="$ctrl.selectedUser.name">
            </w-input>
        </div>

        <div class="flex margin-2">
            <w-checkbox-submit ng-model="$ctrl.saveUserData" id="save-user-data"></w-checkbox-submit>
            <label for="save-user-data" class="footnote-1 basic-500">
                <span w-i18n="keeperForm.saveUserData"></span>
            </label>
        </div>

        <div class="margin-3">
            <w-button class="submit big long" on-click="$ctrl.login()">
                <span w-i18n="keeperForm.login"></span>
            </w-button>
        </div>

        <div class="text-center margin-2">
            <a w-i18n="keeperForm.back" ui-sref="import"></a>
        </div>
    </div>

</div>
