/nbproject/
/nbproject/private/
.idea/
/node_modules
/bower_components
/.grunt
/build
/dist
*.pem
/coverage
tmp
ts-scripts/*.js
gulpfile.js
GulpFile.js.map
karma.conf.js
karma.conf.js.map
server.js
server.js.map
/package-lock.json

