/nbproject/
/nbproject/private/
/.idea/
/node_modules
/bower_components
/**/*.js.map
/.grunt
/build
/dist
*.pem
/coverage
/tmp
/ts-scripts/*.js
/package-lock.json
/gulpfile.js
/karma.conf.js
/server.js
*.pdx
*.cer
*.sh
*.p12
*.pfx