/nbproject/
/nbproject/private/
/.idea/
/node_modules
/bower_components
/**/*.js.map
/src/**/*.css
/.grunt
/build
/dist
/coverage
/tmp
/ts-scripts/*.js
/gulpfile.js
/karma.conf.js
/server.js
*.pdx
*.cer
*.sh
*.p12
*.pfx
**/**/.DS_Store
WavesGUI.iml