@import (reference) 'config';

w-chart {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.chart-legend {
  display: none;
  margin-left: 40px;

  .legend-item {
    display: block;
    height: 38px;
  }
}

.chart-plate {
  position: absolute;
  box-shadow: 0 2px 4px 0 rgba(78, 92, 110, 0.2);
  background-color: rgba(78, 92, 110, 0.9);
  border-radius: @border-radius;
  color: @color-white;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  padding: 12px 16px;
  //&__price {
  //  font-size: @font-size-caption-1;
  //}
  &__price {
    text-align: right;
    font-size: 20px;
    line-height: 24px;
  }
  &__date {
    margin-right: 4px;
  }
  &__marker {
    visibility: hidden;
    opacity: 0;
    width: 14px;
    height: 14px;
    border: 2px @color-submit-400 solid;
    background: @color-white;
    border-radius: 50%;
    position: absolute;
    transition: opacity, visibility 0.3s;
    pointer-events: none;
    &.visible {
      visibility: visible;
      opacity: 1;
    }
  }
  &::before {
    content: '';
    position: absolute;
    //z-index: -1;
    opacity: .8;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left-color: @color-basic-700;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
  }
  &.visible {
    visibility: visible;
    opacity: 1;
  }
  &.to-right {
    &::before {
      border-left-color: transparent;
      border-right-color: @color-basic-700;
      left: auto;
      right: 100%;
    }
  }
}

svg.chart {
  .axis {
    .tick line {
      display: none;
    }
    .domain {
      stroke: transparent;
    }

    & > .tick > text {
      fill: @color-disabled-700;
      font-size: 13px;
    }
  }
}