@import (reference) 'config';

w-asset-logo {
  position: relative;

  &.marker-hide {
    .marker {
      opacity: 0;
    }
  }
}

.asset {
  &__logo {
    background-size: 100% 100%;
    text-align: center;
    border-radius: 50%;
    color: @white-only;
    left: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.custom {
      .marker {
        background-color: @custom-asset-marker-bg;
      }
    }

    .marker {
      display: none;
    }

    &.little {
      .marker {
        display: none;
      }
    }
  }
}

.sponsored-asset {
  .asset {
    &__logo {
      .marker {
        display: block;
        width: 15px;
        height: 15px;
        position: absolute;
        bottom: -2px;
        right: -2px;
        border: 2px solid @color-white;
        border-radius: 50%;
        background-image: url(/img/icons/sponosred-asset-marker.svg);
        background-position: center;
        background-repeat: no-repeat;
      }

      &-custom {
        .marker {
          background-color: @custom-asset-marker-bg;
        }
      }
    }
  }
}

.asset-modal {
  .sponsored-asset {
    .marker {
      width: 24px;
      height: 24px;
      background-size: 12px;
      border: 2px solid @color-white;
    }
  }
}
