@import (reference) '../../../../config';
@import (reference) '../../../../app/less/typography';

@leftPanelWidth: 330px;
@leftPanelRightMargin: 10px;
@height-transaction-header: 40px;

.leasing-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-height: calc(~'100vh - 90px');

  .left-panel {
    height: 100%;
    max-height: calc(~'100vh - 90px');
    overflow-y: auto;
    width: @leftPanelWidth;
    margin-right: @leftPanelRightMargin;
  }

  .transactions-title {
    height: @height-transaction-header;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: @color-white;
    border-top: 1px solid @color-disabled-200;
    border-left: 1px solid @color-disabled-200;
    border-right: 1px solid @color-disabled-200;
    border-top-left-radius: @border-radius;
    border-top-right-radius: @border-radius;
  }

  w-scroll-box {
    border: 1px solid #e9e9eb;
    border-radius: 0 0 @border-radius @border-radius;
    height: calc(~'100vh - ' 130px);

    .scroll-list {
      height: 100%;
    }
  }

  .transaction-item > .date {
    display: none;
  }

  .transactions-container {
    width: calc(~'100% - '@leftPanelWidth + @leftPanelRightMargin);
    position: relative;
  }

  .chart-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .legend-container {

    .legend-item {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 10px;

      &:not(:first-child) {
        margin-top: 10px;
      }

      .part {
        display: flex;
        align-items: center;

        .legend-color {
          width: 12px;
          height: 12px;
          border-radius: 100%;
        }
      }

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 0;
        border-bottom: 1px dashed @color-basic-200;
      }
    }
  }

  .description-split {
    margin: 30px 0;
    height: 0;
    border-bottom: 1px dashed @color-disabled-200;
  }

  .icon-description {
    position: relative;
    padding-left: 60px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 50px;
      height: 48px;
      background-image: url(/img/icons/leasing_note.svg);
    }
  }

}

w-leasing-block.leasingNote {
  position: relative;
  overflow: hidden;

  .leasing-block-title {
    display: none;
  }

  .transactions-title {
    border: 0 none;
  }

  .leasing-block-content {
    padding: 0;
  }

  i.collapse-trigger {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    z-index: 1;
    text-align: center;
    cursor: pointer;
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
    background-image: url(/img/icons/close_arrow.svg);
  }

  div.collapse-container {
    height: 0px;
    transition: .4s;
    overflow: hidden;
    padding: 0 20px;
    border-bottom: 0 none;
    border-top: 0 none;
  }

  &.active {
    div.collapse-container {
      height: auto;
      border-top: 1px solid #e2e2e2;
      padding: 20px;
    }

    i.collapse-trigger {
      transform: rotate(-180deg)
    }
  }

}

@media screen and (max-width: @width-media-normal) {
  .transaction-item .locale-address {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .leasing-page {
    height: auto;
    display: block;
    overflow: visible;

    w-scroll-box {
      height: auto;
      margin-bottom: 10px;
    }

    .left-panel {
      width: 100%;
      max-height: 100%;
      overflow-y: visible;
    }

    .transactions-container {
      width: 100%;
    }
  }

  .leasingNote {
    margin-bottom: 10px;
  }

  w-transaction .transaction {
    height: auto;
    min-height: 74px;
  }
}

@media screen and (max-height: 355px) {
  .leasing-page {
    max-height: 100%;

    .left-panel {
      min-height: 263px;
    }

    w-scroll-box {
      min-height: 223px;
    }
  }
}