<div class="txinfo__row" ng-if="::$ctrl.transaction.assetId">
    <div class="txinfo__key" w-i18n="transaction.modals.assetId"></div>
    <div class="txinfo__value">{{::$ctrl.transaction.assetId}}</div>
</div>
<div class="txinfo__row" ng-if="::$ctrl.transaction.reissuable != null">
    <div class="txinfo__key" w-i18n="transaction.modals.type"></div>
    <div class="txinfo__value" w-i18n="transaction.reissuable.{{::$ctrl.transaction.reissuable}}"></div>
</div>
<div class="txinfo__row txinfo__row-contains-text" ng-if="::$ctrl.transaction.description">
    <div class="txinfo__key" w-i18n="transaction.modals.description"></div>
    <div class="txinfo__value txinfo__text">{{$ctrl.transaction.description}}</div>
</div>
<w-transaction-info-general height="$ctrl.transaction.height"
                            timestamp="$ctrl.transaction.timestamp"
                            id="$ctrl.id"
                            fee="$ctrl.transaction.fee"></w-transaction-info-general>

