<div class="txinfo__row" ng-if="::$ctrl.transaction.assetId">
    <div class="txinfo__key" w-i18n="transaction.modals.assetId"></div>
    <div class="txinfo__value">{{::$ctrl.transaction.assetId}}</div>
</div>

<div class="txinfo__row" ng-if="::$ctrl.transaction.reissuable != null">
    <div class="txinfo__key" w-i18n="transaction.modals.type"></div>
    <div class="txinfo__value txinfo__value-uppercase" w-i18n="transaction.reissuable.{{::$ctrl.transaction.reissuable}}"></div>
</div>

<div ng-show="$ctrl.transaction.script"
     class="txinfo__row ">
    <div class="txinfo__key" w-i18n="transaction.modals.script"></div>
    <div class="txinfo__value txinfo__value-uppercase">
        <span class="link"
              ng-click="$ctrl.toggleScript()"
              w-i18n="transaction.modals.setAssetScript.showScript-{{$ctrl.shownScript}}"></span>
    </div>
</div>

<div ng-show="$ctrl.transaction.script" class="js-script-container">
    <div class="code-wrapper code-wrapper-vertical margin-1">
        {{$ctrl.transaction.script}}
    </div>
</div>

<div class="txinfo__row txinfo__row-contains-text" ng-if="::$ctrl.transaction.description">
    <div class="txinfo__key" w-i18n="transaction.modals.description"></div>
    <div class="txinfo__value txinfo__text">{{$ctrl.transaction.description}}</div>
</div>

<w-transaction-info-general height="$ctrl.transaction.height"
                            timestamp="$ctrl.transaction.timestamp"
                            id="$ctrl.id"
                            fee="$ctrl.transaction.fee"></w-transaction-info-general>
