<div>
    <div class="row">
        <w-i18n>modal.account.address</w-i18n>
        <w-copy info="{{::$ctrl.address}}">
            <w-avatar size="30" address="$ctrl.address"></w-avatar>
            <div class="body">{{::$ctrl.address}}</div>
        </w-copy>
    </div>

    <div class="row">
        <w-i18n>modal.account.aliases</w-i18n>
        <div class="alias-list">
            <w-copy ng-repeat="alias in $ctrl.aliases" info="{{::alias}}">
                {{::alias}}
            </w-copy>
            <form name="form" novalidate ng-submit="form.$valid && $ctrl.createAlias()">
                <w-step-by-step active-step="$ctrl.createAliasStep">
                    <w-step>
                        <div class="create-alias-wrap">
                            <w-button w-step-next>
                                <w-i18n>modal.account.create</w-i18n>
                            </w-button>
                            <w-i18n params="{price: $ctrl.feeData.fee, name: $ctrl.feeData.name}">
                                modal.account.fee
                            </w-i18n>
                        </div>
                    </w-step>
                    <w-step>
                        <w-input ng-model="$ctrl.newAlias"
                                 class="embed"
                                 type="text"
                                 required
                                 ng-pattern="/[a-z0-9-.@_]/"
                                 maxlength="30"
                                 minlength="4"></w-input>
                        <div class="close" w-step-prev></div>
                        <div class="create-alias-wrap">
                            <w-button-submit type="submit">
                                <w-i18n>modal.account.create</w-i18n>
                            </w-button-submit>
                            <w-i18n params="{price: $ctrl.feeData.fee, name: $ctrl.feeData.name}">
                                modal.account.fee
                            </w-i18n>
                        </div>
                    </w-step>
                </w-step-by-step>
            </form>
        </div>
    </div>
</div>
