<form novalidate name="massSend">

    <div class="margin-2">
        <ng-transclude></ng-transclude>
    </div>

    <div class="flex-row-title body-2">
        <div>
            <w-i18n params="{count: $ctrl.tx.transfers.length, max: $ctrl.maxTransfersCount}">
                modal.send.massSend.recipient
            </w-i18n>
        </div>
        <w-import-file ng-if="$ctrl.tx.transfers.length === 0"
                       extantions="::'csv'"
                       on-change="$ctrl.importFile(file)">
            <a class="link">
                <span w-i18n="modal.send.massSend.importFile"></span>
            </a>
        </w-import-file>
        <a ng-if="$ctrl.tx.transfers.length > 0"
           class="link"
           ng-click="$ctrl.clear()"
           w-i18n="modal.send.massSend.clear"></a>
    </div>

    <w-input-container class="margin-2">
        <w-input textarea="true"
                 class="tall"
                 name="recipientCsv"
                 w-validate
                 w-validator-custom="{{$ctrl.isValidCSV}}"
                 ng-model="$ctrl.recipientCsv"
                 w-i18n-attr="placeholder"
                 placeholder="modal.send.massSend.recipientsAmountsPlaceholder"
        ></w-input>
    </w-input-container>

    <div class="body-2" w-i18n="modal.send.massSend.description"></div>
    <w-input-container class="margin-2">
        <w-input textarea="true"
                 class="normal"
                 name="attachment"
                 ng-model="$ctrl.tx.attachment"
                 w-i18n-attr="placeholder"
                 w-validate
                 w-validator-byte-lte="140"
                 placeholder="modal.send.descriptionPlaceholder"></w-input>

        <w-input-error message="byteLte">
            <w-i18n>modal.send.attachmentLength</w-i18n>
        </w-input-error>
    </w-input-container>

    <div class="body-2" w-i18n="modal.send.massSend.totalAmount"></div>
    <div class="input-like total-amount margin-2">
        <w-balance money="$ctrl.totalAmount"></w-balance>
    </div>

    <div class="row fee margin-3">
        <div class="body basic-500">
            <w-i18n params="{fee: $ctrl.tx.fee}">modal.send.fee</w-i18n>
        </div>
    </div>

    <w-button disabled="massSend.$invalid || !$ctrl.tx.transfers.length"
              class="submit long big"
              on-click="$ctrl.nextStep()">
        <w-i18n>button.continue</w-i18n>
    </w-button>
</form>
