@import (reference) 'config';
@import (reference) "../../../app/less/typography";
@import (reference) 'icons';

.mobile-watchlist {
	&__bg {
		padding: 5px;
		background: rgba(38, 50, 65, 0.3);
		z-index: 7;
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
	}
}