<div class="search-list hidden"></div>
<w-table selected="$ctrl.activeRowId">
    <w-t-head>
        <w-row>
            <w-cell>
                <w-i18n>Coin</w-i18n>
            </w-cell>
            <w-cell>
                <w-i18n>Name</w-i18n>
            </w-cell>
            <w-cell>
                <w-i18n>Price</w-i18n>
            </w-cell>
            <w-cell>
                <w-i18n>Chng</w-i18n>
            </w-cell>
        </w-row>
    </w-t-head>
    <w-scroll-box>
        <w-row class="footnote-1 disabled-900"
               ng-repeat="asset in $ctrl.watchlist track by asset.id"
               ng-if="asset.id !== $ctrl.baseAssetId"
               select-value="{{::asset.id}}">
            <w-cell>
                {{::asset.ticker || '—'}}
            </w-cell>
            <w-cell title="{{::asset.name}}">
                {{::asset.name}}
            </w-cell>
            <w-cell>
                <w-exchange balance="$ctrl.baseMoney" no-update target-asset-id="{{::asset.id}}"></w-exchange>
            </w-cell>
            <w-cell>
                <w-change24 asset-from="$ctrl.baseAssetId"
                            asset-to="asset.id"></w-change24>
                %
            </w-cell>
            <div ng-if="$ctrl.watchlist.length > 2" class="remove-item"
                 ng-click="$ctrl.removeWatchedAsset($event, asset)"></div>
        </w-row>
    </w-scroll-box>
</w-table>
