//COLORS -------------------------------------

// texts -------------
@color-text: #000;
@color-lite-font: #8C8C8C;

// backgrounds -------
@color-lite-background: #F3F7FA;
@color-lite-background-blocks: #fff;

// links -------------
@color-link-blue: #7995B9;
@color-link-blue-active: #0065D7;

//SIZE ---------------------------------------

@width-left-menu-block: 70px;
@height-header: 70px;
@padding-main-layout: 4px;
