
//COLORS -------------------------------------

@color-welcome-text: #000;
@color-lite-background: #F3F7FA;
@color-lite-background-blocks: #fff;
@color-link-blue: #7995B9;
@color-link-blue-active: #0065D7;
@color-lite-font: #B5B5B5;

//FONTS -------------------------------------

@font-general-family: Roboto;

//SIZE

@width-left-menu-block: 70px;
@height-header: 70px;
@padding-main-layout: 4px;
