<w-site-header></w-site-header>

<div class="main-container-wrapper">
    <div class="main-container get-started-content movable">
        <w-step-by-step active-step="$ctrl.activeStep">
            <w-step>
                <div class="text-center" ng-if="$ctrl.hasLegacyUsers">
                    <!-- TODO:1978 lock image -->

                    <div class="headline-1 margin-1">
                        <!-- TODO:1978 i18n -->
                        <span w-i18n="New level of security"></span>
                    </div>

                    <div class="body-2 basic-500 margin-top-2 margin-4">
                        <!-- TODO:1978 i18n -->
                        <span w-i18n="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley."></span>
                    </div>

                    <w-button class="submit long big" on-click="$ctrl.nextStep()">
                        <!-- TODO:1978 i18n -->
                        <div class="full-width" w-i18n="Let's start"></div>
                    </w-button>
                </div>

                <div class="text-center" ng-if="!$ctrl.hasLegacyUsers">
                    <w-slider interval="2000" class="margin-3">
                        <!-- TODO:1978 slider with 3 slides -->
                        <div>
                            <!-- TODO:1978 image -->

                            <div class="headline-1 margin-1">
                                <!-- TODO:1978 i18n -->
                                <span w-i18n="Get Started with Blockchain 1"></span>
                            </div>

                            <div class="body-2 basic-500 margin-top-2">
                                <!-- TODO:1978 i18n -->
                                <span w-i18n="Become part of a fast-growing area of the crypto world. You are the only person who can access your crypto assets."></span>
                            </div>
                        </div>

                        <div>
                            <!-- TODO:1978 image -->

                            <div class="headline-1 margin-1">
                                <!-- TODO:1978 i18n -->
                                <span w-i18n="Get Started with Blockchain 2"></span>
                            </div>

                            <div class="body-2 basic-500 margin-top-2">
                                <!-- TODO:1978 i18n -->
                                <span w-i18n="Become part of a fast-growing area of the crypto world. You are the only person who can access your crypto assets."></span>
                            </div>
                        </div>

                        <div>
                            <!-- TODO:1978 image -->

                            <div class="headline-1 margin-1">
                                <!-- TODO:1978 i18n -->
                                <span w-i18n="Get Started with Blockchain 3"></span>
                            </div>

                            <div class="body-2 basic-500 margin-top-2">
                                <!-- TODO:1978 i18n -->
                                <span w-i18n="Become part of a fast-growing area of the crypto world. You are the only person who can access your crypto assets."></span>
                            </div>
                        </div>
                    </w-slider>

                    <w-button class="submit long big" on-click="$ctrl.nextStep()">
                        <!-- TODO:1978 i18n -->
                        <div class="full-width" w-i18n="Let's start"></div>
                    </w-button>
                </div>
            </w-step>

            <w-step>
                <div class="text-center">
                    <!-- TODO:1978 lock image -->

                    <div class="headline-1 margin-1">
                        <!-- TODO:1978 i18n -->
                        <span w-i18n="Protect Your Account"></span>
                    </div>

                    <div class="body-2 basic-500 margin-top-2 margin-4">
                        <!-- TODO:1978 i18n -->
                        <span w-i18n="Set a single password for all your accounts"></span>
                    </div>
                </div>

                <form name="$ctrl.form" ng-submit="$ctrl.form.$valid && $ctrl.onSubmit()" w-i18n-ns="app.ui" novalidate>
                    <w-input-container>
                        <div class="left body-2 margin-05">
                            <span w-i18n="password.title"></span>
                        </div>

                        <w-show-hide-password>
                            <w-input
                                name="password"
                                type="password"
                                class="big no-validate no-icon"
                                ng-model="$ctrl.password"
                                minlength="8"
                                required
                                w-autofocus>
                            </w-input>
                        </w-show-hide-password>

                        <w-complexity-meter field="password">
                            <complexity-message message="minlength, required">
                                <span w-i18n="password.minLength" params="::{minLength: 8}" class="footnote-1"></span>
                            </complexity-message>
                            <complexity-message type="warn">
                                <span w-i18n="password.warn" class="footnote-1"></span>
                            </complexity-message>
                            <complexity-message type="success">
                                <span w-i18n="password.secure" class="footnote-1"></span>
                            </complexity-message>
                        </w-complexity-meter>
                    </w-input-container>

                    <w-input-container class="margin-3">
                        <div class="left body-2 margin-05">
                            <span w-i18n="password.repeat"></span>
                        </div>
                        <w-show-hide-password>
                            <w-input
                                name="confirm"
                                type="password"
                                class="no-icon big"
                                ng-model="$ctrl.confirmPassword"
                                w-validate
                                w-validator-compare="password"
                                required>
                            </w-input>
                        </w-show-hide-password>
                    </w-input-container>

                    <w-button disabled="$ctrl.form.$invalid" class="submit long big">
                        <div class="full-width" w-i18n="button.continue"></div>
                    </w-button>
                </form>
            </w-step>
        </w-step-by-step>
    </div>
</div>

<w-footer></w-footer>
