<w-main-header class="main-header"></w-main-header>

<div class="main-container-wrapper" w-i18n-ns="app.signUp">
    <div class="main-container get-started-content movable">
        <w-step-by-step active-step="$ctrl.activeStep" class="width-100">
            <w-step>
                <div class="text-center" ng-if="$ctrl.hasLegacyUsers">
                    <div class="icon-started-signup margin-auto"></div>

                    <div class="headline-1 margin-1">
                        <span w-i18n="signUp.headers.onePassword"></span>
                    </div>

                    <div class="body-2 basic-500 margin-3">
                        <span w-i18n="signUp.headers.onePassDesc"></span>
                    </div>

                    <w-button class="submit long big" on-click="$ctrl.nextStep()">
                        <div class="full-width" w-i18n="signUp.headers.onePassBtn"></div>
                    </w-button>
                </div>
            </w-step>

            <w-step>
                <div class="text-center">
                    <div class="icon-started-signup margin-auto"></div>

                    <div class="headline-1 margin-1">
                        <span w-i18n="signUp.headers.protect"></span>
                    </div>

                    <div class="body-2 basic-500 margin-3">
                        <span w-i18n="signUp.headers.protectDesc"></span>
                    </div>
                </div>

                <form name="$ctrl.form" ng-submit="$ctrl.form.$valid && $ctrl.onSubmit()" w-i18n-ns="app.ui" novalidate>
                    <w-input-container>
                        <div class="left body-2 margin-05" w-i18n-ns="app.signUp">
                            <span w-i18n="signUp.headers.protectPass"></span>
                        </div>

                        <w-show-hide-password>
                            <w-input
                                name="password"
                                type="password"
                                class="big no-validate no-icon"
                                ng-model="$ctrl.password"
                                minlength="8"
                                required
                                w-autofocus>
                            </w-input>
                        </w-show-hide-password>

                        <w-complexity-meter field="password">
                            <complexity-message message="minlength, required">
                                <span w-i18n="password.minLength" params="::{minLength: 8}" class="footnote-1"></span>
                            </complexity-message>
                            <complexity-message type="warn">
                                <span w-i18n="password.warn" class="footnote-1"></span>
                            </complexity-message>
                            <complexity-message type="success">
                                <span w-i18n="password.secure" class="footnote-1"></span>
                            </complexity-message>
                        </w-complexity-meter>
                    </w-input-container>

                    <w-input-container class="margin-3">
                        <div class="left body-2 margin-05">
                            <span w-i18n="password.repeat"></span>
                        </div>
                        <w-show-hide-password>
                            <w-input
                                name="confirm"
                                type="password"
                                class="no-icon big"
                                ng-model="$ctrl.confirmPassword"
                                w-validate
                                w-validator-compare="password"
                                required>
                            </w-input>
                        </w-show-hide-password>

                        <div class="like-input-error" ng-if="$ctrl.form.confirm.$dirty && $ctrl.form.confirm.$error.compare">
                            <span class="error active" w-i18n="signUp.password.notMatch"></span>
                        </div>
                    </w-input-container>

                    <w-button disabled="$ctrl.form.$invalid" class="submit long big">
                        <div class="full-width" w-i18n="button.continue"></div>
                    </w-button>
                </form>
            </w-step>
        </w-step-by-step>
    </div>
</div>

<w-footer></w-footer>
