<div class="seed-container {{$ctrl.type}}" w-i18n-ns="app.create">
    <div class="seed-phrase">
        <span
            ng-repeat="item in $ctrl.parts track by $index"
            ng-click="$ctrl._onClick($event, $index)"
            class="body-1 seed-item {{$ctrl.type}}"
            data-id="{{::item}}"
        >{{::item}}</span>
    </div>

    <div class="flex seed-buttons" ng-if="$ctrl.type === 'read'">
        <div class="grow center seed-button">
            <a class="body-2" w-copy="$ctrl.seed">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" class="margin-right-05">
                    <path fill="currentColor" d="M10.75 4.45A2.75 2.75 0 0113.5 7.2V11a2.75 2.75 0 01-2.75 2.75h-3.8A2.75 2.75 0 014.2 11V7.2a2.75 2.75 0 012.75-2.75h3.8zm0 1.5h-3.8c-.69 0-1.25.56-1.25 1.25V11c0 .69.56 1.25 1.25 1.25h3.8c.69 0 1.25-.56 1.25-1.25V7.2c0-.69-.56-1.25-1.25-1.25zM7.35.25A1.95 1.95 0 019.3 2.2v.6a.75.75 0 01-1.5 0v-.6a.45.45 0 00-.45-.45h-5.4a.45.45 0 00-.45.45v5.4c0 .25.2.45.45.45h.6a.75.75 0 010 1.5h-.6A1.95 1.95 0 010 7.6V2.2A1.95 1.95 0 011.95.25z"/>
                </svg>
                <span w-i18n="seed.copyToClipboard"></span>
            </a>
        </div>
        <div class="grow center seed-button">
            <a class="body-2" ng-click="$ctrl.downloadSeed()">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" class="margin-right-05">
                    <path fill="currentColor" d="M7.6.25h.12l.01.01a.72.72 0 01.28.11l.12.1L8.05.4l.08.07 4.2 4.2a.75.75 0 01.22.53v6.6a1.95 1.95 0 01-1.95 1.95H3.4a1.95 1.95 0 01-1.95-1.95V2.2A1.95 1.95 0 013.4.25zm-.75 1.5H3.4a.45.45 0 00-.45.45v9.6c0 .25.2.45.45.45h7.2a.45.45 0 00.45-.45V5.95H7.6a.75.75 0 01-.74-.65l-.01-.1V1.75zm3.14 2.7L8.35 2.8v1.64h1.64z"/>
                </svg>
                <span w-i18n="seed.saveToFile"></span>
            </a>
        </div>
    </div>
</div>
