<div class="logo-wrapper margin-right-2">
    <w-avatar ng-click="$ctrl.avatarClick()" size="40" address="$ctrl.address"></w-avatar>
</div>
<w-navigation type="row">
    <a ng-repeat="state in $ctrl.stateList track by $index"
       class="{{::state.name}} margin-right-1"
       ui-sref="{{::state.path}}"
       ui-sref-active="active">{{::state.text}}</a>
</w-navigation>
<w-search>
	<input type="w-search" placeholder="Search transaction or assets">
</w-search>
<w-notification></w-notification>
<w-profile></w-profile>
