<div class="line-wrapper">
    <div class="line">
        <div class="body-2 top fs-mobile">
            <span w-i18n="transaction.headers.{{::$ctrl.typeName}}"></span>
            <span>
                {{$ctrl.getAssetName($ctrl.transaction.amount.asset)}}
            </span>
            <span  ng-if="$ctrl.isScamAmount"
                   class="spam-label"
                   w-i18n="transaction.headers.suspicious"></span>&nbsp;/
            <span>
                {{$ctrl.getAssetName($ctrl.transaction.price.asset)}}
            </span>&nbsp;
            <span ng-if="$ctrl.isScamPrice"
                  class="spam-label"
                  w-i18n="transaction.headers.suspicious"></span>
        </div>
        <div class="footnote-1 bottom fs-mobile">
            <span w-i18n="transaction.subheaders.{{::$ctrl.typeName}}"
                  params="{time: $ctrl.time}"></span>
        </div>
    </div>
    <div class="line">
        <div class="body-2 top fs-mobile">
            <span w-i18n="transaction.amounts.{{::$ctrl.typeName}}"
                  params="{
                    sign: $ctrl.typeName === 'exchange-buy' ? '+' : '–',
                    amount: $ctrl.transaction.amount.toFormat(),
                    name: $ctrl.transaction.amount.asset.name
                  }"></span>
        </div>
        <div class="footnote-1 bottom fs-mobile">
           <span w-i18n="transaction.amounts.{{::$ctrl.typeName}}"
                 params="{
                    sign: $ctrl.typeName === 'exchange-buy' ? '–' : '+',
                    amount: $ctrl.totalPrice,
                    name: $ctrl.transaction.price.asset.name
                  }"></span>
        </div>
    </div>
</div>
