<w-loader ng-if="$ctrl.pending"></w-loader>

<w-smart-table ng-if="!$ctrl.pending"
               class="smart-table"
               data="$ctrl.orders"
               header-info="$ctrl.headers">
    <div ng-if="!$ctrl.orders.length" class="empty-block-container">
        <div class="icon"></div>
        <div class="body-1 basic-700" w-i18n="emptyBlocks.myOrders.title"></div>
        <div class="footnote-1 basic-500" w-i18n="emptyBlocks.myOrders.description"></div>
    </div>
    <w-table-row ng-repeat="order in $data track by order.id"
                 class="{{::order.type}}"
                 ng-class="{cancelled: order.status === 'Cancelled'}">
        <w-table-cell>
            <span>{{::order.assetPair.amountAsset.displayName}} / {{::order.assetPair.priceAsset.displayName}}</span>
            <span ng-if="order.status !== 'Cancelled'"
                  class="status-mobile">{{::order.percent}}%</span>
            <span ng-if="order.status === 'Cancelled'"
                  class="status-mobile">
                <w-i18n>directives.myOrders.canceled</w-i18n></span>
        </w-table-cell>
        <w-table-cell>
            <span w-i18n="directives.myOrders.orderType.{{::order.type}}"></span>
        </w-table-cell>
        <w-table-cell>
            <span class="cell-label"><w-i18n>directives.myOrders.price</w-i18n></span>
            <w-balance money="::order.price"></w-balance>
        </w-table-cell>
        <w-table-cell>
            <span class="cell-label"><w-i18n>directives.myOrders.amount</w-i18n></span>
            <w-balance money="::order.amount"></w-balance>
        </w-table-cell>
        <w-table-cell>
            <span class="cell-label"><w-i18n>directives.myOrders.total</w-i18n></span>
            <w-balance money="::order.total"></w-balance>
        </w-table-cell>
        <!-- todo @dima -->
        <w-table-cell>
            <span class="cell-label"><w-i18n>directives.myOrders.fee</w-i18n></span>
            <w-balance money="order.fee"></w-balance>
        </w-table-cell>
        <w-table-cell>
            <span class="cell-label"><w-i18n>directives.myOrders.time</w-i18n></span>
            {{::order.timestamp | date:'yyyy-MM-dd HH:mm:ss' }}
        </w-table-cell>
        <w-table-cell>
            <div class="status">
                <div ng-if="order.status !== 'Cancelled'">
                    {{::order.progress * 100}}%
                </div>
                <div ng-if="order.status === 'Cancelled'">
                    <w-i18n>directives.myOrders.canceled</w-i18n>
                </div>
                <div class="progress-bar">
                    <div class="progress-fill" style="width: {{::order.progress * 100}}%"></div>
                </div>
            </div>
            <w-actions>
                <!-- todo @german -->
                <!--w-action ng-click="">
                    <w-i18n>directives.myOrders.detail</w-i18n>
                </w-action-->
                <w-action ng-click=""> <!-- todo @german -->
                    <w-i18n>directives.myOrders.delete</w-i18n>
                </w-action>
            </w-actions>
        </w-table-cell>
    </w-table-row>
</w-smart-table>

<!-- todo add ng-if="::isNotDesktop" -->
