<w-smart-table data="$ctrl.orders" header-info="$ctrl.headers">
    <div ng-if="!$ctrl.orders.length" class="empty-block-container">
        <div class="icon"></div>
        <div class="body-1 basic-700" w-i18n="emptyBlocks.myOrders.title"></div>
        <div class="footnote-1 basic-500" w-i18n="emptyBlocks.myOrders.description"></div>
    </div>
    <w-table-row ng-repeat="order in $data track by order.id">
        <w-table-cell>
            <span>{{::order.pair}}</span>
        </w-table-cell>
        <w-table-cell>
                <span class="order-side {{::order.type}}"
                      w-i18n="directives.myOrders.orderType.{{::order.type}}"></span>
        </w-table-cell>
        <w-table-cell>
            <span ng-if="::isNotDesktop" class="cell-label"><w-i18n>directives.myOrders.price</w-i18n>:</span>
            <w-balance money="order.price"></w-balance>
        </w-table-cell>
        <w-table-cell>
            <span ng-if="::isNotDesktop" class="cell-label"><w-i18n>directives.myOrders.amount</w-i18n>:</span>
            <w-balance money="order.amount"></w-balance>
        </w-table-cell>
        <w-table-cell>
            <span ng-if="::isNotDesktop" class="cell-label"><w-i18n>directives.myOrders.total</w-i18n>:</span>
            <w-balance money="order.total"></w-balance>
        </w-table-cell>
        <w-table-cell>
            <span ng-if="::isNotDesktop" class="cell-label"><w-i18n>directives.myOrders.time</w-i18n>:</span>
            {{::order.timestamp | date:'yyyy-MM-dd HH:mm:ss' }}
        </w-table-cell>
        <w-table-cell>
            <div class="status">
                <div>
                    {{order.percent}}%
                </div>
                <div class="progress-bar">
                    <div class="progress-fill" style="width: {{order.percent}}%"></div>
                </div>
            </div>
        </w-table-cell>
    </w-table-row>
</w-smart-table>
