@import (reference) 'config';
@import (reference) 'icons';

w-select {
  .filter {
    display: none;
    position: relative;
    z-index: 11;
    border: 1px solid @color-basic-200;
    border-top: 0 none;
  }
}

w-select.has-filter {
  div.select.expanded {

    .filter {
      display: block;

      &:before {
        content: '';
        display: block;
        width: 18px;
        height: 18px;
        top: 50%;
        left: 28px;
        position: absolute;
        z-index: 12;
        transform: translate(-50%, -50%);
        background: url(../../../../img/icons/icon-search-dex.svg) center no-repeat;
        background-size: cover;
      }

      w-input,
      input {
        height: 48px;
        width: 100%;
        border: 0 none;
      }

      input {
        padding: 0 14px 0 50px;
        margin: 0 auto;
        font-size: 15px;
        &::-webkit-input-placeholder {
          color: @color-basic-500;
          opacity: 1;
        }
        &:-ms-input-placeholder {
          color: @color-basic-500;
          opacity: 1;
        }
        &::-moz-placeholder {
          color: @color-basic-500;
          opacity: 1;
        }
      }

      .help-icon__icon,
      .input-clear {
        width: 14px;
        height: 14px;
        position: absolute;
        right: 14px;
        top: 50%;
        transform: translateY(-50%);
      }

      .input-clear {
        cursor: pointer;
        background: url(../../../../img/icons/order_cancel.svg) center no-repeat;
        background-size: 8px 8px;
      }

      .help-icon__content {
        left: auto;
        right: -20px;
        top: calc(50% ~'+ 13px');
        width: 40%;
        min-width: 200px;
      }
    }

    .select-list {
      top: 103px;
    }
  }
}
