<div class="flex-column-center">

    <div ng-click="$ctrl.back()" class="back">
        BACK
    </div>

    <p class="title text">Are you being watched?</p>
    <p class="text">Now is a perfect time to assess your surroundings. Nearby windows? Hidden cameras?
        Shoulder-spies</p>

<!--img-->

    <p class="text">Anyone with your backup phrase can access or spend your money.</p>

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button ng-click="$ctrl.next()" class="md-raised md-primary">
            Got it
        </md-button>
    </section>
</div>
