<div class="flex-column-center">

    <w-button class="do-later" ng-click="$ctrl.next(6)">
        <div class="icon-close"></div> Do it later
    </w-button>

    <h1>No backup, no money</h1>
    <p class="text">Since only control your money, you'll need to save your backup phrase in case this app is
        detected</p>

    <div class="slider-wrapper">
        <w-carousel></w-carousel>
    </div>

    <p>Your wallet is never to cloud storage standart device backups.</p>

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <w-button-submit ng-click="$ctrl.next()">
            Backup account
        </w-button-submit>
    </section>
</div>
