<div class="welcome">


    <p class="title text">No backup, no money</p>
    <p class="text">Since only control your money, you'll need to save your backup phrase in case this app is
        detected</p>

    <div class="slider-wrapper">
        <w-slider></w-slider>
    </div>

    <p class="text">Your wallet is never to cloud storage standart device backups.</p>

    <div class="button-wrapper">
        <w-button type="primary" on-click="$ctrl.next()" size="big">Backup account</w-button>
    </div>
    <div class="button-wrapper">
        <w-button type="transparent" on-click="$ctrl.next(4)">Do it later</w-button>
    </div>
</div>
