<div class="create-account flex-column-center">
    <form name="createPassword" ng-submit="createPassword.$valid && $ctrl.next()" novalidate>


        <div ng-click="$ctrl.back()" class="back"></div>

        <div ng-class="{active: $ctrl.hasAccount}" class="created-animation">
            <w-avatar address="$ctrl.address"></w-avatar>
        </div>

        <div class="block">
            <div class="block-content">
                <h2 w-i18n="createAccount.title"></h2>
                <span class="light" w-i18n="createAccount.titleGray"></span>

                <hr/>

                <div class="my-list">
                    <div class="count">1</div>
                    <div class="content">
                        <div class="bold" w-i18n="createAccount.avatarTitle"></div>
                        <div class="light" w-i18n="createAccount.avatarGray"></div>

                        <div class="avatar-block">
                            <w-loader ng-if="!$ctrl.seedList.length"></w-loader>
                            <w-avatar ng-repeat="item in $ctrl.seedList"
                                      ng-click="$ctrl.setActiveSeed(item)"
                                      size="60"
                                      ng-class="{active: item.active}"
                                      address="item.address"></w-avatar>
                        </div>
                    </div>
                </div>

                <hr/>

                <div class="my-list">
                    <div class="count">2</div>
                    <div class="content">
                        <div class="bold" w-i18n="createAccount.passTitle"></div>
                        <div class="light" w-i18n="createAccount.passGray"></div>

                        <div class="inputs-container">
                            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                                <w-input-container form="createPassword">
                                    <input name="password"
                                           type="password"
                                           w-i18n-attr="placeholder"
                                           placeholder="createAccount.passPlaceholder"
                                           required
                                           minlength="8"
                                           ng-pattern="/(?=.*[0-9].*)(?=.*[a-z].*)(?=.*[A-Z].*)[0-9a-zA-Z!@#$%^&\*]*/"
                                           ng-model="$ctrl.password"/>


                                    <w-input-error message="required">
                                        <w-i18n>inputs.errors.required</w-i18n>
                                    </w-input-error>
                                    <w-input-error message="minlength">
                                        <w-i18n>createAccount.inputs.errors.short</w-i18n>
                                    </w-input-error>
                                    <w-input-error message="pattern">
                                        <w-i18n>createAccount.inputs.errors.simple</w-i18n>
                                    </w-input-error>
                                </w-input-container>
                            </section>

                            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                                <w-input-container form="createPassword">
                                    <input name="confirmPassword"
                                           type="password"
                                           w-i18n-attr="placeholder"
                                           required
                                           w-compare-to="password"
                                           minlength="8"
                                           placeholder="createAccount.confirmPlaceholder"
                                           ng-model="$ctrl.confirmPassword">


                                    <w-input-error message="required">
                                        <w-i18n>createAccount.inputs.errors.required</w-i18n>
                                    </w-input-error>
                                    <w-input-error message="wCompareTo">
                                        <w-i18n>createAccount.inputs.errors.equal</w-i18n>
                                    </w-input-error>
                                </w-input-container>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <md-button type="submit" class="md-raised md-primary">
                    <w-i18n>createAccount.next</w-i18n>
                </md-button>
            </div>

        </div>
    </form>
</div>
