<div class="welcome">

    <w-logo></w-logo>

    <p class="title text">
        Create New Account
    </p>
    <p class="text">
        This app stores your Waves with cutting-edge security.
    </p>

    <form name="createPassword" ng-submit="createPassword.$valid && $ctrl.next()" novalidate>

        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-input-container class="md-block">
                <label>Password</label>
                <input name="password" type="password" required minlength="8"
                       ng-pattern="/(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z!@#$%^&*]/g" ng-model="$ctrl.password">

                <div ng-messages="createPassword.password.$error">
                    <div ng-message="required">This is required!</div>
                    <div ng-message="minlength">Password to short!</div>
                    <div ng-message="pattern">Password to simple!</div>
                </div>
            </md-input-container>
        </section>

        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-input-container class="md-block">
                <label>Repeat password</label>
                <input name="confirmPassword" type="password" required w-compare-to="$ctrl.password" minlength="8"
                       ng-model="$ctrl.confirmPassword">

                <div ng-messages="createPassword.confirmPassword.$error" multiple md-auto-hide="false">
                    <div ng-message="required">This is required!</div>
                    <div ng-message="wCompareTo">Passwords not equals!</div>
                </div>
            </md-input-container>
        </section>

        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button ng-click="" type="submit" class="md-raised md-primary">
                Setup Password
            </md-button>
        </section>

    </form>

</div>