<div class="create-account flex-column-center">

    <div ng-click="$ctrl.back()" class="back">
        BACK
    </div>

    <div ng-class="{active: $ctrl.hasAccount}" class="created-animation">
        <w-avatar address="$ctrl.address"></w-avatar>
    </div>

    <div class="block">

        <p class="title text">Create Your Account</p>
        <p class="text">Sign up for a fee account below.</p>

        <hr/>

        <p class="text">Choose your address avatar</p>

        <div class="avatar-block">
            <w-avatar ng-click="$ctrl.setActiveSeed(item)" ng-repeat="item in $ctrl.seedList"
                      ng-class="{active: item.active}"
                      address="item.address"></w-avatar>
        </div>

        <hr/>

        <p class="text">Setup password</p>

        <form name="createPassword" ng-submit="createPassword.$valid && $ctrl.next()" novalidate>

            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <w-input-container form="createPassword">
                    <input name="password"
                           type="password"
                           placeholder="Password"
                           required
                           minlength="8"
                           ng-pattern="/(?=.*[0-9].*)(?=.*[a-z].*)(?=.*[A-Z].*)[0-9a-zA-Z!@#$%^&\*]*/"
                           ng-model="$ctrl.password"/>


                    <w-input-error message="required">This is required!</w-input-error>
                    <w-input-error message="minlength">Password to short!</w-input-error>
                    <w-input-error message="pattern">Password to simple!</w-input-error>
                </w-input-container>
            </section>

            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <w-input-container form="createPassword">
                    <input name="confirmPassword"
                           type="password"
                           required
                           w-compare-to="$ctrl.password"
                           minlength="8"
                           placeholder="Repeat password"
                           ng-model="$ctrl.confirmPassword">


                    <w-input-error message="required">This is required!</w-input-error>
                    <w-input-error message="wCompareTo">Passwords not equals!</w-input-error>
                </w-input-container>
            </section>

            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button type="submit" class="md-raised md-primary">
                    Create Account
                </md-button>
            </section>

        </form>

    </div>
</div>
