<div ng-click="$ctrl.back()" class="back">
    НАВЗАД!
</div>

<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <h3>
        Almost done! Let's review.
    </h3>
</section>

<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    Waves is different - it cannot be safely held with a bank or web service.
</section>

<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>

    <md-checkbox name="tos" ng-model="$ctrl.moneyInApp" required>
        I understand that my funds are held securely on this device, not by a company.
    </md-checkbox>

</section>

<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <md-checkbox name="tos" ng-model="$ctrl.restoreByBackup" required>
        I understand that if this app is moved to another device or deleted my Waves can only be recovered with the
        backup phrase.
    </md-checkbox>
</section>

<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <md-checkbox name="tos" ng-model="$ctrl.agree" required>
        I have read, understand, and agree to the Terms of Use.
    </md-checkbox>
</section>

<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <md-button ng-disabled="$ctrl.canConfirm()" ng-click="$ctrl.next()" class="md-raised md-primary">
        Confirm & Finish
    </md-button>
</section>
