<div class="desktop-page" w-i18n-ns="app.desktop">

    <div class="desktop-page__controls">
        <i class="icon-information"></i>
        <span ng-click="$ctrl.showTutorialModals()"
              w-i18n-ns="app.welcome"
              w-i18n="infoTooltip"
              class="tooltip">
        </span>
        <w-change-language></w-change-language>
    </div>

    <div class="desktop-page__waves-logo waves-logo"></div>

    <div class="desktop-page__icon margin-3"></div>

    <h3 class="desktop-page__text-center desktop-page__title basic-700 margin-2"
        w-i18n="title"></h3>

    <div class="desktop-page__text-center desktop-page__message body-2 basic-500 margin-3"
         w-i18n="message"></div>

    <div class="text-center margin-3 basic-500">
        <w-checkbox-submit id="openLinkViaDesktop" ng-model="$ctrl.openLinkViaDesktop"></w-checkbox-submit>
        <label class="body-2" for="openLinkViaDesktop" w-i18n-ns="app.welcome" w-i18n="openViaDesktop"></label>
    </div>

    <w-button on-click="$ctrl.openMainPage()"
              class="big submit margin-4 headline-2 desktop-page__button">
        <span w-i18n="back_desktop"></span>
    </w-button>
</div>
