@import (reference) '../../../config';

@mobile-leftmenu-height: 60px;

w-left-menu {
  width: @width-left-menu;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  bottom: 0;
  display: block;
  border-right: 1px solid @color-disabled-100;
  background-color: @color-white;
  z-index: 30;


  .logo-wrapper {
    margin: 15px auto 20px auto;
  }

  .logout {
    cursor: pointer;
  }

  .wallet-toggler {
    display: none;
  }

  w-responsive-menu {
    width: 100%;
    position: relative;
    height: calc(100vh ~'- 90px');
    min-height: 280px;

    w-responsive-menu-item.settings {
      position: absolute;
      left: 10px;
      bottom: 50px;
    }
    w-responsive-menu-item.logout {
      position: absolute;
      left: 10px;
      bottom: 0;
    }

    .navigation-menu {
      margin-top: 5px;
    }

    w-responsive-menu-item {
      color: @color-black;

      .child-menu-list {
        display: none;
      }

      .menu-item {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: @border-radius;
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0 auto 5px auto;
        font-size: 0;
        cursor: pointer;
        position: relative;

        &::after {
          display: none;
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: @default-icon-size;
          height: @default-icon-size;
          transform: translate(-50%, -50%);
          background-image: url(/img/icons/menu-icons.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: auto;
          transition: 0;
        }

        &.wallet::after {
          display: block;
          background-position: 0 0;
        }

        &.dex::after {
          display: block;
          background-position: -@default-icon-size 0;
        }

        &.tokens::after {
          display: block;
          background-position: (-@default-icon-size * 2) 0;
        }

        &.settings::after {
          display: block;
          background-position: (-@default-icon-size * 3) 0;
        }

        &.logout::after {
          display: block;
          background-position: (-@default-icon-size * 4) 0;
        }

      }

      @media screen and (min-width: 769px) {
        &:hover .menu-item {
          background-color: @color-submit-50;
        }
      }

      &.active {
        background-color: @color-submit-400;
      }

      &.active,
      &.has-active {
        .menu-item {
          background-color: @color-submit-400;

          &.wallet::after {
            background-position: 0 calc(-@default-icon-size~'- 1px');
          }
          &.dex::after {
            background-position: -@default-icon-size -@default-icon-size;
          }
          &.tokens::after {
            background-position: (-@default-icon-size * 2) -@default-icon-size;
          }
        }

        @media screen and (min-width: 769px) {
          &:hover .menu-item {
            background-color: @color-submit-400;
          }
        }

      }
    }
  }
}

@media screen and (max-width: 768px) {

  w-left-menu {
    width: 100%;
    height: auto;
    min-height: 60px;
    bottom: auto;
    display: flex;
    border-right: 0 none;
    position: fixed;
    border-bottom: 1px solid @color-disabled-100;

    .logo-wrapper {
      margin: @padding-main-layout;
    }

    .wallet-toggler {
      background: url(/img/icons/arrow-dropdown.svg) no-repeat;
      background-position: 20px center;
      transform: rotate(180deg);
      width: 100%;
      height: 60px;
      position: absolute;
      left: 0;
      top: 0;
      cursor: pointer;
      z-index: 10;

      &:hover {
        opacity: .6;
      }
    }

    w-responsive-menu {
      width: 100%;
      top: 60px;
      max-height: calc(100vh ~'- 60px');
      height: auto;
      position: absolute;
      z-index: 16;
      box-shadow: 0 5px 5px @color-basic-50;
      margin-top: -1px;
      min-height: auto;

      &.wallet-items-hide {

        .wallet-toggler {
          transform: rotate(0deg);
          background-position: calc(100% ~'- 20px') center
        }

        w-responsive-menu-item[value="wallet"] .child-menu-list {
          height: 0;
          overflow: hidden;
        }

        w-responsive-menu-item.has-active[value="wallet"] {
          background: @color-submit-400;

          .menu-item {
            color: @color-white;

            &::after {
              background-position: 0 -@default-icon-size;
            }
          }
        }
      }

      .navigation-menu {
        margin: 0;
        height: 0;
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        opacity: 0;
        border-color: @color-accent-50;

        &.active {
          opacity: 1;
          display: flex;
          height: auto;
          border-bottom: 1px solid @color-accent-50;
          border-top: 1px solid @color-accent-50;

          & + w-button + .navigation-menu-overlay {
            display: block;
            position: fixed;
            height: 5000px;
            z-index: -1;
            top: 60px;
            left: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.3);
          }

          .wallet-toggler {
            display: block;
          }

          w-responsive-menu-item:not([value="wallet"]) {
            border-top: 1px solid @color-accent-50;
          }
        }

        w-responsive-menu-item {
          display: block;
          border-color: @color-accent-50;
          background: @color-white;

          .child-menu-list {
            display: flex;
            flex-direction: column;
            background-color: @color-basic-50;
          }

          .menu-item {
            background-color: transparent;
            white-space: nowrap;
            font-size: 15px;
            margin: 0;
            padding-left: 50px;
            width: 100%;
            background-position: 10px center;
            margin-left: @padding-main-layout;
            display: flex;
            align-items: center;
            height: 60px;
            color: @color-basic-700;

            &::after {
              transform: translate(0, -50%);
              left: 7px;
            }
          }

          &.active {
            background-color: @color-submit-400;

            .menu-item {
              color: @color-white;
            }
          }

          &[value="wallet"] {
            border-top: 0 none;
          }

          &.has-active {
            .wallet::after {
              background-position: 0 0;
            }
          }

          &.logout,
          &.settings {
            position: relative;
            bottom: auto;
            left: auto;
          }

        }
      }

      &.wallet-items-hide {

        .wallet-toggler {
          transform: rotate(0deg);
          background-position: calc(100% ~'- 20px') center
        }

        w-responsive-menu-item[value="wallet"] .child-menu-list {
          transition: .3s;
          height: 0;
          overflow: hidden;
        }

        w-responsive-menu-item.has-active[value="wallet"] {
          background: @color-submit-400;
          .menu-item {
            background: url(/img/icons/wallet-active.svg) 10px center no-repeat;
            color: @color-white;
          }
        }
      }

      w-button.nav-toggler {
        & > button.nav-toggler {
          right: 10px;
          top: -40px;
          display: block;
          width: 17px;
          height: 17px;
          overflow: visible;
          &:hover {
            opacity: .7;
          }
          .dots {
            width: 17px;
            height: 17px;
            position: relative;
            transition: .3s;
            transform-origin: center;
            .dot {
              width: 17px;
              height: 1px;
              display: block;
              position: absolute;
              background-color: @color-info-500;
              border-radius: 0;
              transition: .3s;
              transform-origin: center;
              &:first-child {
                top: 3px;
              }
              &:first-child + .dot {
                top: 8px;
              }
              &:last-child {
                bottom: 3px;
              }
            }
          }
        }
      }

      .navigation-menu.active + w-button.nav-toggler {
        & > button.nav-toggler {
          .dots {
            transform: rotate(-180deg);
            .dot {
              &:first-child {
                top: 8px;
                transform: rotate(135deg);
              }
              &:first-child + .dot {
                opacity: 0;
              }
              &:last-child {
                transform: rotate(-135deg);
                bottom: 8px;
              }
            }
          }
        }
      }
    }
  }

}
