@import (reference) '../../../config';

@mobile-leftmenu-height: 70px;

w-left-menu {
  width: @width-left-menu;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  border-right: 1px solid @color-disabled-100;
  background-color: @color-white;

  .logo-wrapper {
    margin: 15px auto 20px auto;
  }

  .logout {
    cursor: pointer;
  }

  w-responsive-menu {
    height: calc(100vh ~' - 100px');
    width: 100%;

    .menu-item {
      width: 50px;
      height: 50px;
      border-radius: @border-radius;
      background-color: transparent;
      background-position: center center;
      background-repeat: no-repeat;
      margin: 0 auto 5px auto;
      font-size: 0;
      cursor: pointer;

      &.active {
        background-color: @color-submit-400;
        margin: 0 auto 5px auto;
      }

      &.wallet {
        background-image: url(/img/icons/wallet.svg);
        background-size: 25px 24px;
        &.active {
          background-image: url(/img/icons/wallet-active.svg);
        }
      }

      &.dex {
        background-image: url(/img/icons/dex.svg);
        background-size: 25px 23px;
        &.active {
          background-image: url(/img/icons/dex-active.svg);
        }
      }

      &.tokens {
        background-image: url(/img/icons/tokens.svg);
        background-size: 31px 31px;
        &.active {
          background-image: url(/img/icons/tokens-active.svg);
        }
      }

      &.logout {
        background-image: url(/img/icons/exit.svg);
        background-size: 24px 26px;
      }

      &.settings {
        background-image: url(/img/icons/icon-settings.svg);
        background-size: 24px 24px;
      }

    }
  }
}

@media screen and (max-width: 768px) {
  body:not(.dex) w-left-menu {
    width: 100%;
    height: auto;
    bottom: auto;
    display: flex;
    border-right: 0 none;
    position: relative;
    border-bottom: 1px solid @color-disabled-100;

    .logo-wrapper {
      margin: 5px 10px;
    }
  }

  w-left-menu {
    w-responsive-menu {
      width: 100%;
      top: 50px;
      height: auto;
      border-bottom: 1px solid @color-accent-50;

      .navigation-menu {
        .responsive-menu-item-content {
          height: 0;
          opacity: 0;
          .menu-item {
            font-size: 15px;
            margin: 0;
            padding-left: 50px;
            display: flex;
            align-items: center;
          }
        }

        &:not(.active) .responsive-menu-item-content.active {
          height: 0;
          opacity: 0;
        }

        &active .responsive-menu-item-content {
          height: 50px;
          opacity: 1;
        }
      }

      w-button.nav-toggler {
        & > button.nav-toggler {
          right: 10px;
          top: -40px;
          display: block;
          width: 24px;
          height: 24px;

          .dots {
            width: 14px;
            height: 14px;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .dot {
              width: 14px;
              height: 4px;
              margin: 0 1px;
              background-color: orangered;
              border-radius: 0;
            }
          }
        }
      }
    }
  }

}
