<div class="logo-wrapper">
    <w-avatar ng-click="$ctrl.avatarClick()" size="40" address="$ctrl.address"></w-avatar>
</div>

<w-responsive-menu active-menu="">
    <w-responsive-menu-item value="wallet">
        <div class="menu-item wallet"></div>
    </w-responsive-menu-item>

    <w-responsive-menu-item value="dex">
        <div class="menu-item dex"></div>
    </w-responsive-menu-item>

    <w-responsive-menu-item value="tokens">
        <div class="menu-item tokens"></div>
    </w-responsive-menu-item>

    <w-responsive-menu-item ng-click="$ctrl.settings()">
        <div class="menu-item settings"></div>
    </w-responsive-menu-item>

    <w-responsive-menu-item ng-click="$ctrl.logout()">
        <div class="menu-item logout"></div>
    </w-responsive-menu-item>

</w-responsive-menu>

<w-navigation-tree></w-navigation-tree>
