<form class="send-form"
      name="$ctrl.send"
      novalidate>

    <ng-transclude></ng-transclude>

    <div class="row">

        <div class="flex-row-title">
            <div class="body-2" w-i18n="modal.send.recipient"></div>
            <a class="link"
               ng-if="!$ctrl.toBankMode && $ctrl.hasSendToBank"
               ng-click="$ctrl.toBankMode = true">
                <span w-i18n="modal.send.toBank.toBankLink"></span>
            </a>
        </div>

        <div ng-if="!$ctrl.toBankMode">
            <w-input-container>
                <div class="read-address-wrap">
                    <w-input type="text"
                             name="recipient"
                             ng-model="$ctrl.state.singleSend.recipient"
                             placeholder="modal.send.placeholderRecipient"
                             w-i18n-attr="placeholder"
                             w-validate
                             w-validator-any-address="{{$ctrl.state.assetId}}"
                             required></w-input>

                    <w-qr-code-read on-read="$ctrl.onReadQrCode(result)" max-width="250"
                                    max-height="160"></w-qr-code-read>
                </div>

                <w-input-error message="anyAddress">
                    <span w-i18n="modal.send.errors.address"></span>
                </w-input-error>
                <w-input-error message="required">
                    <span w-i18n="modal.send.errors.required"></span>
                </w-input-error>
            </w-input-container>
        </div>

        <div class="to-bank-account" ng-if="$ctrl.toBankMode">
            <div class="bank-recipient">
                <span w-i18n="modal.send.toBank.bankAccount"></span>
                <i class="toggle-mode btn" ng-click="$ctrl.toBankMode = false"></i>
            </div>
        </div>
    </div>

    <div class="row" ng-if="$ctrl.toBankMode">
        <div class="warning-plate basic-500 margin-2" w-i18n="modal.send.toBank.warning"></div>
    </div>

    <div class="warning-plate margin-2" ng-if="$ctrl.toBankMode">
        <div class="body-2 warning-500" w-i18n="modal.send.toBank.feeTitle"></div>
        <div class="footnote-1 basic-500" w-i18n="modal.send.toBank.feeExplanation"></div>
    </div>

    <div ng-if="$ctrl.outerSendMode" class="row">
        <div class="warning-plate margin-2">
            <div class="body-2 warning-500"
                 w-i18n="modal.send.coinomat.feeTitle"
                 params="{
                               fee: $ctrl.gatewayDetails.gatewayFee,
                               assetTicker: $ctrl.state.moneyHash[$ctrl.state.assetId].asset.displayName
                             }"></div>
            <div class="footnote-1 basic-500"
                 w-i18n="modal.send.coinomat.feeExplanation"
                 params="{
                               min: $ctrl.gatewayDetails.minimumAmount,
                               max: $ctrl.gatewayDetails.maximumAmount,
                               assetTicker: $ctrl.state.moneyHash[$ctrl.state.assetId].asset.displayName,
                               assetName: $ctrl.state.moneyHash[$ctrl.state.assetId].asset.name
                             }"></div>
        </div>

        <div class="warning-plate basic-500">
            <span w-i18n="modal.send.icoWarning"
                  params="{assetName: $ctrl.state.moneyHash[$ctrl.state.assetId].asset.name}"></span>
        </div>
    </div>

    <div ng-if="$ctrl.outerSendMode && $ctrl.isOldMoneroAddress()">
        <div class="body-2" w-i18n="modal.send.moneroPaymentId"></div>
        <w-input-container class="row">
            <div>
                <w-input type="text"
                         name="payment-id"
                         ng-model="$ctrl.state.paymentId"
                         placeholder="modal.send.moneroPaymentIdPlaceholder"
                         w-i18n-attr="placeholder"
                         ng-minlength="64"
                         ng-maxlength="64"
                         w-validate
                         w-validator-pattern="^[0-9a-fA-F]+$"
                         required></w-input>
            </div>

            <w-input-error message="minlength">
                <span w-i18n="modal.send.errors.paymentIdLength"></span>
            </w-input-error>
            <w-input-error message="maxlength">
                <span w-i18n="modal.send.errors.paymentIdLength"></span>
            </w-input-error>
            <w-input-error message="pattern">
                <span w-i18n="modal.send.errors.paymentIdPattern"></span>
            </w-input-error>
            <w-input-error message="required">
                <span w-i18n="modal.send.errors.required"></span>
            </w-input-error>
        </w-input-container>
    </div>

    <w-input-container class="row">
        <div class="body-2" w-i18n="modal.send.amount"></div>
        <div class="amount-wrap" ng-class="{'no-mirror': $ctrl.noMirror}">

            <w-balance-input name="amount"
                             asset-id="$ctrl.state.assetId"
                             max-balance="$ctrl.maxAmount"
                             fee="$ctrl.feeList"
                             input-classes="big"
                             min="$ctrl.minAmount"
                             on-focus="$ctrl.focus = 'amount'"
                             on-blur="$ctrl.focus = ''"
                             amount="$ctrl.state.singleSend.amount">
            </w-balance-input>
            <div class="amount-modal-icon"></div>
            <w-balance-input ng-if="!$ctrl.noMirror"
                             on-focus="$ctrl.focus = 'mirror'"
                             on-blur="$ctrl.onBlurMirror()"
                             name="amountMirror"
                             asset-id="$ctrl.mirrorId"
                             fill-max="$ctrl.fillMax()"
                             fee="$ctrl.tx.fee"
                             input-classes="big"
                             amount="$ctrl.mirror">
            </w-balance-input>

        </div>

        <w-input-error name="amount" message="required">
            <span w-i18n="inputs.errors.required"></span>
        </w-input-error>
        <w-input-error name="amount" message="gt">
            <span ng-if="$ctrl.tx.amount.getTokens().eq(0)" w-i18n="inputs.errors.required"></span>
            <span ng-if="$ctrl.tx.amount.getTokens().gt(0)" w-i18n="inputs.errors.gtGatewayMin"
                  params="{min: $ctrl.gatewayDetails.minimumAmount, assetName: $ctrl.tx.amount.asset.name}">
            </span>
        </w-input-error>
        <w-input-error name="amount" message="precision">
            <span w-i18n="modal.send.errors.precision"
                  params="{precision: $ctrl.state.moneyHash[$ctrl.state.assetId].asset.precision}"></span>
        </w-input-error>
        <w-input-error name="amountMirror" message="precision">
            <span w-i18n="modal.send.errors.precision"
                  params="{precision: $ctrl.state.moneyHash[$ctrl.state.mirrorId].asset.precision}"></span>
        </w-input-error>
        <w-input-error name="amount" message="lte">
            <span w-i18n="modal.send.errors.max"></span>
        </w-input-error>
    </w-input-container>

    <div ng-if="!($ctrl.outerSendMode || $ctrl.toBankMode)" class="row margin-1">
        <div class="body-2" w-i18n="modal.send.description"></div>
        <w-input-container>
            <w-input textarea="true"
                     name="attachment"
                     ng-model="$ctrl.state.singleSend.attachment"
                     w-i18n-attr="placeholder"
                     w-validate
                     w-validator-byte-lte="140"
                     placeholder="modal.send.descriptionPlaceholder"></w-input>

            <w-input-error message="byteLte">
                <span w-i18n="modal.send.attachmentLength"></span>
            </w-input-error>
        </w-input-container>
    </div>

    <div class="row fee margin-1">
        <div class="body basic-500">
            <span w-i18n="modal.send.fee" params="{fee: $ctrl.tx.fee}"></span>
        </div>
    </div>

    <div class="row commission-error margin-2 footnote error-500" ng-if="!$ctrl.hasComission">
        <span w-i18n="modal.send.validationError.notEnoughFundsWithdraw"
              ng-show="$ctrl.outerSendMode"
              params="{fee: $ctrl.state.singleSend.fee, getawayFee: $ctrl.gatewayDetails.gatewayFee, currency: $ctrl.state.moneyHash[$ctrl.state.assetId].asset.displayName}"></span>
        <span w-i18n="modal.send.validationError.notEnoughFunds"
              ng-hide="$ctrl.outerSendMode"
              params="{fee: $ctrl.state.singleSend.fee}"></span>
    </div>

    <w-button on-click="$ctrl.createTx()"
              disabled="$ctrl.send.$invalid || (!$ctrl.send.$invalid && !$ctrl.hasComission)"
              type="submit"
              class="big submit long">
        <span w-i18n="button.continue"></span>
    </w-button>

</form>
