<div w-i18n-ns="app.ui" class="transaction">
    <div class="icon {{::$ctrl.transaction.type}}"></div>
    <div class="transaction-info">
        <ng-include src="$ctrl.templateUrl"></ng-include>
    </div>
    <w-actions class="actions">
        <w-action ng-click="$ctrl.showTransaction()">
            <w-i18n>transaction.actions.showTx</w-i18n>
        </w-action>
        <w-action ng-click="$ctrl.copyId()">
            <w-i18n>transaction.actions.copyTxId</w-i18n>
        </w-action>
        <w-action ng-click="$ctrl.copyAllData()">
            <w-i18n>transaction.actions.copyTxData</w-i18n>
        </w-action>
        <!--TODO : isActive-->
        <w-action ng-if="$ctrl.type === 'lease-out'" ng-click="$ctrl.cancelLeasing()">
            <w-i18n>transaction.actions.cancelLeasing</w-i18n>
        </w-action>
    </w-actions>
</div>
