<div w-i18n-ns="app.ui"class="transaction"
     ng-class="{'spam': $ctrl.isScam || $ctrl.isScamAmount || $ctrl.isScamPrice}">
    <w-transaction-icon type-name="$ctrl.typeName"></w-transaction-icon>
    <w-transaction-info-row class="transaction-info"
                            transaction="$ctrl.transaction"
                            date-pattern="$ctrl.datePattern"></w-transaction-info-row>
    <w-actions analytics-text="'Leasing Menu Click'" class="actions">
        <w-analytics event="'Leasing Menu Tx Click'" event-target="'ui'">
            <w-action ng-click="$ctrl.showTransaction()">
                <span w-i18n="transaction.actions.showTx"></span>
            </w-action>
        </w-analytics>
        <div w-copy="::$ctrl.transaction.id">
            <w-analytics event="'Leasing Menu Copy Tx ID Click'" event-target="'ui'">
                <w-action>
                    <span w-i18n="transaction.actions.copyTxId"></span>
                </w-action>
            </w-analytics>
        </div>
        <div w-copy="::$ctrl.getCopyAllData()">
            <w-analytics event="'Leasing Menu Copy all Tx Data Click'" event-target="'ui'">
                <w-action>
                    <span w-i18n="transaction.actions.copyTxData"></span>
                </w-action>
            </w-analytics>
        </div>
        <w-analytics event="'Leasing Menu Cancel Leasing Click'" event-target="'ui'">
            <w-action ng-if="$ctrl.typeName === 'lease-out' && $ctrl.transaction.isActive"
                      ng-click="$ctrl.cancelLeasing()">
                <span w-i18n="transaction.actions.cancelLeasing"></span>
            </w-action>
        </w-analytics>
    </w-actions>
</div>
