<div w-i18n-ns="app.ui" class="transaction">
    <div class="icon {{::$ctrl.transaction.type}}"></div>
    <div class="transaction-info">
        <ng-include class="full-width" src="$ctrl.templateUrl"></ng-include>
    </div>
    <w-actions class="actions">
        <w-action ng-click="$ctrl.showTransaction()">
            <w-i18n>transaction.actions.showTx</w-i18n>
        </w-action>
        <div w-copy="::$ctrl.transaction.id">
            <w-action>
                <w-i18n>transaction.actions.copyTxId</w-i18n>
            </w-action>
        </div>
        <div w-copy="::$ctrl.getCopyAllData()">
            <w-action>
                <w-i18n>transaction.actions.copyTxData</w-i18n>
            </w-action>
        </div>
        <!--TODO : isActive-->
        <w-action ng-if="$ctrl.type === 'lease-out' && $ctrl.transaction.isActive"
                  ng-click="$ctrl.cancelLeasing()">
            <w-i18n>transaction.actions.cancelLeasing</w-i18n>
        </w-action>
    </w-actions>
</div>
