<div w-i18n-ns="app.ui" class="transaction-confirm">
    <w-step-by-step active-step="$ctrl.step">
        <w-step>

            <div ng-if="$ctrl.tx" class="row margin-2 gateway-warning">
                <div class="warning-plate">
                    <div class="body-2 warning-500"
                         w-i18n="confirmGatewayTransaction.warningTitle"></div>
                    <div class="footnote-1 basic-500"
                         w-i18n="confirmGatewayTransaction.warningText"
                         params="{name: $ctrl.tx.amount.asset.name}"></div>
                </div>
            </div>

            <div ng-if="$ctrl.tx && $ctrl.gatewayDetails && $ctrl.targetRecipient" class="row margin-2">

                <div class="section">
                    <div class="key"
                         w-i18n="confirmGatewayTransaction.fieldAddress"></div>
                    <div class="value">{{::$ctrl.targetRecipient}}</div>
                </div>

                <div class="section">
                    <div class="key"
                         w-i18n="confirmGatewayTransaction.fieldAmount"></div>
                    <div class="value">{{::$ctrl.tx.amount.toFormat()}} {{::$ctrl.tx.amount.asset.displayName}}</div>
                </div>

                <div class="section">
                    <div class="key"
                         w-i18n="confirmGatewayTransaction.fieldFee"></div>
                    <div class="value">{{::$ctrl.tx.fee.toFormat()}} {{::$ctrl.tx.fee.asset.displayName}}</div>
                </div>

                <div class="section">
                    <div class="key"
                         w-i18n="confirmGatewayTransaction.fieldGatewayAddress"></div>
                    <div class="value">{{::$ctrl.gatewayDetails.address}}</div>
                </div>

                <div class="section">
                    <div class="key"
                         w-i18n="confirmGatewayTransaction.fieldGatewayFee"></div>
                    <div class="value">{{::$ctrl.gatewayDetails.gatewayFee}} {{::$ctrl.tx.amount.asset.displayName}}</div>
                </div>

            </div>

            <div class="bottom-wrapper">
                <div class="bottom-warning margin-3" ng-if="$ctrl.deviceSignFail">
                    <div class="warning-plate warning-plate-red">
                        <div class="body-2 error-400" w-i18n-ns="app.ui"
                             w-i18n="confirmTransaction.ledgerUnconfirmed.header"></div>
                        <div class="footnote-1 basic-500" w-i18n-ns="app.ui"
                             w-i18n="confirmTransaction.ledgerUnconfirmed.description"></div>
                    </div>
                </div>

                <div class="device-loader-wrapper" ng-if="$ctrl.loadingSignFromDevice">
                    <div class="info basic-700">
                        <span w-i18n-ns="app.utils" w-i18n="confirmTransaction.signLedger"></span>
                    </div>
                    <w-loader></w-loader>
                </div>

                <div class="buttons-wrapper" ng-if="!$ctrl.loadingSignFromDevice">
                    <w-button ng-if="!$ctrl.noBackButton" class="big" on-click="$ctrl.onClickBack()">
                        <span w-i18n="confirmGatewayTransaction.back"></span>
                    </w-button>
                    <w-button ng-if="!$ctrl.deviceSignFail"
                              class="big submit"
                              ng-class="{long: $ctrl.noBackButton}"
                              w-next-step
                              on-click="$ctrl.confirm()">
                        <span w-i18n="confirmGatewayTransaction.confirm"></span>
                    </w-button>
                    <w-button class="big submit"
                              ng-if="$ctrl.deviceSignFail"
                              on-click="$ctrl.trySign()">
                        <span w-i18n-ns="app.wallet.transactions" w-i18n="confirmTransaction.retrySign"></span>
                    </w-button>
                </div>
            </div>
        </w-step>
        <w-step>
            <div class="icon icon-tx-success margin-2"></div>
            <h2 class="text-center basic-900 margin-4" w-i18n="confirmGatewayTransaction.success"></h2>
            <div class="text-center">
                <w-button class="submit half big" on-click="$ctrl.showTxInfo()">
                    <span w-i18n="confirmTransaction.details"></span>
                </w-button>
            </div>
        </w-step>
    </w-step-by-step>
</div>
