@import (reference) "icons";

.desktop-page {
  &__icon {
    width: 100%;
    height: 209px;
    background: @desktop-page-icon no-repeat center bottom;
  }

  &__checkbox {
    justify-content: center;
  }
}
