<w-main-header class="main-header"></w-main-header>

<div class="main-container movable" w-i18n-ns="app.signIn">
    <div w-i18n-ns="app.signIn" class="main-container-wrapper">
        <div class="get-started-content">
            <div class="text-center">
                <div class="headline-1 margin-1">
                    <span w-i18n="signIn.welcomeBack"></span>
                </div>

                <div class="body-2 basic-500 margin-3">
                    <span w-i18n="signIn.enterPass"></span>
                </div>
            </div>

            <form name="$ctrl.loginForm" ng-submit="$ctrl.loginForm.$valid && $ctrl.onSubmit()" novalidate>
                <w-input-container class="margin-4">
                    <div class="left body-2 margin-05">
                        <span w-i18n="userList.password"></span>
                    </div>

                    <w-show-hide-password>
                        <w-input
                            name="password"
                            type="password"
                            class="big no-validate no-icon"
                            ng-model="$ctrl.password"
                            required
                            w-autofocus>
                        </w-input>
                    </w-show-hide-password>

                    <div class="like-input-error" ng-if="$ctrl.showPasswordError">
                        <span class="error active" w-i18n="password.error"></span>
                    </div>
                </w-input-container>

                <w-button disabled="$ctrl.migrateForm.$invalid" class="submit long big">
                    <div class="full-width" w-i18n="signIn.signIn"></div>
                </w-button>

                <div class="margin-top-2">
                    <a class="body-2 basic-500"
                        ng-click="$ctrl.showForgotPasswordModal()"
                        w-i18n="signIn.password.forgot"
                    ></a>
                </div>
            </form>
        </div>
    </div>
</div>

<w-footer></w-footer>
