<w-main-header class="main-header"></w-main-header>

<div class="main-container movable" w-i18n-ns="app.signIn">
    <div w-i18n-ns="app.signIn" class="main-container-wrapper">
        <div class="get-started-content">
            <div class="text-center">
                <div class="headline-1 margin-1">
                    <span w-i18n="signIn.welcomeBack"></span>
                </div>

                <div class="body-2 basic-500 margin-3">
                    <span w-i18n="signIn.enterPass"></span>
                </div>
            </div>

            <w-sign-in-form
                on-success="$ctrl.onLogin()"
                on-reset-password="$ctrl.onResetPassword()"
            ></w-sign-in-form>
        </div>
    </div>
</div>

<w-footer class="footer"></w-footer>
