<md-autocomplete class="assets-autocomplete"
                 ng-class="{amount: $ctrl.type === 'amountAsset', price: $ctrl.type === 'priceAsset'}"
                 placeholder="Choose an asset or copy-paste an ID here"
                 md-menu-class="assets-autocomplete-popup"
                 md-selected-item="$ctrl.autocomplete.selectedAsset"
                 md-selected-item-change="$ctrl.changeAsset()"
                 md-search-text="$ctrl.autocomplete.searchText"
                 md-search-text-change=""
                 md-items="item in $ctrl.findAssets($ctrl.autocomplete.searchText)"
                 md-item-text="item.displayName"
                 md-clear-button="false"
                 md-no-cache="true"
                 md-min-length="0"
                 md-has-not-found="true"
                 md-select-on-focus>
  <md-item-template>
    <div class="asset-tile">
      <span class="label"
            ng-class="{'verified': item.verified}"
            md-highlight-text="$ctrl.autocomplete.searchText"
            title="{{item.verified ? 'Asset is verified' : ''}}">{{item.verified ? item.displayName : ''}}</span>
      <span class="muted">{{item.id}}</span>
    </div>
  </md-item-template>
  <md-not-found>
    <span ng-if="$ctrl.isAssetLoading">Loading...</span>
    <span ng-if="!$ctrl.isAssetLoading">Nothing is found!</span>
  </md-not-found>
</md-autocomplete>