<div class="workspace">
  <div class="choice">
    <div class="current-pair">{{$ctrl.currentPair.priceAsset.shortName}}/{{$ctrl.currentPair.amountAsset.shortName}}</div>
    <div class="picker-widget">
      <waves-dex-asset-picker name="Choose asset"
                              assets="$ctrl.assetsList"
                              chosen-asset="$ctrl.currentPair.priceAsset"
                              submit="$ctrl.changePair()"></waves-dex-asset-picker>
    </div>
    <div class="picker-widget">
      <waves-dex-asset-picker name="Choose asset"
                              assets="$ctrl.assetsList"
                              chosen-asset="$ctrl.currentPair.amountAsset"
                              submit="$ctrl.changePair()"></waves-dex-asset-picker>
    </div>
  </div>

  <div class="orderbooks">
    <div class="orderbook">
      <waves-dex-orderbook type="buy"
                           name="Buy orders"
                           pair="$ctrl.currentPair"
                           orders="$ctrl.buyOrders"></waves-dex-orderbook>
    </div>
    <div class="orderbook">
      <waves-dex-orderbook type="sell"
                           name="Sell orders"
                           pair="$ctrl.currentPair"
                           orders="$ctrl.sellOrders"></waves-dex-orderbook>
    </div>
    <div class="user-orders">
      <waves-dex-orderbook type="user"
                           name="My orders"
                           pair="$ctrl.currentPair"
                           orders="$ctrl.userOrders"></waves-dex-orderbook>
      <waves-dex-order-creator pair="$ctrl.currentPair"></waves-dex-order-creator>
    </div>
  </div>
</div>

<aside class="pairs-lists">
  <waves-dex-pairs-list type="favorite"
                        name="Favorites"
                        placeholder="You can add pairs here. Just press the star button!"
                        pairs="$ctrl.favoritePairs"
                        action="$ctrl.addFavorite()"></waves-dex-pairs-list>
  <waves-dex-pairs-list type="traded"
                        name="Most traded"
                        placeholder="Pairs will appear here soon."
                        pairs="$ctrl.tradedPairs"
                        action="$ctrl.showMoreTraded()"></waves-dex-pairs-list>
</aside>