<div class="flex-row upper">
  <div class="flex-col workspace">
    <div class="flex-row choice">
      <waves-dex-asset-picker></waves-dex-asset-picker>
      <waves-dex-asset-picker></waves-dex-asset-picker>
    </div>
    <div class="flex-row tools">
      <waves-dex-order-creator></waves-dex-order-creator>
      <div class="flex-col">
        <waves-dex-pair-info></waves-dex-pair-info>
        <waves-dex-pair-plot></waves-dex-pair-plot>
      </div>
    </div>
  </div>
  <aside class="col quick-choice"></aside>
</div>

<div class="flex-row lower">
  <waves-dex-orderbook></waves-dex-orderbook>
  <waves-dex-orderbook></waves-dex-orderbook>
  <waves-dex-orderbook></waves-dex-orderbook>
</div>