<div class="workspace">
  <div class="choice">
    <div class="current-pair">BTC/WAV</div>
    <div class="picker-widget">
      <waves-dex-asset-picker name="Price asset"
                              assets="$ctrl.assetsOne"></waves-dex-asset-picker>
    </div>
    <div class="picker-widget">
      <waves-dex-asset-picker name="Amount asset"
                              assets="$ctrl.assetsTwo"></waves-dex-asset-picker>
    </div>
  </div>

  <div class="orderbooks">
    <div class="orderbook">
      <waves-dex-orderbook name="Buy orders"
                           orders="$ctrl.buyOrders"></waves-dex-orderbook>
    </div>
    <div class="orderbook">
      <waves-dex-orderbook name="Sell orders"
                           orders="$ctrl.sellOrders"></waves-dex-orderbook>
    </div>
    <div class="user-orders">
      <waves-dex-user-orders></waves-dex-user-orders>
      <waves-dex-order-creator></waves-dex-order-creator>
    </div>
  </div>
</div>

<aside class="pairs-lists">
  <waves-dex-pairs-list type="favorite"
                        name="Favorites"
                        placeholder="You can add pairs here. Just press the star button!"
                        pairs="$ctrl.favoritePairs"
                        action="$ctrl.addFavorite()"></waves-dex-pairs-list>
  <waves-dex-pairs-list type="traded"
                        name="Most traded"
                        placeholder="Pairs will appear here soon."
                        pairs="$ctrl.tradedPairs"
                        action="$ctrl.showMoreTraded()"></waves-dex-pairs-list>
</aside>