<h3>{{$ctrl.name}}</h3>

<table ng-class="$ctrl.type">
  <thead>
    <tr>
      <td>Price</td>
      <td>{{$ctrl.pair.amountAsset.shortName}}</td>
      <td>{{$ctrl.pair.priceAsset.shortName}}</td>
      <td>SUM ({{$ctrl.pair.priceAsset.shortName}})</td>
    </tr>
  </thead>
</table>

<waves-scrollbox>
  <table ng-class="$ctrl.type">
    <tbody>
      <tr ng-repeat="order in $ctrl.orders" ng-click="$ctrl.lineClick($index)">
        <td ng-bind-html="order.price | number:$ctrl.pair.priceAsset.precision | padder:$ctrl.lengths.price"></td>
        <td ng-bind-html="order.amount | number:$ctrl.pair.amountAsset.precision | padder:$ctrl.lengths.amount"></td>
        <td ng-bind-html="order.total | number:$ctrl.pair.priceAsset.precision | padder:$ctrl.lengths.total"></td>
        <td ng-bind-html="order.sum | number:$ctrl.pair.priceAsset.precision | padder:$ctrl.lengths.sum"></td>
      </tr>
      <tr ng-if="!$ctrl.orders.length">
        <td colspan="4">
          <span>Some orders will appear soon.</span>
        </td>
      </tr>
    </tbody>
  </table>
</waves-scrollbox>