<h3>My orders</h3>

<table class="user">
  <thead>
    <tr>
      <td>Status</td>
      <td>Type</td>
      <td>Price</td>
      <td>{{$ctrl.pair.amountAsset.shortName}}</td>
      <td>{{$ctrl.pair.priceAsset.shortName}}</td>
      <td></td>
    </tr>
  </thead>
</table>

<waves-scrollbox>
  <table class="user">
    <tbody>
      <tr ng-repeat="order in $ctrl.orders"
          ng-class="{
            'filled': order.status === 'Filled' || order.status === 'Cancelled',
            'not-found': order.status === 'NotFound'
          }">
        <td>{{order.statusTitle}}</td>
        <td class="type" ng-class="order.type">{{order.typeTitle}}</td>
        <td>{{order.price | number:8}}</td>
        <td>{{order.amount | number:8}}</td>
        <td>{{order.total | number:8}}</td>
        <td ng-click="$ctrl.cancel({order: order})">&times;</td>
      </tr>
      <tr ng-if="!$ctrl.orders.length">
        <td colspan="6">
          <span>Create your first order!</span>
        </td>
      </tr>
    </tbody>
  </table>
</waves-scrollbox>
