@import (reference) 'config';

.create {
  .create-hidden {
    display: none;
  }

  md-dialog-content {
    padding: 20px 40px 40px;
  }

  .create-account {
    .input-like {
      background-color: @color-basic-50;
    }

  }
}

.create-account__checkbox {
  margin: 20px 0 30px;
}

@media screen and (max-width: 480px) {
  .create-account__checkbox {
    margin: 15px 0 20px;
  }
}