<div class="backup-seed">
    <a class="waves-logo" ui-sref="welcome"></a>
    <div class="headline-1">
        <span w-i18n="backupSeed.saveSecret"></span>
    </div>

    <div class="body-2 disabled-600">
        <span w-i18n="backupSeed.warn"></span>
        <a ng-click="$ctrl.next(-1)" w-i18n="backupSeed.back"></a>
    </div>

    <div class="body-2 basic-900">
        <span w-i18n="backupSeed.writeSeed"></span>
        <span>&nbsp;<span w-i18n="backupSeed.or"></span>&nbsp;<a ng-click="$ctrl.clickCopySeed()"
                                                                 w-copy="::$ctrl.seed"
                                                                 w-i18n="backupSeed.copySeed"></a></span>
    </div>

    <w-seed-read type="read" seed="{{::$ctrl.seed}}" class="no-user-select"></w-seed-read>

    <div class="body-2 basic-900">
        <span w-i18n="backupSeed.needConfirm"></span>
    </div>

    <div class="margin-4">
        <w-button class="submit big long" on-click="$ctrl.next()">
            <span w-i18n="backupSeed.ok"></span>
        </w-button>
    </div>
</div>
