<div class="backup-seed">
    <div class="waves-logo"></div>
    <div class="headline-1">
        <w-i18n>backupSeed.saveSecret</w-i18n>
    </div>

    <div class="body-2 disabled-600">
        <w-i18n>backupSeed.warn</w-i18n>
        <a ng-click="$ctrl.next(-1)" w-i18n="backupSeed.back"></a>
    </div>

    <div class="body-2 basic-900">
        <w-i18n>backupSeed.writeSeed</w-i18n>
        <span>&nbsp;<w-i18n>backupSeed.or</w-i18n>&nbsp;<a w-copy="::$ctrl.seed"
                                                           w-i18n="backupSeed.copySeed"></a></span>
    </div>

    <w-seed-read type="read" seed="{{::$ctrl.seed}}" class="no-user-select"></w-seed-read>

    <div class="body-2 basic-900">
        <w-i18n>backupSeed.needConfirm</w-i18n>
    </div>

    <div class="margin-4">
        <w-button class="submit big long" on-click="$ctrl.next()">
            <w-i18n>backupSeed.ok</w-i18n>
        </w-button>
    </div>
</div>
