<div class="confirm-backup">

    <a class="waves-logo" ui-sref=”welcome”></a>
    <div class="headline-1">
        <span w-i18n="confirmBackup.confirm"></span>
    </div>

    <div class="body-2 disabled-600">
        <span w-i18n="confirmBackup.description"></span>
        <a ng-click="$ctrl.next(-1)" w-i18n="confirmBackup.back"></a>
    </div>

    <w-seed-write class="margin-4"
                  on-fulfilled="$ctrl.onSeedConfirmFulfilled(isValid)"
                  on-touch="$ctrl.seedOnTouch()"
                  seed="{{::$ctrl.seed}}"></w-seed-write>

    <div class="body-2 basic-900">
        <span w-i18n="confirmBackup.enterCorrect"></span>
    </div>

    <w-seed-read type="random" seed="{{::$ctrl.seed}}"></w-seed-read>

    <div class="error-500"
         ng-if="$ctrl.seedConfirmWasFilled && !$ctrl.seedIsValid"
         w-i18n="confirmBackup.error"></div>

    <w-button class="submit big long"
              disabled="!$ctrl.seedIsValid"
              on-click="$ctrl.create()">
        <span w-i18n="confirmBackup.ok"></span>
    </w-button>

    <div class="or">
        <span w-i18n="noBackupNoMoney.or"></span>
    </div>

    <div class="body-2 margin-2">
        <a class="submit-400"
           ng-click="$ctrl.clearSeedConfirm()"
           w-i18n="confirmBackup.clear"></a>
        <span class="basic-900" w-i18n="confirmBackup.again"></span>
    </div>

</div>
