<div class="confirm-backup">

    <div class="headline-1 margin-1">
        <span w-i18n="confirmBackup.confirm"></span>
    </div>

    <div class="body-2 basic-500 margin-5 margin-top-1">
        <span w-i18n="confirmBackup.description"></span>
        <a ng-click="$ctrl.next(-1)" w-i18n="confirmBackup.back"></a>
    </div>

    <w-seed-write class="margin-4"
                  on-fulfilled="$ctrl.onSeedConfirmFulfilled(isValid)"
                  on-touch="$ctrl.seedOnTouch()"
                  seed="{{::$ctrl.seed}}"></w-seed-write>

    <div class="body-2 basic-900">
        <span w-i18n="confirmBackup.enterCorrect"></span>
    </div>

    <w-seed-read type="random" class="margin-4" seed="{{::$ctrl.seed}}"></w-seed-read>

    <div class="error-500 seed-error margin-3"
         ng-if="$ctrl.seedConfirmWasFilled && !$ctrl.seedIsValid"
         w-i18n="confirmBackup.error"></div>

    <div class="margin-2">
        <w-button class="submit big long"
                  disabled="!$ctrl.seedIsValid"
                  on-click="$ctrl.create()">
            <span w-i18n="confirmBackup.ok"></span>
        </w-button>
    </div>

    <w-get-started-link></w-get-started-link>

</div>
