<div class="get-started-content create-account movable" w-i18n-ns="app.create">
    <div class="text-center">
        <div class="headline-1 margin-1">
            <span w-i18n="createAccount.header.accountName"></span>
        </div>

        <div class="body-2 basic-500 margin-3">
            <span w-i18n="createAccount.description.enterName"></span>
            <a ng-click="$ctrl.next(-1)" w-i18n="backupSeed.back"></a>
        </div>
    </div>

    <w-account-name account-name="$ctrl.name" on-submit="$ctrl.next()">
        <span w-i18n="button.continue"></span>
    </w-account-name>

    <w-get-started-link has-import="::true"></w-get-started-link>
</div>
