<div class="get-started-content create-account movable">
    <div class="text-center">
        <div class="headline-1 margin-1">
            <!-- TODO:1978 i18n -->
            <span w-i18n="Account name"></span>
        </div>

        <div class="body-2 basic-500 margin-top-2 margin-4">
            <!-- TODO:1978 i18n -->
            <span w-i18n="Enter account name or"></span>
            <a ng-click="$ctrl.next(-1)" w-i18n="backupSeed.back"></a>
        </div>
    </div>

    <w-password
        name="$ctrl.name"
        password="$ctrl.password"
        on-submit="$ctrl.next()"
    >
        <span w-i18n="button.continue"></span>
    </w-password>

    <w-get-started-link has-sign-in="::false" has-import="::true"></w-get-started-link>
</div>
