<div class="create-account">

    <h1>
        <w-i18n>createAccount.createNewAccount</w-i18n>
    </h1>

    <div class="grey body-2">
        <w-i18n>createAccount.signUp</w-i18n>
        <a ui-sref="restore">
            <w-i18n>createAccount.restore</w-i18n>
        </a>
        <w-i18n>createAccount.from</w-i18n>
    </div>

    <div class="separate"></div>

    <div class="left body-2">
        <w-i18n>createAccount.choose</w-i18n>
    </div>
    <div class="left grey">
        <w-i18n>createAccount.avatarUnique</w-i18n>
    </div>

    <div class="avatars-list">
        <div class="avatar-wrapper"
             ng-repeat="seed in $ctrl.seedList track by seed.address"
             ng-class="{active: seed.active}"
             ng-click="$ctrl.setActiveSeed(seed)">
            <w-avatar size="49"
                      address="seed.address"></w-avatar>
        </div>
    </div>

    <form name="create" novalidate ng-submit="create.$valid && $ctrl.next()">
        <w-input-container>
            <div class="left body-2">
                <w-i18n>createAccount.passTitle</w-i18n>
            </div>
            <w-input name="password"
                     type="password"
                     class="big"
                     ng-model="$ctrl.password"
                     minlength="8"
                     required></w-input>
            <w-complexity-meter field="password"></w-complexity-meter>
        </w-input-container>
        <w-input-container>
            <div class="left body-2">
                <w-i18n>createAccount.repeat</w-i18n>
            </div>
            <w-input type="password"
                     class="no-icon big"
                     name="confirm"
                     w-validate="compare"
                     required
                     w-compare-to="password"
                     ng-model="$ctrl.confirmPassword">
            </w-input>
        </w-input-container>

        <w-button-submit disabled="create.password.$invalid || create.confirm.$invalid" type="submit" mod="big">
            <w-i18n>continue</w-i18n>
        </w-button-submit>
    </form>

</div>
