<div class="get-started-content create-account movable" w-i18n-ns="app.create">
    <w-step-by-step active-step="$ctrl.invitationStep">
        <w-step>
            <div class="text-center">
                <w-slider interval="2000" class="margin-3">
                    <!-- TODO:1978 slider with 3 slides -->
                    <div>
                        <div class="icon-started-blockchain margin-auto margin-1"></div>
                        <div class="headline-1 margin-1">
                            <span w-i18n="createAccount.header.withBlockchain"></span>
                        </div>

                        <div class="body-2 basic-500">
                            <span w-i18n="createAccount.description.becomePart"></span>
                        </div>
                    </div>

                    <div>
                        <div class="icon-started-blockchain margin-auto margin-1"></div>
                        <div class="headline-1 margin-1">
                            <span w-i18n="createAccount.header.withBlockchain"></span>
                        </div>

                        <div class="body-2 basic-500">
                            <span w-i18n="createAccount.description.becomePart"></span>
                        </div>
                    </div>

                    <div>
                        <div class="icon-started-blockchain margin-auto margin-1"></div>
                        <div class="headline-1 margin-1">
                            <span w-i18n="createAccount.header.withBlockchain"></span>
                        </div>

                        <div class="body-2 basic-500">
                            <span w-i18n="createAccount.description.becomePart"></span>
                        </div>
                    </div>
                </w-slider>

                <w-button class="submit long big" on-click="$ctrl.nextInvitationStep()">
                    <div class="full-width" w-i18n="createAccount.createAccount"></div>
                </w-button>
            </div>
        </w-step>

        <w-step>
            <div class="text-center">
                <div class="headline-1 margin-1">
                    <span w-i18n="createAccount.createNewAccount"></span>
                </div>

                <div class="body-2 basic-500">
                    <span w-i18n="createAccount.from"></span>
                </div>

            </div>

            <div class="avatars-list flex margin-1 margin-top-1">
                <div class="avatar-wrapper"
                        ng-repeat="seed in $ctrl.seedList track by seed.address"
                        ng-class="{active: seed.active}"
                        ng-click="$ctrl.setActiveSeed(seed)">
                    <w-avatar address="seed.address"></w-avatar>
                </div>
            </div>

            <div class="body-2 basic-900 margin-05" w-i18n="createAccount.address"></div>

            <w-copy-wrap class="body-2 margin-2"
                    info="$ctrl.address">{{$ctrl.address}}
                <w-loader ng-if="!$ctrl.address"></w-loader>
            </w-copy-wrap>

            <!-- hidden by #1978 -->
            <!-- <div class="flex get-started-checkbox-save">
                <w-checkbox-submit ng-model="$ctrl.saveUserData" id="save-user-data"></w-checkbox-submit>
                <label for="save-user-data" class="footnote-1">
                    <span class="basic-500" w-i18n="createAccount.saveUserData"></span>
                </label>
            </div> -->
           

            <w-button
                on-click="$ctrl.next($ctrl.stepIndex + $ctrl.saveUserData ? 1 : 2)"
                class="submit long big">
                <span w-i18n="button.continue"></span>
            </w-button>
        </w-step>
    </w-step-by-step>

    <w-get-started-link has-sign-in="::false" has-import="::true"></w-get-started-link>
</div>
