<md-dialog w-i18n-ns="app.create" class="no-backup-no-money-modal" aria-label="modal">
    <div class="icon"></div>

    <div class="headline-1">
        <w-i18n>noBackupNoMoney.modal.title</w-i18n>
    </div>

    <div class="body-2 disabled-600">
        <div class="margin-1"><w-i18n>noBackupNoMoney.modal.descriptionP1</w-i18n></div>
        <div class="margin-1"><w-i18n>noBackupNoMoney.modal.descriptionP2</w-i18n></div>
        <div><w-i18n>noBackupNoMoney.modal.descriptionP3</w-i18n></div>
    </div>

    <w-button class="submit big" w-modal-hide>
        <w-i18n>noBackupNoMoney.modal.ok</w-i18n>
    </w-button>
</md-dialog>
