<div class="no-backup-no-money">

    <div class="icon"></div>

    <div class="headline-1">
        <w-i18n>noBackupNoMoney.title</w-i18n>
    </div>

    <div class="body-2 disabled-600">
        <w-i18n>noBackupNoMoney.description</w-i18n>
    </div>

    <w-button class="submit big" ng-click="$ctrl.next()">
        <w-i18n>noBackupNoMoney.backup</w-i18n>
    </w-button>

    <div class="or">
        <w-i18n>noBackupNoMoney.or</w-i18n>
    </div>

    <a class="body-2" ng-click="$ctrl.next(100)">
        <w-i18n>noBackupNoMoney.skip</w-i18n>
    </a>

</div>
