<md-dialog w-i18n-ns="app.create" class="no-backup-no-money-modal" aria-label="modal">
    <div>
        <div class="icon"></div>

        <div class="headline-1">
            <span w-i18n="noBackupNoMoney.modal.title"></span>
        </div>

        <div class="body-2 disabled-600">
            <div class="margin-1"><span w-i18n="noBackupNoMoney.modal.descriptionP1"></span></div>
            <div class="margin-1"><span w-i18n="noBackupNoMoney.modal.descriptionP2"></span></div>
            <div><span w-i18n="noBackupNoMoney.modal.descriptionP3"></span></div>
        </div>

        <w-button class="submit big" has-loader="true" w-modal-hide>
            <span w-i18n="noBackupNoMoney.modal.ok"></span>
        </w-button>
    </div>
</md-dialog>
