<div class="no-backup-no-money">

    <a class="waves-logo" ui-sref="welcome"></a>

    <div class="icon"></div>

    <div class="headline-1">
        <span w-i18n="noBackupNoMoney.title"></span>
    </div>

    <div class="body-2 disabled-600">
        <span w-i18n="noBackupNoMoney.description"></span>
    </div>

    <w-button class="submit big" on-click="$ctrl.next()">
        <span w-i18n="noBackupNoMoney.backup"></span>
    </w-button>

    <div class="or">
        <span w-i18n="noBackupNoMoney.or"></span>
    </div>

    <div class="margin-2">
        <a class="body-2" ng-click="$ctrl.createWithoutBackup()">
            <span w-i18n="noBackupNoMoney.skip"></span>
        </a>
    </div>

</div>
