<w-main-header class="main-header"></w-main-header>

<div w-i18n-ns="app.restore" class="main-container movable">
    <div class="main-container-wrapper">
        <div class="restore-content get-started-content">
            <w-step-by-step active-step="$ctrl.activeStep">
                <w-step>
                    <div class="headline-1 margin-2 text-center" w-i18n="seedOrKeyForm.title"></div>
                    <div class="body-2 text-center margin-2">
                        <span class="basic-500" w-i18n="seedOrKeyForm.description"></span>
                    </div>

                    <div class="restore-tabs tab">
                        <div ng-repeat="tab in $ctrl.tabs"
                             class="tab__item"
                             ng-class="{active: $ctrl.activeTab === tab}"
                             ng-click="$ctrl.setActiveTab(tab)"
                             w-i18n="{{::tab}}Tab"></div>
                    </div>

                    <div ng-show="$ctrl.activeTab === TABS.seed" class="body-2 margin-05 basic-900"
                         w-i18n="seedOrKeyForm.seedTitle"></div>
                    <div ng-show="$ctrl.activeTab === TABS.key" class="body-2 margin-05 basic-900"
                         w-i18n="seedOrKeyForm.keyTitle"></div>

                    <div class="seed-block margin-2">
                        <form ng-show="$ctrl.activeTab === TABS.seed" name="$ctrl.seedForm">
                            <w-input textarea
                                     w-autofocus
                                     class="embed no-icon"
                                     ng-model="$ctrl.seed"
                                     placeholder="seedForm.placeholder"
                                     w-i18n-attr="placeholder"
                                     minlength="25"
                                     required></w-input>
                        </form>
                        <form ng-show="$ctrl.activeTab === TABS.key" name="$ctrl.keyForm">
                            <w-input textarea
                                     w-autofocus
                                     class="embed no-icon"
                                     ng-model="$ctrl.key"
                                     placeholder="keyForm.placeholder"
                                     w-i18n-attr="placeholder"
                                     required></w-input>
                        </form>
                        <div class="address-block-info">
                            <w-avatar ng-if="$ctrl.address" class="address-block-avatar"
                                      address="$ctrl.address"></w-avatar>
                            <div ng-if="!$ctrl.address" class="avatar-fake margin-right-1"></div>
                            <div class="address-block">
                                <div class="footnote-1 basic-700" w-i18n="seedForm.address"></div>
                                <div ng-class="{empty: !$ctrl.address}"
                                     class="address body-1 basic-500 mobile-caption-2">
                                    {{$ctrl.address}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="$ctrl.activeTab === TABS.seed && $ctrl.address && $ctrl.seed.length <= 59"
                         class="plate-warning warning-500 body-2 margin-3">
                        <div class="body-2 margin-05" w-i18n="warningSeed.title"></div>
                        <div class="footnote-1 basic-500" w-i18n="warningSeed.message"></div>
                    </div>

                    <w-button disabled="!$ctrl.address" class=" submit big long" on-click="$ctrl.nextStep()">
                        <span w-i18n="seedForm.continue"></span>
                    </w-button>
                </w-step>

                <w-step>
                    <div class="headline-1 margin-1 text-center" w-i18n="passwordForm.title"></div>
                    <div class="body-2 text-center margin-5">
                        <span class="basic-500" w-i18n="passwordForm.description"></span>
                        <a w-i18n="passwordForm.back" w-step-prev ng-click="$ctrl.resetNameAndPassword()"></a>
                    </div>

                    <w-password
                        name="$ctrl.name"
                        password="$ctrl.password"
                        address="$ctrl.address"
                        on-submit="$ctrl.restore()"
                    >
                        <span w-i18n-ns="app.restore">
                            <span w-i18n="passwordForm.login"></span>
                        </span>
                    </w-password>

                </w-step>
            </w-step-by-step>

            <w-get-started-link has-sign-in="::false" has-create="::true"></w-get-started-link>
        </div>
    </div>
</div>

<w-footer></w-footer>
