<md-dialog w-i18n-ns="app.utils" class="add-asset" aria-label="modal">
    <md-dialog-content>
        <div class="btn icon-close" w-modal-close></div>
        <div class="margin-4 add-asset__wrapper">
            <div class="add-asset__header">
                <h3 class="text-center basic-700" w-i18n="modal.pinAsset.title"></h3>
            </div>
            <w-search class="search-wrapper">
                <input class="search-input"
                       type="w-search"
                       w-i18n-ns="app.utils"
                       w-i18n-attr="placeholder"
                       placeholder="modal.pinAsset.placeholder"
                       ng-model="$ctrl.search">
            </w-search>
            <ul class="add-asset__select">
                <li ng-repeat="asset in $ctrl.pinnedAssetNewList track by asset.id">
                    <label class="mobile-caption-2">
                        <w-checkbox-submit ng-model="asset.pinned"></w-checkbox-submit>
                        <w-asset-logo size="24" asset-id="asset.id"></w-asset-logo>
                        <div class="name basic-700">{{::asset.name}}</div>
                        <div class="asset-id basic-500">{{::asset.id}}</div>
                    </label>
                </li>
            </ul>
        </div>
        <div>
            <div class="buttons-wrapper">
                <w-button class="button button__elem button__elem_big" w-modal-close>
                    <span w-i18n="modal.pinAsset.cancel"></span>
                </w-button>
                <w-button class="button button__elem button__elem_big button__elem_submit"
                          on-click="$ctrl.onSubmit()"
                          disabled="!$ctrl.selected">
                    <span w-i18n="modal.pinAsset.submit"></span>
                </w-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
