<w-table-cell ng-class="{sorting: sorting, asc: sorting && isAsc, desc: sorting && !isAsc}">
    <div class="cell" w-i18n-ns="{{::title.ns}}">
        <div ng-if="::search" class="smart-table__search-container">
            <input placeholder="{{::placeholder}}"
                   attr-params="searchLocale.params"
                   w-i18n-attr="placeholder"
                   ng-model="searchQuery"
                   ng-class="{'not-empty': searchQuery != ''}"/>
            <i class="input-clear"
               ng-if="searchQuery"
               ng-click="searchQuery = ''"></i>
        </div>
        <div ng-if="::title.literal"
             class="smart-table__header"
             ng-class="::{'sort-by': sort}"
             w-i18n="{{title.literal}}"
             params="title.params">
        </div>
    </div>
</w-table-cell>
