@import (reference) 'icons';

.icon-close {
  width: 16px;
  height: 16px;
  background-image: @close-icon;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
}

.visa-icon {
  display: block;
  width: 42px;
  height: 42px;
  background: url(/img/icons/visa-icon.svg) center no-repeat;
}

.mastercard-icon {
  display: block;
  width: 42px;
  height: 42px;
  background: url(/img/icons/mastercard-icon.svg) center no-repeat;
}

.card-success-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: @card-success-icon center no-repeat;
}

.bank-success-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: url(/img/icons/bank-success.svg) center no-repeat;
}

.bank-building-success-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: url(/img/icons/bank-building-success.svg) center no-repeat;
}

.verified-icon {
  background: url(/img/icons/input-valid-icon.svg) center center no-repeat rgba(129, 201, 38, 0.1);
  border-radius: 100%;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.btn-send {
  .btn-icon::before {
    transition: .3s;
  }
  &:hover {
    .btn-icon::before {
    }
  }
}

.btn-receive {
  svg {
    transform-origin: center;
    transform: rotate(-180deg)
  }
}

.icon-qr::before {
  background-image: url(/img/icons/qr-code-small.svg);
}

.icon-tx-success {
  background-image: url(/img/icons/check.svg);
  width: 80px;
  height: 80px;
  background-size: 100% 100%;
  margin: 10px auto 20px auto;
}

.icon-tx-bg {
  background-image: url(/img/icons/transaction-icons.svg);
  background-size: auto @tx-icon-size;
  background-repeat: no-repeat;
}

.icon-tx-create-alias {
  &::before {
    .icon-tx-bg();
    background-position: 0 center;
  }
  background-color: rgba(53, 165, 245, 0.1);
}

.icon-tx-cancel-leasing {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size center;
  }
  background-color: rgba(239, 72, 41, 0.1);
}

.icon-tx-exchange {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 2 center;
  }
  background-color: rgba(171, 125, 246, 0.1);
}

.icon-tx-receive {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 3 center;
  }
  background-color: rgba(129, 201, 38, 0.1);
}

.icon-tx-circular {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 4 center;
  }
  background-color: rgba(239, 72, 41, 0.1);
}

.icon-tx-send {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 5 center;
  }
  background-color: rgba(255, 175, 0, 0.1);
}

.icon-tx-lease {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 6 center;
  }
  background-color: rgba(129, 201, 38, 0.1);
}

.icon-tx-burn {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 7 center;
  }
  background-color: rgba(255, 175, 0, 0.1);
}

.icon-tx-issue {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 8 center;
  }
  background-color: rgba(38, 193, 201, 0.1);
}

.icon-tx-reissue {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 9 center;
  }
  background-color: rgba(129, 201, 38, 0.1);
}

.icon-tx-incoming-leasing {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 10 center;
  }
  background-color: rgba(90, 129, 234, 0.1);
}

.icon-tx-unknown {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 11 center;
  }
  background-color: rgba(153, 153, 153, 0.1);
}

.icon-tx-mass-transfer {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 12 center;
  }
  background-color: rgba(255, 175, 0, 0.1); // TODO : specify the exact color (this one is taken from the send tx)
}

.icon-tx-mass-receive {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 13 center;
  }
  background-color: rgba(129, 201, 38, 0.1);
}

.icon-tx-spam {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 14 center;
  }
  background-color: rgba(153, 153, 153, 0.1);
}

.icon-tx-mass-spam {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 15 center;
  }
  background-color: rgba(153, 153, 153, 0.1);
}

.icon-tx-data {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 16 center;
  }
  background-color: rgba(90, 129, 234, 0.1);
}

.icon-tx-sponsorship-start {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 17 center;
  }
  background-color: rgba(129, 201, 38, 0.1);
}

.icon-tx-sponsorship-stop {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 18 center;
  }
  background-color: rgba(239, 72, 41, 0.1);
}

.icon-tx-sponsorship-plus {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 19 center;
  }
  background-color: rgba(129, 201, 38, 0.1);
}

//.icon-tx-sponsorship-minus {
//  &::before {
//    .icon-tx-bg();
//    background-position: -@tx-icon-size * 20 center;
//  }
//  background-color: rgba(90, 129, 234, 0.1);
//}

.icon-info {
  width: 20px;
  height: 20px;
  background: @info-icon center no-repeat;
  display: block;
}

.icon-filter {
  background-position: center;
  background-repeat: no-repeat;
  background-image: @filter-icon;
  display: inline-block;
}

.icon-lock {
  width: 16px;
  height: 16px;
  background: url(/img/icons/icon-lock.svg) left center no-repeat;
  display: block;
}

.icon-browser {
  width: 80px;
  height: 80px;
  background: url(/img/icons/userimg-browsershare-80-submit-300.svg) center no-repeat;
  display: block;
}

.icon-grey-warning {
  width: 16px;
  height: 16px;
  background: url(/img/icons/info-14-basic-700.svg) left center no-repeat;
  display: block;
}

.icon-disconnected {
  display: block;
  margin: 20px auto 20px auto;
  width: 80px;
  height: 80px;
  background: url(/img/no-preload/not-supported-browser.svg) center top no-repeat;
}

.icon-browser-warning {
  display: block;
  margin: 20px auto 20px auto;
  width: 80px;
  height: 80px;
  background: url(/img/no-preload/userimg-browserwarning-80-mix-sunset.svg) center top no-repeat;
}

.icon-connected {
  display: block;
  margin: 20px auto 20px auto;
  width: 80px;
  height: 80px;
  background: url(/img/icons/icon-connected.svg) center top no-repeat;
}

.icon-sorting {
  display: inline-block;
  margin-left: 4px;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  background: @sorting-icon center top no-repeat;
}

.icon-dex-arrow {
  display: inline-block;
  background-image: @dex-toggle-icon;
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-dex-tospread {
  display: inline-block;
  background-image: @orderbook-to-spread-icon;
  background-repeat: no-repeat;
  background-position: center center;
}
