@tx-icon-size: 32px;

.icon-close {
  width: 16px;
  height: 16px;
  background-image: url(/img/icons/close.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
}

.visa-icon {
  display: block;
  width: 42px;
  height: 42px;
  background: url(/img/icons/visa-icon.svg) center no-repeat;
}

.mastercard-icon {
  display: block;
  width: 42px;
  height: 42px;
  background: url(/img/icons/mastercard-icon.svg) center no-repeat;
}

.card-success-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: url(/img/icons/card-success.svg) center no-repeat;
}

.bank-success-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: url(/img/icons/bank-success.svg) center no-repeat;
}

.bank-building-success-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: url(/img/icons/bank-building-success.svg) center no-repeat;
}

.verified-icon {
  background: url(/img/icons/input-valid-icon.svg) center center no-repeat rgba(129, 201, 38, 0.1);
  border-radius: 100%;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-send::before {
  background-image: url(/img/icons/send.svg);
}

.icon-deposit::before {
  background-image: url(/img/icons/deposit.svg);
}

.icon-qr::before {
  background-image: url(/img/icons/qr-code-small.svg);
}

.icon-add-asset::before {
  background-image: url(/img/icons/add-asset.svg);
}

.icon-sorting {
  background: url(/img/icons/arrow-sorting.svg) center;
  display: inline-block;
  width: 10px;
  height: 10px;
}

.icon-tx-success {
  background-image: url(/img/icons/check.svg);
  width: 80px;
  height: 80px;
  background-size: 100% 100%;
  margin: 10px auto 20px auto;
}

.icon-tx-bg {
  background-image: url(/img/icons/transaction-icons.svg);
  background-size: auto @tx-icon-size;
  background-repeat: no-repeat;
}

.icon-tx-create-alias {
  &::before {
    .icon-tx-bg();
    background-position: 0 center;
  }
  background-color: rgba(53, 165, 245, 0.1);
}

.icon-tx-cancel-leasing {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size center;
  }
  background-color: rgba(239, 72, 41, 0.1);
}

.icon-tx-exchange {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 2 center;
  }
  background-color: rgba(171, 125, 246, 0.1);
}

.icon-tx-receive {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 3 center;
  }
  background-color: rgba(129, 201, 38, 0.1);
}

.icon-tx-circular {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 4 center;
  }
  background-color: rgba(239, 72, 41, 0.1);
}

.icon-tx-send {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 5 center;
  }
  background-color: rgba(255, 175, 0, 0.1);
}

.icon-tx-lease {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 6 center;
  }
  background-color: rgba(129, 201, 38, 0.1);
}

.icon-tx-burn {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 7 center;
  }
  background-color: rgba(255, 175, 0, 0.1);
}

.icon-tx-issue {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 8 center;
  }
  background-color: rgba(38, 193, 201, 0.1);
}

.icon-tx-reissue {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 9 center;
  }
  background-color: rgba(129, 201, 38, 0.1);
}

.icon-tx-incoming-leasing {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 10 center;
  }
  background-color: rgba(90, 129, 234, 0.1);
}

.icon-tx-unknown {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 11 center;
  }
  background-color: rgba(153, 153, 153, 0.1);
}

.icon-tx-mass-transfer {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 12 center;
  }
  background-color: rgba(255, 175, 0, 0.1); // TODO : specify the exact color (this one is taken from the send tx)
}

.icon-tx-mass-receive {
  &::before {
    .icon-tx-bg();
    background-position: -@tx-icon-size * 13 center;
  }
  background-color: rgba(129, 201, 38, 0.1);
}

.icon-info {
  width: 20px;
  height: 20px;
  background: url(/img/icons/info-icon.svg) center no-repeat;
  display: block;
}


.icon-filter {
  width: 14px;
  height: 14px;
  background: url(/img/icons/icon-filter.svg) center no-repeat;
  display: inline-block;
}

.icon-lock {
  width: 16px;
  height: 16px;
  background: url(/img/icons/icon-lock.svg) center no-repeat;
  display: block;
}

.icon-disconnected {
  display: block;
  margin: 20px auto 20px auto;
  width: 80px;
  height: 80px;
  background: url(/img/no-preload/not-supported-browser.svg) center top no-repeat;
}

.icon-connected {
  display: block;
  margin: 20px auto 20px auto;
  width: 80px;
  height: 80px;
  background: url(/img/icons/icon-connected.svg) center top no-repeat;
}
