<form name="$ctrl.create"
      ng-submit="$ctrl.create.$valid && $ctrl.onSubmit()"
      w-i18n-ns="app.ui"
      novalidate>

    <div class="left body-2">
        <w-i18n>password.name</w-i18n>
    </div>
    <w-input-container class="margin-3">
        <w-input w-autofocus
                 class="big no-validate no-icon"
                 type="text"
                 maxlength="20"
                 ng-model="$ctrl.name"></w-input>
    </w-input-container>

    <div class="left body-2">
        <w-i18n>password.title</w-i18n>
    </div>
    <w-input-container>
        <w-input name="password"
                 type="password"
                 class="big no-validate no-icon"
                 ng-model="$ctrl.password"
                 minlength="8"
                 required></w-input>
        <w-complexity-meter field="password">
            <complexity-message message="minlength, required">
                <w-i18n params="{minLength: 8}">password.minLength</w-i18n>
            </complexity-message>
            <complexity-message type="warn">
                <w-i18n>password.warn</w-i18n>
            </complexity-message>
            <complexity-message type="success">
                <w-i18n>password.secure</w-i18n>
            </complexity-message>
        </w-complexity-meter>
    </w-input-container>

    <w-input-container class="margin-3">
        <div class="left body-2">
            <w-i18n>password.repeat</w-i18n>
        </div>
        <w-input type="password"
                 class="no-icon big"
                 name="confirm"
                 required
                 w-validate
                 w-validator-compare="password"
                 ng-model="$ctrl.confirmPassword">
        </w-input>
    </w-input-container>

    <w-button disabled="$ctrl.create.$invalid"
              class="submit long big">
        <div class="full-width" ng-transclude></div>
    </w-button>
</form>
