<form w-i18n-ns="app.ui" name="$ctrl.create" novalidate>
    <div class="left body-2">
        <w-i18n>password.title</w-i18n>
    </div>
    <w-input-container>
        <w-input name="password"
                 type="password"
                 class="big no-validate"
                 ng-model="$ctrl.password"
                 minlength="8"
                 required></w-input>
        <w-complexity-meter field="password">
            <complexity-message message="minlength, required">
                <w-i18n params="{minLength: 8}">password.minLength</w-i18n>
            </complexity-message>
            <complexity-message type="warn">
                <w-i18n>password.warn</w-i18n>
            </complexity-message>
            <complexity-message type="success">
                <w-i18n>password.secure</w-i18n>
            </complexity-message>
        </w-complexity-meter>
    </w-input-container>

    <w-input-container class="margin-3">
        <div class="left body-2">
            <w-i18n>password.repeat</w-i18n>
        </div>
        <w-input type="password"
                 class="no-icon big"
                 name="confirm"
                 w-validate="compare"
                 required
                 w-compare-to="password"
                 ng-model="$ctrl.confirmPassword">
        </w-input>
    </w-input-container>
</form>
