<div>
    <span class="body-2 basic-900" w-i18n="modal.account.address"></span>
    <w-copy-wrap info="::$ctrl.address" ng-click="$ctrl.onCopyAddress()">
        <w-avatar size="30" address="$ctrl.address"></w-avatar>
        <div class="body-1 basic-900 mobile-low-fsize">{{::$ctrl.address}}</div>
    </w-copy-wrap>

    <div class="row">
        <span class="body-2 basic-900 modal-header" w-i18n="modal.account.aliases"></span>
        <div class="alias-list">
            <w-copy-wrap class="body-1 basic-900"
                         ng-repeat="alias in $ctrl.aliases"
                         ng-click="$ctrl.onCopyAlias()"
                         info="::alias">
                {{::alias}}
            </w-copy-wrap>
            <w-step-by-step active-step="$ctrl.createAliasStep">
                <w-step>
                    <div class="create-alias-wrap">
                        <w-button class="tiny margin-right-1" w-step-next>
                            <w-i18n>modal.account.create</w-i18n>
                        </w-button>
                        <span class="caption-1 basic-700"
                              params="{price: $ctrl.fee.toTokens(), name: $ctrl.fee.asset.name}"
                              w-i18n="modal.account.fee"></span>
                    </div>
                </w-step>
                <w-step>
                    <form name="form" novalidate ng-submit="form.$valid && $ctrl.createAlias()">
                        <div class="closable-input-wrapper">
                            <w-input ng-model="$ctrl.newAlias"
                                     class="embed no-icon new-alias"
                                     type="text"
                                     placeholder="modal.account.placeholder"
                                     required
                                     w-i18n-attr="placeholder"
                                     ng-pattern="/^[a-z0-9-@_.]*$/"
                                     maxlength="30"
                                     minlength="4"></w-input>
                            <div class="icon-close"
                                 ng-click="$ctrl.reset()"
                                 w-step-prev></div>
                        </div>
                        <div class="create-alias-wrap">
                            <w-button disabled="form.$invalid" class="submit tiny margin-right-1" type="submit">
                                <w-i18n>modal.account.create</w-i18n>
                            </w-button>
                            <span class="caption-1 basic-700"
                                  params="{price: $ctrl.fee.toTokens(), name: $ctrl.fee.asset.name}"
                                  w-i18n="modal.account.fee"></span>
                        </div>
                    </form>
                </w-step>
            </w-step-by-step>
        </div>
    </div>
</div>
