<div>
    <span class="body-2 basic-900 margin-top-4 margin-05 block" w-i18n="modal.account.address"></span>
    <w-copy-wrap class="copy-wrap" info="::$ctrl.address" ng-click="$ctrl.onCopyAddress()">
        <w-avatar class="avatar" size="30" address="$ctrl.address"></w-avatar>
        <div class="copy-wrap__content body-1">{{::$ctrl.address}}</div>
    </w-copy-wrap>

    <div class="row">
        <span class="body-2 basic-900 margin-05 modal-header" w-i18n="modal.account.aliases"></span>
        <w-help-icon>
            <div class="help-icon__row headline-3" w-i18n="modal.accountInfo.alias.helpIcon.row1"></div>
            <div class="help-icon__row" w-i18n="modal.accountInfo.alias.helpIcon.row2"></div>
            <div class="help-icon__row" w-i18n="modal.accountInfo.alias.helpIcon.row3"></div>
        </w-help-icon>
        <div class="alias-list">
            <w-copy-wrap class="copy-wrap copy-wrap_infoModal body-1"
                         ng-repeat="alias in $ctrl.aliases"
                         ng-click="$ctrl.onCopyAlias()"
                         info="::alias">
                {{::alias}}
            </w-copy-wrap>
        </div>
    </div>
</div>
