<md-dialog class="modal-password" w-i18n-ns="app" aria-label="enter_password">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <div class="headline-1"
                 w-i18n="modal.enterPassword.title"></div>
            <span flex></span>
            <div class="btn icon-close" ng-click="$ctrl.cancel()"></div>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <form name="password" ng-submit="password.$valid && $ctrl.ok()" novalidate>
            <w-input type="password"
                     ng-model="$ctrl.password"
                     required
                     name="password"></w-input>

            <w-button class="submit" type="submit">
                <w-i18n>modal.enterPassword.ok</w-i18n>
            </w-button>
        </form>
    </md-dialog-content>
</md-dialog>
