<div class="txinfo__lead">
    <h3 class="basic-700"
        w-i18n="transaction.amounts.{{::$ctrl.type}}"
        params="{amount: $ctrl.transaction.amount.toFormat(), name: $ctrl.transaction.amount.asset.name}"></h3>
    <div class="body-2 basic-500">≈ {{::$ctrl.mirrorBalance.toFormat()}} {{::$ctrl.mirrorBalance.asset.name}}</div>
</div>

<div class="txinfo__row">
    <div class="txinfo__key" w-i18n="transaction.modals.to" ng-if="::$ctrl.type === 'lease-out'"></div>
    <div class="txinfo__key" w-i18n="transaction.modals.from" ng-if="::$ctrl.type === 'lease-in'"></div>
    <div class="txinfo__value">{{::$ctrl.shownAddress}}</div>
</div>

<!--TODO : isActive-->
