<div w-i18n-ns="{{::$ctrl.locale}}" class="transaction-confirm">
    <w-step-by-step active-step="$ctrl.step">
        <w-step>
            <w-transaction-info class="margin-3"
                                transaction="$ctrl.tx"></w-transaction-info>

            <w-i18n ng-if="$ctrl.referrer" params="{referrer: $ctrl.referrer}">confirmTransaction.redirect</w-i18n>

            <w-i18n ng-repeat="error in $ctrl.errors">{{::error.literal}}</w-i18n>

            <div class="buttons-wrapper">
                <w-button ng-if="!$ctrl.noBackButton" class="big" on-click="$ctrl.onClickBack()">
                    <w-i18n>confirmTransaction.back</w-i18n>
                </w-button>
                <w-button class="big submit"
                          disabled="$ctrl.errors.length > 0"
                          ng-class="{long: $ctrl.noBackButton}"
                          w-next-step
                          on-click="$ctrl.confirm()">
                    <w-i18n>confirmTransaction.confirm</w-i18n>
                </w-button>
            </div>
        </w-step>
        <w-step>
            <div class="text-center">
                <div class="icon-tx-success"></div>
                <h2 class="text-center basic-900" w-i18n="confirmTransaction.success"></h2>
                <div class="disabled-600 margin-4 body-2 text-center"
                     w-i18n="confirmTransaction.description.{{::$ctrl.tx.type}}" params="$ctrl.tx"></div>
                <w-button class="submit half big" on-click="$ctrl.showTxInfo()">
                    <w-i18n>confirmTransaction.details</w-i18n>
                </w-button>
            </div>
        </w-step>
    </w-step-by-step>
</div>
