<div w-i18n-ns="{{::$ctrl.locale}}" class="transaction-confirm">
    <w-step-by-step active-step="$ctrl.step">
        <w-step>
            <w-transaction-info class="margin-3" transaction="$ctrl.tx"></w-transaction-info>
            <div class="buttons-wrapper">
                <w-button class="big" ng-click="$ctrl.onClickBack()">
                    <w-i18n>confirmTransaction.back</w-i18n>
                </w-button>
                <w-button ng-click="$ctrl.confirm()" class="big submit">
                    <w-i18n>confirmTransaction.confirm</w-i18n>
                </w-button>
            </div>
        </w-step>
        <w-step>

            <div class="icon icon-success margin-2"></div>
            <h2 class="text-center basic-900" w-i18n="success.title"></h2>

            <w-button class="submit big" ng-click="$ctrl.showTxInfo()">
                <w-i18n>success.done</w-i18n>
            </w-button>

        </w-step>
    </w-step-by-step>
</div>