@import (reference) "../../../config";
@import (reference) "../../../app/less/icons";

.import-accounts {
  min-height: 472px;

  .icon-close {
    position: absolute;
    top: -40px;
    right: 0;
  }
}

.import-modal {
  position: relative;

  &__icon {
    &-beta {
      background: url(/img/icons/logo-beta.svg) center no-repeat;
      width: 60px;
      height: 60px;
      display: block;
      margin: 0 auto 30px auto;
    }

    &-old {
      background: url(/img/icons/logo-alfa.svg) center no-repeat;
      width: 60px;
      height: 60px;
      display: block;
      margin: 0 auto 30px auto;
    }

    &-error {
      background: url(/img/icons/icon-error-import.svg) center no-repeat;
      width: 80px;
      height: 80px;
      display: block;
      margin: 0 auto 30px auto;
    }
  }

  &__buttons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    w-button {
      width: 100%;
      & > * {
        border-radius: @border-radius / 2;
        font-family: @font-roboto-medium;
      }
    }
  }

  &__select {
    max-height: 144px;
    border-radius: @border-radius;
    list-style-type: none;
    border: 1px solid @color-basic-100;
    padding: 0;

    li {
      height: 48px;
      cursor: pointer;

      &:not(:first-child) {
        border-top: 1px solid @color-basic-100;
      }

      &:hover {
        background: yellow;
      }
    }
  }

  &__block {
    flex-basis: 46%;
    padding: 30px;
    margin:40px 0 0;
    border: 1px solid @color-basic-100;
    border-radius: @border-radius * 2;
    height: 264px;

    w-button {
      & > * {
        height: 36px;
      }
    }
  }

  w-help-icon {
    text-align: left;

    .help-icon__content {
      right: -40px;
      left: auto;
      margin-top: 8px;
    }
  }

  h3 {
    margin-top: 40px;
  }

}

@media screen and (max-width: 768px) {
  .import-modal {
    &__select {
      height: @height-control-big-responsive;
    }
  }
}