<span ng-if="$ctrl.isVerified && !$ctrl.onlySpam"
      class="asset-status__status asset-status__status_active asset-status_{{::$ctrl.size}}"
      w-i18n-ns="app.utils"
      w-i18n="modal.assetInfo.qualified"></span>
<span ng-if="$ctrl.isGateway && !$ctrl.onlySpam"
      class="asset-status__status asset-status__status_active asset-status_{{::$ctrl.size}}"
      w-i18n-ns="app.utils"
      w-i18n="modal.assetInfo.gateway"></span>
<span ng-if="$ctrl.isTokenomica && !$ctrl.onlySpam"
      class="asset-status__status asset-status__status_active asset-status_{{::$ctrl.size}}"
      w-i18n-ns="app.utils"
      w-i18n="modal.assetInfo.tokenomica"></span>
<span ng-if="$ctrl.isSuspicious"
      class="asset-status__status asset-status__status_inactive asset-status_{{::$ctrl.size}}"
      w-i18n-ns="app.utils"
      w-i18n="modal.assetInfo.suspicious"></span>
<span ng-if="$ctrl.isGatewaySoon && !$ctrl.onlySpam"
      class="asset-status__status asset-status__status_active asset-status_{{::$ctrl.size}}"
      w-i18n-ns="app.utils"
      w-i18n="modal.assetInfo.gatewaySoon"></span>
