<span ng-if="$ctrl.isVerified"
      class="asset-status__status asset-status__status_active"
      w-i18n-ns="app.utils"
      w-i18n="modal.assetInfo.qualified"></span>
<span ng-if="$ctrl.isGateway"
      class="asset-status__status asset-status__status_active"
      w-i18n-ns="app.utils"
      w-i18n="modal.assetInfo.gateway"></span>
<span ng-if="$ctrl.isTokenomica"
      class="asset-status__status asset-status__status_active"
      w-i18n-ns="app.utils"
      w-i18n="modal.assetInfo.tokenomica"></span>
<span ng-if="$ctrl.isSuspicious"
      class="asset-status__status asset-status__status_inactive"
      w-i18n-ns="app.utils"
      w-i18n="modal.assetInfo.suspicious"></span>
<span ng-if="$ctrl.isGatewaySoon"
      class="asset-status__status asset-status__status_active"
      w-i18n-ns="app.utils"
      w-i18n="modal.assetInfo.gatewaySoon"></span>
