<div class="welcome">
    <div class="logo center"></div>
    <p class="title text">
        Create New Account
    </p>
    <p class="text">
        This app stores your Waves with cutting-edge security.
    </p>

    <div class="button-wrapper">
        <w-input placeholder="Password" type="password" value="$ctrl.password"></w-input>
    </div>
    <div class="button-wrapper">
        <w-input plaseholder="Repeat password" type="password" value="$ctrl.confirmPassword"></w-input>
    </div>

    <div class="center">
        <w-button type="primary" size="big" on-click="$ctrl. setupPassword()">Setup Password</w-button>
    </div>

</div>