<div class="welcome">
    <div class="logo center"></div>
    <p class="title text">
        You New ID
    </p>
    <p class="text">
        This app stores your Waves with cutting-edge security.
    </p>

    <div class="button-wrapper">
        <w-button on-click="$ctrl.getStarted()" type="primary" size="big">Next</w-button>
    </div>
    <div class="button-wrapper">
        <w-button on-click="$ctrl.restoreBackup()" type="transparent">{icon} Generate another address</w-button>
    </div>
</div>