<div class="user-list">

    <div class="block">
        <p>{{'LOGIN_TITLE' | i18next}}</p>

        <div ng-if="$ctrl.userList.length === 1">
            <w-avatar address="$ctrl.address"></w-avatar>
            {{$ctrl.address}}
        </div>

        <div ng-if="$ctrl.userList.length > 1">
            <md-select placeholder="Assign to user" ng-model="$ctrl.activeUser">
                <md-option ng-value="$index" ng-repeat="user in $ctrl.userList track by $index">
                    <w-avatar address="user.address"></w-avatar>
                    {{user.address}}
                </md-option>
            </md-select>
        </div>

        <form name="login" ng-submit="login.$valid && $ctrl.login()" novalidate>
            <md-input-container class="md-block">
                <label>Password</label>
                <input name="password" type="password" required ng-model="$ctrl.password">

                <div ng-messages="createPassword.confirmPassword.$error" multiple md-auto-hide="false">
                    <div ng-message="required">This is required!</div>
                </div>
            </md-input-container>

            <md-button type="submit" class="md-raised md-primary">
                Login
            </md-button>
        </form>
    </div>

</div>