<div class="user-list">

    <div class="center">

        <div class="waves-logo"></div>
        <div class="headline-1" w-i18n="userList.title"></div>

        <div class="body-2">
            <span class="disabled-600" w-i18n="userList.subTitleSession"></span>
        </div>
    </div>

    <div class="body-2 basic-900" w-i18n="userList.address"></div>

    <w-select ng-model="$ctrl.activeUserAddress" class="big margin-3">
        <w-option ng-repeat="user in $ctrl.userList track by user.address"
                  value="::user.address">
            <w-avatar type="user.userType" class="margin-right-1" address="user.address" size="30"></w-avatar>
            <div class="mobile-caption-2" ng-class="::{'has-name': !!user.name}">
                <div class="name">{{::user.name}}</div>
                <div class="address">{{::user.address}}</div>
            </div>
            <div class="icon-remove-user icon-close" ng-click="$ctrl.removeUser(user.address)"></div>
        </w-option>
        <div>
            <a ui-sref="import"
               class="add-account"
               w-i18n="userList.import"></a>
        </div>
    </w-select>

    <div class="password-placeholder">
        <div class="body-2 basic-900" w-i18n="userList.password"></div>
    </div>
    <form class="margin-2"
          name="$ctrl.loginForm"
          ng-submit="$ctrl.loginForm.$valid && $ctrl.login()"
          novalidate>

        <w-input-container class="margin-3" ng-if="$ctrl.needPassword">
            <w-input w-autofocus
                     name="password"
                     type="password"
                     ng-model="$ctrl.password"
                     w-i18n-attr="placeholder"
                     class="big no-icon"
                     placeholder="userList.placeholders.password"
                     required></w-input>

            <div ng-class="{active: $ctrl.showPasswordError}" class="error" w-i18n="password.error"></div>
        </w-input-container>

        <w-button disabled="$ctrl.loginForm.$invalid" type="submit" class="submit big long">
            <span w-i18n="userList.buttons.login"></span>
        </w-button>
    </form>

    <div class="or margin-2">
        <span w-i18n="newUser.or"></span>
    </div>
    <div class="text-center body-2 flex-column-center-min margin-2">
        <a ui-sref="create" w-i18n="userList.create"></a>
    </div>

</div>
