<div class="no-users">

    <w-logo></w-logo>

    <h2 class="title" w-i18n="newUser.title"></h2>
    <p class="sub-title" w-i18n="newUser.subTitle"></p>

    <div class="slider-wrapper center">
        <w-carousel interval="6000" id="slider-welcome-new-user">
            <div style="background: red; height: 100%"></div>
            <div style="background: gold; height: 100%"></div>
            <div style="background: grey; height: 100%"></div>
            <div style="background: hotpink; height: 100%"></div>
        </w-carousel>
    </div>

    <p w-i18n="newUser.beforeControl"></p>

    <w-carousel-dots slider-id="slider-welcome-new-user"></w-carousel-dots>

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button ng-click="$ctrl.getStarted()" class="md-raised md-primary">
            <w-i18n>newUser.buttons.primary</w-i18n>
        </md-button>
    </section>

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button ng-click="$ctrl.restoreBackup()">
            <w-i18n>newUser.buttons.transparent</w-i18n>
        </md-button>
    </section>
</div>
