<div class="new-user">

    <div class="waves-logo"></div>

    <w-carousel class="margin-4" interval="7000">
        <div class="slide">
            <div class="slide-icon-0"></div>
            <h2 class="slide-title headline-1">
                <span w-i18n="newUser.slides.0.title"></span>
            </h2>
            <div class="slide-description body-2 disabled-600">
                <span w-i18n="newUser.slides.0.description"></span>
            </div>
        </div>
        <div class="slide">
            <div class="slide-icon-1"></div>
            <h2 class="slide-title headline-1">
                <span w-i18n="newUser.slides.1.title"></span>
            </h2>
            <div class="slide-description body-2 disabled-600">
                <span w-i18n="newUser.slides.1.description"></span>
            </div>
        </div>
        <div class="slide">
            <div class="slide-icon-2"></div>
            <h2 class="slide-title headline-1">
                <span w-i18n="newUser.slides.2.title"></span>
            </h2>
            <div class="slide-description body-2 disabled-600">
                <span w-i18n="newUser.slides.2.description"></span>
            </div>
        </div>
        <div class="slide">
            <div class="slide-icon-3"></div>
            <h2 class="slide-title headline-1">
                <span w-i18n="newUser.slides.3.title"></span>
            </h2>
            <div class="slide-description body-2 disabled-600">
                <span w-i18n="newUser.slides.3.description"></span>
            </div>
        </div>
    </w-carousel>

    <w-carousel-dots class="square"></w-carousel-dots>

    <w-button class="submit big" ui-sref="create">
        <span w-i18n="newUser.getStarted"></span>
    </w-button>

    <div class="or">
        <span w-i18n="newUser.or"></span>
    </div>

    <div class="restore margin-2 body-2 basic-900">
        <a ui-sref="import">
            <span w-i18n="newUser.import"></span>
        </a>
    </div>

</div>
