<w-site-header class="header-new-user" sign-in-btn="$ctrl.hasUsers" get-started-btn="true" user-list="$ctrl.userList"></w-site-header>
<div w-i18n-ns="app.welcome" class="welcome__wrapper movable scrolled-view">
    <div class="white-bg"></div>
    <section class="welcome__section section-welcome">
        <div class="section-welcome__wrapper">
            <div class="section-welcome__left">
                <h1 class="section-welcome__title" w-i18n="welcome.tradeOnWaves"></h1>
                <div class="section-welcome__description margin-5" w-i18n="welcome.tradeOnWavesDescription"></div>
                <div class="section-welcome__btns">
                    <a class="section-welcome__started" ui-sref="create">
                        <span class="section-welcome__started-content" w-i18n="welcome.getStarted"></span>
                        <i class="section-welcome__started-arrow"></i>
                    </a>
                    <a ng-show="$ctrl.hasUsers" ui-sref="signIn" class="section-welcome__enter"
                        w-analytics event="'Sign In Click'" event-target="ui">
                        <span class="section-welcome__enter-content" w-i18n="welcome.signIn"></span>
                    </a>
                </div>
            </div>
            <div class="section-welcome__dex-screenshot"></div>
        </div>
    </section>

    <section class="welcome__section section-promo">
        <div class="section-promo__wrapper">
            <div class="section-promo__card">
                <div class="section-promo__icon section-promo__icon_dex margin-2"></div>
                <div class="section-promo__content">
                    <h4 class="section-promo__title" w-i18n="welcome.decentralised"></h4>
                    <div class="section-promo__description" w-i18n="welcome.controlAssets"></div>
                </div>
            </div>
            <div class="section-promo__card">
                <div class="section-promo__icon section-promo__icon_gateways margin-2"></div>
                <div class="section-promo__content">
                    <h4 class="section-promo__title" w-i18n="welcome.gateways"></h4>
                    <div class="section-promo__description" w-i18n="welcome.majorFiatCryptocurrencies"></div>
                </div>
            </div>
            <div class="section-promo__card">
                <div class="section-promo__icon section-promo__icon_token margin-2"></div>
                <div class="section-promo__content">
                    <h4 class="section-promo__title" w-i18n="welcome.tokenCreation"></h4>
                    <div class="section-promo__description" w-i18n="welcome.tokenCreationCosts"></div>
                </div>
            </div>
            <div class="section-promo__card">
                <div class="section-promo__icon section-promo__icon_ledger margin-2"></div>
                <div class="section-promo__content">
                    <h4 class="section-promo__title" w-i18n="welcome.ledgerSupport"></h4>
                    <div class="section-promo__description" w-i18n="welcome.dexWithHardware"></div>
                </div>
            </div>
            <div class="section-promo__card">
                <div class="section-promo__icon section-promo__icon_api margin-2"></div>
                <div class="section-promo__content">
                    <h4 class="section-promo__title" w-i18n="welcome.suitableTradingBots"></h4>
                    <div class="section-promo__description" w-i18n="welcome.getRealTimeAccess"></div>
                </div>
            </div>
            <div class="section-promo__card">
                <div class="section-promo__icon section-promo__icon_fees margin-2"></div>
                <div class="section-promo__content">
                    <h4 class="section-promo__title" w-i18n="welcome.lowFixedFees"></h4>
                    <div class="section-promo__description" w-i18n="welcome.wavesOrderFilled"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-slider">
        <div class="section-slider__wrapper">
            <w-carousel interval="2000" pairs-info-list="$ctrl.pairsInfoList"></w-carousel>
        </div>
    </section>

    <section class="welcome__section section-markets">
        <div class="section-markets__wrapper">

            <h2 class="section-markets__title" w-i18n="welcome.markets"></h2>
            <div class="section-markets__description" w-i18n="welcome.marketsDescription"></div>

            <div class="section-markets__table js-table-markets">
                <div class="section-markets__header">
                    <div class="section-markets__header-cell pair" w-i18n="welcome.pair"></div>
                    <div class="section-markets__header-cell last-price" w-i18n="welcome.lastPrice"></div>
                    <div class="section-markets__header-cell change" w-i18n="welcome.change"></div>
                    <div class="section-markets__header-cell height24" w-i18n="welcome.high"></div>
                    <div class="section-markets__header-cell low24" w-i18n="welcome.low"></div>
                    <div class="section-markets__header-cell volume" w-i18n="welcome.volume"></div>
                    <div class="section-markets__header-cell graph" w-i18n="welcome.chart"></div>
                </div>

                <div ng-repeat="pair in $ctrl.pairsInfoList track by $index"
                   w-analytics event="'Menu Exchange Click'"
                   event-target="'ui'"
                   ng-class="pair.change24.gt(0) ? 'blue' : 'red'"
                   ng-click="$ctrl.goToDexDemo({ assetId1: pair.amountAsset.id, assetId2: pair.priceAsset.id })"
                   class="js-row-content section-markets__row">
                    <div class="section-markets__row-cell pair">
                        {{pair.amountAsset.ticker || pair.amountAsset.displayName }} / {{pair.priceAsset.ticker || pair.priceAsset.displayName}}
                    </div>
                    <div class="section-markets__row-cell last-price">
                        <w-balance money="pair.lastPrice"></w-balance>
                        <span class="section-markets__currency">&nbsp;/&nbsp;
                            <w-exchange balance="pair.lastPrice"
                                        target-asset-id="{{WavesApp.defaultAssets.USD}}"></w-exchange>
                            &nbsp;$
                        </span>
                    </div>
                    <div class="section-markets__row-cell change">{{pair.change24}}%</div>
                    <div class="cell height24">
                        <w-balance money="pair.high"></w-balance>
                    </div>
                    <div class="section-markets__row-cell low24">
                        <w-balance money="pair.low"></w-balance>
                    </div>
                    <div class="section-markets__row-cell volume">
                        <span w-nice-number="pair.volumeBigNum" precision="3"></span>
                    </div>
                    <div class="section-markets__row-cell graph"></div>
                </div>

            </div>

            <div class="section-markets__table-desc">
                <span class="section-markets__more" w-i18n="welcome.marketsTableDescription"></span> <a class="section-markets__table-link" ui-sref="main.dex-demo" w-i18n="welcome.marketsTableDescriptionLink"></a>
            </div>
        </div>
    </section>

    <div class="section-roadmap">
            <h2 class="section-roadmap__title" w-i18n="welcome.roadmap"></h2>
            <div class="section-roadmap__description" w-i18n="welcome.roadmapOpportunitiesAhead"></div>
            <w-road-map></w-road-map>
    </div>

    <w-footer></w-footer>
</div>

<w-loader ng-if="$ctrl.pendingRestore"></w-loader>
