<div class="no-users">

    <w-logo></w-logo>

    <h2 w-i18n="newUser.title"></h2>
    <span class="" w-i18n="newUser.subTitle"></span>

    <div class="slider-wrapper center">
        <w-carousel interval="6000" id="slider-welcome-new-user">
            <div style="background: red; height: 100%"></div>
            <div style="background: gold; height: 100%"></div>
            <div style="background: grey; height: 100%"></div>
            <div style="background: hotpink; height: 100%"></div>
        </w-carousel>
    </div>

    <p class="" w-i18n="newUser.beforeControl"></p>

    <w-carousel-dots slider-id="slider-welcome-new-user"></w-carousel-dots>

    <w-button-submit>
        <a ui-sref="create">
            <w-i18n>newUser.buttons.getStarted</w-i18n>
        </a>
    </w-button-submit>

    <div class="or-wrap">
        <hr class="or-line"/>
        <span class="or" w-i18n="newUser.or"></span>
        <hr class="or-line"/>
    </div>

    <w-button>
        <a ui-sref="restore">
            <w-i18n>newUser.buttons.restoreFromBackup</w-i18n>
        </a>
    </w-button>
</div>
