<w-site-header></w-site-header>
<div class="main-container">
    <div class="main-container-wrapper">
        <div class="not-account-content text-center get-started-content">

            <div class="not-account-icon"></div>

            <div class="headline-1 margin-1" w-i18n="welcome.NothingHere"></div>

            <div class="body-2 margin-top-2 basic-500 margin-4">
                <span w-i18n="welcome.notHaveAccounts"></span>
            </div>

            <w-button ui-sref="create""
                      type="submit"
                      class="submit big long">
                <span w-i18n="welcome.createAccount"></span>
            </w-button>

            <w-get-started-link has-import="::true"></w-get-started-link>
        </div>
    </div>
</div>
<w-footer></w-footer>