<div class="modal-content settings-modal">
    <w-responsive-menu active-menu="$ctrl.tab">
        <w-responsive-menu-item value="general">
            <div class="menu-item general icon-settings-general">
                <i></i>
                <span w-i18n="modal.settings.general.title" class="icon"></span>
            </div>
        </w-responsive-menu-item>
        <w-responsive-menu-item value="security">
            <div class="menu-item security icon-settings-security">
                <i></i>
                <span w-i18n="modal.settings.security.title"></span>
            </div>
        </w-responsive-menu-item>
        <w-responsive-menu-item value="network">
            <div class="menu-item network icon-settings-network">
                <i></i>
                <span w-i18n="modal.settings.network.title" class="icon"></span>
            </div>
        </w-responsive-menu-item>
        <w-responsive-menu-item value="info">
            <div class="menu-item info icon-settings-info">
                <i></i>
                <span w-i18n="modal.settings.info.title" class="icon"></span>
            </div>
        </w-responsive-menu-item>
    </w-responsive-menu>

    <div class="settings-content">
        <w-step-by-step active-step="$ctrl.tab">
            <w-step step-id="general" class="general">
                <div class="row flex-row row-style unit-checkbox no-border">
                    <w-checkbox-submit id="shareStat" ng-model="$ctrl.shareStat"></w-checkbox-submit>
                    <label for="shareStat" w-i18n="modal.termsAccept.body.analytics"></label>
                </div>

                <w-web-only>
                    <div class="row flex-row row-style unit-checkbox">
                        <w-checkbox-submit id="openLinkViaWeb" ng-model="$ctrl.openLinkViaWeb"></w-checkbox-submit>
                        <label for="openLinkViaWeb" w-i18n="modal.settings.general.openLinkViaWeb"></label>
                    </div>
                </w-web-only>

                <div class="row flex-row row-style unit-select">
                    <div class="footnote-1 disabled-600" w-i18n="modal.settings.general.language"></div>
                    <w-change-language on-change="$ctrl.onChangeLanguage(language)"></w-change-language>
                </div>

                <div class="row flex-row row-style unit-select">
                    <div class="footnote-1 disabled-600" w-i18n="modal.settings.general.timeout"></div>
                    <div>
                        <w-select class="with-scroll" ng-model="$ctrl.logoutAfterMin">
                            <w-option value="::5">
                                <span w-i18n="modal.settings.general.minutes" w-i18n-ns="app.utils"
                                      params="{minutes: 5}"></span>
                            </w-option>
                            <w-option value="::10">
                                <span w-i18n="modal.settings.general.minutes" w-i18n-ns="app.utils"
                                      params="{minutes: 10}"></span>
                            </w-option>
                            <w-option value="::20">
                                <span w-i18n="modal.settings.general.minutes" w-i18n-ns="app.utils"
                                      params="{minutes: 20}"></span>
                            </w-option>
                            <w-option value="::40">
                                <span w-i18n="modal.settings.general.minutes" w-i18n-ns="app.utils"
                                      params="{minutes: 40}"></span>
                            </w-option>
                            <w-option value="::60">
                                <span w-i18n="modal.settings.general.hours" w-i18n-ns="app.utils"
                                      params="{hours: 1}"></span>
                            </w-option>
                        </w-select>
                    </div>
                </div>

                <div class="row flex-row row-style unit-select">
                    <div class="footnote-1 disabled-600" w-i18n="modal.settings.general.theme"></div>
                    <div>
                        <w-select ng-model="$ctrl.theme">
                            <w-option value="::'default'">
                                <i class="white"></i>
                                <span w-i18n-ns="app.utils" w-i18n="modal.settings.general.white"></span>
                            </w-option>
                            <w-option value="::'black'">
                                <i class="dark"></i>
                                <span w-i18n-ns="app.utils" w-i18n="modal.settings.general.dark"></span>
                            </w-option>
                            <!--w-option value="::'auto'"><i class="auto"></i><span w-i18n="modal.settings.general.auto"></span></w-option-->
                        </w-select>
                    </div>
                </div>

                <!--div class="row flex-row row-style unit-select">
                    <div class="footnote-1 disabled-600" w-i18n="modal.settings.general.color"></div>
                    <div>
                        <w-select ng-model="$ctrl.candle">
                            <w-option value="::'blue'"><i class="blue"></i><span w-i18n="modal.settings.general.blue"></span></w-option>
                            <w-option value="::'green'"><i class="green"></i><span w-i18n="modal.settings.general.green"></span></w-option>
                        </w-select>
                    </div>
                </div-->

                <div class="row flex-row row-style solid-border">
                    <div class="footnote-1 disabled-600" w-i18n="modal.settings.general.blockHeight"></div>
                    <div><span class="label">{{$ctrl.blockHeight}}</span></div>
                </div>
            </w-step>

            <w-step step-id="security" class="security">
                <div class="row margin-1" ng-if="$ctrl.phrase">
                    <div class="footnote-1 disabled-600 label">
                        <span w-i18n="modal.settings.security.backupPhrase"></span>
                        <a class="settings-copy" w-copy="::$ctrl.phrase" w-i18n="modal.settings.network.copy"></a>
                    </div>
                    <div class="data-field">
                        <w-button ng-if="!$ctrl.shownSeed" class="tiny" on-click="$ctrl.shownSeed = true">
                            <span w-i18n="modal.settings.security.show"></span>
                        </w-button>
                        <pre class="footnote-1" ng-if="$ctrl.shownSeed">{{::$ctrl.phrase}}</pre>
                    </div>
                </div>

                <div class="row margin-1" ng-if="$ctrl.privateKey">
                    <div class="footnote-1 disabled-600 label">
                        <span w-i18n="modal.settings.security.privateKey"></span>
                        <a class="settings-copy"
                           w-copy="::$ctrl.privateKey"
                           w-i18n="modal.settings.network.copy"></a>
                    </div>
                    <div class="data-field">
                        <w-button ng-if="!$ctrl.shownKey" class="tiny" on-click="$ctrl.shownKey = true">
                            <span w-i18n="modal.settings.security.show"></span>
                        </w-button>
                        <div class="mobile-low-fsize" ng-if="$ctrl.shownKey">{{::$ctrl.privateKey}}</div>
                    </div>
                </div>
                <div class="row flex-row row-style row-mobile">
                    <div class="footnote disabled-600" w-i18n="modal.settings.security.publicKey"></div>
                    <div class="mobile-low-fsize">{{::$ctrl.publicKey}}</div>
                </div>
                <div class="row flex-row row-style row-mobile">
                    <div class="footnote disabled-600" w-i18n="modal.settings.security.address"></div>
                    <div class="mobile-low-fsize">{{::$ctrl.address}}</div>
                </div>
            </w-step>

            <w-step step-id="network" class="network">
                <div class="row margin-1">
                    <div class="footnote-1 disabled-600 label">
                        <span w-i18n="modal.settings.network.nodeAddress"></span>
                        <a class="settings-copy" w-copy="$ctrl.node" w-i18n="modal.settings.network.copy"></a>
                    </div>
                    <div class="data-field">
                        <w-input ng-model="$ctrl.node"></w-input>
                    </div>
                </div>

                <div class="row margin-1">
                    <div class="footnote-1 disabled-600 label">
                        <span w-i18n="modal.settings.network.matcherAddress"></span>
                        <a class="settings-copy" w-copy="$ctrl.matcher" w-i18n="modal.settings.network.copy"></a>
                    </div>
                    <div class="data-field">
                        <w-input ng-model="$ctrl.matcher"></w-input>
                    </div>
                </div>

                <div class="row margin-1">
                    <div class="footnote-1 disabled-600 label">
                        <span w-i18n="modal.settings.network.spamFilter"></span>
                        <a class="settings-copy" w-copy="$ctrl.scamListUrl" w-i18n="modal.settings.network.copy"></a>
                    </div>
                    <div class="data-field">
                        <w-input ng-model="$ctrl.scamListUrl"></w-input>
                    </div>
                </div>

                <div class="row margin-2">
                    <div class="row flex-row row-style unit-checkbox">
                        <w-checkbox-submit id="spamFilterToggle" ng-model="$ctrl.withScam"></w-checkbox-submit>
                        <label for="spamFilterToggle" w-i18n="modal.settings.network.spamFilterInputDescr"></label>
                    </div>
                </div>

                <w-button class="interface bordered" on-click="$ctrl.setNetworkDefault()">
                    <span w-i18n="modal.settings.setDefault"></span>
                </w-button>
            </w-step>

            <w-step step-id="info" class="info">
                <div class="row flex-row row-style">
                    <div class="footnote-1 disabled-600" w-i18n="modal.settings.info.version"></div>
                    <div>{{::$ctrl.appName}} {{::$ctrl.appVersion}}</div>
                </div>

                <div class="row flex-row row-style">
                    <div class="footnote-1 disabled-600" w-i18n="modal.settings.info.support"></div>
                    <div><a href="{{::$ctrl.supportLink}}" target="_blank">{{::$ctrl.supportLinkName}}</a></div>
                </div>

                <div class="row flex-row row-style">
                    <div class="footnote-1 disabled-600">&copy; 2018 Waves Platform</div>
                    <div><span class="waves-logo"></span></div>
                </div>
            </w-step>

        </w-step-by-step>
    </div>
</div>
