@import (reference) '../../../config';
@import (reference) '../../../ui/directives/changeLanguage/changeLanguage';

@row-short: 25%;
@row-long: 75%;
@row-normal: 50%;
@mobile-settings-item-height: 50px;

md-dialog.settings-modal {
  width: 100%;
  max-width: 740px;
  min-width: 740px;

  md-dialog-content::after {
    display: none;
  }

  w-select {
    &.with-scroll {
      .select-list {
        overflow-y: auto;
        max-height: 140px;
      }
    }

    .select:not(.expanded) .title {
      border: 1px solid transparent;
    }
  }

  w-responsive-menu {
    width: 199px;
    height: calc(100% ~' + 30px');
    position: absolute;
    font-size: 15px;
    left: -40px;
    top: -30px;
    border-right: 1px solid @color-basic-200;

    w-responsive-menu-item {
      display: block;

      .menu-item {
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 50px;
        padding-left: 65px;
        color: @color-info-500;

        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: 34px;
          height: @low-icon-size;
          width: @low-icon-size;
          transform: translate(0, -50%);
          background-image: url(/img/icons/settings-menu-icons.svg);
          background-size: auto;
        }

        &.general::after {
          background-position: 0 0;
        }

        &.security::after {
          background-position: -@low-icon-size 0;
        }

        &.network::after {
          background-position: (-@low-icon-size * 2) 0;
        }

        &.info::after {
          background-position: (-@low-icon-size * 3) 0;
        }
      }

      &:hover {
        background-color: @color-submit-50;
      }

      &.active {
        background-color: @color-submit-400;

        &:hover {
          background-color: @color-submit-400;
        }

        .menu-item {
          color: @color-white;

          &.general::after {
            background-position: 0 -@low-icon-size;
          }
          &.security::after {
            background-position: -@low-icon-size -@low-icon-size;
          }
          &.network::after {
            background-position: (-@low-icon-size * 2) -@low-icon-size;
          }
          &.info::after {
            background-position: (-@low-icon-size * 3) -@low-icon-size;
          }
        }
      }
    }
  }

  .modal-content {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    position: relative;
    min-height: 300px;

    .settings-content {
      position: relative;
      margin-left: 200px;
      right: 0;
      width: 100%;
      padding: 10px 0;

      .label {
        line-height: 1.8em;
      }

      .settings-copy {
        display: inline-block;
        float: right;
      }
    }
  }

  .flex-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .row-style {
    padding: 12px 0;
    border-bottom: 1px dashed @color-basic-200;

    &:last-child {
      border-bottom-style: solid;
      align-items: center;
    }

    &.unit-checkbox {
      // TODO : make it work properly without magic
      padding-top: 5px;

      w-checkbox-submit {
        flex-grow: 0;
        display: block;
        margin-right: 18px;
        padding-right: 18px;
        align-self: flex-start;
      }

      label {
        flex-grow: 1;
      }
    }

    &.unit-select {
      // TODO : align to the middle without magic
      padding: 5px 0;
    }
  }

  .info {
    span.waves-logo {
      width: 60px;
      height: 13px;
      display: inline-block;
      margin: 3px 0 0;
      padding: 0;
      background-size: contain;
    }
  }

  w-change-language w-select {
    float: right;
    position: relative;
    top: 0;
    right: 0;
  }

  .data-field {
    height: 54px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: @color-basic-50;
    position: relative;
    border-radius: 4px;
    border: 1px dashed @color-basic-200;
    padding: 0 15px;
    overflow: auto;

    pre {
      display: block;
      position: absolute;
      line-height: 1em;
      margin: 0;
      padding: 20px 20px 10px 0;
      top: 0;
    }

    input {
      border-radius: @border-radius;
      padding: 0 @padding-main-layout;
      height: 30px;
      line-height: 30px;
      width: 100%;
      border: 1px solid @color-basic-200;
    }
  }

}

@media screen and (max-width: 767px) {
  md-dialog.settings-modal {
    min-width: 360px;
    max-width: 420px;

    md-toolbar {
      padding: 20px;

      .icon-close {
        right: 20px;
      }
    }

    md-dialog-content {
      padding: 20px 20px 0;
      height: 100%;
    }

    w-responsive-menu {
      width: calc(100% ~'+ 40px');
      min-width: 360px;
      border-bottom: 1px solid @color-accent-50;
      left: 0;
      top: 0;
      margin: -20px -10px 0 -20px;
      border-right: 0 none;
      height: auto;
      transition: .3s;

      .navigation-menu {
        height: 50px;
        overflow: hidden;

        &::before {
          background-color: @color-submit-400;
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          height: @mobile-settings-item-height;
          width: 100%;
        }

        w-responsive-menu-item {
          order: 2;
          opacity: 0;
          height: 0;
        }

        w-responsive-menu-item.active {
          order: 0;
          opacity: 1;
          height: @mobile-settings-item-height;
        }

        w-responsive-menu-item:not(.active) {
          transition: .3s;
        }

        &.active {
          height: auto;
          w-responsive-menu-item {
            opacity: 1;
            height: @mobile-settings-item-height;
          }
        }

      }

      w-button {
        & > button.nav-toggler {
          right: 20px;
          top: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;

          .dots {
            width: 16px;
            height: 4px;

            .dot {
              width: 4px;
              height: 4px;
              border-radius: 100%;
              background-color: @color-white;
            }
          }
        }
      }
    }

    .modal-content {
      min-height: 360px;
    }

    .settings-modal {
      flex-direction: column;

      .settings-content {
        margin-left: 0;
        margin-top: 50px;
        padding: 0 10px;

        .row-mobile {
          flex-direction: column;
          align-items: flex-start;
        }

        .step-list .info .flex-row:first-child {
          padding-top: 3px;
        }
      }

    }

  }
}

@media screen and (max-width: 540px) {

  md-dialog.settings-modal {
    max-width: 100%;
    min-width: 100%;
  }

}
