<!--<div class="rating-stars">-->
<!--    <div ng-repeat="star in $ctrl.starsList"-->
<!--         ng-class="{'filled': star.filled}"-->
<!--         class="rating-stars__star"></div>-->
<!--</div>-->
<div class="rating-stars-wrapper" ng-class="{ 'can-rate': $ctrl.canRate, 'has-balance':$ctrl.hasBalance }"></div>
<div class="tooltip tooltip_vote" ng-if="$ctrl.canRate">
    <span class="tooltip__content" w-i18n="modal.assetInfo.rating.canVoteTip"></span>
</div>
<div class="tooltip_need-money" ng-if="$ctrl.canRate">
    <div class="tooltip_need-money__content">
        <span class="tooltip__content__row headline-3">
            <span w-i18n="modal.assetInfo.rating.tooltipNeedWCT"></span>
            <a href="/dex?assetId2=DHgwrRvVyqJsepd32YbBqUeDH4GJ1N984X8QoekjgH8J&assetId1=WAVES"> WCT </a>
            <span w-i18n="modal.assetInfo.rating.tooltipNeedWAVES"></span>
        </span>
    </div>
</div>
