<div class="txinfo__row" ng-if="$ctrl.transaction.minSponsoredAssetFee.asset.id">
    <div class="txinfo__key" w-i18n="transaction.modals.assetId"></div>
    <div class="txinfo__value">{{$ctrl.transaction.minSponsoredAssetFee.asset.id}}</div>
</div>
<div class="txinfo__row" ng-if="::$ctrl.transaction.minSponsoredAssetFee.getCoins().gt(0)">
    <div class="txinfo__key" w-i18n="transaction.amounts.perTransaction"></div>
    <div class="txinfo__value">
        <span w-i18n="fee" params="{money: $ctrl.transaction.minSponsoredAssetFee}"></span>
    </div>
</div>

<w-transaction-info-general height="$ctrl.transaction.height"
                            id="$ctrl.id"
                            fee="$ctrl.transaction.fee"></w-transaction-info-general>
