<div class="modal-content">
    <w-step-by-step active-step="$ctrl.step">
        <w-step>

            <!-- INVOICE -->
            <div class="receive-invoice">
                <div class="row margin-2">
                    <div class="body-2 basic-900" w-i18n="modal.receive.asset"></div>

                    <div class="input-like big flex-row split-half">
                        <div class="flex-row">
                            <w-asset-logo size="24" asset-id="1"></w-asset-logo>
                            <div class="asset-name">Waves</div>
                        </div>
                        <div class="flex-row">
                            <w-balance>
                                <span>
                                    <span class="int">1.</span>
                                    <span class="decimal">10976538
                                        <span class="decimal-muted"></span>
                                    </span>
                                </span>
                            </w-balance>
                            <span class="mobile-ellipsis ellipsis">&nbsp;WAVES</span>
                        </div>
                    </div>

                    <w-select class="big">
                        <w-option>
                            <div class="flex-row split-half">
                                <div class="flex-row">
                                    <w-asset-logo size="24" asset-id="2"></w-asset-logo>
                                    <div class="asset-name">Waves</div>
                                </div>
                                <div>
                                    <w-balance>
                                        <span>
                                            <span class="int">1.</span>
                                            <span class="decimal">10976538
                                                <span class="decimal-muted"></span>
                                            </span>
                                        </span>
                                    </w-balance>
                                    <span class="mobile-ellipsis ellipsis">&nbsp;WAVES</span>
                                </div>
                            </div>
                        </w-option>
                    </w-select>
                </div>

                <div class="row margin-2">
                    <div class="body-2 basic-900" w-i18n="modal.receive.addressOrAlias"></div>
                    <w-select class="big">
                        <w-option>
                            3PCirZ1X2muMVFpJZvAe6gJrFziGR1XedNE
                        </w-option>
                    </w-select>
                </div>

                <div class="row margin-2">
                    <div class="body-2" w-i18n="modal.send.amount"></div>
                    <div class="amount-wrap">
                        <w-balance-input name="amount" input-classes="big"></w-balance-input>
                        <div class="amount-modal-icon"></div>
                        <w-balance-input name="amount2" input-classes="big"></w-balance-input>
                    </div>

                    <!--w-input-error name="amount"></w-input-error-->
                </div>

                <div class="row margin-2">
                    <div class="body-2 basic-900" w-i18n="modal.receive.shareInvoiceLink"></div>
                    <w-copy-wrap class="body-1 basic-900 mobile-low-fsize" info="::$ctrl.address"
                                 ng-click="$ctrl.onCopyAddress()">
                        {{::$ctrl.address}}
                    </w-copy-wrap>
                </div>

                <div class="or">or</div>

                <div class="center">
                    <div class="scan body-2 basic-900" w-i18n="modal.qr.scanQrCode"></div>
                    <w-qr-code size="160" url="'waves://' + $ctrl.address"></w-qr-code>
                </div>
            </div>

            <!-- END INVOICE -->
            <!-- CARD -->

            <div class="receive-card">

                <div class="row margin-2">
                    <div class="body-2 basic-900" w-i18n="modal.receive.asset"></div>

                    <div class="input-like big flex-row split-half">
                        <div class="flex-row">
                            <w-asset-logo size="24" asset-id="3"></w-asset-logo>
                            <div class="asset-name"></div>
                        </div>
                        <div class="flex-row">
                            <w-balance></w-balance>
                            <span class="mobile-ellipsis ellipsis"><!-- nbsp; --></span>
                        </div>
                    </div>

                    <w-select class="big">
                        <w-option>
                            <div class="flex-row split-half">
                                <div class="flex-row">
                                    <w-asset-logo size="24" asset-id="4"><!-- nbsp; --></w-asset-logo>
                                    <div class="asset-name"></div>
                                </div>
                                <div>
                                    <w-balance></w-balance>
                                    <span class="mobile-ellipsis ellipsis"><!-- nbsp; --></span>
                                </div>
                            </div>
                        </w-option>
                    </w-select>
                </div>

                <div class="row margin-1 relative">
                    <div class="body-2 basic-900" w-i18n="modal.receive.amountYouPay"></div>
                    <!-- TODO @tsigel - 30 / 200 => params? -->
                    <div class="basic-500 footnote-1">
                        <w-i18n>modal.receive.minimumIs</w-i18n>&nbsp;30 USD,&nbsp;
                        <w-i18n>modal.receive.maximumIs</w-i18n>&nbsp;200 USD
                    </div>
                    <div class="card-icons">
                        <i class="visa-icon"></i>
                        <i class="mastercard-icon"></i>
                    </div>
                </div>

                <div class="row margin-2">
                    <div class="amount-wrap amount-wrap-card">
                        <w-balance-input name="amount" input-classes="big"></w-balance-input>
                        <w-select class="big">
                            <w-option>
                                <option>USD</option>
                            </w-option>
                        </w-select>
                    </div>
                </div>

                <div class="row margin-2">
                    <div class="body-2 basic-900">
                        <span w-i18n="modal.receive.youWillGet"></span>
                        <w-help-icon>
                            <div class="row-help headline-3" w-i18n="modal.receive.youWillGetHelpHeadline"></div>
                            <div class="row-help" w-i18n="modal.receive.youWillGetHelpText"></div>
                        </w-help-icon>
                    </div>

                    <div class="note-plate body-2">22.00000001 Waves</div>
                </div>
            </div>

            <!-- END CARD -->
            <!-- BANK -->

            <div class="receive-bank">

                <div class="get-verified"> <!-- page1 -->

                    <div class="warning-plate">
                        <div class="body-2 warning-500" w-i18n="modal.sepa.warningTitle"></div>
                    </div>

                    <div class="country-list-link">
                        <a class="caption-1 submit-300"
                           w-i18n="modal.sepa.countryList"
                           href="{{$ctrl.listOfEligibleCountries}}"
                           target="_blank"></a>
                    </div>

                    <table class="steps">
                        <tr>
                            <td class="step headline-3 basic-900" w-i18n="modal.sepa.step1"></td>
                            <td class="description body-2 basic-900"
                                w-i18n="modal.sepa.step1Description"
                                params="{assetName: $ctrl.asset.name, url: $ctrl.idNowSiteUrl}"></td>
                        </tr>
                        <tr>
                            <td class="step headline-3 basic-900" w-i18n="modal.sepa.step2"></td>
                            <td class="description body-2 basic-900" w-i18n="modal.sepa.step2Description"></td>
                        </tr>
                    </table>

                    <div class="row margin-3 caption-1 info-block">
                        <i class="icon-info"></i>
                        <div w-i18n="modal.sepa.warning"></div>
                    </div>

                    <a href="{{$ctrl.idNowUserLink}}" target="_blank">
                        <w-button w-modal-close class="big submit long">
                            <w-i18n>modal.sepa.proceed</w-i18n>
                        </w-button>
                    </a>

                </div>
                <div class="bank-account"> <!-- page2 -->

                    <div class="body-2 basic-900" w-i18n="modal.receive.asset"></div>

                    <div class="input-like big flex-row margin-2">
                        <i class="verified-icon"></i>
                        <div class="asset-name"><w-i18n>modal.receive.verified</w-i18n></div>
                    </div>

                    <div class="warning-plate margin-1">
                        <div class="body-2 warning-500" w-i18n="modal.receive.bankVerifiedPlate1Header"></div>
                    </div>

                    <div class="warning-plate">
                        <div class="body-2 warning-500" w-i18n="modal.receive.bankVerifiedPlate2Header"></div>
                        <div class="footnote-1 basic-500" w-i18n="modal.receive.bankVerifiedPlate2Text"></div> <!-- add user address param{{address}} here -->
                    </div>

                    <div class="row margin-3 caption-1 info-block">
                        <i class="icon-info"></i>
                        <div w-i18n="modal.sepa.warning"></div>
                    </div>

                </div>


                <div class="bank-account wtry"> <!-- lira -->

                    <div class="warning-plate">
                        <div class="body-2 warning-500" w-i18n="modal.receive.wtryPlate1Header"></div>
                        <div class="footnote-1 basic-500" w-i18n="modal.receive.wtryPlate1Text"></div>
                    </div>

                    <div class="row margin-3 caption-1 info-block">
                        <i class="icon-info"></i>
                        <div w-i18n="modal.receive.wtry.info"></div>
                    </div>

                </div>

            </div>

            <!-- END BANK -->
            <!-- CRYPTO -->

            <div class="receive-crypto">

                <div class="row margin-2">
                    <div class="body-2 basic-900" w-i18n="modal.receive.asset"></div>

                    <div class="input-like big flex-row split-half">
                        <div class="flex-row">
                            <w-asset-logo size="24" asset-id="1"></w-asset-logo>
                            <div class="asset-name">Waves</div>
                        </div>
                        <div class="flex-row">
                            <w-balance>
                                <span>
                                    <span class="int">1.</span>
                                    <span class="decimal">10976538
                                        <span class="decimal-muted"></span>
                                    </span>
                                </span>
                            </w-balance>
                            <span class="mobile-ellipsis ellipsis">&nbsp;WAVES</span>
                        </div>
                    </div>

                    <w-select class="big">
                        <w-option>
                            <div class="flex-row split-half">
                                <div class="flex-row">
                                    <w-asset-logo size="24" asset-id="2"></w-asset-logo>
                                    <div class="asset-name">Waves</div>
                                </div>
                                <div>
                                    <w-balance>
                                        <span>
                                            <span class="int">1.</span>
                                            <span class="decimal">10976538
                                                <span class="decimal-muted"></span>
                                            </span>
                                        </span>
                                    </w-balance>
                                    <span class="mobile-ellipsis ellipsis">&nbsp;WAVES</span>
                                </div>
                            </div>
                        </w-option>
                    </w-select>
                </div>

                <div class="warning-plate margin-1">
                    <div class="body-2 warning-500" w-i18n="modal.deposit.{{::$ctrl.assetKeyName}}.warningTitle"></div>
                    <div class="footnote-1 basic-500" w-i18n="modal.deposit.{{::$ctrl.assetKeyName}}.warningText"></div>
                </div>

                <div class="warning-plate">
                    <div class="body-2 warning-500"
                         w-i18n="modal.deposit.{{::$ctrl.assetKeyName}}.warningMinAmountTitle"></div>
                    <div class="footnote-1 basic-500"
                         w-i18n="modal.deposit.{{::$ctrl.assetKeyName}}.warningMinAmountText"></div>
                </div>

                <div class="body-2 basic-900">
                    <span w-i18n="modal.deposit.copyAndShare"></span>
                    <w-help-icon>
                        <div class="row-help headline-3">
                            <w-i18n>modal.deposit.{{::$ctrl.assetKeyName}}.helpDescrTitle</w-i18n>
                        </div>
                        <div class="row-help">
                            <w-i18n>modal.deposit.{{::$ctrl.assetKeyName}}.helpDescrText</w-i18n>
                        </div>
                        <div class="row-help">
                            <w-i18n>modal.deposit.pleaseNote</w-i18n>
                        </div>
                    </w-help-icon>
                </div>

                <w-copy-wrap class="body-1 basic-900 mobile-low-fsize" info="$ctrl.gatewayAddress">
                    {{$ctrl.gatewayAddress}}
                    <w-loader ng-if="!$ctrl.gatewayAddress"></w-loader>
                </w-copy-wrap>

                <div class="or">
                    <w-i18n>modal.deposit.or</w-i18n>
                </div>

                <div class="qr-wrapper">
                    <div class="scan body-2 center basic-900" w-i18n="modal.deposit.scanQrCode"></div>
                    <w-qr-code size="160" url="$ctrl.gatewayAddress"></w-qr-code>
                    <w-loader ng-if="!$ctrl.gatewayAddress"></w-loader>
                </div>

            </div>

            <!-- END CRYPTO -->

        </w-step>
        <w-step>

            <div class="text-center">
                <i class="bank-success-icon margin-1"></i> <!-- if bank -->
                <h3 class="basic-700" w-i18n="modal.receive.bankSuccessHeader"></h3>
                <div class="body-2 basic-500 margin-4" w-i18n="modal.receive.bankSuccessText"></div>
            </div>

            <div class="text-center"> <!-- if card -->
                <i class="card-success-icon margin-1"></i>
                <h3 class="basic-700" w-i18n="modal.receive.cardSuccessHeader"></h3>
                <div class="body-2 basic-500 margin-4" w-i18n="modal.receive.cardSuccessText"></div>
            </div>

            <div class="text-center"> <!-- if lira -->
                <i class="bank-building-success-icon margin-1"></i>
                <h3 class="basic-700" w-i18n="modal.receive.wtrySuccessHeader"></h3>
            </div>

        </w-step>
    </w-step-by-step>
</div>

