@import (reference) 'config';
@import (reference) '../../../../app/less/typography';

.tabs__title_active {
  color: @color-submit-400;

  &::after {
    position: absolute;
    z-index: 1;
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    bottom: 0;
    background: @color-submit-400;
  }
}

.tabs_inner {
  .tabs__title_active {
    border-bottom: 1px solid @color-submit-400;
    color: @color-submit-400;
    &:hover {
      border-bottom-color: @color-submit-400;
    }
    &::after {
      display: none;
    }
  }
}

.dex-layout__tradehistory {
  .tabs__title_active {
    background: @color-white;
    border-bottom: 1px solid @color-white;
    border-right: 1px solid @color-disabled-200;
    border-left: 1px solid @color-disabled-200;
  
    &::before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      content: '';
      height: 2px;
      background: @color-submit-400;
    }
  
    &:after {
      left: 0;
      background: @color-white;
    }
  }
}

@media screen and (max-width: 1024px) {
  .dex-layout__tradehistory {
    .tabs__title_active {
      border: 0 none;
      border-bottom: 1px solid @color-submit-400;

      &::after,
      &::before {
        display: none;
      }
    }
  }
}