@import (reference) 'config';
@import (reference) '../../../../app/less/typography';

.tabs .tabs__title_active {
  color: @color-submit-400;

  &::after {
    position: absolute;
    z-index: 1;
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    bottom: 0;
    background: @color-submit-400;
  }
}

.tabs_inner {
  .tabs__title.tabs__title_active {
    border-bottom: 1px solid @color-submit-400;
    color: @color-submit-400;
    &:hover {
      border-bottom-color: @color-submit-400;
    }
    &::after {
      display: none;
    }
  }
}

.dex-layout__column_tradehistory {
  .tabs .tabs__title_active {
    color: @color-basic-900;
  
    &::before {
      display: block;
      position: absolute;
      bottom: -1.5px;
      left: 50%;
      transform: translateX(-50%);
      width: 66px;
      content: '';
      height: 2px;
      z-index: 1;
      border-radius: @border-radius;
      background: @color-submit-400;
    }

    &::after {
      display: none;
    }
  }
}

@media screen and (max-width: 1024px) {
  .dex-layout__tradehistory {
    .tabs__title_active {
      border: 0 none;
      border-bottom: 1px solid @color-submit-400;

      &::after,
      &::before {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  body.dex,
  body.dex-demo {
    .tabs_mobile {
      .tabs__header {
        .tabs__title.tabs__title_active {
          border: 0 none;
          border-top: 2px solid @color-submit-400;
          color: @color-submit-400;

          &::after {
            display: none;
          }
        }
      }

      &-orders, &-history {
        .tabs__header {
          .tabs__title.tabs__title_active {
            border-top: 0;

            &::before {
              content: '';
              display: block;
              position: absolute;
              bottom: -0.5px;
              left: 0;
              width: 100%;
              height: 2px;
              border-radius: 2px;
              background:  @color-submit-400;
              z-index: 1;
            }
          }
        }
      }

      &-orders {
        .tabs__header {
          .tabs__title_active::before {
            top: auto;
            bottom: 0;
          }
        }
      }
    }
  }
}