<div class="txinfo__row">
    <div class="txinfo__key" w-i18n="transaction.modals.to" ng-if="::$ctrl.isLeaseOut"></div>
    <div class="txinfo__key" w-i18n="transaction.modals.from" ng-if="::$ctrl.isLeaseIn"></div>
    <div class="txinfo__value">{{::$ctrl.address}}</div>
</div>

<div class="txinfo__row" ng-if="$ctrl.isConfirm">
    <div class="txinfo__key" w-i18n="transaction.modals.leasingStatus"></div>
    <div ng-if="!$ctrl.isActive" class="txinfo__value txinfo__value-uppercase" w-i18n="transaction.headers.canceled"></div>
    <div ng-if="$ctrl.isActive" class="txinfo__value txinfo__value-uppercase" w-i18n="transaction.headers.activeLeasing"></div>
</div>

<w-transaction-info-general height="$ctrl.transaction.height"
                            timestamp="$ctrl.transaction.timestamp"
                            id="$ctrl.id"
                            fee="$ctrl.transaction.fee"></w-transaction-info-general>
