<div class="ledger-modal">
    <div class="btn icon-close" w-modal-close></div>

    <div class="connect-mode" ng-if="$ctrl.mode === 'connect-ledger'">
        <div class="ledger">
            <div class="device-img">
                <div class="display display1 animate-show">
                    <div class="dot dot1 animate-show"></div>
                    <div class="dot dot2 animate-show"></div>
                    <div class="dot dot3 animate-show"></div>
                    <div class="dot dot4 animate-show"></div>
                    <div class="dot dot5 animate-show"></div>
                </div>
                <div class="display display2 animate-show">PIN code</div>
                <div class="display display3 animate-show">Waves</div>
            </div>
        </div>
        <h3 class="text-center basic-700" w-i18n="modal.sign.connecting"></h3>
        <div class="texts-wrapper">
            <div class="info-text text1 animate-show body-2 basic-500" w-i18n="modal.sign.connectLedger"></div>
            <div class="info-text text2 animate-show body-2 basic-500" w-i18n="modal.sign.enterPin"></div>
            <div class="info-text text3 animate-show body-2 basic-500" w-i18n="modal.sign.openApp"></div>
        </div>
        <w-loader></w-loader>
    </div>

    <div class="matcher-mode" ng-if="$ctrl.mode === 'sign-matcher'">
        <div class="ledger">
            <div class="device-img">
                <div class="display" w-i18n="modal.sign.confirmRequest"></div>
            </div>
        </div>
        <h3 class="text-center basic-700" w-i18n="modal.sign.confirmRequest"></h3>
        <div class="text-center info-text body-2 basic-500" w-i18n="modal.sign.confirmRequestMatcher"></div>
        <div class="txinfo__row">
            <div class="txinfo__key" w-i18n="modal.sign.requestId"></div>
            <div class="txinfo__value">{{$ctrl.txId}}</div>
        </div>
        <w-loader></w-loader>
    </div>

    <div class="create-order-mode" ng-if="$ctrl.mode === 'create-order'">

        <div class="create-order-icon"></div>

        
        <div class="create-order-amounts">
            <h3 class="basic-700 text-center">
                <span ng-if="$ctrl.txData.type === 'buy'">
                    +{{::$ctrl.txData.amount}} {{::$ctrl.txData.amountAsset.name}}
                </span>
                <span ng-if="$ctrl.txData.type === 'sell'">
                    +{{::$ctrl.txData.total}} {{::$ctrl.txData.totalAsset.name}}
                </span>
            </h3>

            <div class="text-center body-2 basic-500">
                 <span ng-if="$ctrl.txData.type === 'sell'">
                    -{{::$ctrl.txData.amount}} {{::$ctrl.txData.amountAsset.name}}
                </span>
                <span ng-if="$ctrl.txData.type === 'buy'">
                    -{{::$ctrl.txData.total}} {{::$ctrl.txData.totalAsset.name}}
                </span>
            </div>
        </div>

        <div class="create-order-cont">
            <div class="txinfo__row">
                <div class="txinfo__key">
                    {{::$ctrl.priceAsset.name}} <span w-i18n="model.sign.price"></span>
                </div>
                <div class="txinfo__value nowrap">{{::$ctrl.txData.price}}</div>
            </div>

            <div class="txinfo__row">
                <div class="txinfo__key"
                     w-i18n="madal.sign.txId">
                </div>
                <div class="txinfo__value nowrap">{{::$ctrl.txId}}</div>
            </div>

            <div class="txinfo__row">
                <div class="txinfo__key"
                     w-i18n="madal.sign.fee">
                </div>
                <div class="txinfo__value nowrap">{{::$ctrl.txData.fee}} {{::$ctrl.txData.feeAsset.name}}</div>
            </div>
        </div>
        <div class="bottom-wrapper"></div>

    </div>

</div>
