<div class="dex-wrapper" w-i18n-ns="app.dex">
	<div ng-class="{hidden: $ctrl.leftHidden}" class="dex-column dex-sidebar dex-sidebar--left dex-divided-column">
		<w-dex-block class="dex-divided-column--fill" title="Order book" has-search="true">
			<w-dex-watchlist asset-save-path="dex.watchlist.top"></w-dex-watchlist>
		</w-dex-block>
		<w-dex-block class="dex-divided-column--fixed" title="Order book" has-search="true">
			<w-dex-watchlist asset-save-path="dex.watchlist.bottom"></w-dex-watchlist>
		</w-dex-block>
	</div>

	<div ng-click="$ctrl.toggleColumn('left')" ng-class="{'dex-sidebar-toggle__open': !$ctrl.leftHidden}" class="dex-sidebar-toggle dex-sidebar-toggle__left"></div>

	<div class="dex-column dex-content dex-divided-column">
		<w-dex-block class="dex-divided-column--fill" title="DEX content">
			<w-dex-trade-graph></w-dex-trade-graph>
		</w-dex-block>

		<w-dex-block class="dex-divided-column--fill" title="DEX content">
			table
		</w-dex-block>
	</div>

	<div ng-click="$ctrl.toggleColumn('right')" ng-class="{'dex-sidebar-toggle__open': !$ctrl.rightHidden}" class="dex-sidebar-toggle dex-sidebar-toggle__right"></div>

	<div class="dex-column dex-sidebar dex-sidebar--right dex-divided-column">
		<w-dex-block class="dex-divided-column--fixed" save-path="dex.layout.tradeHistory" can-collapse="true" title="Trade history">
			<w-dex-trade-history></w-dex-trade-history>
		</w-dex-block>

		<w-dex-block class="dex-divided-column--fill" title="Order book">
			<w-dex-order-book></w-dex-order-book>
		</w-dex-block>
	</div>