<div class="dex-wrapper" w-i18n-ns="app.dex">
    <w-column save-path="dex.layout.leftColumnState">

    </w-column>
    <div class="dex-content">

    </div>
    <w-column save-path="dex.layout.rightColumnState">
        <w-dex-block title="Order book">
            <w-dex-order-book></w-dex-order-book>
        </w-dex-block>
        <w-dex-block save-path="dex.layout.tradeHistory" can-collapse="true" title="Trade history">
            <w-dex-trade-history></w-dex-trade-history>
        </w-dex-block>
    </w-column>
</div>
