<div w-i18n-ns="app.dex" class="mobile-layout">
    <div class="mobile-layout__watchlist-header">

    </div>
    <div class="mobile-layout__watchlist-wrapper">
        <w-dex-watchlist ng-if="$ctrl.watchListVisible" class="mobile-layout__watch-list"></w-dex-watchlist>
    </div>


    <w-tabs class="tabs_mobile" ng-model="$ctrl.mobileTab">
        <w-tab title-name="::'charts'" id="::'Charts'" class="mobile-tab_charts">
            <w-dex-candle-chart style="height: 400px"></w-dex-candle-chart>
            <w-dex-trade-graph style="height: 200px"></w-dex-trade-graph>
        </w-tab>
        <w-tab title-name="::'trade'" id="::'Trade'" class="mobile-tab_trade">
            <w-create-order></w-create-order>
        </w-tab>
        <w-tab title-name="::'orders'" id="::'Orders'" class="mobile-tab_orders">
            <w-tabs class="tabs_mobile-orders" ng-model="$ctrl.mobileOrdersTab">
                <w-tab title-name="::'openOrders'" id="::'myOpenOrders'" class="tab_myOpenOrders">
                    <w-dex-my-orders is-active-orders="::true"></w-dex-my-orders>
                </w-tab>
                <w-tab title-name="::'OrderHistory'" id="::'myOrderHistory'" class="tab_myOrderHistory">
                    <w-dex-my-orders is-active-orders="::false"></w-dex-my-orders>
                </w-tab>
                <w-tab title-name="::'myTradeHistory'" id="::'myTradeHistory'"
                       class="tab_myTradeHistory">
                    <w-dex-trade-history is-my="::true"></w-dex-trade-history>
                </w-tab>
                <w-tab title-name="::'myBalance'" id="::'myBalance'" class="tab_myBalance">
                    <w-dex-my-balance></w-dex-my-balance>
                </w-tab>
            </w-tabs>


        </w-tab>
        <w-tab title-name="::'history'" id="::'History'" class="tab_history">
            <div>
                <w-tabs ng-model="$ctrl.mobileHistoryTab">
                    <w-tab title-name="::'tradeHistory'" id="::'orderBook'" class="tab_orderbook">
                        <w-dex-order-book is-scrolled="true"/>
                    </w-tab>
                    <w-tab title-name="::'tradeHistory'" id="::'tradeHistory'" class="tab_tradeHistory">
                        <w-dex-trade-history is-my="::false"></w-dex-trade-history>
                    </w-tab>
                </w-tabs>
            </div>
        </w-tab>
    </w-tabs>
</div>