@import (reference) 'config';
@import (reference) 'icons';

.mobile-tabs__wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  background: red;
}

.mobile-layout {
  height: 100%;

  &__header {

  }

  &__watchlist-wrapper {
    max-height: 100vh;
  }
}

.mobile-layout > w-tabs > .tab-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 58px;
  position: relative;

  .titles-wrap {
    order: 2;
  }
}

.mobile-watchlist-header {
  display: flex;
  justify-content: space-between;
  background: @color-white;
  border-radius: 2px;
  padding: 9px 16px;
  margin-bottom: 5px;

  &__change24 {
    &_blue {
      color: @color-submit-400;
    }
    &_red {
      color: tomato;
    }
  }

  &__toggle-arrow {
    background-image: @dex-arrow-down-icon;
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 100%;

    &_up {
      transform: scaleY(-1);
    }
  }
}

.some-flex-wrapper {
  display: flex;
  justify-content: space-between;
}