<md-dialog w-i18n-ns="app.utils" class="dex-scripted-pair" aria-label="modal">
    <div class="btn icon-close" w-modal-close></div>
    <md-dialog-content>
        <div class="modal-content">

            <div class="pair-wrapper text-center margin-3 margin-top-6">
                <w-asset-logo
                        ng-repeat="asset in $ctrl.assets track by asset.id"
                        asset-id="{{::asset.id}}" size="65"></w-asset-logo>
            </div>
            <h3 class="margin-1 text-center basic-700" w-i18n="modal.dexScriptedPair.heading"></h3>
            <div class="margin-1 body-2 basic-500"  w-i18n="modal.dexScriptedPair.body"></div>
            <div class="buttons-wrapper margin-4">
                <w-button w-modal-close class="big long">
                    <span>Cancel</span>
                </w-button>
                <w-button on-click="$ctrl.confirm()" class="big long submit">
                    <span>Continue</span>
                </w-button>
            </div>

            <div class="margin-2 body-2 basic-500 flex">
                <w-checkbox-submit ng-model="$ctrl.tradeWithScriptAssets" id="remember-my-choice"></w-checkbox-submit>
                <label for="remember-my-choice">Remember my choice and do not remind me again</label>
            </div>

        </div>
    </md-dialog-content>
</md-dialog>