<md-dialog w-i18n-ns="app.utils" class="dex-scripted-pair" aria-label="modal">
    <div class="btn icon-close" w-modal-close></div>
    <md-dialog-content>
        <div class="modal-content">

            <div class="pair-wrapper text-center margin-3 margin-top-6">
                <w-asset-logo
                        ng-repeat="asset in $ctrl.assets track by asset.id"
                        asset-id="asset.id"
                        size="65" class="big"></w-asset-logo>
            </div>
            <h3 class="margin-1 text-center basic-700" w-i18n="modal.dexScriptedPair.heading"></h3>
            <div class="margin-3 body-2 basic-500 dex-scripted-pair__text"  w-i18n="modal.dexScriptedPair.body"></div>

            <div class="buttons-wrapper margin-3">
                <w-button w-modal-close class="big long">
                    <span w-i18n="modal.confirmOrder.cancel">Cancel</span>
                </w-button>
                <w-button on-click="$ctrl.confirm()" class="big long submit">
                    <span w-i18n="modal.confirmOrder.continue">Continue</span>
                </w-button>
            </div>

            <div class="body-2 basic-500 checkbox-input">
                <w-checkbox-submit class="checkbox-submit" ng-model="$ctrl.tradeWithScriptAssets" id="remember-my-choice"></w-checkbox-submit>
                <label class="checkbox-input__label" for="remember-my-choice" w-i18n="modal.tryDesktop.label"></label>
            </div>

        </div>
    </md-dialog-content>
</md-dialog>
