.dex-scripted-pair {

  .icon-close {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .pair-wrapper {
    display: inline-block;
    width: 100%;

    w-asset-logo {
      display: inline-block;
      & + w-asset-logo {
        margin-left: 24px;
      }
    }
  }

  &__text {
    div {
      margin-top: 10px;
    }
  }
}
