<div class="dialog-close" w-modal-close></div>
<div class="icon {{::iconClass}}" ng-if="iconClass"></div>
<div class="dialog-message"
     w-i18n="{{::message.literal}}"
     params="::message.params"
     w-i18n-ns="{{::message.ns}}"></div>

<w-button ng-repeat="button in buttons track by $index"
          class="{{::button.classes}}"
          on-click="$ctrl.applyClick(button)">
    <div class="dialog-button"
         w-i18n="{{::button.text.literal}}"
         w-i18n-ns="{{::button.text.ns}}"
         params="{{::button.text.params}}"></div>
</w-button>
