<w-loader class="loader" ng-if="!$ctrl.loaded"></w-loader>

<w-error-block class="error-block" ng-show="$ctrl.loadingError"></w-error-block>

<div class="create-order" w-i18n-ns="app.dex" ng-if="$ctrl.loaded">
    <div class="head">
        <div class="icon-drag margin-right-1"></div>
        <div class="footnote-2 disabled-900">{{$ctrl.amountDisplayName}} / {{$ctrl.priceDisplayName}}</div>
        <div class="icon-close" ng-if="$ctrl.step !== 0" ng-click="$ctrl.closeCreateOrder()"></div>
    </div>

    <div class="body">
        <div class="making-order" ng-class="$ctrl.type">
            <div class="areas">
                <div class="areas-choice">
                    <div w-analytics event="'DEX Buy Click'"
                         event-target="'ui'"
                         event-params='{Pair: $ctrl.analyticsPair}'
                         class="area buy"
                         ng-click="$ctrl.fee && $ctrl.expand('buy')"
                    >
                        <div class="name footnote-3" w-i18n="directives.createOrder.buy"></div>
                    </div>
                    <div w-analytics
                         event="'DEX Sell Click'"
                         event-params='{Pair: $ctrl.analyticsPair}'
                         event-target="'ui'"
                         class="area sell"
                         ng-click="$ctrl.fee && $ctrl.expand('sell')"
                    >
                        <div class="name footnote-3" w-i18n="directives.createOrder.sell"></div>
                    </div>
                </div>

                <w-select class="areas__select expiration__select select__no-user-select" ng-model="$ctrl.orderType">
                    <w-option ng-repeat="orderType in $ctrl.orderTypes track by orderType.id" value="::orderType.id">
                        {{orderType.name}}
                    </w-option>
                </w-select>
            </div>

            <div class="choice">
                <div class="choose buy" ng-click="$ctrl.expand('buy')">
                    <div class="name" w-i18n="directives.createOrder.buy"></div>
                    <div class="price"
                         w-nice-number="$ctrl.ask.price"
                         precision="$ctrl.priceBalance.asset.precision"></div>
                </div>
                <div class="middle caption-3 disabled-900">
                    <div w-i18n="directives.createOrder.spread"></div>
                    <div>{{$ctrl.spreadPercent}}%</div>
                </div>
                <div class="choose sell" ng-click="$ctrl.expand('sell')">
                    <div class="name" w-i18n="directives.createOrder.sell"></div>
                    <div class="price"
                         w-nice-number="$ctrl.bid.price"
                         precision="$ctrl.priceBalance.asset.precision"></div>
                </div>
            </div>

            <div class="create-order-notification js-order-notification">
                <div ng-if="$ctrl.createOrderFailed">
                    <i class="icon"></i><span w-i18n="create.order.failed"></span>
                </div>
                <div ng-if="!$ctrl.createOrderFailed">
                    <i class="icon"></i><span w-i18n="create.order.success"></span>
                </div>
            </div>

            <div class="expandable" ng-if="$ctrl.orderType">
                <form class="fields" name="$ctrl.order" novalidate>
                    <ng-include data-src="$ctrl.orderTemplateUrls[$ctrl.orderType]"></ng-include>

                    <w-permit name="CAN_CREATE_ORDER" mode="on">
                        <w-button
                            disabled="$ctrl.order.$invalid || $ctrl.order.$pristine || $ctrl.isLockedPair"
                            class="place-order small footnote-3"
                            on-click="$ctrl.createOrder($event)"
                        >
                            <span ng-if="$ctrl.type === 'sell'"
                                w-i18n="directives.createOrder.placeSellOrder"
                                params="{name: $ctrl.amountBalance.asset.displayName}"></span>
                            <span ng-if="$ctrl.type === 'buy'"
                                w-i18n="directives.createOrder.placeBuyOrder"
                                params="{name: $ctrl.amountBalance.asset.displayName}"></span>
                        </w-button>
                    </w-permit>
                    <w-permit name="CAN_CREATE_ORDER" mode="off">
                        <div class="plate-note body-3 basic-700 margin-top-1">
                            <w-permit-message literal="directives.createOrder.createOrderNotPermitted"></w-permit-message>
                        </div>
                    </w-permit>
                </form>
            </div>
        </div>
    </div>
</div>
