@import (reference) '../../../config';

w-create-order {
  position: absolute;
  display: block;
  width: 320px;
  top: 100px;
  left: 100px;
  background: #fff;
  border-radius: @border-radius;
  box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.15), 0 0 24px 0 rgba(0, 0, 0, 0.15);

  .create-order {
    position: relative;

    .head {
      padding: 8px 16px;

      .icon-close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 10px;
        height: 10px;
      }
    }

    .body {
      .choice {
        display: flex;
        flex-direction: row;

        .choose {
          flex-grow: 1;
          height: 55px;
          padding-top: 8px;
          text-align: center;
          cursor: pointer;

          &.sell {
            background: @color-error-400;
          }

          &.buy {
            background: @color-success-600;
          }
        }

        .middle {
          width: 70px;
          padding-top: 22px;
          text-align: center;
          background: @color-disabled-50;
          border-top: 1px solid @color-disabled-100;
        }
      }

      .input-like {
        padding: 0;
        display: flex;
        align-items: center;

        w-input {
          display: block;
          width: 50%;

          input {
            height: 28px;
            border: none;
            border-radius: @border-radius;
          }
        }

        .asset-name-wrap {
          position: relative;
          height: 100%;
          width: 50%;
          background-color: @color-disabled-50;
          border-top-right-radius: @border-radius;
          border-bottom-right-radius: @border-radius;
          text-align: right;
        }
      }
    }
  }
}
