<div>
    <div class="amount">
        <div class="field-label">
            <div class="caption-2 basic-500" w-i18n="directives.createOrder.amountField"></div>
        </div>

        <div class="input-wrapper" ng-class="{'invalid': $ctrl.isAmountInvalid()}">
            <w-step-button
                on-step-click="$ctrl.decreaseField('amount', $ctrl.minAmountStep)"
                is-disabled="false"
            >
                <div class="step-button-content step-button-content_minus"></div>
            </w-step-button>
            <div class="tricky-input__wrapper">
                <div class="hidden-input">
                    <span class="hidden-input__transparent-value">
                        {{$ctrl.order.amount.$viewValue}}
                    </span>
                    <span class="caption-1 basic-500">{{$ctrl.amountDisplayName}}</span>
                </div>
                <w-input-container>
                    <div class="input-like tiny tricky-input">
                        <w-input
                            tabindex="1"
                            class="tiny no-validate-icons"
                            type="text"
                            ng-blur="$ctrl.setChangedInput('amount')"
                            w-validate
                            w-validator-asset="{{$ctrl.amountBalance.asset}}"
                            w-validator-lte="{{$ctrl.maxAmountBalance}}"
                            w-validator-gt="0"
                            name="amount"
                            ng-model="$ctrl.amount"
                            autocomplete="off"
                            maxlength="18"
                            required>
                        </w-input>
                        <div class="asset-name-wrap transparent">
                            <div class="caption-1 basic-500">{{$ctrl.amountDisplayName}}</div>
                        </div>
                    </div>

                    <w-input-error message="required" hide-within="$ctrl.ERROR_DISPLAY_INTERVAL">
                        <span w-i18n="directives.createOrder.errors.required"></span>
                    </w-input-error>
                    <w-input-error message="gt" hide-within="$ctrl.ERROR_DISPLAY_INTERVAL">
                        <span w-i18n="directives.createOrder.errors.required"></span>
                    </w-input-error>
                    <w-input-error message="precision" hide-within="$ctrl.ERROR_DISPLAY_INTERVAL">
                    <span w-i18n="directives.createOrder.errors.precision"
                        params="{precision: $ctrl.amountBalance.asset.precision}"></span>
                    </w-input-error>
                    <w-input-error message="lte" hide-within="$ctrl.ERROR_DISPLAY_INTERVAL">
                    <span w-i18n="directives.createOrder.errors.balance"
                        params="{name: $ctrl.amountBalance.asset.displayName}"></span>
                    </w-input-error>
                </w-input-container>
            </div>

            <w-step-button
                on-step-click="$ctrl.increaseField('amount', $ctrl.minAmountStep)"
                is-disabled="false"
            >
                <div class="step-button-content step-button-content_plus"></div>
            </w-step-button>
        </div>

        <div class="field-buttons">
            <w-button
                ng-class="{active: $ctrl.isActiveBalanceButton(0.25)}"
                on-click="$ctrl.setAmountByBalance(0.25)"
                class="micro"
                disabled="!$ctrl.hasBalance()"
            >
                <span class="button">25%</span>
            </w-button>
            <w-button
                ng-class="{active: $ctrl.isActiveBalanceButton(0.5)}"
                on-click="$ctrl.setAmountByBalance(0.5)"
                class="micro"
                disabled="!$ctrl.hasBalance()"
            >
                <span class="button">50%</span>
            </w-button>
            <w-button
                ng-class="{active: $ctrl.isActiveBalanceButton(0.75)}"
                on-click="$ctrl.setAmountByBalance(0.75)"
                class="micro"
                disabled="!$ctrl.hasBalance()"
            >
                <span class="button">75%</span>
            </w-button>
            <w-button
                ng-class="{active: $ctrl.isActiveBalanceButton(1)}"
                on-click="$ctrl.setAmountByBalance(1)"
                class="micro"
                disabled="!$ctrl.hasBalance()"
            >
                <span class="button">100%</span>
            </w-button>
        </div>
    </div>

    <div class="price">
        <div class="field-label caption-2 basic-600" w-i18n="directives.createOrder.priceField"></div>

        <div class="input-like tiny tricky-input disabled">
            <span class="caption-1 basic-500" ng-if="$ctrl.marketAvgPrice.toFormat() !== '0'">≈&nbsp;</span>
            <span>{{$ctrl.marketAvgPrice.toFormat()}}</span>
            <span class="caption-1 basic-500">&nbsp;{{$ctrl.priceDisplayName}}</span>
        </div>
    </div>

    <div class="total">
        <div class="split-half field-label">
            <div class="caption-2 basic-600" w-i18n="directives.createOrder.total"></div>
            <div ng-if="$ctrl.type === 'buy'"
                ng-click="$ctrl.setMaxPrice()"
                class="caption-2 disabled-900 underline-dashed"
            >
                <span class="basic-700" w-i18n="money-currency" params="{money: $ctrl.maxPriceBalance}"></span>
            </div>
            <div ng-if="$ctrl.type === 'sell'"
                ng-click="$ctrl.setMaxAmount()"
                class="caption-2 disabled-900 underline-dashed"
            >
                <span w-i18n="money-currency" params="{money: $ctrl.maxAmountBalance}"></span>
            </div>
        </div>

        <div class="input-like tiny tricky-input disabled">
            <span class="caption-1 basic-500" ng-if="$ctrl.marketTotal.toFormat() !== '0'">≈&nbsp;</span>
            <span>{{$ctrl.marketTotal.toFormat()}}</span>
            <span class="caption-1 basic-500">&nbsp;{{$ctrl.priceDisplayName}}</span>
        </div>
    </div>

    <div class="expiration">
        <div class="expiration__item" ng-if="!$ctrl.feeList.length">
            <span class="expiration__label" w-i18n="directives.createOrder.matcherFee"></span>
            <span class="expiration__value">{{$ctrl.fee.toFormat()}} {{($ctrl.fee.asset.ticker || $ctrl.fee.asset.displayName)}}</span>
        </div>

        <div class="expiration__item expiration__item-fee" ng-if="$ctrl.feeList.length">
            <span class="expiration__label" w-i18n="directives.createOrder.matcherFee"></span>
            <w-select class="expiration__select select__no-user-select" ng-model="$ctrl.fee" up-direction="true">
                <w-option ng-repeat="fee in $ctrl.feeList track by fee.asset.displayName" value="fee">
                    {{fee.toFormat()}} {{(fee.asset.ticker || fee.asset.displayName)}}
                </w-option>
            </w-select>
        </div>
    </div>
</div>
