<md-dialog w-i18n-ns="app.utils" class="tutorial-modals" aria-label="modal">
    <div class="btn icon-close" w-modal-close></div>
    <w-step-by-step active-step="0">
        <w-step class="step-1">
            <md-dialog-content>

                <div class="content-wrapper disabled-600 body-2">
                    <h1>
                        <w-i18n>modal.tutorialModals.step1.title</w-i18n>
                    </h1>

                    <div class="flex-cols">
                        <div class="relative">
                            <img class="computer" src="/img/icons/tutorial-modals/tutorial-computer.svg"/>
                        </div>
                        <div>
                            <div class="margin-2">
                                <w-i18n>modal.tutorialModals.step1.p1</w-i18n>
                            </div>
                            <div class="margin-2">
                                <w-i18n>modal.tutorialModals.step1.p2</w-i18n>
                            </div>
                            <div class="margin-2">
                                <w-i18n>modal.tutorialModals.step1.p3</w-i18n>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="buttons-wrapper">
                    <w-button class="big long submit desktop-only" w-step-next>
                        <w-i18n>modal.tutorialModals.step1.button</w-i18n>
                    </w-button>
                    <w-button class="big long submit mobile-only" w-step-next>
                        <w-i18n>modal.tutorialModals.step1.buttonMobile</w-i18n>
                    </w-button>
                </div>

            </md-dialog-content>
        </w-step>

        <w-step class="step-2">
            <md-dialog-content>
                <div class="content-wrapper disabled-600 body-2">
                    <h1>
                        <w-i18n>modal.tutorialModals.step2.title</w-i18n>
                    </h1>

                    <div class="margin-4">
                        <w-i18n>modal.tutorialModals.step2.p1</w-i18n>
                    </div>

                    <div class="flex-cols">
                        <div class="cell margin-4">
                            <img src="/img/icons/tutorial-modals/anonym.svg"/>
                            <div w-i18n="modal.tutorialModals.step2.cell1"></div>
                        </div>

                        <div class="cell margin-4">
                            <img src="/img/icons/tutorial-modals/password.svg"/>
                            <div w-i18n="modal.tutorialModals.step2.cell2"></div>
                        </div>

                        <div class="cell margin-4">
                            <img src="/img/icons/tutorial-modals/backup.svg"/>
                            <div w-i18n="modal.tutorialModals.step2.cell3"></div>
                        </div>

                        <div class="cell margin-4">
                            <img src="/img/icons/tutorial-modals/paper.svg"/>
                            <div w-i18n="modal.tutorialModals.step2.cell4"></div>
                        </div>
                    </div>
                </div>

                <div class="flex-cols buttons-wrapper">
                    <div>
                        <w-button class="big long" w-step-prev>
                            <w-i18n>modal.tutorialModals.step2.backButton</w-i18n>
                        </w-button>
                    </div>
                    <div>
                        <w-button class="big long submit" w-step-next>
                            <w-i18n>modal.tutorialModals.step2.nextButton</w-i18n>
                        </w-button>
                    </div>
                </div>

            </md-dialog-content>
        </w-step>

        <w-step class="step-3">

            <md-dialog-content>
                <div class="content-wrapper disabled-600 body-2">
                    <h1>
                        <w-i18n>modal.tutorialModals.step3.title</w-i18n>
                    </h1>

                    <div class="margin-4">
                        <w-i18n>modal.tutorialModals.step3.p1</w-i18n>
                    </div>

                    <div class="flex-cols">
                        <div class="cell margin-4" ng-if="$ctrl.isWeb">
                            <img src="/img/icons/tutorial-modals/url.svg"/>
                            <div w-i18n="modal.tutorialModals.step3.cell1"></div>
                        </div>
                        <div class="cell margin-4" ng-if="$ctrl.isWeb">
                            <img src="/img/icons/tutorial-modals/plugin.svg"/>
                            <div w-i18n="modal.tutorialModals.step3.cell2"></div>
                        </div>
                        <div class="cell margin-4">
                            <img src="/img/icons/tutorial-modals/mail.svg"/>
                            <div w-i18n="modal.tutorialModals.step3.cell3"></div>
                        </div>
                        <div class="cell margin-4">
                            <img src="/img/icons/tutorial-modals/refresh.svg"/>
                            <div ng-if="$ctrl.isDesktop">
                                <w-i18n>modal.tutorialModals.step3.cell4</w-i18n>
                            </div>
                            <div ng-if="$ctrl.isWeb">
                                <w-i18n>modal.tutorialModals.step3.cell4Web</w-i18n>
                            </div>
                        </div>
                        <div class="cell margin-4">
                            <img src="/img/icons/tutorial-modals/os.svg"/>
                            <div w-i18n="modal.tutorialModals.step3.cell5"></div>
                        </div>
                        <div class="cell margin-4">
                            <img src="/img/icons/tutorial-modals/wifi.svg"/>
                            <div w-i18n="modal.tutorialModals.step3.cell6"></div>
                        </div>
                    </div>
                </div>

                <div class="flex-cols buttons-wrapper">
                    <div>
                        <w-button class="big long" w-step-prev>
                            <w-i18n>modal.tutorialModals.step3.backButton</w-i18n>
                        </w-button>
                    </div>
                    <div>
                        <w-button class="big long submit" w-modal-hide>
                            <w-i18n>modal.tutorialModals.step3.nextButton</w-i18n>
                        </w-button>
                    </div>
                </div>

            </md-dialog-content>
        </w-step>
    </w-step-by-step>
</md-dialog>
