@import (reference) 'config';
@import (reference) 'icons';
@import (reference) '../../../app/less/typography';

.important-information {
  position: absolute;
  right: 0;
  min-width: 170px;
  top: 43px;
}

@media screen and (max-width: 480px) {
  w-info-tooltip {
    .important-information {
      left: 20px;
      right: auto;
      .tooltip {
        transform: translate(-10px, -6px);
        &::before {
          left: 13px;
        }
      }
    }
  }
}

.flex-cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tutorial-modals {
  .cell {
    background-repeat: no-repeat;
    flex-basis: calc(50% ~'- 10px');
    min-height: 40px;
  }
  .cell-001 {
    background: @modal-anonymus-icon no-repeat;
  }
  .cell-002 {
    background: @modal-password-icon no-repeat;
  }
  .cell-003 {
    background: @modal-backup-icon no-repeat;
  }
  .cell-004 {
    background: @modal-paper-icon no-repeat;
  }
  .cell-005 {
    background: @modal-url-icon no-repeat;
  }
  .cell-006 {
    background: @modal-plugin-icon no-repeat;
  }
  .cell-007 {
    background: @modal-mail-icon no-repeat;
  }
  .cell-008 {
    background: @modal-refresh-icon no-repeat;
  }
  .cell-009 {
    background: @modal-os-icon no-repeat;
  }
  .cell-010 {
    background: @modal-wifi-icon no-repeat;
  }
}

body md-dialog.tutorial-modals {
  .mobile-only {
    display: none;
  }

  h1 {
    padding: 40px 0;
    margin-top: 0;
    text-align: center;
    width: 100%;
    font-size: 34px;
    color: @color-black;
  }

  .cell {
    padding-left: 60px;
    position: relative;
  }

  img.computer {
    margin-right: 40px;
  }
}

@media screen and (min-width: 800px) {
  body md-dialog.tutorial-modals {
    width: 780px;
    min-width: 780px;
    max-height: 96vh;
    top: auto;

    md-dialog-content {
      padding: 20px 60px 0px;

      &::after {
        height: 60px;
      }
    }

    .content-wrapper {
      min-height: 550px;
    }
  }
}

@media screen and (max-width: 800px) {

  body md-dialog.tutorial-modals {

    md-dialog-content {
      padding: 50px 30px 0px;

      &::after {
        height: 30px;
      }
    }

    .flex-cols {
      flex-direction: column;
    }

    .buttons-wrapper {
      flex-direction: column;

      w-button {
        &:last-child {
          margin-top: 20px;
        }
      }

      .fake-button.long,
      w-button.long {
        min-width: 100%;
      }
    }

    h1 {
      padding: 0 0 10px 0;
    }

    .desktop-only {
      display: none;
    }

    .mobile-only {
      display: block;
    }

    img.computer {
      margin: 20px auto;
      display: block;
    }

    .flex {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 480px) {
  body md-dialog.tutorial-modals {
    img.computer {
      transform: scale(.75);
      margin: 0 auto 20px auto;
    }
  }

  body w-button.mobile-mid-fsize > *.big {
    font-size: 14px;
  }
}
