<div class="create-account">

    <a class="waves-logo" ui-sref="welcome"></a>

    <div class="text-center">
        <div class="headline-1">
            <span w-i18n="createAccount.protectYourAccount"></span>
        </div>

        <div class="body-2 disabled-600">
            <span w-i18n="createAccount.protect"></span>
            <a ng-click="$ctrl.next(-1)" w-i18n="backupSeed.back"></a>
        </div>
    </div>

    <hr>

    <w-password class="margin-2"
                name="$ctrl.name"
                password="$ctrl.password"
                on-submit="$ctrl.next()">
        <span w-i18n="button.continue"></span>
    </w-password>

    <!--TODO #wrap-in-component-->

    <div class="or margin-2">
        <span w-i18n="noBackupNoMoney.or"></span>
    </div>
    <div class="text-center body-2 flex-column-center-min margin-2">
        <a ui-sref="welcome" w-i18n="createAccount.signIn"></a>
        <span w-i18n="createAccount.tosaved"></span>
    </div>

</div>
