w-input-container {

  input {
    transition: all 0.3s;
  }

  .ng-touched.ng-invalid {
    border-color: red;
  }

  .error {
    transition: all 0.3s;
    opacity: 0;
    height: 0;
    transform: scaleY(0);
    overflow: hidden;
    display: block;
    color: red;

    &.active {
      opacity: 1;
      transform: scaleY(1);
      height: auto;
    }
  }
}

.ng-submitted .ng-invalid {
  border-color: red;
}
