@import (reference) '../../../config';

input[type="text"], input[type="password"], input[type="number"], .fake-input, textarea {
  border-style: solid;
  border-width: 1px;
  border-color: @color-input-border;
  background-color: @color-input-background;
  border-radius: @border-radius;
  height: 36px;
  font-size: 13px;
  padding: 8px 15px;
  width: 100%;

  &.big {
    font-size: 15px;
    height: 42px;
    padding: 10px 15px;
  }

  &::placeholder {
    color: @color-input-placeholder;
  }

  &:focus, &.focus {
    background-color: @color-input-background-focus;
    color: @color-input-text-focus;
  }

  &.ng-touched {
    &.ng-valid:not(:focus) {
      border-color: @color-input-border-valid;
    }
    &.ng-invalid:not(:focus) {
      border-color: @color-input-border-invalid;
    }
  }
}

input[type="text"], input[type="password"], input[type="number"], textarea {
  &.ng-valid:not(:focus) {
    border-color: @color-input-border-valid;
  }
}

.ng-submitted {
  input[type="text"], input[type="password"], input[type="number"], textarea {

    &.ng-invalid:not(:focus) {
      border-color: @color-input-border-invalid;
    }
  }
}

w-input-container {

  input {
    transition: all 0.3s;
  }

  .error {
    transition: all 0.3s;
    opacity: 0;
    height: 0;
    transform: scaleY(0);
    overflow: hidden;
    display: block;
    color: @color-warning;

    &.active {
      opacity: 1;
      transform: scaleY(1);
      height: auto;
    }
  }
}
