<header w-toggle-class-container>
    <div class="header-wrapper">
        <span class="logo" ng-if="$ctrl.isLogined" ng-click="$ctrl.toWelcome()"></span>
        <a class="logo" ng-if="!$ctrl.isLogined" href="/"></a>

        <nav class="top-menu top-menu-welcome" ng-if="!$ctrl.isLogined">
            <a w-analytics event-target="'ui'"
               event="'Menu Exchange Click'"
               class="link-margin link-dex"
               href="/dex-demo">Exchange</a>
            <a w-analytics event-target="'ui'"
               event="'Menu API Click'"
               class="link-margin"
               href="https://docs.wavesplatform.com/en/waves-api-and-sdk/dex-api.html" target="_blank">API</a>
            <a w-analytics event-target="'ui'"
               event="'Menu Help Click'"
               class="link-margin"
               href="https://docs.wavesplatform.com/en/waves-client/install-waves-client.html" target="_blank">Help</a>
            <a w-analytics event-target="'ui'"
               event="'Menu News Click'"
               class="link-margin"
               href="https://twitter.com/wavesplatform" target="_blank">News</a>
            <div class="relative dropdown-toggler">
                <span class="dropdown-btn">Download</span>
                <div class="dropdown menu-margin">
                    <a w-analytics event-target="'ui'"
                       event="'Menu Download Windows Click'"
                       href="https://wavesplatform.com/files/WavesClient-win.zip"
                       target="_blank">
                        <i class="dropdown-icon icon-24 icon-win"></i>
                        <div>
                            <div>Windows</div>
                            <div class="footnote-1 basic-500">Download Windows application</div>
                        </div>
                    </a>

                    <a w-analytics event-target="'ui'"
                       event="'Menu Download Mac OS Click'"
                       href="https://wavesplatform.com/files/WavesClient-mac.dmg"
                       target="_blank">
                        <i class="dropdown-icon icon-24 icon-mac"></i>
                        <div>
                            <div>MacOS</div>
                            <div class="footnote-1 basic-500">Download MacOS application</div>
                        </div>
                    </a>

                    <a w-analytics event-target="'ui'"
                       event="'Menu Download Linux Click'"
                       href="https://wavesplatform.com/files/WavesClient-linux.deb"
                       target="_blank">
                        <i class="dropdown-icon icon-24 icon-linux"></i>
                        <div>
                            <div>Linux</div>
                            <div class="footnote-1 basic-500">Download Linux application</div>
                        </div>
                    </a>
                </div>
            </div>
        </nav>

        <div class="mobile-menu-toggler">
            <span></span>
        </div>

        <nav class="mobile-menu">
            <div class="mobile-menu-wrapper">
                <ul ng-if="!$ctrl.isLogined">
                    <li><a href="/dex-demo" ng-click="$ctrl.removeBodyClass()">Exchange</a></li>
                    <li><a href="https://docs.wavesplatform.com/en/waves-api-and-sdk/dex-api.html"
                           target="_blank">API</a></li>
                    <li><a href="https://docs.wavesplatform.com/en/waves-client/install-waves-client.html"
                           target="_blank">Help</a></li>
                    <li><a href="https://twitter.com/wavesplatform" target="_blank">News</a></li>
                    <li><a class="has-child" w-toggle-class="show-downloads" href="#">Download</a>
                </ul>

                <ul ng-if="$ctrl.isLogined">
                    <li w-toggle-class="show-aliases">
                        <a class="has-child has-user-address"
                           w-toggle-class="mobile-menu-inner-expanded"
                           href="#">

                            <div class="flex">
                                <w-analytics event="'Account Picture Click'" event-target="'ui'">
                                    <w-avatar size="30"
                                              ng-click="$ctrl.avatarClick()"
                                              address="$ctrl.address"></w-avatar>
                                </w-analytics>

                                <w-help-icon class="avatar-options-list" ng-if="($ctrl.hasTypeHelp)">
                                    <div class="help-icon__row row-keeper" ng-if="$ctrl.isKeeper">
                                        <span class="acount-option-icon"></span>
                                        <span w-i18n="leftmenu.keeperAccount"></span>
                                    </div>
                                    <div class="help-icon__row row-ledger" ng-if="$ctrl.isLedger">
                                        <span class="acount-option-icon"></span>
                                        <span w-i18n="leftmenu.ledgerAccount"></span>
                                    </div>
                                    <div class="help-icon__row row-script" ng-if="$ctrl.isScript">
                                        <span class="acount-option-icon"></span>
                                        <span w-i18n="leftmenu.scriptAccount"></span>
                                    </div>
                                </w-help-icon>


                                <div class="body-2">@Lisicinz</div>
                                <w-copy-wrap class="ellipsis"
                                             info="::$ctrl.address"
                                             ng-click="$ctrl.onCopyAddress()">
                                    <div class="caption-2 basic-600">{{::$ctrl.address}}</div>
                                </w-copy-wrap>
                            </div>
                        </a>
                    </li>
                    <li><a href="/dex">Exchange</a></li>
                    <li w-toggle-class="show-wallet">
                        <a href="#" class="has-child" w-toggle-class="mobile-menu-inner-expanded">Wallet</a>
                    </li>
                    <li><a href="/tokens">Create token</a></li>
                </ul>
            </div>

            <div class="mobile-menu-wrapper mobile-menu-wrapper-inner download-menu" ng-if="!$ctrl.isLogined">
                <ul>
                    <li><a class="menu-link menu-link-menu"
                           w-toggle-class="show-downloads"
                           href="#">Menu</a>
                    <li><a w-analytics event-target="'ui'"
                           event="'Menu Download Android Click'"
                           href="https://play.google.com/store/apps/details?id=com.wavesplatform.wallet"
                           target="_blank">Apple</a></li>
                    <li><a w-analytics event-target="'ui'"
                           event="'Menu Download Apple mobile Click'"
                           href="https://itunes.apple.com/us/app/waves-wallet/id1233158971?mt=8"
                           target="_blank">Android</a></li>
                </ul>
            </div>

            <div class="mobile-menu-wrapper mobile-menu-wrapper-inner aliases-menu" ng-if="$ctrl.isLogined">
                <ul>
                    <li><a class="menu-link menu-link-menu" w-toggle-class="show-aliases" href="#">Menu</a>
                    <li><a class="menu-link menu-link-aliases" href="#" ng-click="$ctrl.avatarClick()">Aliases</a></li>
                    <li><a class="menu-link menu-link-settings" href="#" ng-click="$ctrl.settings()">Settings</a></li>
                    <li><a class="menu-link menu-link-logout" ng-click="$ctrl.logout()" href="#">Log Out</a></li>
                </ul>
            </div>

            <div class="mobile-menu-wrapper mobile-menu-wrapper-inner wallet-menu" ng-if="$ctrl.isLogined">
                <ul>
                    <li><a class="menu-link menu-link-menu" w-toggle-class="show-wallet" href="#">Menu</a>
                    <li><a class="menu-link menu-link-dashboard" href="/wallet/assets">Dashboard</a></li>
                    <li><a class="menu-link menu-link-portfolio" href="/wallet/portfolio">Porfolio</a></li>
                    <li><a class="menu-link menu-link-transactions" href="/wallet/transactions">Transactions</a></li>
                    <li><a class="menu-link menu-link-leasing" href="/wallet/leasing">Leasing</a></li>
                    <li><a class="menu-link menu-link-logout" ng-click="$ctrl.logout()" href="#">Log Out</a></li>
                </ul>
            </div>

            <div class="mobile-menu-fader"></div>
        </nav>

        <nav class="top-menu top-menu-wallet" ng-if="$ctrl.isLogined">
            <a class="link-margin link-dex" href="/dex">Exchange</a>
            <div class="relative dropdown-toggler link-margin">
                <a class="dropdown-btn link-wallet" href="/wallet/assets">Wallet</a>
                <div class="dropdown">
                    <a class="link-assets" href="/wallet/assets">
                        <i class="dropdown-icon icon-18 icon-dashboard"></i>
                        <div>
                            <div>Dashboard</div>
                        </div>
                    </a>
                    <a class="link-portfolio" href="/wallet/portfolio">
                        <i class="dropdown-icon icon-18 icon-portfolio"></i>
                        <div>
                            <div>Portfolio</div>
                        </div>
                    </a>
                    <a class="link-transactions" href="/wallet/transactions">
                        <i class="dropdown-icon icon-18 icon-transactions"></i>
                        <div>
                            <div>Transactions</div>
                        </div>
                    </a>
                    <a class="link-leasing" href="/wallet/leasing">
                        <i class="dropdown-icon icon-18 icon-leasing"></i>
                        <div>
                            <div>Leasing</div>
                        </div>
                    </a>
                </div>
            </div>
            <a class="link-margin link-tokens" href="/tokens">Create token</a>
        </nav>

        <div ng-if="$ctrl.signInBtn || $ctrl.getStartedBtn"
             class="login-buttons buttons-wrapper buttons-wrapper-nowidth">
            <a class="body-2 margin-right-3 submit-400" ng-if="$ctrl.signInBtn" href="/sign-in">Sign In</a>
            <a class="fake-button submit medium" ng-if="$ctrl.getStartedBtn" href="/create">
                <span class="fake-button-content medium submit">Get Started</span>
            </a>
        </div>

        <div ng-if="$ctrl.isLogined" class="avatar-container dropdown-toggler has-helper">
            <w-analytics event="'Account Picture Click'" event-target="'ui'">
                <w-avatar
                    type="{{$ctrl.userType}}"
                    ng-click="$ctrl.avatarClick()"
                    size="36"
                    address="$ctrl.address"></w-avatar>
            </w-analytics>

            <w-help-icon class="avatar-options-list" ng-if="($ctrl.hasTypeHelp)">
                <div class="help-icon__row row-keeper" ng-if="$ctrl.isKeeper">
                    <span class="acount-option-icon"></span>
                    <span w-i18n="leftmenu.keeperAccount"></span>
                </div>
                <div class="help-icon__row row-ledger" ng-if="$ctrl.isLedger">
                    <span class="acount-option-icon"></span>
                    <span w-i18n="leftmenu.ledgerAccount"></span>
                </div>
                <div class="help-icon__row row-script" ng-if="$ctrl.isScript">
                    <span class="acount-option-icon"></span>
                    <span w-i18n="leftmenu.scriptAccount"></span>
                </div>
            </w-help-icon>

            <div class="dropdown">
                <div class="center">
                    <w-avatar
                        type="{{$ctrl.userType}}"
                        ng-click="$ctrl.avatarClick()"
                        size="40"
                        class="margin-1 margin-top-2"
                        address="$ctrl.address"></w-avatar>
                    <div class="basic-900">@Lisicinz</div>

                    <w-copy-wrap class="margin-2 copywrap-default" info="::$ctrl.address" ng-click="$ctrl.onCopyAddress()">
                        <div class="flex container basic-500" ng-click="$ctrl.onCopy()" w-copy="$ctrl.info">
                            3PKh1ni1XzXGa1xE8rRoVAaeikSeAPVBrKB
                        </div>
                    </w-copy-wrap>
                </div>

                <a class="link-aliases" ng-click="$ctrl.avatarClick()">
                    <i class="dropdown-icon icon-18 icon-aliases"></i>
                    <div>
                        <div>Aliases</div>
                    </div>
                </a>
                <a class="link-settings" ng-click="$ctrl.settings()">
                    <i class="dropdown-icon icon-18 icon-settings"></i>
                    <div>
                        <div ng-click="$ctrl.settings()">Settings</div>
                    </div>
                </a>
                <a class="link-logout" ng-click="$ctrl.logout()">
                    <i class="dropdown-icon icon-18 icon-logout"></i>
                    <div>
                        <div>Log Out</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</header>
