<header>
    <div class="header-wrapper">
        <a class="logo" href="/"></a>

        <nav class="top-menu top-menu-welcome">
            <a class="link-dex" href="/dex-demo">Exchange</a>
            <a href="https://docs.wavesplatform.com/en/waves-api-and-sdk/dex-api.html" target="_blank">API</a>
            <a href="https://docs.wavesplatform.com/en/waves-client/install-waves-client.html" target="_blank">Help</a>
            <a href="#">News</a> <!-- TODO waves dex twitter channel -->

            <div class="relative dropdown-toggler">
                <a class="dropdown-btn" href="https://wavesplatform.com/products-wallet" target="_blank">Download</a>
                <div class="dropdown">
                    <a href="https://wavesplatform.com/files/WavesClient-win.zip">
                        <i class="dropdown-icon icon-24 icon-win"></i>
                        <div>
                            <div>Windows</div>
                            <div class="footnote-1 basic-500">Download Windows application</div>
                        </div>
                    </a>

                    <a href="https://wavesplatform.com/files/WavesClient-mac.dmg">
                        <i class="dropdown-icon icon-24 icon-mac"></i>
                        <div>
                            <div>MacOS</div>
                            <div class="footnote-1 basic-500">Download MacOS application</div>
                        </div>
                    </a>

                    <a href="https://wavesplatform.com/files/WavesClient-linux.deb">
                        <i class="dropdown-icon icon-24 icon-linux"></i>
                        <div>
                            <div>Linux</div>
                            <div class="footnote-1 basic-500">Download Linux application</div>
                        </div>
                    </a>
                </div>
            </div>
        </nav>

        <!-- TODO -->
        <div class="login-buttons buttons-wrapper buttons-wrapper-nowidth">
            <a href="#" class="submit400 body-2 margin-right-3">Sign In</a>
            <a class="fake-button submit medium" href="/create">
                <span class="fake-button-content medium submit">Get Started</span>
            </a>
        </div>

        <nav class="top-menu top-menu-wallet">
            <a class="link-dex" href="/dex">Exchange</a>
            <div class="relative dropdown-toggler">
                <a class="dropdown-btn link-wallet" href="/wallet/assets">Wallet</a>
                <div class="dropdown">
                    <a class="link-assets" href="/wallet/assets">
                        <i class="dropdown-icon icon-18 icon-dashboard"></i>
                        <div>
                            <div>Dashboard</div>
                        </div>
                    </a>
                    <a class="link-portfolio" href="/wallet/portfolio">
                        <i class="dropdown-icon icon-18 icon-portfolio"></i>
                        <div>
                            <div>Portfolio</div>
                        </div>
                    </a>
                    <a class="link-transactions" href="/wallet/transactions">
                        <i class="dropdown-icon icon-18 icon-transactions"></i>
                        <div>
                            <div>Transactions</div>
                        </div>
                    </a>
                    <a class="link-leasing" href="/wallet/leasing">
                        <i class="dropdown-icon icon-18 icon-leasing"></i>
                        <div>
                            <div>Leasing</div>
                        </div>
                    </a>
                </div>
            </div>
            <a class="link-tokens" href="/tokens">Create token</a>
        </nav>

        <div class="avatar-container dropdown-toggler has-helper">
            <w-analytics event="'Account Picture Click'" event-target="'ui'">
                <w-avatar
                    type="{{$ctrl.userType}}"
                    ng-click="$ctrl.avatarClick()"
                    size="40"
                    address="$ctrl.address"></w-avatar>
            </w-analytics>

            <w-help-icon class="avatar-options-list" ng-if="($ctrl.hasTypeHelp)">
                <div class="help-icon__row row-keeper" ng-if="$ctrl.isKeeper">
                    <span class="acount-option-icon"></span>
                    <span w-i18n="leftmenu.keeperAccount"></span>
                </div>
                <div class="help-icon__row row-ledger" ng-if="$ctrl.isLedger">
                    <span class="acount-option-icon"></span>
                    <span w-i18n="leftmenu.ledgerAccount"></span>
                </div>
                <div class="help-icon__row row-script" ng-if="$ctrl.isScript">
                    <span class="acount-option-icon"></span>
                    <span w-i18n="leftmenu.scriptAccount"></span>
                </div>
            </w-help-icon>

            <div class="dropdown">

                <div class="center">
                    <w-avatar
                        type="{{$ctrl.userType}}"
                        ng-click="$ctrl.avatarClick()"
                        size="40"
                        class="margin-1 margin-top-2"
                        address="$ctrl.address"></w-avatar>
                    <div class="basic-900">Pindos Nasosov</div>

                    <div class="flex dropdown-user-address basic-500">
                        <div>3PKh1ni1XzXGa1xE8rRoVAaeikSeAPVBrKB</div>
                        <w-copy-wrap class="icon-copy icon-14"></w-copy-wrap>
                    </div>
                </div>

                <a class="link-aliases">
                    <i class="dropdown-icon icon-18 icon-aliases"></i>
                    <div>
                        <div>Aliases</div>
                    </div>
                </a>
                <a class="link-settings">
                    <i class="dropdown-icon icon-18 icon-settings"></i>
                    <div>
                        <div>Settings</div>
                    </div>
                </a>
                <a class="link-logout">
                    <i class="dropdown-icon icon-18 icon-logout"></i>
                    <div>
                        <div>Log Out</div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</header>
