@import (reference) 'config';
@import (reference) '../../../app/less/typography';

@header-shadow: 0 1px 0 0 rgba(161, 181, 230, 0.05);

w-site-header {
  box-shadow: @header-shadow;

  header {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    display: block;
    z-index: 11;
    background: @color-white;
    padding: 9px 20px;

    &.fixed-header {
      top: -82px;
      position: fixed;
      box-shadow: 0 0 10px 0 #000;
      animation: header-animation 4s ease;
    }

    a,
    .dropdown-toggler {
      font-size: 15px;
      color: @color-basic-900;
      &:hover {
        color: @color-submit-400;
      }
    }

    a:not(:last-child) {
      margin-right: 30px;
    }
  }

  .get-started-btn {
    margin-right: 15px;

    .icon-arrow-right {
      margin-left: 10px;
      transition: .3s;
    }

    &:hover {
      .icon-arrow-right {
        transform: translateX(10px);
      }
    }
  }

  .header-wrapper {
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    background: @color-white;
    z-index: 111;
    padding: 0 80px;
  }

  .dropdown-toggler {
    cursor: pointer;
    margin: 0;
    height: 40px;
    display: flex;
    align-items: center;

    &::after {
      content: '';
      display: none;
      width: 100%;
      height: 22px;
      position: absolute;
      z-index: 11;
      bottom: -21px;
    }

    &:hover {
      &::after {
        display: block;
      }
      .dropdown {
        display: block;
      }
    }
  }

  .dropdown {
    display: none;
    padding: 10px 0;
    box-shadow: 0 2px 44px 0 rgba(31, 39, 61, 0.15);
    background: @color-white;
    border-radius: 8px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 11px);
    z-index: 10;
    min-width: 280px;

    &-btn {
      padding-right: 17px;
      background: url(/img/landing/arrow-down.svg) right center no-repeat;

      &:hover {
        background: url(/img/landing/arrow-down-blue.svg) right center no-repeat;
      }
    }

    &-icon {
      margin-right: 15px;
    }

    a {
      display: flex;
      align-items: center;
      padding: 18px 0;
      margin: 0 20px;
      font-size: 15px;
      color: @color-basic-900;

      &:first-child {
        padding: 10px 0 18px;
      }

      &:last-child {
        padding: 18px 0 10px;
      }

      &:not(:last-child) {
        border-bottom: 1px solid @color-info-50;
      }

      span.description {
        color: @color-basic-500;
        font-size: 13px;
        font-weight: 300;
      }
    }
  }

  nav.top-menu {
    height: 32px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    flex-grow: 1;
    position: relative;
    a {}
    &-wallet {
      display: none;
    }
  }

  .avatar-container {
    display: none;
    position: relative;
    cursor: pointer;
    width: 80px;
    background: url(/img/icons/arrow-down-12.svg) 52px center no-repeat;

    w-avatar[type='scripted'],
    w-avatar[type='ledger'],
    w-avatar[type='wavesKeeper'] {
      display: block;
      width: 40px;
      height: 40px;
      margin: 0 auto;
    }

    w-avatar:hover .avatar-options-list {
      display: block;
    }

    // account type helper tooltip
    .avatar-container.has-helper {
      w-help-icon {
        position: absolute;
        left: 100%;
        top: 0;

        .help-icon {
          &__icon {
            &::after {
              left: 19px;
              top: 50%;
              margin-top: -5px;
            }
          }

          &__content {
            left: 6px;
            top: 31px;
          }
        }
      }
    }

    .dropdown {
      left: auto;
      cursor: default;
      transform: translate(0, 11px);
      min-width: 280px;
      right: 0;

      &-user-address {
        font-size: 11px;
        padding-bottom: 20px;
        border-bottom: 1px solid @color-info-50;

        // TODO @uIsk - move this to copyWrap component
        w-copy-wrap {
          height: 12px;
          width: 12px;
          border: 0 none;
          border-radius: 0;
          background: none transparent;
          margin: 1px 0 0 7px;

          .container {
            padding: 0;
          }

          .copy-icon {
            background: url(/img/icons/copy-14-basic500.svg) center no-repeat;
            position: relative;
            display: block;
            width: 14px;
            height: 14px;
            flex-basis: auto;
            margin-right: 0;
            border: 0 none;
          }
        }
      }
    }
  }

  .center {
    margin: 0 auto;
    text-align: center;
  }

  .width {
    width: 100%;
  }

  .height {
    height: 100%;
    display: block;
  }

  .logo {
    width: 152px;
    height: 32px;
    display: block;
    background: url(/img/icons/wavesdex-black-32.svg) center no-repeat;

    &-white {
      background: url(/img/icons/wavesdex-invert-32.svg) center no-repeat;
    }
  }

  .icon {
    display: block;

    &-18 {
      width: 18px;
      height: 18px;
    }

    &-24 {
      width: 24px;
      height: 24px;
    }

    &-win {
      background: url(/img/icons/windows.svg) center no-repeat;
    }

    &-mac {
      background: url(/img/icons/apple.svg) center no-repeat;
    }

    &-linux {
      background: url(/img/icons/linux.svg) center no-repeat;
    }

    &-portfolio {
      background: url(/img/icons/portfolio.svg) center no-repeat;
    }

    &-dashboard {
      background: url(/img/icons/dashboard.svg) center no-repeat;
    }

    &-transactions {
      background: url(/img/icons/transactions.svg) center no-repeat;
    }

    &-leasing {
      background: url(/img/icons/leasing.svg) center no-repeat;
    }

    &-aliases {
      background: url(/img/icons/alias.svg) center no-repeat;
    }

    &-settings {
      background: url(/img/icons/settings.svg) center no-repeat;
    }

    &-logout {
      background: url(/img/icons/logout.svg) center no-repeat;
    }
  }
}

body.wallet {
  &.assets {
    a.link-assets {
      color: @color-submit-400;
    }
  }
  &.portfolio {
    a.link-portfolio {
      color: @color-submit-400;
    }
  }
  &.transactions {
    a.link-transactions {
      color: @color-submit-400;
    }
  }
  &.leasing {
    a.link-leasing {
      color: @color-submit-400;
    }
  }
  a.link-wallet {
    color: @color-submit-400;
  }
}

body.dex,
body.dex-demo {
  a.link-dex {
    color: @color-submit-400;
  }
}

body.tokens {
  a.link-tokens {
    color: @color-submit-400;
  }
}

body.wallet,
body.dex,
body.tokens {
  w-site-header {
    header {
      .login-buttons {
        display: none;
      }

      .avatar-container {
        display: flex;
      }

      nav.top-menu {
        &.top-menu-wallet {
          display: flex;
          .dropdown {
            min-width: 215px;
          }
        }

        &.top-menu-welcome {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  w-site-header {
    header {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

@media screen and (max-width: 860px) {
  w-site-header {
    header {
      .top-menu:not(.top-menu-mobile),
      .buttons-wrapper {
        display: none;
      }
    }
  }
}
