<header w-toggle-class-container w-i18n-ns="app.welcome">
    <div class="header-wrapper">
        <span class="logo logo-header" ng-if="$ctrl.isLogined"></span>
        <a class="logo logo-header" ng-if="!$ctrl.isLogined" href="/"></a>

        <nav class="top-menu top-menu-welcome" ng-if="!$ctrl.isLogined">
            <a w-analytics event-target="'ui'"
               event="'Menu Exchange Click'"
               event-target="'ui'"
               class="link-margin link-dex"
               ui-sref="main.dex-demo"
               w-i18n="welcome.exchange">
            </a>
            <a w-analytics event-target="'ui'"
               event="'Menu API Click'"
               event-target="'ui'"
               class="link-margin"
               href="https://docs.wavesplatform.com/en/waves-api-and-sdk/dex-api.html"
               target="_blank"
               rel="noopener noreferrer"
               w-i18n="welcome.api">
            </a>
            <a w-analytics event-target="'ui'"
               event="'Menu Help Click'"
               event-target="'ui'"
               class="link-margin"
               href="https://docs.wavesplatform.com/en/waves-client/install-waves-client.html"
               target="_blank"
               rel="noopener noreferrer"
               w-i18n="welcome.help">
            </a>
            <a w-analytics event-target="'ui'"
               event="'Menu News Click'"
               event-target="'ui'"
               class="link-margin"
               href="https://twitter.com/Waves_DEX"
               target="_blank"
               rel="noopener noreferrer"
               w-i18n="welcome.news"></a>
            <div class="relative dropdown-toggler" ng-if="!$ctrl.isDesktop">
                <span class="dropdown-btn" w-i18n="welcome.download"></span>
                <div class="dropdown menu-margin">
                    <a w-analytics
                       event-target="'ui'"
                       event="'Menu Download Windows Click'"
                       href="https://wavesplatform.com/files/WavesDEX-win.zip"
                       target="_blank"
                       rel="noopener noreferrer">
                        <i class="dropdown-icon icon-24 icon-win"></i>
                        <div>
                            <div w-i18n="welcome.windows"></div>
                            <div class="footnote-1 basic-500" w-i18n="welcome.windowsDescription"></div>
                        </div>
                    </a>

                    <a w-analytics event-target="'ui'"
                       event="'Menu Download Mac OS Click'"
                       href="https://wavesplatform.com/files/WavesDEX-mac.dmg"
                       target="_blank"
                       rel="noopener noreferrer">
                        <i class="dropdown-icon icon-24 icon-mac"></i>
                        <div>
                            <div w-i18n="welcome.macOs"></div>
                            <div class="footnote-1 basic-500" w-i18n="welcome.macOsDescription"></div>
                        </div>
                    </a>

                    <a w-analytics event-target="'ui'"
                       event="'Menu Download Linux Click'"
                       href="https://wavesplatform.com/files/WavesDEX-linux.deb"
                       target="_blank"
                       rel="noopener noreferrer">
                        <i class="dropdown-icon icon-24 icon-linux"></i>
                        <div>
                            <div w-i18n="welcome.linux"></div>
                            <div class="footnote-1 basic-500" w-i18n="welcome.linuxDescription"></div>
                        </div>
                    </a>
                </div>
            </div>
        </nav>

        <div class="mobile-menu-toggler" ng-click="$ctrl.removeInnerMenu()">
            <span></span>
        </div>

        <nav class="mobile-menu">
            <div class="mobile-menu-wrapper">
                <ul ng-if="!$ctrl.isLogined">
                    <li><a ui-sref="welcome" ng-click="$ctrl.removeBodyClass()" class="menu-link-main" w-i18n="welcome.mainPage"></a></li>
                    <li><a ui-sref="main.dex-demo" ng-click="$ctrl.removeBodyClass()" class="menu-link-exchange" w-i18n="welcome.exchange"></a></li>
                    <li><a href="https://docs.wavesplatform.com/en/waves-api-and-sdk/dex-api.html"
                           w-analytics event-target="'ui'"
                           event="'Menu API Click'"
                           target="_blank"
                           rel="noopener noreferrer"
                           w-i18n="welcome.api"></a></li>
                    <li><a href="https://docs.wavesplatform.com/en/waves-client/install-waves-client.html"
                           w-analytics event-target="'ui'"
                           event="'Menu Help Click'"
                           target="_blank"
                           rel="noopener noreferrer"
                           w-i18n="welcome.help"></a></li>
                    <li><a href="https://twitter.com/Waves_DEX"
                           w-analytics event-target="'ui'"
                           event="'Menu Twitter Click'"
                           target="_blank"
                           rel="noopener noreferrer"
                           w-i18n="welcome.news"></a></li>
                    <li ng-if="!$ctrl.isDesktop">
                        <a class="has-child"
                           w-toggle-class="show-downloads"
                           w-i18n="welcome.download"
                           href="#"></a></li>
                    <li class="separator"></li>
                    <li><a class="sign-in-link signIn-hidden"
                           ng-if="$ctrl.hasUsers"
                           ng-click="$ctrl.removeBodyClass()"
                           ui-sref="signIn" w-i18n="welcome.signIn"></a></li>
                    <li><a class="menu-link get-started-link create-hidden"
                           ng-click="$ctrl.removeBodyClass()"
                           ui-sref="create" w-i18n="welcome.getStarted"></a></li>
                </ul>

                <ul ng-if="$ctrl.isLogined">
                    <li w-toggle-class="show-aliases">
                        <a class="has-child has-user-address"
                           w-toggle-class="mobile-menu-inner-expanded"
                           href="#">

                            <div class="flex mobile-menu-user-data">
                                <div class="avatar-container has-helper"> <!-- MOBILE -->
                                    <w-avatar size="40" address="$ctrl.address"></w-avatar>

                                    <w-help-icon class="avatar-options-list" ng-if="($ctrl.hasTypeHelp)"> <!-- -->
                                        <div class="help-icon__row row-keeper" ng-if="$ctrl.isKeeper">
                                            <span class="acount-option-icon"></span>
                                            <span w-i18n="welcome.keeperAccount"></span>
                                        </div>
                                        <div class="help-icon__row row-ledger" ng-if="$ctrl.isLedger">
                                            <span class="acount-option-icon"></span>
                                            <span w-i18n="welcome.ledgerAccount"></span>
                                        </div>
                                        <div class="help-icon__row row-script" ng-if="$ctrl.isScript">
                                            <span class="acount-option-icon"></span>
                                            <span w-i18n="welcome.scriptAccount"></span>
                                        </div>
                                    </w-help-icon>
                                </div>

                                <div class="flex mobile-user-info">
                                    <div>
                                        <div class="body-2 margin-05">{{::$ctrl.userName}}</div>
                                        <div>
                                            <w-copy-wrap class="copywrap-default"
                                                         info="::$ctrl.address"
                                                         ng-click="$ctrl.onCopyAddress()">
                                                <div class="caption-2 basic-600">{{::$ctrl.address}}</div>
                                            </w-copy-wrap>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li w-toggle-class="expanded">
                        <a ui-sref="main.dex"
                           ng-click="$ctrl.removeBodyClass()"
                           w-i18n="welcome.exchange"></a></li>
                    <li w-toggle-class="show-wallet">
                        <a href="#" class="has-child" w-i18n="welcome.wallet"
                           w-toggle-class="mobile-menu-inner-expanded"></a>
                    </li>
                    <li w-toggle-class="expanded">
                        <a ng-click="$ctrl.removeBodyClass()"
                           ui-sref="main.tokens" w-i18n="welcome.createToken"></a></li>
                    <li class="separator"></li>
                    <li w-toggle-class="expanded" ng-click="$ctrl.logout()">
                        <a ng-click="$ctrl.removeBodyClass()"
                           class="menu-link menu-link-logout"
                           w-i18n="welcome.logout"
                           href="#"></a></li>
                </ul>
            </div>

            <div class="mobile-menu-wrapper mobile-menu-wrapper-inner download-menu" ng-if="!$ctrl.isLogined">
                <ul>
                    <li w-toggle-class="mobile-menu-inner-expanded">
                        <a class="menu-link menu-link-menu"
                           w-toggle-class="show-downloads"
                           href="#"
                           w-i18n="welcome.menu"></a></li>
                    <li w-toggle-class="expanded mobile-menu-inner-expanded">
                        <a class="menu-link menu-link-apple"
                           w-analytics
                           event-target="'ui'"
                           event="'Menu Download Android Click'"
                           href="https://itunes.apple.com/us/app/waves-wallet/id1233158971?mt=8"
                           ng-click="$ctrl.removeBodyClass()"
                           target="_blank"
                           rel="noopener noreferrer"
                           w-i18n="welcome.apple"></a></li>
                    <li w-toggle-class="expanded mobile-menu-inner-expanded">
                        <a class="menu-link menu-link-android"
                           w-analytics
                           event-target="'ui'"
                           event="'Menu Download Apple mobile Click'"
                           href="https://play.google.com/store/apps/details?id=com.wavesplatform.wallet"
                           target="_blank"
                           ng-click="$ctrl.removeBodyClass()"
                           rel="noopener noreferrer"
                           w-i18n="welcome.android"></a></li>
                </ul>
            </div>

            <div class="mobile-menu-wrapper mobile-menu-wrapper-inner aliases-menu" ng-if="$ctrl.isLogined">
                <ul>
                    <li w-toggle-class="mobile-menu-inner-expanded">
                        <a class="menu-link menu-link-menu"
                           w-toggle-class="show-aliases" href="#"
                           w-i18n="welcome.menu"></a></li>
                    <li w-toggle-class="show-aliases expanded">
                        <a class="menu-link menu-link-aliases"
                           ng-click="$ctrl.avatarClick()"
                           w-i18n="welcome.aliases"
                           href="#"></a></li>
                    <li w-toggle-class="show-aliases expanded">
                        <a class="menu-link menu-link-settings"
                           ng-click="$ctrl.settings()"
                           w-i18n="welcome.settings"
                           href="#"></a></li>
                    <li class="separator"></li>
                    <li w-toggle-class="show-aliases expanded">
                        <a class="menu-link menu-link-logout"
                           ng-click="$ctrl.logout()"
                           w-i18n="welcome.logout"
                           href="#"></a></li>
                </ul>
            </div>

            <div class="mobile-menu-wrapper mobile-menu-wrapper-inner wallet-menu" ng-if="$ctrl.isLogined">
                <ul>
                    <li w-toggle-class="show-wallet">
                        <a class="menu-link menu-link-menu"
                           href="#"
                           w-i18n="welcome.menu"></a></li>
                    <li w-toggle-class="expanded show-wallet">
                        <a class="menu-link menu-link-dashboard"
                           ng-click="$ctrl.removeBodyClass()"
                           ui-sref="main.wallet.assets"
                           w-i18n="welcome.dashboard"></a>
                    </li>
                    <li w-toggle-class="expanded show-wallet">
                        <a class="menu-link menu-link-portfolio"
                           ng-click="$ctrl.removeBodyClass()"
                           ui-sref="main.wallet.portfolio"
                           w-i18n="welcome.portfolio"></a></li>
                    <li w-toggle-class="expanded show-wallet">
                        <a class="menu-link menu-link-transactions"
                           ng-click="$ctrl.removeBodyClass()"
                           ui-sref="main.wallet.transactions"
                           w-i18n="welcome.transactions"></a></li>
                    <li w-toggle-class="expanded show-wallet">
                        <a class="menu-link menu-link-leasing"
                           ng-click="$ctrl.removeBodyClass()"
                           ui-sref="main.wallet.leasing"
                           w-i18n="welcome.leasing"></a></li>
                    <li class="separator"></li>
                    <li w-toggle-class="expanded show-wallet">
                        <a class="menu-link menu-link-logout"
                           ng-click="$ctrl.removeBodyClass()"
                           ng-click="$ctrl.logout()"
                           href="#"
                           w-i18n="welcome.logout"></a></li>
                </ul>
            </div>

            <div ng-click="$ctrl.removeInnerMenu()" class="mobile-menu-fader"></div>
        </nav>

        <nav class="top-menu top-menu-wallet" ng-if="$ctrl.isLogined">
            <a class="link-margin link-dex" ui-sref="main.dex" w-i18n="welcome.exchange"></a>
            <div class="relative dropdown-toggler link-margin">
                <a class="dropdown-btn link-wallet" href="#" w-i18n="welcome.wallet"></a>
                <div class="dropdown">
                    <a class="link-assets" ui-sref="main.wallet.assets">
                        <i class="dropdown-icon icon-18 icon-dashboard"></i>
                        <div>
                            <div w-i18n="welcome.dashboard"></div>
                        </div>
                    </a>
                    <a class="link-portfolio" ui-sref="main.wallet.portfolio">
                        <i class="dropdown-icon icon-18 icon-portfolio"></i>
                        <div>
                            <div w-i18n="welcome.portfolio"></div>
                        </div>
                    </a>
                    <a class="link-transactions" ui-sref="main.wallet.transactions">
                        <i class="dropdown-icon icon-18 icon-transactions"></i>
                        <div>
                            <div w-i18n="welcome.transactions"></div>
                        </div>
                    </a>
                    <a class="link-leasing" ui-sref="main.wallet.leasing">
                        <i class="dropdown-icon icon-18 icon-leasing"></i>
                        <div>
                            <div w-i18n="welcome.leasing"></div>
                        </div>
                    </a>
                </div>
            </div>
            <a class="link-margin link-tokens" ui-sref="main.tokens" w-i18n="welcome.createToken"></a>
        </nav>

        <div ng-if="!$ctrl.isLogined"
             class="login-buttons buttons-wrapper buttons-wrapper-nowidth">
            <a class="body-2 margin-right-3 submit-400 signIn-hidden" ng-if="$ctrl.userList.length > 0" ui-sref="signIn"
               w-analytics event="'Sign In Click'" event-target="ui"
               w-i18n="welcome.signIn"></a>
            <div class="create-hidden">
                <a class="fake-button submit medium" ui-sref="create">
                    <span w-i18n="welcome.getStarted" class="fake-button-content medium submit"></span>
                </a>
            </div>
        </div>

        <div class="header-right-wrapper" ng-if="$ctrl.isLogined">

            <div class="dropdown-toggler dropdown-toggler-right">
                <div class="avatar-container header-avatar-container has-helper">
                    <w-analytics event="'Account Picture Click'" event-target="'ui'">
                        <w-avatar type="{{$ctrl.userType}}"
                                  size="36"
                                  address="$ctrl.address"></w-avatar>
                    </w-analytics>

                    <w-help-icon class="avatar-options-list" ng-if="($ctrl.hasTypeHelp)">
                        <div class="help-icon__row row-keeper" ng-if="$ctrl.isKeeper">
                            <span class="acount-option-icon"></span>
                            <span w-i18n="welcome.keeperAccount"></span>
                        </div>
                        <div class="help-icon__row row-ledger" ng-if="$ctrl.isLedger">
                            <span class="acount-option-icon"></span>
                            <span w-i18n="welcome.ledgerAccount"></span>
                        </div>
                        <div class="help-icon__row row-script" ng-if="$ctrl.isScript">
                            <span class="acount-option-icon"></span>
                            <span w-i18n="welcome.scriptAccount"></span>
                        </div>
                    </w-help-icon>
                    <div class="user-info-wrapper">
                        <div class="account-name body-2 basic-700" ng-if="$ctrl.userName">{{$ctrl.userName}}</div>
                        <div class="account-address basic-500 body-3">{{$ctrl.address}}</div>
                    </div>
                </div>

                <div class="dropdown">
                    <a class="link-aliases" ng-click="$ctrl.avatarClick()">
                        <i class="dropdown-icon icon-18 icon-aliases"></i>
                        <div>
                            <div w-i18n="welcome.aliases"></div>
                        </div>
                    </a>
                    <a class="link-settings" ng-click="$ctrl.settings()">
                        <i class="dropdown-icon icon-18 icon-settings"></i>
                        <div>
                            <div w-i18n="welcome.settings"></div>
                        </div>
                    </a>
                </div>
            </div>

            <a class="header-logout" href="#" ng-click="$ctrl.logout()"></a>
        </div>
    </div>
</header>
