@import (reference) 'config';
@import (reference) '../../../app/less/typography';

w-site-header {
  header {
    padding: 9px 20px;

    .header-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .dropdown {
      display: none;
      padding: 10px 0;
      box-shadow: 0 2px 44px 0 rgba(31, 39, 61, 0.15);
      background: @color-white;
      border-radius: 8px;
      position: absolute;
      top: 36px;
      left: 0;
      transform: translateX(calc(50% + 25px));
      z-index: 10;

      &:hover {
        display: block;
      }

      &-icon {
        margin-right: 15px;
      }

      a {
        display: flex;
        align-items: center;
        padding: 18px 0;
        margin: 0 20px;
        font-size: 15px;

        &:first-child {
          padding: 10px 0 18px;
        }

        &:last-child {
          padding: 18px 0 10px;
        }

        &:hover {
          color: @color-submit-400;
        }

        &:not(:last-child) {
          border-bottom: 1px solid @color-info-50;
        }

        span.description {
          color: @color-basic-500;
          font-size: 13px;
          font-weight: 300;
        }
      }
    }

    nav.top-menu {
      height: 32px;
      display: flex;
      align-items: center;
      margin-left: 50px;
      flex-grow: 1;
      position: relative;

      a {
        display: flex;
        margin-right: 30px;
        color: @color-basic-900;
        &:hover {
          color: @color-submit-400;
        }
      }
    }

    .center {
      margin: 0 auto;
      text-align: center;
    }

    .width {
      width: 100%;
    }

    .height {
      height: 100%;
      display: block;
    }

    .dropdown-btn {
      padding-right: 17px;
      background: url(/img/landing/arrow-down.svg) right center no-repeat;

      &::after {
        content: '';
        display: none;
        width: 84px;
        height: 13px;
        position: absolute;
        z-index: 11;
        bottom: -7px;
      }

      &:hover {
        background: url(/img/landing/arrow-down-blue.svg) right center no-repeat;
        & + .dropdown {
          display: block;
        }
        &::after {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  w-site-header {
    header {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

@media screen and (max-width: 860px) {
  w-site-header {
    header {
      .top-menu:not(.top-menu-mobile),
      .buttons-wrapper {
        display: none;
      }
    }
  }
}
