<div class="txinfo__row" ng-if="::$ctrl.isSend">
    <div class="txinfo__key" w-i18n="recipient"></div>
    <w-expand-btn
            ng-click="$ctrl.expandList = !$ctrl.expandList"
            btn-txt="$ctrl.transaction.transfers.length"></w-expand-btn>
</div>

<div ng-if="::$ctrl.isReceive" class="txinfo__data">

    <div class="txinfo__row">
        <div class="txinfo__key" w-i18n="transaction.modals.from"></div>
        <div class="txinfo__value">{{::$ctrl.transaction.sender}}</div>
    </div>

</div>

<div class="txinfo__data">
    <div ng-show="::$ctrl.isSend" ng-init="$ctrl.showAllTX = false">

        <div class="recipients-list ng-hide" ng-show="$ctrl.expandList">
            <div class="recipients-row" ng-repeat="transfer in $ctrl.transaction.transfers track by transfer.recipient">
                <div class="recipients-row__key">{{::transfer.recipient}}</div>
                <div class="recipients-row__value">
                    <w-balance money="::transfer.amount"></w-balance>
                </div>
            </div>
        </div>

        <div class="txinfo__row">
            <div class="txinfo__key" w-i18n="transaction.modals.massSend.totalAmount"></div>
            <div class="txinfo__value">
                <span w-i18n="money-currency" params="{money: $ctrl.transaction.totalAmount}"></span>
            </div>
        </div>
    </div>
</div>

<div class="txinfo__row txinfo__row-contains-text" ng-if="$ctrl.transaction.attachment">
    <div class="txinfo__key" w-i18n="transaction.modals.description"></div>
    <div class="txinfo__value txinfo__text">{{::$ctrl.transaction.attachment}}</div>
</div>


<w-transaction-info-general height="$ctrl.transaction.height"
                            timestamp="$ctrl.transaction.timestamp"
                            id="$ctrl.id"
                            fee="$ctrl.transaction.fee"></w-transaction-info-general>
