w-warning-plate {
  .warning-plate {

    &-content {
      display: flex;
      flex-direction: row;
    }

    &-button {
      cursor: pointer;
      border-radius: 4px;
      background-color: #fff;
      color: #f89300;
    }

    &-timer {
      display: flex;
      flex-direction: row;
    }
  }
}
