<div ng-if="$ctrl.hasAccounts" class="warning-plate__content" ng-class="{'info': $ctrl.migrationSuccess}"
     w-i18n-ns="app.utils">
    <div class="warning-plate__timer">
        <div>
            <span class="warning-plate__timer-value">{{$ctrl.days}}</span>
            <span> d : </span>
        </div>
        <div>
            <span class="warning-plate__timer-value">{{$ctrl.hours}}</span>
            <span> h : </span>
        </div>
        <div>
            <span class="warning-plate__timer-value">{{$ctrl.minutes}}</span>
            <span> m </span>
        </div>
    </div>

    <div ng-if="!$ctrl.migrationSuccess" class="warning-plate__text" w-i18n="warningPlate.notification"></div>
    <div ng-if="$ctrl.migrationSuccess" class="warning-plate__text" w-i18n="warningPlate.info"></div>

    <div class="warning-plate__button" ng-class="{'info': $ctrl.migrationSuccess}" ng-click="$ctrl.showMovingModal()"
         w-i18n="warningPlate.startMoving"></div>
</div>

<div ng-if="!$ctrl.hasAccounts" class="warning-plate__content warning-plate__content_no-user info" w-i18n-ns="app.utils">
    <div class="warning-plate__timer">
        <div>
            <span class="warning-plate__timer-value">{{$ctrl.days}}</span>
            <span> d : </span>
        </div>
        <div>
            <span class="warning-plate__timer-value">{{$ctrl.hours}}</span>
            <span> h : </span>
        </div>
        <div>
            <span class="warning-plate__timer-value">{{$ctrl.minutes}}</span>
            <span> m </span>
        </div>
    </div>

    <div class="warning-plate__text"><span w-i18n="warningPlate.dexMoves"></span><a target="_blank" rel="noopener noreferrer" href="{{::$ctrl.newDexLink}}">waves.exchange</a></div>
</div>

