<div w-i18n-ns="app.landing" class="wrapper">

    <header>
        <div class="logo"></div>

        <nav class="top-menu">
            <a class="body-2" href="#">Exchange</a>
            <a class="body-2" href="#">API</a>
            <a class="body-2" href="#">Help</a>
            <a class="body-2" href="#">News</a>
            <a class="body-2 dropdown-btn" href="#">Download</a>

            <div class="dropdown">
                <a href="#">
                    <i class="dropdown-icon icon-win"></i>
                    <div>
                        <div>Windows</div>
                        <div class="footnote-1 basic-500">Download Windows application</div>
                    </div>
                </a>

                <a href="#">
                    <i class="dropdown-icon icon-mac"></i>
                    <div>
                        <div>MacOS</div>
                        <div class="footnote-1 basic-500">Download MacOS application</div>
                    </div>
                </a>

                <a href="#">
                    <i class="dropdown-icon icon-linux"></i>
                    <div>
                        <div>Linux</div>
                        <div class="footnote-1 basic-500">Download Linux application</div>
                    </div>
                </a>
            </div>
        </nav>

        <div class="buttons-wrapper buttons-wrapper-nowidth">
            <a href="#" class="submit400 body-2 margin-right-3">Sign In</a>
            <a class="fake-button submit medium" href="#">
                <span class="fake-button-content medium submit">Get Started</span>
            </a>
        </div>
    </header>

    <section class="section-welcome">
        <div class="left-side">
            <h1 class="margin-2 headline-0 welcome-text">Trade on the Waves Decentralised Exchange</h1>
            <div class="basic-500 body-1 margin-5">
                Trade quickly and securely. You retain complete control over your funds when trading them on our
                decentralised
                exchange.
            </div>
            <div class="buttons-wrapper buttons-wrapper-nowidth">
                <a class="fake-button get-started-btn" href="#">
                        <span class="fake-button-content big submit ">
                          Get Started
                          <i class="icon-arrow-right"></i>
                        </span>
                </a>
                <a href="#" class="fake-button">
                    <span class="fake-button-content big submit-light">Sign In</span>
                </a>
            </div>
        </div>
        <div class="dex-screenshot"></div>
    </section>

    <section class="section-slider">

        <!-- TODO remove this styles -->
        <style>
            .graph {
                width: 110px;
                height: 46px;
                position: relative;
                overflow: hidden;
            }

            .graph::before {
                position: absolute;
                left: 11px;
                top: 0;
                height: 3px;
                width: 200px;
                transform-origin: center;
                transform: rotate(-21deg) translate(-50%, -50%);
                content: '';
                display: block;
                background: red;
            }

            .slide:nth-child(even) .graph::before {
                background: blue;
            }
        </style>

        <div class="slider">

            <!-- TODO @maxAksenov insert carousel component -->
            <!--<w-carousel interval="2000">-->
            <!--</w-carousel>-->
            <!--<w-carousel-dots class="square"></w-carousel-dots>-->

            <div class="slide">
                <div class="margin-1 body-2 flex">
                    <div class="basic-700 grow">BTC/WAVES</div>
                    <div class="red">-0.42%</div>
                </div>
                <div class="flex">
                    <div class="grow">
                        <h2 class="basic-900">0.00000001</h2>
                        <div class="basic-500 footnote-1">Volume: 42 932.421</div>
                    </div>
                    <div class="graph"></div>  <!-- TODO add canvas graph -->
                </div>
            </div>

            <div class="slide">
                <div class="margin-1 body-2 flex">
                    <div class="basic-700 grow">BTC/WAVES</div>
                    <div class="blue">+0.42%</div>
                </div>
                <div class="flex">
                    <div class="grow">
                        <h2 class="basic-900">0.00000001</h2>
                        <div class="basic-500 footnote-1">Volume: 42 932.421</div>
                    </div>
                    <div class="graph"></div>
                </div>
            </div>

            <div class="slide">
                <div class="margin-1 body-2 flex">
                    <div class="basic-700 grow">BTC/WAVES</div>
                    <div class="red">-0.42%</div>
                </div>
                <div class="flex">
                    <div class="grow">
                        <h2 class="basic-900">0.00000001</h2>
                        <div class="basic-500 footnote-1">Volume: 42 932.421</div>
                    </div>
                    <div class="graph"></div>
                </div>
            </div>

            <div class="slide">
                <div class="margin-1 body-2 flex">
                    <div class="basic-700 grow">BTC/WAVES</div>
                    <div class="blue">+0.42%</div>
                </div>
                <div class="flex">
                    <div class="grow">
                        <h2 class="basic-900">0.00000001</h2>
                        <div class="basic-500 footnote-1">Volume: 42 932.421</div>
                    </div>
                    <div class="graph"></div>
                </div>
            </div>

            <div class="slide">
                <div class="margin-1 body-2 flex">
                    <div class="basic-700 grow">BTC/WAVES</div>
                    <div class="red">-0.42%</div>
                </div>
                <div class="flex">
                    <div class="grow">
                        <h2 class="basic-900">0.00000001</h2>
                        <div class="basic-500 footnote-1">Volume: 42 932.421</div>
                    </div>
                    <div class="graph"></div>
                </div>
            </div>

            <div class="slide">
                <div class="margin-1 body-2 flex">
                    <div class="basic-700 grow">BTC/WAVES</div>
                    <div class="blue">+0.42%</div>
                </div>
                <div class="flex">
                    <div class="grow">
                        <h2 class="basic-900">0.00000001</h2>
                        <div class="basic-500 footnote-1">Volume: 42 932.421</div>
                    </div>
                    <div class="graph"></div>
                </div>
            </div>

            <div class="slide">
                <div class="margin-1 body-2 flex">
                    <div class="basic-700 grow">BTC/WAVES</div>
                    <div class="red">-0.42%</div>
                </div>
                <div class="flex">
                    <div class="grow">
                        <h2 class="basic-900">0.00000001</h2>
                        <div class="basic-500 footnote-1">Volume: 42 932.421</div>
                    </div>
                    <div class="graph"></div>
                </div>
            </div>

        </div>
    </section>

    <section class="section-markets">
        <div class="content-wrapper">

            <h2 class="margin-1">Markets</h2>
            <div class="basic-500 body-2">Lorem Ipsum is not simply random text.
                It has roots in a piece of classical Latin literature
            </div>

            <div class="table-markets margin-top-3 margin-3">
                <div class="row row-header">
                    <div class="cell pair">PAIR</div>
                    <div class="cell last-price">LAST PRICE</div>
                    <div class="cell change">CHANGE</div>
                    <div class="cell height24">24 HIGHT</div>
                    <div class="cell low24">24 LOW</div>
                    <div class="cell volume">VOLUME</div>
                    <div class="cell graph"></div>
                </div>
                <div class="row blue"> <!-- add specific class here - red or blue -->
                    <div class="cell pair">BTC/WAV</div>
                    <div class="cell last-price">0.03<span class="basic-500"> / $1.16</span></div>
                    <div class="cell change">+0.94%</div>
                    <div class="cell height24">0.00050679</div>
                    <div class="cell low24" d>0.000622</div>
                    <div class="cell volume">45.2</div>
                    <div class="cell graph"></div>
                </div>
                <div class="row red">
                    <div class="cell pair">BTC/WAVES</div>
                    <div class="cell last-price">0.00050673<span class="basic-500"> / $176.16</span></div>
                    <div class="cell change">-0.94%</div>
                    <div class="cell height24">0.00050679</div>
                    <div class="cell low24" d>0.00050622</div>
                    <div class="cell volume">45 380.782</div>
                    <div class="cell graph"></div>
                </div>
            </div>

            <div class="center body-2 basic-500">
                <span>Click <a href="">Show all</a> to view the full list of markets</span>
            </div>

        </div>
    </section>

    <section class="section-promo body-2">
        <div class="section-promo-card">
            <div class="icon icon-schield margin-2"></div>
            <h2 class="margin-1">Secture Trading</h2>
            <div class="basic-500">Funds are stored in the wallet, not on the exchange. All traffic and private keys are
                encrypted and stored only
                on device.
            </div>
        </div>
        <div class="section-promo-card">
            <div class="icon icon-dex margin-2"></div>
            <h2 class="margin-1">Decentralized</h2>
            <div class="basic-500">No third parties and no withdrawal limits — you are in full control of your finances
                and
                decision-making.
            </div>
        </div>
        <div class="section-promo-card">
            <div class="icon icon-wallet margin-2"></div>
            <h2 class="margin-1">Low, fixed fees</h2>
            <div class="basic-500">Insanely low fees less then $0.01 (0.003 WAVES) per order.</div>
        </div>
    </section>

    <footer>
        <section>

            <div class="footer-left body-2">
                <a class="logo logo-white" href="/"></a>
                <div class="margin-05">Brought to you by Waves Team.</div>
                <div class="margin-1">&copy; 2019 Waves Platform</div>
                <a href="mailto:support@wavesplatform.com">support@wavesplatform.com</a>

                <select class="language-switcher margin-top-2">
                    <option class="flag flag-eng" value="English">English</option>
                    <option value="Russian"><i class="flag flag-eng"></i>Russian</option>
                </select>
            </div>

            <div class="links">
                <div>
                    <div class="footer-title basic-700">Products & tools</div>
                    <a href="">Waves Wallet</a>
                    <a href="">Waves Keeper</a>
                    <a href="">Waves Blockchain</a>
                    <a href="">Waves IDE</a>
                    <a href="">Waves Explorer</a>
                </div>

                <div>
                    <div class="footer-title basic-700">For developers</div>
                    <a href="">GitHub</a>
                    <a href="">API</a>
                    <a href="">Stack Overflow</a>
                    <a href="">Documentation</a>
                    <a href="">Waves Labs</a>
                </div>

                <div>
                    <div class="footer-title basic-700">Legal</div>
                    <a href="">Privacy Policy</a>
                    <a href="">Terms of use</a>
                    <a href="">Cookies</a>
                    <a href="">GDPR</a>
                </div>

                <div>
                    <div class="footer-title basic-700">GDPR</div>
                    <a href="">Blog</a>
                    <a href="">Twitter</a>
                    <a href="">Telegram</a>
                    <a href="">Forum</a>
                </div>
            </div>

        </section>
    </footer>
</div>
