@import (reference) 'config';

body.landing {
  width: 100%;
  font-family: 'Roboto', 'Tahoma', 'Arial';
  margin: 0 auto;
  font-weight: normal;
  color: @color-basic-900;
  background: @color-white;

  .wrapper {
    background: @color-white;
    position: relative;
  }

  a {
    text-decoration: none;
    color: @color-submit-400;
  }

  ul {
    list-style-type: none;
  }

  section,
  footer,
  header {
    padding-left: 80px;
    padding-right: 80px;
  }

  section {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
  }

  header,
  footer {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 20px;
  }

  header {
    margin: 0 auto;
    max-width: 1440px;

    .dropdown {
      display: none;
      padding: 10px 0;
      box-shadow: 0 2px 44px 0 rgba(31, 39, 61, 0.15);
      background: @color-white;
      border-radius: 8px;
      position: absolute;
      top: 36px;
      left: 0;
      transform: translateX(calc(50% + 25px));
      z-index: 10;

      &:hover {
        display: block;
      }

      &-icon {
        margin-right: 15px;
      }

      a {
        display: flex;
        align-items: center;
        padding: 18px 0;
        margin: 0 20px;
        font-size: 15px;

        &:first-child {
          padding: 10px 0 18px;
        }

        &:last-child {
          padding: 18px 0 10px;
        }

        &:hover {
          color: @color-submit-400;
        }

        &:not(:last-child) {
          border-bottom: 1px solid @color-info-50;
        }

        span.description {
          color: @color-basic-500;
          font-size: 13px;
          font-weight: 300;
        }
      }
    }

    nav.top-menu {
      height: 32px;
      display: flex;
      align-items: center;
      margin-left: 50px;
      flex-grow: 1;
      position: relative;

      a {
        display: block;
        margin-right: 30px;
        color: @color-basic-900;
        &:hover {
          color: @color-submit-400;
        }
      }
    }

    .center {
      margin: 0 auto;
      text-align: center;
    }

    .width {
      width: 100%;
    }

    .height {
      height: 100%;
      display: block;
    }

    .dropdown-btn {
      padding-right: 17px;
      background: url(/img/landing/arrow-down.svg) right center no-repeat;

      &::after {
        content: '';
        display: none;
        width: 91px;
        height: 11px;
        position: absolute;
        z-index: 11;
      }

      &:hover {
        background: url(/img/landing/arrow-down-blue.svg) right center no-repeat;
        & + .dropdown {
          display: block;
        }
        &::after {
          display: block;
        }
      }
    }
  }

  .get-started-btn {
    margin-right: 15px;

    .icon-arrow-right {
      margin-left: 10px;
      transition: .3s;
    }

    &:hover {
      .icon-arrow-right {
        transform: translateX(10px);
      }
    }
  }

  .language-switcher {
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 200px;
    line-height: 40px;
    height: 40px;
    color: @color-white;
    background: @color-basic-900;
    border: 1px solid @color-basic-700;
    border-radius: 2px;
    font-size: 15px;
    padding: 0 15px;

    /* flags */
    .flag {
      padding-left: 28px;
      &-eng {
        background: url(/img/landing/flags/flag-18-britain.svg) center no-repeat;
      }
    }
    /* end */
  }

  footer {
    background: @color-basic-900;
    color: @color-basic-600;
    padding: 60px 0;

    section {
      display: flex;
      align-items: flex-start;

      .links {
        display: flex;
        WIDTH: 100%;
        padding-left: 150px;
        & > div {
          flex-basis: 25%;
        }
      }
    }

    .footer-title {
      margin-bottom: 24px;
      text-transform: uppercase;
      font-size: 13px;
    }

    a {
      margin-bottom: 14px;
      display: block;
      color: @color-basic-600;
      font-size: 15px;
    }

    .footer-left {
      flex-grow: 1;
    }

    .logo {
      margin-top: -8px;
    }
  }

  .logo {
    width: 152px;
    height: 32px;
    display: block;
    background: url(/img/landing/wavesdex-black-32.svg) center no-repeat;

    &-white {
      background: url(/img/landing/wavesdex-invert-32.svg) center no-repeat;
    }
  }

  .flex {
    display: flex;
    align-items: center;
    width: 100%;
  }

  /* ICONS */

  .icon {
    display: block;

    &-arrow-right {
      width: 24px;
      height: 24px;
      display: block;
      background: url(/img/landing/arrow-white-right.svg) center no-repeat;
    }

    &-win {
      width: 24px;
      height: 24px;
      display: block;
      background: url(/img/landing/windows.svg) center no-repeat;
    }

    &-mac {
      width: 24px;
      height: 24px;
      display: block;
      background: url(/img/landing/apple.svg) center no-repeat;
    }

    &-linux {
      width: 24px;
      height: 24px;
      display: block;
      background: url(/img/landing/linux.svg) center no-repeat;
    }

    &-schield {
      background: url(/img/landing/schield.svg) center no-repeat;
      width: 42px;
      height: 42px;
      margin-left: auto;
      margin-right: auto;
    }

    &-dex {
      width: 42px;
      height: 42px;
      margin-left: auto;
      margin-right: auto;
      background: url(/img/landing/decentralized.svg) center no-repeat;
    }

    &-wallet {
      width: 42px;
      height: 42px;
      margin-left: auto;
      margin-right: auto;
      background: url(/img/landing/wallet.svg) center no-repeat;
    }
  }

  /* END */

  .table {
    &-markets {
      border-radius: 4px;
      background: @color-white;
      width: 100%;

      .cell {
        width: ~"calc((100% - 190px) / 5)";
        max-width: ~"calc((100% - 190px) / 5)";
        overflow: hidden;
        vertical-align: middle;
        white-space: nowrap;
      }

      .graph {
        width: 110px;
        padding-left: 10px;
      }

      .change {
        width: 80px;
        max-width: 80px;
        padding-left: 10px;
      }

      .row {
        display: flex;
        font-size: 15px;
        align-items: center;
        height: 70px;
        padding: 0 40px;
        position: relative;

        &.red {
          .change {
            color: @color-error-500;
          }
        }

        &.blue {
          .change {
            color: @color-submit-400;
          }
        }

        &:not(:last-child)::after {
          content: '';
          display: block;
          bottom: 0;
          position: absolute;
          width: calc(100% ~'- 80px');
          height: 1px;
          background: @color-info-50;
        }

        &-header {
          font-size: 13px;
          border-bottom: 1px solid @color-info-50;
        }
      }
    }
  }

  .section {
    &-welcome {
      display: flex;
      height: 800px;
      align-items: center;
      width: 100%;

      .welcome-text {
        font-size: 50px;
        font-weight: 500;
        line-height: 1.4;
        font-family: 'Roboto-Regular';
      }

      .left-side {
        max-width: 540px;
        z-index: 2;
      }

      .submit {
        margin-right: 15px;
      }

      .dex-screenshot {
        left: calc(50% ~'- 50px');
        max-width: calc(50% ~'+ 50px');
        @dex-screenshot-width: 2732px;
        @dex-screenshot-height: 1536px;
        width: calc(@dex-screenshot-width / 2.7);
        height: calc(@dex-screenshot-height / 2.7);
        display: block;
        position: absolute;
        top: 150px;
        box-shadow: 0 0 30px @color-basic-200;
        z-index: 1;
        transition: .5s;
        background: url(/img/landing/dex-screenshot.png) left center no-repeat @color-white; // image size = 2732 × 1536
        background-size: cover;
      }
    }

    &-markets {
      background: @color-basic-50;
      max-width: 100%;
      padding: 0;
      .content-wrapper {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 80px 60px;
        h2 {
          margin: 0;
        }
      }
    }

    &-slider {
      max-width: 100%;
      background: @color-basic-50;
      padding: 60px 0;
      overflow: hidden;

      .slider {
        display: flex;
        width: 100%;
      }

      .slide {
        border-radius: @border-radius;
        max-width: 350px;
        min-width: 300px;
        width: 100%;
        background: @color-white;
        padding: 30px;
        margin: 0 15px;

        .red {
          color: @color-error-500;
        }

        .blue {
          color: @color-submit-400;
        }

        h2 {
          font-weight: normal;
          margin: 0 0 7px;
        }
      }
    }

    &-promo {
      display: flex;
      align-items: flex-start;
      text-align: center;

      &-card {
        padding: 96px 30px 102px;
        flex-basis: 33.33%;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  body.landing {
    .section-welcome {
      .welcome-text {
        font-size: 44px;
        line-height: 1.3;
      }

      .left-side {
        max-width: 480px;
      }

      .dex-screenshot {
        right: auto;
        left: calc(50% ~'- 100px');
        max-width: calc(50% ~'+ 100px');
      }
    }
  }
}

@media screen and (max-width: 1340px) {
  body.landing {
    section,
    footer,
    header,
    section-markets {
      .content-wrapper {
        padding-left: 40px;
        padding-right: 40px;
      }
    }

    footer section {

    }

    .section-welcome {
      .dex-screenshot {
        left: 540px;
        max-width: calc(100% ~'- 540px');
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  body.landing {
    .section-welcome {
      .welcome-text {
        font-size: 40px;
        line-height: 1.2;
      }

      .left-side {
        max-width: 480px;
      }
    }
  }
}

@media screen and (max-width: 1023px) and (min-width: 861px) {
  body.landing {
    .section-welcome {
      .left-side {
        max-width: 45%;
      }

      .dex-screenshot {
        left: 50%;
        max-width: 50%;
      }
    }
  }
}

@media screen and (max-width: 860px) {
  body.landing {
    header {
      .top-menu:not(.top-menu-mobile),
      .buttons-wrapper {
        display: none;
      }
    }

    .table-markets {

    }

    .section-welcome {
      height: auto;

      .left-side {
        max-width: 100%;
      }

      .buttons-wrapper {
        flex-direction: column;
        width: 100%;
        margin-bottom: 82px;

        .fake-button {
          width: 100%;
        }

        .get-started-btn {
          margin: 0 0 15px;
        }
      }

      .welcome-text {
        position: relative;
        padding-top: 90px;
        font-size: 28px;
      }

      .dex-screenshot {
        display: none;
      }
    }

    .section-promo {
      flex-direction: column;
      &-card {
        padding: 30px;
        width: 100%;
      }
    }

    footer {
      section {
        flex-direction: column;

        .links {
          padding: 0;
          flex-wrap: wrap;

          & > div {
            flex-basis: 50%;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}
