@import (reference) 'config';

body.landing {
  width: 100%;
  font-family: 'Roboto', 'Tahoma', 'Arial';
  margin: 0 auto;
  font-weight: normal;
  color: @color-basic-900;
  background: @color-white;

  .wrapper {
    background: @color-white;
    position: relative;
    min-width: 1440px; //TEMP
  }

  a {
    text-decoration: none;
    color: @color-submit-400;
  }

  ul {
    list-style-type: none;
  }

  section {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
  }

  nav.top-menu {
    height: 32px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    flex-grow: 1;
    position: relative;

    a {
      display: block;
      margin-right: 30px;
      color: @color-basic-900;
      &:hover {
        color: @color-submit-400;
      }
    }
  }

  .center {
    margin: 0 auto;
    text-align: center;
  }

  .width {
    width: 100%;
  }

  .height {
    height: 100%;
    display: block;
  }

  header,
  footer {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px 0 0;
  }

  header {
    max-width: 1440px;
    margin: 0 auto;
    .submit {
      margin-left: 15px;
    }

    .dropdown {
      display: none;
      padding: 10px 0;
      box-shadow: 0 2px 44px 0 rgba(31, 39, 61, 0.15);
      background: @color-white;
      border-radius: 8px;
      position: absolute;
      top: 36px;
      left: 0;
      transform: translateX(calc(50% + 25px));
      z-index: 10;

      &:hover {
        display: block;
      }

      &-icon {
        margin-right: 15px;
      }

      a {
        display: flex;
        align-items: center;
        padding: 18px 0;
        margin: 0 20px;
        font-size: 15px;

        &:first-child {
          padding: 10px 0 18px;
        }

        &:last-child {
          padding: 18px 0 10px;
        }

        &:hover {
          color: @color-submit-400;
        }

        &:not(:last-child) {
          border-bottom: 1px solid @color-info-50;
        }

        span.description {
          color: @color-basic-500;
          font-size: 13px;
          font-weight: 300;
        }
      }
    }

    .dropdown-btn {
      padding-right: 17px;
      background: url(/img/landing/arrow-down.svg) right center no-repeat;

      &::after {
        content: '';
        display: none;
        width: 91px;
        height: 11px;
        position: absolute;
        z-index: 11;
      }

      &:hover {
        background: url(/img/landing/arrow-down-blue.svg) right center no-repeat;
        & + .dropdown {
          display: block;
        }
        &::after {
          display: block;
        }
      }
    }
  }

  .get-started-btn {
    .icon-arrow-right {
      margin-left: 10px;
      transition: .3s;
    }
    &:hover {
      .icon-arrow-right {
        transform: translateX(10px);
      }
    }
  }

  .language-switcher {
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 200px;
    line-height: 40px;
    height: 40px;
    color: @color-white;
    background: @color-basic-900;
    border: 1px solid @color-basic-700;
    border-radius: 2px;
    font-size: 15px;
    padding: 0 15px;

    /* flags */
    .flag {
      padding-left: 28px;
      &-eng {
        background: url(/img/landing/flags/flag-18-britain.svg) center no-repeat;
      }
    }
    /* end */
  }

  footer {
    background: @color-basic-900;
    color: @color-basic-600;
    padding: 60px 0;

    section {
      display: flex;
      align-items: flex-start;
      & > div {
        flex-basis: calc(100% / 6);
      }
    }

    .footer-title {
      margin-bottom: 24px;
      text-transform: uppercase;
      font-size: 13px;
    }

    a {
      margin-bottom: 14px;
      display: block;
      color: @color-basic-600;
      font-size: 15px;
    }

    .footer-left {
      flex-grow: 1;
    }

    .logo {
      margin-top: -8px;
    }
  }

  .logo {
    width: 152px;
    height: 32px;
    display: block;
    background: url(/img/landing/wavesdex-black-32.svg) center no-repeat;

    &-white {
      background: url(/img/landing/wavesdex-invert-32.svg) center no-repeat;
    }
  }

  .flex {
    display: flex;
    align-items: center;
    width: 100%;
  }

  /* ICONS */

  .icon {
    display: block;

    &-arrow-right {
      width: 24px;
      height: 24px;
      display: block;
      background: url(/img/landing/arrow-white-right.svg) center no-repeat;
    }

    &-win {
      width: 24px;
      height: 24px;
      display: block;
      background: url(/img/landing/windows.svg) center no-repeat;
    }

    &-mac {
      width: 24px;
      height: 24px;
      display: block;
      background: url(/img/landing/apple.svg) center no-repeat;
    }

    &-linux {
      width: 24px;
      height: 24px;
      display: block;
      background: url(/img/landing/linux.svg) center no-repeat;
    }

    &-schield {
      background: url(/img/landing/schield.svg) center no-repeat;
      width: 42px;
      height: 42px;
      margin-left: auto;
      margin-right: auto;
    }

    &-dex {
      width: 42px;
      height: 42px;
      margin-left: auto;
      margin-right: auto;
      background: url(/img/landing/decentralized.svg) center no-repeat;
    }

    &-wallet {
      width: 42px;
      height: 42px;
      margin-left: auto;
      margin-right: auto;
      background: url(/img/landing/wallet.svg) center no-repeat;
    }
  }

  /* END */

  .table {
    &-markets {
      border-radius: 4px;
      background: @color-white;

      .row {
        display: flex;
        font-size: 15px;
        align-items: center;
        height: 70px;
        padding: 0 40px;
        position: relative;

        &.red {
          .change-color {
            color: @color-error-500;
          }
        }

        &.blue {
          .change-color {
            color: @color-submit-400;
          }
        }

        &:not(.row-header)::after {
          content: '';
          display: block;
          bottom: 0;
          position: absolute;
          width: calc(100% ~'- 80px');
          height: 1px;
          background: @color-info-50;
        }

        & > div {
          flex-basis: calc(100% / 7);
        }

        &-header {
          font-size: 13px;
          border-bottom: 1px solid @color-info-50;
        }

      }
    }
  }

  .section {
    &-markets {
      background: @color-basic-50;
      max-width: 100%;
      padding-bottom: 60px;
      .content-wrapper {
        max-width: 1440px;
        margin: 0 auto;
      }
    }

    &-slider {
      max-width: 100%;
      background: @color-basic-50;
      padding: 60px 0;
    }

    &-welcome {
      display: flex;
      position: relative;
      height: 800px;
      align-items: center;

      .left-side {
        max-width: 480px;
      }

      .submit {
        margin-right: 15px;
      }

      .dex-screenshot {
        width: 1024px;
        height: 581px;
        display: block;
        position: absolute;
        right: -10%;
        box-shadow: 0 0 30px @color-basic-200;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &-promo {
      display: flex;
      align-items: flex-start;
      text-align: center;

      &-card {
        padding: 96px 30px 102px;
        flex-basis: 33.33%;
      }
    }
  }
}