<div class="txinfo__row">
    <div class="txinfo__key" w-i18n="transaction.modals.function"></div>
    <div class="txinfo__value">{{::$ctrl.transaction.call.function}}</div>
</div>

<div class="txinfo__row" ng-if="$ctrl.args.length > 0">
    <div class="txinfo__key" w-i18n="transaction.modals.functionCall"></div>
    <div class="txinfo__value txinfo__button"
         w-i18n="{{$ctrl.dataVisible ? 'transaction.modals.hide' : 'transaction.modals.show'}}"
         ng-click="$ctrl.toggleVisible()"></div>
</div>
<div class="txinfo__data" ng-if="$ctrl.args.length > 0">
    <div class="transaction-details invoke-args-list ng-hide"
         ng-class="{'show-all': $ctrl.allVisible}"
         ng-show="$ctrl.dataVisible">
        <ul class="transaction-details__list">
            <li class="transaction-details__item invoke-args-list__item"
                title="{{arg.value}}"
                ng-repeat="arg in $ctrl.args track by $index">
                <span class="invoke-args-list__item-key">{{::arg.type}}</span>
                <span class="invoke-args-list__item-value">{{::arg.value}}</span>
            </li>
        </ul>
        <div class="transaction-details__actions">
            <span class="transaction-details__action copy-code submit-300"
                  w-copy="::$ctrl.json"
                  w-i18n="transaction.modals.copyCode"></span>
            <span class="transaction-details__action see-all submit-300"
                  ng-if="$ctrl.args.length > 4"
                  ng-click="$ctrl.toggleAll()"
                  w-i18n="{{$ctrl.allVisible ? 'transaction.modals.hideAll' : 'transaction.modals.seeAll'}}">
            </span>
        </div>
    </div>
</div>
<div class="txinfo__row">
    <div class="txinfo__key" w-i18n="transaction.modals.scriptAddress"></div>
    <div class="txinfo__value">{{::$ctrl.transaction.dApp}}</div>
</div>
<div class="txinfo__row" ng-if="$ctrl.payment">
    <div class="txinfo__key" w-i18n="transaction.modals.payment"></div>
    <div class="txinfo__value">{{::$ctrl.payment}}</div>
</div>
<div class="txinfo__row">
    <div class="txinfo__key" w-i18n="transaction.modals.txId"></div>
    <div class="txinfo__value">{{::$ctrl.transaction.id}}</div>
</div>


<w-transaction-info-general height="$ctrl.transaction.height"
                            timestamp="$ctrl.transaction.timestamp"
                            id="$ctrl.id"
                            fee="$ctrl.transaction.fee"></w-transaction-info-general>