<div class="confirm-order">
    <div class="btn icon-close" ng-click="$ctrl.close()"></div>
    <div class="center">
        <i class="confirm-order__icon margin-3 margin-top-6"></i>

        <h2 class="margin-1 basic-700"
            ng-if="$ctrl.isSell"
            params="{ orderLimit: $ctrl.orderLimit }"
            w-i18n="modal.confirmOrder.headerSell"></h2>
        <h2 class="margin-1 basic-700"
            ng-if="!$ctrl.isSell"
            params="{ orderLimit: $ctrl.orderLimit }"
            w-i18n="modal.confirmOrder.headerBuy"></h2>

        <div class="body-2 basic-500 margin-05" w-i18n="modal.confirmOrder.description"></div>

        <div class="buttons-wrapper margin-top-3">
            <w-button on-click="$ctrl.close()"
                      class="button button__elem button__elem_big long">
                <span w-i18n="modal.confirmOrder.cancel"></span>
            </w-button>
            <w-button on-click="$ctrl.agree()"
                      class="button button__elem button__elem_big long button__elem_submit">
                <span w-i18n="modal.confirmOrder.continue"></span>
            </w-button>
        </div>
    </div>

</div>
