@import (reference) '../../../config';
@import (reference) '../../../app/less/icons';

md-dialog.start-leasing {
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    &.split-half {
      justify-content: space-between;
    }
  }

  .row {
    margin-top: 20px;
    position: relative;
  }

  .flex-row-title {
    display: flex;
    align-items: center;

    div {
      flex-grow: 1;

    }

    a {
      flex-grow: 0;
      margin: 4px 0;
    }
  }

  .input-like {
    position: relative;
    padding: 0 20px;
    border-radius: @border-radius;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .asset-name {
      margin-left: 10px;
    }
  }

  .complete-icon {
    width: 80px;
    height: 80px;
    margin: 30px auto 20px;
    background-image: url(/img/icons/check.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .details {
    display: block;
    width: 224px;
    margin: auto;
  }

  .list {
    border-top: 1px solid @color-basic-200;
    border-bottom: 1px solid @color-basic-200;

    .split-half {
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:first-child {
        border-bottom: 1px solid @color-basic-200;
      }
    }
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    & > w-button {
      width: calc(~'50% - 5px');
    }
  }

  .icon {
    width: 80px;
    height: 80px;
    margin: 10px auto 0;
    background-size: 100%;
    .icon-tx-lease();
  }
}

@media screen and (max-width: 768px) {
  .start-leasing .flex-row.split-half {
    white-space: nowrap;
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  w-input .w-input-wrap input[type="text"].big {
    font-size: 12px;
  }
}
