<div class="try-desktop-modal__icon margin-top-2 margin-3"></div>

<h3 class="basic-700 try-desktop-modal__title try-desktop-modal__center"
    w-i18n="modal.tryDesktop.title"></h3>

<w-delegate event="'click'" selector="'a'" handler="$ctrl.onOpenLink()">
    <div class="body-2 basic-500 try-desktop-modal__message margin-3 try-desktop-modal__center"
         w-i18n="modal.tryDesktop.message"></div>
</w-delegate>

<div class="buttons-wrapper headline-2 margin-2">
    <w-button class="try-desktop-modal__button big"
              on-click="$ctrl.tryWeb()" w-modal-close>
        <span w-i18n="modal.tryDesktop.cancel"></span>
    </w-button>
    <a class="try-desktop-modal__button fake-button"
       target="_blank"
       rel="noopener noreferrer"
       ng-click="$ctrl.tryDesktop()" w-modal-hide>
        <span w-i18n="modal.tryDesktop.try" class="big submit fake-button-content no-padding"></span>
    </a>
</div>

<div class="try-desktop-modal__flex">
    <w-checkbox-submit id="save" ng-model="$ctrl.save"></w-checkbox-submit>
    <label for="save"
           class="basic-400 margin-05 body-2 try-desktop-modal__label"
           w-i18n="modal.tryDesktop.label"></label>
</div>
