@import (reference) 'config';

w-portfolio-row {
  display: flex;
  width: 100%;

  .asset {
    &__logo {
      position: relative;
      left: 0;

      .marker {
        display: none;
        position: absolute;
        bottom: calc(50% ~'- 16px');

        &.smart-asset,
        &.sponsored-asset {
          display: block;
        }
      }

      .spam &, .spam & .marker {
        background-color: @color-basic-200 !important;
      }
    }
  }

  .asset {
    &__logo {
      background-size: 100% 100%;
      flex-shrink: 0;
      text-align: center;
      border-radius: 50%;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: @white-only;
    }
  }

  .smart-table {
    &__chart-wrap {
      .cell {
        position: relative;
        width: 84px;
        padding-right: 10px;
        float: right;

        .chart-asset-rate {
          position: absolute;
          bottom: 0;
          width: 84px;
          height: 25px;
          opacity: .3;
          right: 0;
        }
      }
    }
  }

  .actions-wrapper {
    .action {
      &.icon-hide {
        .unspam {
          display: none;
        }
      }

      &.icon-show {
        .tospam {
          display: none;
        }
      }
    }
  }

  .spam & {
    color: @color-basic-500;
  }

  //div:not(.spam) > & .cell span.suspicious-label {
  //  display: none;
  //}

}
