@import (reference) 'config';

w-portfolio-row {
  display: flex;
  width: 100%;

  .asset {
    &__marker {
      display: none;
    }
  }

  .spam &,
  .spam & .asset__marker {
    background-color: @color-basic-200 !important;
  }

  .smart-table {
    &__chart-wrap {
      .cell {
        position: relative;
        width: 84px;
        padding-right: 10px;
        float: right;

        .chart-asset-rate {
          position: absolute;
          bottom: 0;
          width: 84px;
          height: 25px;
          opacity: .3;
          right: 0;
        }
      }
    }
  }

  .actions-wrapper {
    .action {
      &.icon-hide {
        .unspam {
          display: none;
        }
      }

      &.icon-show {
        .tospam {
          display: none;
        }
      }
    }
  }

  .spam & {
    color: @color-basic-500;
  }

}
