@import (reference) '../../../../../config';

w-portfolio-row {
  display: flex;
  width: 100%;

  .asset-logo {
    background-size: 100% 100%;
    text-align: center;
    border-radius: 50%;
    color: @color-white;
    left: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
