<img class="wPop-header" ng-src="img/{{image}}"/>
<div class="wavesPop-content" ng-transclude></div>
<div class="wavesPop-content-buttons button-row" ng-show="showButtons">
  <button class="wButton wButton-dialog fade tooltip-1" ng-class="[{wButtonDanger: isError}]"
          title="{{::tooltip}}" ng-click="onOk()" ng-disabled="!okButtonEnabled">
    {{::okButtonCaption}}
  </button>
  <span class="divider-2" ng-if="cancelButtonVisible"></span>
  <button ng-if="cancelButtonVisible" class="wButton wButton-dialog fade"
          ng-class="[{wButtonDanger: isError}]" ng-click="onCancel()">
    {{::cancelButtonCaption}}
  </button>
  <waves-support-link ng-if="::!noSupportLink" class="dark"></waves-support-link>
</div>