<section-header>{{::$ctrl.heading}}</section-header>
<waves-scrollbox class="transactions-table">
  <table>
    <thead>
      <tr>
        <td>DATE</td>
        <td>TYPE</td>
        <td>NAME</td>
        <td>SENDER</td>
        <td>RECIPIENT</td>
        <td>FEE</td>
        <td>UNITS</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="tx in $ctrl.transactions | antiSpam | orderBy:'timestamp':true | limitTo:$ctrl.limitTo | transaction track by tx.timestamp"
          ng-class="{'tx-unc': tx.unconfirmed, 'tx-in': !tx.formatted.isOutgoing, 'tx-out': tx.formatted.isOutgoing}">
        <td>{{tx.formatted.datetime}}</td>
        <td>{{tx.formatted.type}}</td>
        <td>{{tx.formatted.asset}}</td>
        <td>{{tx.formatted.sender}}</td>
        <td>{{tx.formatted.recipient}}</td>
        <td>{{tx.formatted.fee}} {{tx.formatted.feeAsset.shortName}}</td>
        <td>{{tx.formatted.amount}}</td>
        <td width="16">
          <tx-menu transaction="tx"></tx-menu>
        </td>
      </tr>
    </tbody>
  </table>

  <div id="cancel-leasing-confirmation" waves-dialog ok-button-caption="CONFIRM" on-dialog-ok="$ctrl.cancelLeasing()">
    <div class="dialog-confirmation">
      <p class="dialog-text">You are going to cancel leasing of <span class="confirmation-value">{{$ctrl.confirm.amount}}</span>
        <span class="confirmation-value">{{$ctrl.confirm.asset}}</span> with
        <span class="confirmation-value">{{$ctrl.confirm.fee | moneyLong:true}}</span> fee <br/>
        for the address <span class="confirmation-value">{{$ctrl.confirm.recipient}}</span>
      </p>
      <p class="dialog-text">Please <span class="fontBold"> CONFIRM </span>to execute or <span class="fontBold"> CANCEL </span> to discard.</p>
    </div>
  </div>
</waves-scrollbox>