@import (reference) 'config';

html body md-dialog.change-token {


  md-dialog-content {
    padding: 0 30px;
  }

  //TODO refactor input-like
  .input-like {
    padding: 0;
    display: flex;
    align-items: center;
    height: 44px;

    w-input {
      display: block;
      width: 50%;

      input {
        height: 40px;
        border: none;
        border-radius: @border-radius;
      }
    }

    .select-wrap {
      position: relative;
      height: 100%;
      width: 50%;
      background-color: @color-disabled-50;
      border-top-right-radius: @border-radius;
      border-bottom-right-radius: @border-radius;

      .issue-select {
        width: 216px;
        height: 30px;
        position: absolute;
        right: 6px;
        top: 6px;

        .title-content {
          display: flex;
          align-items: center;
        }

        .title {
          background-color: @color-white;
        }
      }
    }
  }

  .rows {
    .flex-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .row-style {

      &.description {
        padding: 13px 16px;
        border: 1px dashed @color-basic-100;
        border-radius: @border-radius;
        background: @color-basic-50;
      }

      padding: 12px 0;
      border-bottom: 1px dashed @color-basic-100;
      align-items: center;

      &:first-child {
        border-top: 1px solid @color-basic-100;
      }

      &:last-child {
        border-bottom: 1px solid @color-basic-100;
      }
    }
  }

  .chart-wrapper {
    opacity: 0.2;
    position: relative;
    margin: 0 -30px 0;
    height: 60px;
    border-bottom: 1px solid @color-submit-300;

    .interactive-stop {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .chart-tooltip,
    .chart-legend { // Lib ng3-charts
      display: none !important;
    }
  }

  .asset-content {
    height: 100%;
    padding-top: @padding-main-layout * 4;

    .top-content {
      w-asset-logo {
        margin: -3px 20px 0 10px;
        float: left;
        z-index: 1;
        position: relative;
      }

      .asset-data {
        display: flex;
        flex-direction: column;
        height: 65px;
        justify-content: center;
        h2 {
          margin: 0;
          font-weight: normal;
        }
      }
    }
  }

  .token-burn__info {
    padding: 40px 10px 0;
  }

}
