<w-step-by-step active-step="$ctrl.step">
    <w-step>
        <div class="asset-content">
            <div class="top-content">
                <w-asset-logo asset-id="{{::$ctrl.asset.id}}" size="65"></w-asset-logo>

                <div class="asset-data">
                    <h4 class="basic-900">{{::$ctrl.asset.name}}</h4>
                    <div class="body-2 basic-500 one-line"> {{::$ctrl.asset.description}}</div>
                </div>

                <div class="chart-wrapper">
                    <linechart ng-if="$ctrl.chartData" options="$ctrl.options" data="$ctrl.chartData"></linechart>
                    <div class="token-burn__chart-overlay"></div>
                </div>
            </div>
        </div>
        <div class="token-burn__info">

            <div class="rows">
                <div class="row row-style flex-row token-burn__info-line">
                    <div class="footnote-1 disabled-600" w-i18n="modal.token.id"></div>
                    <div>{{::$ctrl.asset.id}}</div>
                </div>

                <div class="row row-style flex-row token-burn__info-line">
                    <div class="footnote-1 disabled-600" w-i18n="modal.token.quantity"></div>
                    <div>{{::$ctrl.asset.quantity.toFormat($ctrl.asset.precision)}}</div>
                </div>

                <div class="row row-style flex-row margin-2 token-burn__info-line">
                    <div class="footnote-1 disabled-600" w-i18n="modal.token.balance"></div>
                    <div class="bold">
                        <w-balance money="$ctrl.balance"></w-balance>
                    </div>
                </div>
            </div>

            <form name="burn">
                <div class="body-2">
                    <w-i18n>modal.token.{{::$ctrl.txType}}.label</w-i18n>
                </div>
                <w-input-container class="margin-2">

                    <div ng-if="$ctrl.txType === 'reissue'" class="input-like">
                        <w-input class="embed"
                                 type="text"
                                 name="input"
                                 ng-model="$ctrl.input"
                                 w-validate
                                 w-validator-asset="{{::$ctrl.asset}}"
                                 w-validator-gt="0"
                                 w-validator-lt="{{::$ctrl.maxCoinsCount}}"
                                 required></w-input>

                        <div class="select-wrap">
                            <w-select class="issue-select tiny" ng-model="$ctrl.issue">
                                <w-option option-type="boolean" value="false">
                                    <span class="caption-1 basic-700" w-i18n-ns="app.tokens"
                                          w-i18n="reissuable.false"></span>
                                </w-option>
                                <w-option option-type="boolean" value="true">
                                    <span class="caption-1 basic-700" w-i18n-ns="app.tokens"
                                          w-i18n="reissuable.true"></span>
                                </w-option>
                            </w-select>
                        </div>
                    </div>

                    <w-balance-input ng-if="$ctrl.txType === 'burn'" input-classes="big"
                                     asset-id="$ctrl.asset.id"
                                     name="input"
                                     amount="$ctrl.input"
                                     min="'0'"
                                     max-balance="$ctrl.balance"></w-balance-input>

                    <w-input-error message="required">
                        <w-i18n>modal.token.validation.required</w-i18n>
                    </w-input-error>

                    <w-input-error message="gt">
                        <w-i18n>modal.token.validation.gt0</w-i18n>
                    </w-input-error>

                    <w-input-error message="lt">
                        <w-i18n>modal.token.validation.maxValueCount</w-i18n>
                    </w-input-error>

                    <w-input-error message="lte">
                        <w-i18n>modal.token.validation.lteMaxBalance</w-i18n>
                    </w-input-error>

                    <w-input-error message="asset">
                        <w-i18n params="{precision: $ctrl.precision}">modal.token.validation.invalidPrecision</w-i18n>
                    </w-input-error>

                </w-input-container>

                <div class="footnote-1 margin-2">
                    <div ng-class="{'error-400': $ctrl.noFee}"
                         class="disabled-600"
                         w-i18n="modal.token.fee"
                         params="{fee: $ctrl.fee}"></div>
                    <div class="error-400" ng-if="$ctrl.noFee" w-i18n="modal.token.validation.noMoney"></div>
                </div>

                <w-button disabled="burn.$invalid || $ctrl.noFee" class="submit big long" type="submit" w-step-next>
                    <w-i18n>button.continue</w-i18n>
                </w-button>
            </form>
        </div>
    </w-step>
    <w-step>
        <w-confirm-transaction tx="$ctrl.tx" on-click-back="$ctrl.step = $ctrl.step - 1"></w-confirm-transaction>
    </w-step>
</w-step-by-step>
