<w-table>
    <w-t-head>
        <w-row>
            <w-cell>
                <div> <!--  todo sorting & filter @german -->
                    <w-input ng-model="$ctrl.search"
                             placeholder="directives.myOrders.filter"
                             w-i18n-attr="placeholder"
                             class="orders-filter" type="text"></w-input>
                </div>
            </w-cell>
            <w-cell>
                <div>
                    <w-i18n>directives.myBalance.available</w-i18n>
                    <i class="icon-sorting"></i>
                </div>
            </w-cell>
            <w-cell>
                <div>
                    <w-i18n>directives.myBalance.reserved</w-i18n>
                    <i class="icon-sorting"></i>
                </div>
            </w-cell>
            <w-cell>
                <div>
                    <w-i18n>directives.myBalance.Total</w-i18n>
                    <i class="icon-sorting"></i>
                </div>
            </w-cell>
        </w-row>
    </w-t-head>

<w-scroll-box>
    <w-row> <!-- todo @german ng-repeat -->
        <w-cell>
            <div>
                <w-asset-logo class="margin-right-1" asset-id="{{::balance.asset.id}}" size="20"></w-asset-logo>
                Waves
            </div>
        </w-cell>
        <w-cell>
            120.00000001
        </w-cell>
        <w-cell>
            4.99999990
        </w-cell>
        <w-cell>
            14460.00000002
        </w-cell>
    </w-row>

    <w-row>
        <w-cell>
            <div>
                <w-asset-logo class="margin-right-1" asset-id="{{::balance.asset.id}}" size="20"></w-asset-logo>
                Waves
            </div>
        </w-cell>
        <w-cell>
            120.00000001
        </w-cell>
        <w-cell>
            4.99999990
        </w-cell>
        <w-cell>
            14460.00000002
        </w-cell>
    </w-row>
</w-scroll-box>

</w-table>
<div ng-if="!$ctrl.orders.length" class="empty-block-container"> <!-- todo @german if empty (?balance.lenght?) -->
    <div class="icon"></div>
    <div class="body-1 basic-700" w-i18n="emptyBlocks.myOrders.title"></div>
    <div class="footnote-1 basic-500" w-i18n="emptyBlocks.myOrders.description"></div>
</div>