.token-burn {

  &__chart-container {
    opacity: 0.2;
    position: relative;
    height: 76px;
    left: -40px;
    width: calc(~'100% + 80px');
    overflow: auto;
  }

  &__chart-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

}
