<md-dialog class="modal-receive" w-i18n-ns="app.utils" aria-label="modal">
    <md-dialog-content>
        <div class="modal-content">
            <div class="btn icon-close ng-scope" w-modal-close></div>
            <w-step-by-step active-step="$ctrl.step">
                <w-step>
                    <w-tabs class="header" ng-model="$ctrl.activeTab">

                        <w-tab ng-if="$ctrl.showCryptocurrencyTab" title-name="::'modal.receive.cryptocurrency.title'" id="::'cryptocurrency'">
                            <div class="receive-crypto">

                                <div class="row margin-2">
                                    <div class="body-2 basic-900" w-i18n="modal.receive.asset"></div>
                                    <div ng-if="$ctrl.singleAsset" class="input-like big flex-row split-half">
                                        <div class="flex-row">
                                            <w-asset-logo class="marker-hide" size="24" asset-id="{{::$ctrl.asset.id}}"></w-asset-logo>
                                            <div class="asset__name">
                                                <span>{{::$ctrl.asset.name}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <w-select class="big"
                                              can-search="::true"
                                              ng-if="!$ctrl.singleAsset"
                                              ng-model="$ctrl.chosenAssetId">

                                        <w-option ng-repeat="cryptocurrency in $ctrl.cryptocurrencies track by $index"
                                                  search-value="::[cryptocurrency.name, cryptocurrency.ticker, cryptocurrency.id]" value="::cryptocurrency.id">
                                            <div class="flex-row split-half">
                                                <div class="flex-row">
                                                    <w-asset-logo class="marker-hide" size="24" asset-id="{{::cryptocurrency.id}}"></w-asset-logo>
                                                    <div class="asset__name">
                                                        <span>{{::cryptocurrency.name}}</span>
                                                        <span class="asset__id basic-500">{{::cryptocurrency.id}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </w-option>
                                    </w-select>
                                </div>

                                <div class="plate-warning margin-1" ng-if="!$ctrl.gatewayServerError">
                                    <div class="body-2 warning-500"
                                         w-i18n="modal.deposit.{{$ctrl.assetKeyName}}.warningTitle"></div>
                                    <div class="footnote-1 basic-500"
                                         w-i18n="modal.deposit.{{$ctrl.assetKeyName}}.warningText"></div>
                                </div>

                                <div class="plate-warning" ng-if="!$ctrl.gatewayServerError">
                                    <div class="body-2 warning-500"
                                         w-i18n="modal.deposit.{{$ctrl.assetKeyName}}.warningMinAmountTitle"></div>
                                    <div class="footnote-1 basic-500"
                                         w-i18n="modal.deposit.{{$ctrl.assetKeyName}}.warningMinAmountText"></div>
                                </div>

                                <div class="body-2 basic-900" ng-if="!$ctrl.gatewayServerError">
                                    <span w-i18n="modal.deposit.copyAndShare"></span>
                                    <w-help-icon>
                                        <div class="help-icon__row headline-3">
                                            <span w-i18n="modal.deposit.{{$ctrl.assetKeyName}}.helpDescrTitle"></span>
                                        </div>
                                        <div class="help-icon__row">
                                            <span w-i18n="modal.deposit.{{$ctrl.assetKeyName}}.helpDescrText"></span>
                                        </div>
                                        <div class="help-icon__row">
                                            <span w-i18n="modal.deposit.pleaseNote"></span>
                                        </div>
                                    </w-help-icon>
                                </div>

                                <w-copy-wrap class="body-1 basic-900 mobile-low-fsize"
                                             info="$ctrl.gatewayAddress"
                                             ng-if="!$ctrl.gatewayServerError">
                                    {{$ctrl.gatewayAddress}}
                                    <w-loader ng-if="!$ctrl.gatewayAddress"></w-loader>
                                </w-copy-wrap>

                                <div class="or" ng-if="!$ctrl.gatewayServerError">
                                    <span w-i18n="modal.deposit.or"></span>
                                </div>

                                <div class="qr-wrapper margin-2" ng-if="!$ctrl.gatewayServerError" w-toggle-class-container>
                                    <div class="scan body-2 basic-900" w-i18n="modal.deposit.scanQrCode"></div>
                                    <w-qr-code size="200" url="$ctrl.gatewayAddress" w-toggle-class="zoomed-in"></w-qr-code>
                                    <div class="pointer center footnote-1 margin-top-1 basic-500"
                                         w-toggle-class="zoomed-in"
                                         w-i18n-ns="app.ui"
                                         w-i18n="directives.transactionExport.qrZoomBtn"></div>
                                    <w-loader ng-if="!$ctrl.gatewayAddress"></w-loader>
                                </div>

                                <div class="plate-warning server-error" ng-if="$ctrl.gatewayServerError">
                                    <div class="body-2 warning-500"
                                         w-i18n="modal.receive.serverError"></div>
                                </div>
                                <w-button ng-if="$ctrl.gatewayServerError"
                                          on-click="$ctrl.updateGatewayAddress()"
                                          type="submit"
                                          class="big submit long">
                                    <span w-i18n="modal.receive.coinomat.tryAgain"></span>
                                </w-button>
                            </div>
                        </w-tab>

                        <w-tab ng-if="$ctrl.showInvoiceTab" title-name="::'modal.receive.invoice.title'" id="::'invoice'">
                            <form novalidate name="invoice">
                                <div class="receive-invoice">
                                    <div class="row margin-2">
                                        <div class="body-2 basic-900" w-i18n="modal.receive.asset"></div>
                                        <div class="input-like big flex-row split-half" ng-if="$ctrl.singleAsset">
                                            <div class="flex-row">
                                                <w-asset-logo class="marker-hide" size="24" asset-id="{{::$ctrl.asset.id}}"></w-asset-logo>
                                                <div class="asset__name">{{::$ctrl.asset.name}}</div>
                                            </div>
                                        </div>
                                        <w-select
                                            class="big"
                                            can-search="::true"
                                            ng-if="!$ctrl.singleAsset"
                                            ng-model="$ctrl.chosenAssetId">
                                            <w-option ng-repeat="invoice in $ctrl.invoicables track by $index"
                                                      search-value="::[invoice.name, invoice.ticker, invoice.id]"
                                                      value="::invoice.id">
                                                <div class="flex-row split-half">
                                                    <div class="flex-row">
                                                        <w-asset-logo class="marker-hide" size="24" asset-id="{{::invoice.id}}"></w-asset-logo>
                                                        <div class="asset__name">
                                                            <span>{{::invoice.name}}</span>
                                                            <span class="asset__id basic-500">{{::invoice.id}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </w-option>
                                        </w-select>
                                    </div>

                                    <div class="row margin-2">
                                        <div class="body-2 basic-900" w-i18n="modal.receive.addressOrAlias"></div>
                                        <w-select class="big" ng-model="$ctrl.chosenAlias">
                                            <w-option ng-repeat="alias in $ctrl.addressAndAliases track by $index" value="::alias">
                                                {{::alias}}
                                            </w-option>
                                        </w-select>
                                    </div>

                                    <div class="row margin-2">
                                        <w-input-container>
                                            <div class="body-2" w-i18n="modal.send.amount"></div>
                                            <div class="amount-wrap">
                                                <w-input
                                                    name="amount"
                                                    type="text"
                                                    class="big long"
                                                    ng-model="$ctrl.invoiceAmount"
                                                    w-validate
                                                    w-validator-asset="{{$ctrl.asset.id || $ctrl.chosenAssetId}}"
                                                    required></w-input>
                                            </div>
                                        </w-input-container>
                                    </div>

                                    <div class="row margin-2">
                                        <div class="body-2 basic-900" w-i18n="modal.receive.shareInvoiceLink"></div>
                                        <w-copy-wrap class="body-1 basic-900 mobile-low-fsize" info="$ctrl.sendLink"
                                                     ng-click="$ctrl.onCopyAddress()">
                                            <span>{{$ctrl.sendLink}}</span>
                                        </w-copy-wrap>
                                    </div>

                                    <div class="or" w-i18n="modal.send.or"></div>

                                    <div class="center qr-wrapper" w-toggle-class-container>
                                        <div class="scan body-2 basic-900" w-i18n="modal.qr.scanQrCode"></div>
                                        <w-qr-code w-toggle-class="zoomed-in" size="200" url="$ctrl.sendLink"></w-qr-code>
                                        <div class="pointer center footnote-1 margin-top-1 basic-500"
                                             w-toggle-class="zoomed-in"
                                             w-i18n-ns="app.ui"
                                             w-i18n="directives.transactionExport.qrZoomBtn"></div>
                                    </div>
                                </div>
                            </form>
                        </w-tab>

                        <w-tab ng-if="$ctrl.showCardTab" title-name="::'modal.receive.card.title'" id="::'card'">
                            <div class="receive-card">
                                <form novalidate name="card">

                                    <div class="row margin-2">
                                        <div class="body-2 basic-900" w-i18n="modal.receive.asset"></div>
                                        <div ng-if="$ctrl.singleAsset" class="input-like big flex-row split-half">
                                            <div class="flex-row">
                                                <w-asset-logo class="marker-hide" size="24" asset-id="{{::$ctrl.asset.id}}"></w-asset-logo>
                                                <div class="asset__name">{{::$ctrl.asset.name}}</div>
                                            </div>
                                        </div>
                                        <w-select
                                            class="big has-fliter"
                                            ng-if="!$ctrl.singleAsset"
                                            ng-model="$ctrl.chosenAssetId">
                                            <w-option ng-repeat="purchasableByCard in $ctrl.purchasablesByCards track by $index"
                                                      value="::purchasableByCard.id">
                                                <div class="flex-row split-half">
                                                    <div class="flex-row">
                                                        <w-asset-logo class="marker-hide" size="24" asset-id="{{::purchasableByCard.id}}"></w-asset-logo>
                                                        <div class="asset__name">
                                                            <span>{{::purchasableByCard.name}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </w-option>
                                        </w-select>
                                    </div>

                                    <div class="row margin-1 relative">
                                        <div class="body-2 basic-900" w-i18n="modal.receive.amountYouPay"></div>
                                        <div class="basic-500 footnote-1">
                                            <span w-i18n="modal.receive.minimumIs"></span>&nbsp;{{$ctrl.cardFiatList[$ctrl.chosenCurrencyIndex].min}}
                                            {{$ctrl.cardFiatList[$ctrl.chosenCurrencyIndex].name}},&nbsp;
                                            <span w-i18n="modal.receive.maximumIs"></span>&nbsp;{{$ctrl.cardFiatList[$ctrl.chosenCurrencyIndex].max}}
                                            {{$ctrl.cardFiatList[$ctrl.chosenCurrencyIndex].name}}
                                        </div>
                                        <div class="card-icons">
                                            <i class="visa-icon"></i>
                                            <i class="mastercard-icon"></i>
                                        </div>
                                    </div>

                                    <div class="row margin-2">
                                        <w-input-container>

                                            <div class="amount-wrap">
                                                <w-input
                                                        name="amount"
                                                        type="text"
                                                        class="big"
                                                        ng-model="$ctrl.cardPayment"
                                                        w-validate
                                                        w-validator-gte="{{$ctrl.cardFiatList[$ctrl.chosenCurrencyIndex].min}}"
                                                        w-validator-lte="{{$ctrl.cardFiatList[$ctrl.chosenCurrencyIndex].max}}"
                                                        w-validator-asset="{{$ctrl.cardFiatList[$ctrl.chosenCurrencyIndex].assetId}}"
                                                        required></w-input>

                                                <w-select class="big" ng-model="$ctrl.chosenCurrencyIndex">
                                                    <w-option ng-repeat="currency in $ctrl.cardFiatList track by $index"
                                                              value="$index">
                                                        <span>{{::currency.name}}</span>
                                                    </w-option>
                                                </w-select>
                                            </div>

                                            <w-input-error message="gte">
                                                <span w-i18n="modal.receive.error.cardAmount.gte"
                                                      params="{gte: $ctrl.cardFiatList[$ctrl.chosenCurrencyIndex].min,currency: $ctrl.cardFiatList[$ctrl.chosenCurrencyIndex].name}"></span>
                                            </w-input-error>
                                            <w-input-error message="lte">
                                                <span w-i18n="modal.receive.error.cardAmount.lte"
                                                      params="{lte: $ctrl.cardFiatList[$ctrl.chosenCurrencyIndex].max,currency: $ctrl.cardFiatList[$ctrl.chosenCurrencyIndex].name}"></span>
                                            </w-input-error>
                                            <w-input-error message="precision">
                                                <span w-i18n="modal.receive.error.cardAmount.precision"></span>
                                            </w-input-error>


                                        </w-input-container>
                                    </div>

                                    <div class="row margin-3">
                                        <div class="body-2 basic-900">
                                            <span w-i18n="modal.receive.youWillGet"></span>
                                        </div>

                                        <div class="plate-note body-2">
                                            <span ng-if="$ctrl.approximateAmount"
                                                  w-i18n="money-currency"
                                                  params="{money: $ctrl.approximateAmount}"></span>
                                            <w-loader ng-if="!$ctrl.approximateAmount"></w-loader>
                                        </div>
                                    </div>

                                </form>

                                <a href="{{$ctrl.indacoinLink}}" target="_blank" rel="noopener noreferrer">
                                    <w-button disabled="card.$invalid" class="big submit long"
                                              on-click="$ctrl.confirmIndacoin()">
                                        <span w-i18n="modal.receive.card.continue"></span>
                                    </w-button>
                                </a>
                            </div>
                        </w-tab>

                        <w-tab ng-if="$ctrl.showBankTab" title-name="::'modal.receive.bank.title'" id="::'bank'">
                            <w-receive-bank fiats="$ctrl.fiats"
                                            asset="$ctrl.asset"
                                            list-of-eligible-countries="$ctrl.listOfEligibleCountries"
                                            single-asset="$ctrl.singleAsset"></w-receive-bank>
                        </w-tab>

                    </w-tabs>

                </w-step>

                <w-step>

                    <div class="text-center receive-confirm" ng-if="$ctrl.showIndacoinRedirectionDescription">
                        <i class="card-success-icon margin-1"></i>
                        <h3 class="basic-700" w-i18n="modal.receive.cardSuccessHeader"></h3>
                        <div class="body-2 basic-500" w-i18n="modal.receive.cardSuccessText"></div>
                    </div>

                </w-step>
            </w-step-by-step>
        </div>
    </md-dialog-content>
</md-dialog>
