<md-dialog class="modal-receive" w-i18n-ns="app.utils" aria-label="modal">
    <md-dialog-content>
        <div class="modal-content">
            <div class="btn icon-close ng-scope" w-modal-close></div>

            <w-tabs class="header" ng-model="$ctrl.activeTab">
                <w-tab ng-if="$ctrl.tabs.cryptocurrency" title-name="::'modal.receive.cryptocurrency.title'" id="::'cryptocurrency'">
                    <w-receive-cryptocurrency
                        asset="$ctrl.asset"
                        cryptocurrencies="::$ctrl.cryptocurrencies"
                        is-single-asset="::$ctrl.isSingleAsset"
                        on-asset-change="$ctrl.updateAssetBy(id)"
                    ></w-receive-cryptocurrency>
                </w-tab>

                <w-tab ng-if="$ctrl.tabs.invoice" title-name="::'modal.receive.invoice.title'" id="::'invoice'">
                    <w-receive-invoice
                        asset="$ctrl.asset"
                        invoicables="::$ctrl.invoicables"
                        is-single-asset="::$ctrl.isSingleAsset"
                        on-asset-change="$ctrl.updateAssetBy(id)"
                    ></w-receive-invoice>
                </w-tab>

                <w-tab ng-if="$ctrl.tabs.card" title-name="::'modal.receive.card.title'" id="::'card'">
                    <w-receive-card
                        asset="$ctrl.asset"
                        purchasables-by-cards="::$ctrl.purchasablesByCards"
                        is-single-asset="::$ctrl.isSingleAsset"
                        on-asset-change="$ctrl.updateAssetBy(id)"
                    ></w-receive-card>
                </w-tab>

                <w-tab ng-if="$ctrl.tabs.bank" title-name="::'modal.receive.bank.title'" id="::'bank'">
                    <w-receive-bank
                        asset="$ctrl.asset"
                        fiats="::$ctrl.fiats"
                        is-single-asset="::$ctrl.isSingleAsset"
                    ></w-receive-bank>
                </w-tab>
            </w-tabs>
        </div>
    </md-dialog-content>
</md-dialog>
