@import (reference) 'config';

.actions {
  display: block;
  height: 16px;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -8px;
  cursor: pointer;
  user-select: none;

  &__container {
    z-index: 4;
    min-width: 215px;
    display: none;
    position: absolute;
    right: 20px;
    top: 0;
    margin-bottom: 10px;
    padding: 17px 0;
    background-color: @color-white;
    box-shadow: @shadow-buttons-default;
    border-radius: @border-radius;

    &.expanded {
      display: block;
    }
  }

  &__click {
    display: flex;
    justify-content: center;
    width: 24px;
    height: 16px;
    cursor: pointer;
  }
}

@media screen and (min-height: 590px) {
  .actions {
    &__container {
      &.to-up {
        top: auto;
        bottom: -10px;
      }
    }
  }
}


