@import (reference) "../../../../app/less/typography";
@import (reference) 'config';
@import (reference) 'icons';

.dex-layout {
  &__column_tradehistory {
    max-height: 320px;
    min-height: 320px;
    bottom: 0;
    left: 0;
    width: calc(~'100%' - (@dexLayoutOrderBook + @dexLayoutGap));
    border-radius: @border-radius / 2;
    transition: .3s !important;

    .block-title {
      display: none;
    }

    .sign-in-message {
      position: absolute;
      display: inline-block;
      text-align: center;
      max-width: 90%;
      width: 100%;
      top: 50%;
      transform: translate(5%, -50%);
      color: @color-basic-500;
    }

    .tabs {
      ::-webkit-scrollbar {
        height: 0;
      }

      :hover::-webkit-scrollbar {
        height: 0;
      }

      ::-webkit-scrollbar-thumb {
        height: 0;
      }

      ::-webkit-scrollbar-thumb:window-inactive {
        height: 0;
      }

      .tab-tem {
        overflow-x: auto;
      }

      .tab-body-wrap {
        height: calc(100% ~'- 39px');
      }

      .titles-wrap {
        overflow-y: hidden;
        overflow-x: auto;
        height: 39px;
        padding: 0;
        display: flex;
        position: relative;

        &::before {
          display: none;
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: 1px;
          left: 0;
          bottom: 0;
          background: @color-basic-100;
        }

        .title {
          color: @color-basic-700;
          height: 38px;
          font-size: 13px;
          margin: 0;
          padding: 0 20px;
          line-height: 40px;
          border: 0 none;
          font-family: @font-roboto-medium;
          position: relative;
          border-left: 1px solid transparent;
          border-right: 1px solid transparent;
          white-space: nowrap;

          &.active:first-child {
            border-left: 1px solid @color-white;
          }

          &.active {
            color: @color-basic-700;
            background: @color-white;
            border-bottom: 1px solid @color-white;
            border-right: 1px solid @color-disabled-200;
            border-left: 1px solid @color-disabled-200;

            &::before {
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              content: '';
              height: 2px;
              background: @color-submit-400;
            }

            &:after {
              position: absolute;
              bottom: -2px;
              height: 2px;
              width: 100%;
              left: 0;
              content: '';
              display: block;
              z-index: 1;
              background: @color-white;
            }
          }
        }
      }
    }
  }
}
