@import (reference) "../../../../app/less/typography";
@import (reference) 'config';
@import (reference) 'icons';

.dex-layout {
  &__column_createorder {
    max-height: 320px;
    min-height: 320px;
    bottom: 0;
    right: 0;
    width: @dexLayoutCreateOrder;
    background-color: transparent;
    border-radius: @border-radius / 2;

    .block-title {
      display: none;
    }

    .mask {
      background: @mask-default;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: .5;
      height: 100%;
      z-index: 5;
      display: none;
    }
  }
}
@media screen and (min-width: 1920px) {
  .dex-layout {
    &__column_createorder {
      width: 370px;
    }
  }
}

@media screen and (min-width: 2400px) {
  .dex-layout {
    &__column_createorder {
      .body .making-order {
        .fields {
          padding: 15px 25px 15px;
        }

        .expiration {
          margin: 10px 0;
        }

        .fields {
          .input-like {
            height: 42px;

            .asset-name-wrap div {
              line-height: 28px;
            }
          }

          .field-label {
            margin-top: 15px;
            padding-bottom: 4px;
          }

          .place-order {
            height: 42px;
          }

          .input input {
            height: 42px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .dex-layout {
    &__column_createorder {
      width: 280px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .dex-layout {
    &__column_createorder {
      width: 300px;
      height: 340px;
      max-height: none;
    }
  }
}