@import (reference) '../../../../config';

@toolbar-radio-line-height: 57.5px;

.main.wallet.assets {
  .content {
    overflow-x: hidden;

    .btn-icon {
      font-family: @font-roboto-regular;

      &::before {
        content: '';
        display: inline-block;
        position: relative;
        top: 2px;
        background-size: 100% 100%;
        width: 18px;
        height: 14px;
        margin-right: 7px;
      }
    }

    .interface .btn-icon {
      font-family: @font-roboto-medium;
    }

    .toolbar {
      margin: 0 0 10px 0;
      width: calc(~"100% + "@padding-main-layout / 2);
      position: relative;

      w-button:not(:last-child) {
        margin-right: 5px;
      }
    }

    .assets-list {
      width: calc(~"100% + " @padding-main-layout);
      position: relative;
      left: @padding-main-layout * -1 / 2;
      margin: @padding-main-layout / 2 0;
    }

    .chart-rate {
      height: 394px;
      box-sizing: border-box;
      border: 1px solid #eaeaea;
      background-color: @color-white;
      position: relative;
      border-radius: 4px;

      .toolbar {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: 0 20px;
        height: 58px;

        &::after {
          content: '';
          position: absolute;
          margin: auto;
          left: 20px;
          right: 20px;
          bottom: 0;
          height: 1px;
          background-color: @color-disabled-100;
        }
      }

      .chart-info {
        height: 95px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        & > div:not(:last-child) {
          text-align: center;
          margin-right: 42px;
          padding-right: 42px;
          border-right: 1px solid @color-disabled-100;
        }

        h1 {
          margin: 0 0 5px;
          text-align: center;
        }
      }

      .chart-wrapper {
        height: 239px;
        padding: 0 10px;
      }
    }

    .assets-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.toolbar {

  & w-radio-wrap {
    & .btn-wrap.btn-group .btn {
      border-left: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;

      font-family: @font-roboto-regular;
      letter-spacing: 0;
      color: @color-info-500;
      display: block;
      background-color: @color-background-default;
      font-size: 17px;
      text-decoration: none;
      line-height: @toolbar-radio-line-height;
      padding: 0;
      margin-right: 30px;
      border: none;
      border-bottom: 1px solid transparent;
    }
    & w-radio input:checked ~ label.btn.btn-radio {
      font-family: @font-roboto-regular;
      letter-spacing: 0;
      margin: auto 30px auto auto;
      font-size: 17px;
      color: @color-submit-400;
      line-height: @toolbar-radio-line-height;
      position: relative;
      z-index: 1;
      border: 0;
      border-bottom-right-radius: 0;
      border-bottom: 1px solid @color-submit-400;
    }
    & .radio-dot {
      display: inline-block;
      margin: 0 5px;
    }
  }

  div.date-btns {
    & w-radio-wrap {
      & .btn-wrap.btn-group .btn,
      & w-radio input:checked ~ label.btn.btn-radio {
        font-size: 13px;
      }
    }
  }

}
