@import (reference) '../../../../config';

@toolbar-radio-line-height: 57.5px;

.main.wallet.assets {
  .content {
    overflow-x: hidden;

    .btn-icon {
      font-family: @font-roboto-regular;

      &::before {
        content: '';
        display: inline-block;
        position: relative;
        top: 2px;
        background-size: 100% 100%;
        width: 18px;
        height: 14px;
        margin-right: 7px;
      }
    }

    .interface .btn-icon {
      font-family: @font-roboto-medium;
    }

    .toolbar {
      margin: 0 0 10px 0;
      width: calc(~"100% + "@padding-main-layout / 2);
      position: relative;

      w-button:not(:last-child) {
        margin-right: 5px;
      }
    }

    .assets-list {
      width: calc(~"100% + " @padding-main-layout);
      position: relative;
      left: @padding-main-layout * -1 / 2;
      margin: @padding-main-layout / 2 0;
    }

    .chart-rate {
      height: 394px;
      box-sizing: border-box;
      border: 1px solid #eaeaea;
      background-color: @color-white;
      position: relative;
      border-radius: 4px;

      .toolbar {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: 0 20px;
        height: 58px;

        &::after {
          content: '';
          position: absolute;
          margin: auto;
          left: 20px;
          right: 20px;
          bottom: 0;
          height: 1px;
          background-color: @color-disabled-100;
        }
      }

      .chart-info {
        min-height: 95px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        & > div:not(:last-child) {
          text-align: center;
          margin-right: 42px;
          padding-right: 42px;
          border-right: 1px solid @color-disabled-100;
        }

        h1 {
          margin: 0 0 5px;
          text-align: center;
        }
      }

      .chart-wrapper {
        height: 239px;
        padding: 0 10px;
      }
    }

    .assets-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.toolbar {

  & w-radio-wrap {
    & .btn-wrap.btn-group .btn {
      border-left: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      white-space: nowrap;
      font-family: @font-roboto-regular;
      letter-spacing: 0;
      color: @color-info-500;
      display: block;
      background-color: @color-background-default;
      font-size: 17px;
      text-decoration: none;
      line-height: @toolbar-radio-line-height;
      padding: 0;
      margin-right: 30px;
      border: none;
      border-bottom: 1px solid transparent;
    }
    & w-radio input:checked ~ label.btn.btn-radio {
      font-family: @font-roboto-regular;
      letter-spacing: 0;
      margin: auto 30px auto auto;
      font-size: 17px;
      color: @color-submit-400;
      line-height: @toolbar-radio-line-height;
      position: relative;
      z-index: 1;
      border: 0;
      border-bottom-right-radius: 0;
      border-bottom: 1px solid @color-submit-400;
    }
    & .radio-dot {
      display: inline-block;
      margin: 0 5px;
    }
  }

  div.date-btns {
    & w-radio-wrap {
      & .btn-wrap.btn-group .btn,
      & w-radio input:checked ~ label.btn.btn-radio {
        font-size: 13px;
      }
    }
  }

}

.chart-prices-toggle {
  display: none;
}

.toolbar-balance-select {
  margin-top: 10px;
  display: none;
}

@media screen and (max-width: 768px) {
  .chart-prices-toggle {
    display: block;
    width: 40px;
    height: 40px;
    background: #ccc;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    border-radius: 50%;
    position: absolute;
    right: -50px;
    top: 50%;
    margin-top: -32px;
    cursor: pointer;
  }

  .toolbar-balance-radio {
    display: none;
  }

  .toolbar-balance-select {
    display: block;
  }


  .main.wallet.assets {
    .content .chart-rate {
      .chart-wrapper {
        margin-top: 95px;
      }

      .chart-info {
        flex-direction: column;
        max-width: 300px;
        position: absolute;
        top: 95px;
        width: 100%;
        left: 50%;
        margin-left: -150px;
        justify-content: flex-start;
        z-index: 1;

        h1 {
          white-space: nowrap;
        }

        .rate {
          position: relative;
        }

        & > div:not(:last-child) {
          margin-right: 0;
          padding-right: 0;
          margin-top: 10px;
          margin-bottom: 10px;
          border-right: 0 none;
        }

        &:hover .rate {
          & + div,
          & + div + div {
            display: block;
          }
        }

        .change,
        .change-percent {
          display: none;
        }
      }
    }
  }
}
