w-dex-trade-history {
  .buy .size {
    color: #f27057;
  }

  w-table {
    display: flex;
    flex-direction: column;
    height: 100%;

    .table {
      display: flex;
      flex-direction: column;
      padding: 15px;

      text-align: right;

      w-cell {
        overflow: hidden;
      }
    }
  }

  .sell .size {
    color: #2b9f72;
  }
}
