@import (reference) '../../../config';
@import (reference) '../../../app/less/icons';
@import (reference) '../../../app/less/typography';

.transaction-info {
  width: 450px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .transaction-icon {
      width: 80px;
      height: 80px;
      margin-top: 10px;
      background-size: 100%;
      background-repeat: no-repeat;

      &.send {
        .icon-tx-send();
      }

      &.receive {
        .icon-tx-receive();
      }

      &.circular {
        .icon-tx-circular();
      }

      &.issue {
        .icon-tx-issue();
      }

      &.reissue {
        .icon-tx-reissue();
      }

      &.burn {
        .icon-tx-burn();
      }

      &.exchange-buy,
      &.exchange-sell {
        .icon-tx-exchange();
      }

      &.create-alias {
        .icon-tx-create-alias();
      }

      &.lease-in,
      &.lease-out {
        .icon-tx-lease();
      }

      &.cancel-leasing {
        .icon-tx-cancel-leasing();
      }
    }

    .lead {
      text-align: center;
      margin: 20px 0 30px;

      h3 {
        margin-bottom: 6px;
      }
    }

    .section {
      display: flex;
      align-items: center;
      width: 100%;

      justify-content: space-between;
      padding: 13px 0;
      border-bottom: 1px dotted @color-basic-200;

      .key {
        .footnote-1();
        color: @color-disabled-600;
      }

      .value {
        .footnote-1();
        color: @color-basic-900;
      }

      &.contains-text {
        flex-wrap: wrap;
        padding-bottom: 0;
        border-bottom: none;

        .key {
          margin-bottom: 4px;
        }

        .text {
          .footnote-1();
          width: 100%;
          padding: 13px 16px;
          border: 1px dashed @color-basic-200;
          border-radius: @border-radius;
          background: @color-basic-50;
          color: @color-basic-900;
        }
      }

      &.solid-border {
        border-bottom-style: solid;
      }

      &.last {
        padding-top: 15px;
        border-bottom: none;

        .status {
          .tag-1();
          padding: 4px 11px;
          margin-top: -4px;
          border-radius: @border-radius;

          &.confirmed {
            background: @color-success-50;
            color: @color-success-400;
          }

          &.unconfirmed {
            background: rgba(255, 175, 0, 0.1); // TODO : name the color
            color: @color-warning-500;
          }
        }
      }
    }

    ng-include {
      display: block;
      width: 100%;

      .lead + .section {
        border-top: 1px solid @color-basic-200;
      }
    }
  }
}
