<div class="section" ng-if="$ctrl.type !== 'circular'">
    <div class="key" w-i18n="transaction.modals.to" ng-if="$ctrl.type === 'send'"></div>
    <div class="key" w-i18n="transaction.modals.from" ng-if="$ctrl.type === 'receive'"></div>
    <div class="value">{{::$ctrl.shownAddress}}</div>
</div>
<div class="section description" ng-if="$ctrl.transaction.attachment">
    <div class="key" w-i18n="transaction.modals.attachment"></div>
    <div class="value">{{::$ctrl.transaction.attachment}}</div>
</div>
