@import (reference) 'config';
@import (reference) '../../../app/less/typography';

// do not forget add all the same changes to 'sponsored.less'

.setAssetScript {

  md-dialog-content {
    overflow: hidden;
    overflow-y: auto;
  }

  .setAssetScript__input {
    height: 200px;
    overflow: auto;
  }

  @media screen and (max-width: 768px) {
    .asset {
      &-modal__name {
        flex-direction: column;
        align-items: flex-start;
        font-size: 20px;
      }
      &__ticker {
        margin-top: 5px;
      }
    }
    .status-label-min {
       margin: 5px 0 0;
     }
  }

  .asset__logo {
    .marker {
      width: 24px;
      height: 24px;
      background-size: 12px;
    }
  }

  .line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid @color-basic-100;
    border-top: 1px solid @color-basic-100;
    padding: 5px 0;
    align-items: center;
    min-height: 44px;

    &-description {
      width: 100%;
      padding: 13px 16px;
      border-radius: @border-radius;
      background: @color-basic-50;
      margin-top: 4px;
      border: 1px solid @color-basic-100;
    }

    &-no-border {
      border-top: 0 none;
    }

    &.chart-container {
      .legend-item {
        white-space: nowrap;
      }

      & > div:first-child {
        width: 140px;
        flex-grow: 0;
      }

      & > div:last-child {
        width: calc(100% ~'- 140px');
        flex-grow: 1;
        margin-left: 30px;
      }
    }

    &:last-child {
      border-bottom: 0 none;
    }

  }
}

@media screen and (max-width: 420px) {
  .setAssetScript {
    .line.chart-container {
      flex-direction: column;

      & > div:first-child {
        width: 100%;
      }
      & > div:last-child {
        margin: 0;
        width: 100%;
      }
    }
  }
}
