<div w-i18n-ns="app.wallet.assets">
    <div class="info" ng-click="$ctrl.onClick({event: $event, asset: $ctrl.balance.asset, action: 'info'})">
        <div class="name">
            <w-asset-logo asset-id="{{::$ctrl.balance.asset.id}}" size="30"></w-asset-logo>
            {{::$ctrl.balance.asset.name}}
        </div>
        <h2 class="balance">
            <w-balance money="$ctrl.balance.available"></w-balance>
        </h2>

        <div ng-if="!$ctrl.balance.regular.eq($ctrl.balance.available)"
             class="balance-title body-2 disabled-600"
             w-i18n="directives.asset.ofTotalBalance"
             params="{totalBalance: $ctrl.balance.regular.toFormat()}"></div>
    </div>
    <hr>
    <div class="footer">
        <div class="btn-icon icon-send"
             ng-click="$ctrl.onClick({event: $event, asset: $ctrl.balance.asset, action: 'send'})"
             w-i18n="directives.asset.send"></div>
        <div class="btn-icon icon-deposit"
             ng-click="$ctrl.onClick({event: $event, asset: $ctrl.balance.asset, action: 'receive'})"
             w-i18n="directives.asset.receive"></div>
    </div>
</div>
