@import (reference) 'config';
@import (reference) 'icons';

.ledger-error-modal {
  max-width: 460px;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;

  .icon-close {
    right: 30px;
    top: 30px;
    position: absolute;
  }

  .ledger-error-icon {
    background: @error-circle-icon;
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto 30px auto;
  }

  p {
    margin-bottom: 30px;
  }

  .big {
    width: 224px;
    margin: 0 5px 30px auto;
  }
  
  .big .submit {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    margin: 0 auto;
  }
}

