<div class="ledger-error-modal">
    <div class="btn icon-close" w-modal-close></div>

    <div class="connect-mode" ng-if="$ctrl.mode === 'sign-error'">
        <div class="ledger-error-icon ledger-icons"></div>
        <h3 class="text-center basic-700" w-i18n="modal.sign.signError"></h3>
        <p class="body-2 basic-500" w-i18n="modal.sign.signErrorText"></p>
        <w-button class="big" w-modal-close>
            <span w-i18n="modal.sign.cancel"></span>
        </w-button>
        <w-button class="submit big" w-modal-hide>
            <span w-i18n="modal.sign.retry"></span>
        </w-button>
    </div>

    <div class="connect-mode" ng-if="$ctrl.mode === 'load-user-error'">
        <div class="ledger-error-icon ledger-icons"></div>

        <h3 class="text-center basic-700" w-i18n="modal.sign.connectionError"></h3>
        <p class="body-2 basic-500" w-i18n="modal.sign.connectionText"></p>
        <w-button class="submit big" w-modal-close>
            <span w-i18n="modal.sign.close"></span>
        </w-button>
    </div>

</div>
