@import (reference) '../../../config';

w-navigation {
  a {
    //color: @color-link-blue;
    display: block;
    border: 1px solid transparent;
    box-sizing: border-box;
    font-size: 15px;
    text-decoration: none;

    &.active {
      //color: @color-link-blue-active;
    }
  }

  .navigation.raw {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    //height: @height-header;

    a {
      padding: 15px;
      line-height: 35px;

      &.active {
        //border-bottom-color: @color-link-blue-active;
      }
    }
  }

  .navigation.column {
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
      text-align: center;
      padding: 15px 0;
    }
  }
}
