@import (reference) 'config';
@import (reference) 'icons';
@import (reference) '../../../app/less/typography';

.footer {
  &__wrap {
    background: @color-basic-900;
  }
  
  &__title {
    margin-bottom: 24px;
    text-transform: uppercase;
    font-size: 13px;
    color: @color-basic-700;
  }

  &__link {
    margin-bottom: 14px;
    display: inline-block;
    color: @color-basic-600;
    transition: color 0.3s;

    &:hover {
      color: @color-white;
    }
  }

  &__section {
    &-wrapper {
      max-width: 1440px;
      color: @color-basic-600;
      display: flex;
      width: 100%;
      padding: 60px 80px;
      align-items: flex-start;
      font-size: 15px;
      margin: 0 auto;
      position: relative;
      z-index: 1;
    }
  }

  &__right {
    display: flex;
    width: calc(100% ~'- 250px');
    padding-left: 150px;
    &-item {
      flex-basis: 25%;
    }
  }

  &__left {
    width: 250px;
  }

  &__logo {
    margin-top: -8px;
    background-position: left;
    width: 105px;
    cursor: default;
  }
}

@media screen and (max-width: 1340px) {
  .footer__section-wrapper {
    padding: 40px;
  }
}

@media screen and (max-width: 1174px) {
  .footer__right {
    padding-left: 0;
  }
}

@media screen and (max-width: 1024px) {
  .footer__right-item {
    margin-left: 20px;
  }
}

@media screen and (max-width: 860px) {
  .footer {
    &__section-wrapper {
      padding: 40px 40px 0;
      font-size: 13px;
      flex-direction: column;

    }
    
    &__title {
      margin-bottom: 20px;
      font-size: 11px;
    }

    &__right {
      flex-wrap: wrap;
      width: 100%;

      &-item {
        flex-basis: 50%;
        margin: 30px 0 0;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .footer__section-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
