<footer class="footer__wrap" w-i18n-ns="app.welcome">
    <w-desktop-only>
        <div class="footer-actions">
            <a ng-if="!$ctrl._isDesktopUpdate" class="footer-action footnote-1 submit-400" target="_blank" rel="noopener noreferrer"
               href="http://dex.wavesplatform.com" w-analytics event="'Waves DEX Web Click'" w-i18n="welcome.wavesDexWeb"></a>
            <a ng-if="!$ctrl._isDesktopUpdate" class="footer-action footnote-1 submit-400" target="_blank" rel="noopener noreferrer"
               href="https://support.wavesplatform.com" w-analytics event="'Footer Support Click'" w-i18n="welcome.support"></a>
            <span ng-if="$ctrl._isDesktopUpdate" class="footer-action footnote-1 submit-400 pointer" ng-click="$ctrl.showFAQ()">FAQ</span>
        </div>
    </w-desktop-only>
    <w-web-only>
      <div class="footer-action">
         <a ng-if="!$ctrl._isDesktopUpdate" class="submit-400" target="_blank" rel="noopener noreferrer"
            href="https://support.wavesplatform.com" w-analytics event="'Footer Support Click'" w-i18n="welcome.support"></a>
         <div class="footer__left-item" w-i18n="welcome.copyright"></div>
      </div>
    </w-web-only>
    <w-desktop-only>
      <div class="footer__left">
         <div class="footer__left-item margin-1" w-i18n="welcome.copyright"></div>
         <w-change-language w-web-only-class="web-footer-language" up-direction="true"></w-change-language>
      </div>
    </w-desktop-only>
</footer>
