@import (reference) 'config';
@import (reference) 'icons';
@import (reference) '../../../app/less/typography';

.footer {
  display: block;

  &__wrap {
    color: @color-basic-600;
    padding: 20px;
    font-size: 13px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  &-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin-bottom: 24px;
    text-transform: uppercase;
    font-size: 13px;
    color: @footer-color-title;
  }

  &__link {
    margin-bottom: 14px;
    display: block;
    color: @color-basic-600;
    transition: color 0.3s;

    &:hover {
      color: @white-only;
    }

    &_support {
      display: inline-block;
      margin-bottom: 34px;
    }
  }

  &__right {
    display: flex;
    flex: 1;
    padding-left: 150px;
    &-item {
      flex: 1;
    }
  }

  &__left {
    width: 250px;
  }

  &__logo {
    margin-top: -8px;
  }

  w-web-only {
    &,
    & > div {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
  }
}

.footer {
  background: @color-info-50;
  width: 100%;

  &__wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    color: @color-basic-500;
    font-size: 13px;
  }

  &__left {
    margin-left: auto;
    flex-direction: row-reverse;
    display: flex;
    align-items: center;

    &-item {
      white-space: nowrap;
      .footnote-1();
      color: @color-basic-500;
      margin-left: 15px;
      margin-bottom: 0;
    }
  }

  &-actions {
    display: flex;
  }

  &-action {
    align-items: center;
    display: inline-flex;

    &:not(:first-child) {
      margin-left: 10px;

      &:before {
        content: '';
        height: 14px;
        width: 1px;
        margin-right: 10px;
        background: @color-basic-300;
      }
    }
  }

  &-copyright {
    white-space: nowrap;
    .footnote-1();
    color: @color-basic-500;
    margin-left: 15px;
    margin-bottom: 0;
  }

  .select .select__wrap .select__title {
    background: transparent;

    &:after {
      width: 10px;
      height: 10px;
      background: @select-arrow-icon;
    }
  }

  .lng-item span {
    color: @color-basic-700;
  }
}

@media screen and (max-width: 860px) {
  .footer {
    &__wrap {
      padding: 12px 16px;
      font-size: 13px;
      height: 40px;
    }

    &-action {
      font-size: 12px;
    }
  }
}