@import (reference) 'config';
@import (reference) 'icons';
@import (reference) '../../../app/less/typography';

.footer {

  background: @color-basic-900;


  .section-wrapper {
    color: @color-basic-600;
    display: flex;
    width: 100%;
    padding: 60px 80px;
    align-items: flex-start;
    font-size: 15px;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    .links {
      display: flex;
      width: calc(100% ~'- 250px');
      padding-left: 150px;
      & > div {
        flex-basis: 25%;
      }
    }
  }

  .footer-title {
    margin-bottom: 24px;
    text-transform: uppercase;
    font-size: 13px;
  }

  a {
    margin-bottom: 14px;
    display: inline-block;
    color: @color-basic-600;
    &:hover {
      color: @color-submit-500;
    }
  }

  .footer-left {
    width: 250px;
  }

  .logo {
    margin-top: -8px;
  }
}

@media screen and (max-width: 1340px) {
  .footer .section-wrapper {
    padding: 40px;
  }
}

@media screen and (max-width: 1174px) {
  .footer {
    .section-wrapper {
      .links {
        padding-left: 0;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    .section-wrapper {
      .links > div {
        margin-left: 20px;
      }
    }
  }
}

@media screen and (max-width: 860px) {
  .footer {
    .section-wrapper {
      padding: 40px 40px 0;
      font-size: 13px;
      flex-direction: column;

      .footer-title {
        margin-bottom: 20px;
        font-size: 11px;
      }

      .links {
        padding: 0;
        flex-wrap: wrap;
        width: 100%;

        & > div {
          flex-basis: 50%;
          margin: 30px 0 0 0;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .footer .section-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
