<div class="dex-layout" w-toggle-class-container>

    <div class="dex-layout__column dex-layout__watchlist">
        <div data-block="watchlist" class="dex-layout__block dex-layout__block-top"></div>
    </div>

    <div class="dex-layout__column dex-layout__candlechart">
        <div class="dex-layout__sidebar-toggle dex-layout__sidebar-toggle-left">
            <div data-slider ng-click="$ctrl.toggleColumn('watchlist')"></div>
        </div>
        <div data-block="candlechart" class="dex-layout__block dex-layout__block-top"></div>
        <div class="dex-layout__sidebar-toggle dex-layout__sidebar-toggle-right">
            <div data-slider ng-click="$ctrl.toggleColumn('orderbook')"></div>
        </div>
    </div>

    <div class="dex-layout__column dex-layout__orderbook"
         w-toggle-class-container>
        <div class="dex-layout__sidebar-toggle dex-layout__sidebar-toggle-left">
            <div data-slider ng-click="$ctrl.toggleColumn('orderbook')"></div>
        </div>
        <div data-block="orderbook" class="dex-layout__block"></div>
        <div data-block="tradevolume" class="dex-layout__block"></div>
    </div>

    <div class="dex-layout__column dex-layout__tradehistory">
        <div data-block="tradehistory" class="dex-layout__block dex-layout__block-bottom"></div>
    </div>

    <div class="dex-layout__column dex-layout__createorder">
        <!-- todo @german make this .mask to closing w-create-order onclick like close-btn -->
        <div class="mask" ng-click="$ctrl.closeCreateOrder()"></div>
        <div data-block="createorder" class="dex-layout__block dex-layout__block-bottom"></div>
    </div>

    <div class="hidden" ng-transclude></div>
</div>
