<div class="dex-layout" w-toggle-class-container>

    <div class="dex-layout__row dex-layout__row-top">

            <div data-column="topleft" class="dex-layout__column dex-layout__column-left">
                <div data-block="top" class="dex-layout__block dex-layout__block-top"></div>
            </div>

            <div data-column="topcenter" class="dex-layout__column dex-layout__column-center">
                <div class="dex-layout__sidebar-toggle dex-layout__sidebar-toggle-left">
                    <div data-slider ng-click="$ctrl.toggleColumn('topleft')"></div>
                </div>
                <div data-block="top" class="dex-layout__block dex-layout__block-top"></div>
                <div class="dex-layout__sidebar-toggle dex-layout__sidebar-toggle-right">
                    <div data-slider ng-click="$ctrl.toggleColumn('topright')"></div>
                </div>
            </div>

            <div data-column="topright"
                 class="dex-layout__column dex-layout__column-right"
                 w-toggle-class-container>
                <div data-block="top" class="dex-layout__block dex-layout__block-top"></div>
                <div data-block="bottom" class="dex-layout__block dex-layout__block-bottom"></div>
            </div>

        </div>

        <div class="dex-layout__row dex-layout__row-bottom">

            <div data-column="bottomleft" class="dex-layout__column dex-layout__column-left">
                <div data-block="top" class="dex-layout__block dex-layout__block-bottom"></div>
            </div>
            <div data-column="bottomright" class="dex-layout__column dex-layout__column-right">
                <div data-block="top" class="dex-layout__block dex-layout__block-bottom"></div>
            </div>

    </div>

    <div class="hidden" ng-transclude></div>
</div>
