<div class="dex-layout" w-toggle-class-container>

    <div class="dex-layout__column dex-layout__column_watchlist">
        <div data-block="watchlist" class="dex-layout__block dex-layout__block-top"></div>
    </div>

    <div class="dex-layout__column dex-layout__column_candlechart">
        <w-dex-layout-side-bar-toggle handle-click="$ctrl.toggleColumn('watchlist')"
                                      side="left"></w-dex-layout-side-bar-toggle>
        <div data-block="candlechart" class="dex-layout__block dex-layout__block-top"></div>
        <w-dex-layout-side-bar-toggle handle-click="$ctrl.toggleColumn('orderbook')"
                                      side="right"></w-dex-layout-side-bar-toggle>
    </div>

    <div class="dex-layout__column dex-layout__column_orderbook"
         >
        <w-dex-layout-side-bar-toggle handle-click="$ctrl.toggleColumn('orderbook')"
                                      side="left"></w-dex-layout-side-bar-toggle>
        <div data-block="orderbook" class="dex-layout__block"></div>
        <div data-block="tradevolume" class="dex-layout__block"></div>
    </div>

    <div class="dex-layout__column dex-layout__column_tradehistory">
        <div data-block="tradehistory" class="dex-layout__block dex-layout__block-bottom"></div>
        <div class="tradehistory-fullscreen-toggler"
             w-toggle-class="tradehistory-fullscreen"
             ng-click="$ctrl.updateVisible()"></div>
    </div>

    <div class="dex-layout__column dex-layout__column_createorder">
        <div class="mask" ng-click="$ctrl.closeCreateOrder($event)"></div>
        <div data-block="createorder" class="dex-layout__block dex-layout__block-bottom"></div>
    </div>

    <div class="hidden" ng-transclude></div>
</div>
