@import (reference) '../../../config';

.dex.main .main-content {
  background: @color-basic-100;
}

.scroll {
  ::-webkit-scrollbar-thumb {
    border-right: 2px solid #fff;
    box-shadow: none;
    background: @color-basic-200;
  }

  ::-webkit-scrollbar-thumb:window-inactive {
    border-right: 2px solid #fff;
  }
}

@column-width: 320px;
@dex-padding: 7px;

w-layout {

  width: 100%;
  height: 100%;

  .dex-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    &__topleft-collapsed {
      .dex-layout {
        &__row-top {
          .dex-layout {
            &__column-left {
              overflow: hidden;
              flex-basis: 0;
              width: 0;
              margin-right: 0;
            }

            &__column-center {
              flex-basis: calc(75% ~'- 5px');
            }
          }
        }
      }
    }

    &__topright-collapsed {
      .dex-layout {
        &__row-top {
          .dex-layout {
            &__column-right {
              overflow: hidden;
              width: 0;
              flex-basis: 0;
              margin-left: 0;
            }

            &__column-center {
              flex-basis: calc(75% ~'- 5px');
            }
          }
        }
      }
    }

    &__topleft-collapsed {
      &.dex-layout {
        &__topright-collapsed {
          &__row-top {
            .dex-layout {
              &__column-left {
                overflow: hidden;
                flex-basis: 0;
                width: 0;
                margin-right: 0;
              }

              &__column-center {
                flex-basis: 100%;
              }

              &__column-right {
                overflow: hidden;
                flex-basis: 0;
                width: 0;
                margin-left: 0;
              }
            }
          }
        }
      }
    }

    &__block-topright-bottom-collapsed {
      .dex-layout {
        &__row-top {
          .dex-layout {
            &__column-right {
              .dex-layout {
                &__block-top {
                  height: calc(100% ~'- 38px');

                  .empty-block-container {
                    top: 50%;
                    transform: translate(-50%, -50%);
                  }
                }
                &__block-bottom {
                  height: 38px;
                }
              }
            }
          }
        }
      }
      .collapse-dex-block i {
        transform: rotate(-180deg);
      }
    }

    &__row {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      height: 100%;
      overflow: hidden;

      &-top {
        max-height: 60vh;
        padding-bottom: 5px;

        .dex-layout {

          &__column-left {
            transition: .3s;
            flex-basis: 25%;
            margin-right: 5px;
            border-radius: @border-radius / 2;

            .dex-block-title {
              display: none;
            }
          }

          &__column-center {
            flex-basis: calc(50% ~'- 10px');
            position: relative;
            border-radius: @border-radius / 2;
            display: flex;
            transition: .3s;

            .block-title {
              display: none;
            }

            .dex-layout__block {
              height: 100%;
              border-left: 1px solid @color-basic-100;
              border-right: 1px solid @color-basic-100;
            }
          }

          &__column-right {
            transition: .3s;
            flex-basis: 25%;
            margin-left: 5px;
            border-radius: @border-radius / 2;
            position: relative;
            background: @color-white;

            .dex-layout__block-top {
              transition: .3s;
              height: calc(100% ~'- 200px');

              .empty-block-container {
                transform: translate(-50%, 0%);
                top: 90px;
              }

              .block-wrapper,
              w-scroll-box {
                background: none transparent;
              }
            }

            .dex-layout__block-bottom {
              transition: .3s;
              height: 200px;

              .block-title {
                border-top: 1px solid @color-basic-100;
              }
            }
          }

        }

      }

      &-bottom {
        max-height: 40vh;

        .dex-layout {

          &__column-left {
            flex-basis: calc(75% ~'- 5px');
            border-radius: @border-radius / 2;

            .block-title {
              display: none;
            }
          }

          &__column-right {
            flex-basis: 25%;
            margin-left: 5px;
            border-radius: @border-radius / 2;

            .block-title {
              display: none;
            }

          }
        }

      }
    }

    &__column {
      height: 100%;
      overflow: hidden;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    &__block {
      height: 100%;
      width: 100%;
      min-width: @column-width;
    }

    &__sidebar-toggle {
      cursor: pointer;
      height: 100%;
      width: 15px;
      position: relative;
      background: @color-white;
      z-index: 1;

      &::after {
        content: "";
        display: block;
        top: 50%;
        margin-top: -15px;
        position: absolute;
        height: 15px;
        width: 15px;
        background: url(/img/icons/dex-toggle.svg) center no-repeat;

      }

      &-left {
        &::after {
          transform: rotate(90deg);
        }
      }

      &-right {
        &::after {
          transform: rotate(-90deg);
        }
      }

      &-open {
        &::after {
          transform: rotate(270deg);
        }
      }
    }

    .empty-block-container {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;

      .icon {
        margin-top: 0;
      }
    }

    w-tabs {

      .tab-body-wrap {
        height: calc(100% ~'- 39px');
      }

      .titles-wrap {
        height: 38px;
        padding: 0;

        .title {
          color: @color-basic-700;
          height: 38px;
          font-size: 13px;
          margin: 0;
          padding: 0 20px;
          line-height: 40px;
          border: 0 none;
          border-right: 1px solid @color-disabled-200;
          border-top: 2px solid @color-white;
          font-family: @font-roboto-medium;

          &:hover {
            border-top: 2px solid @color-info-500;
          }

          &.active {
            color: @color-basic-700;
            border-top: 2px solid @color-submit-400;
            border-bottom: 1px solid @color-white;

          }
        }
      }
    }

  }

  .toggler {
    display: none;
    position: absolute;
    right: 5px;
    top: 10px;
    z-index: 1;
  }

}

html body.dex .notifications,
body.dex .notifications {
  position: fixed
}

w-dex-candle-chart {
  .candle-chart-wrapper {
    height: 100%
  }
}

.collapsed {
  background: red !important;
}

//
///* Tablet */
//@media screen and (min-width: 481px) and (max-width: 768px) and (min-height: 481px) {
//
//  w-layout {
//
//    .dex-layout {
//      flex-direction: column;
//      padding-left: 48px;
//
//      .dex-layout__column {
//        height: auto;
//      }
//
//      .dex-layout__column-left {
//        width: 360px;
//        padding-right: 48px;
//        min-width: 360px;
//        z-index: 18;
//        padding-top: 60px;
//        height: 100vh;
//        position: fixed;
//        background: #fff;
//        border-right: 1px solid #dfdfdf;
//        box-shadow: 3px 0 10px 0 rgba(20, 47, 85, 0.06);
//
//        .dex-layout__block.dex-layout__block-top {
//          height: 50% !important;
//        }
//        .dex-layout__block.dex-layout__block-bottom {
//          height: 50% !important;
//        }
//      }
//
//      .dex-layout__column-right {
//        position: relative;
//        display: flex;
//        flex-direction: row;
//        width: 100%;
//        margin-top: 10px;
//
//        .dex-layout__block-top {
//          flex-basis: 50%;
//          margin-right: 5px;
//        }
//        .dex-layout__block-bottom {
//          flex-basis: 50%;
//          margin-left: 5px;
//        }
//
//        .dex-layout__sidebar-toggle-right {
//          display: none;
//        }
//      }
//
//      .dex-layout__column-center {
//        left: 0;
//        position: relative;
//
//        .dex-layout__block-top {
//          margin-top: 60px;
//          margin-bottom: 10px;
//
//          .block-wrapper {
//            border: 0 none;
//            background: transparent;
//          }
//        }
//
//        .dex-layout__block-bottom {
//          margin-top: 10px;
//          height: 15vh;
//        }
//      }
//
//      .dex-layout__sidebar-toggle-left {
//        width: 30px;
//        height: 30px;
//        border: 0 none;
//        right: 11px;
//        transition: .3s;
//        top: calc(50vh ~'- 10px');
//
//        &:hover {
//          opacity: .7;
//        }
//
//        &::after {
//          background: url(/img/icons/dex-mobile-column-toggler.svg) center center no-repeat;
//        }
//      }
//
//    }
//
//    //different collapse states
//    .dex-layout__block-right-bottom-collapsed .dex-layout__column-right .dex-layout__block-top,
//    .dex-layout__block-right-bottom-collapsed .dex-layout__column-right .dex-layout__block-bottom,
//    .dex-layout__block-center-bottom-collapsed .dex-layout__column-center .dex-layout__block-top {
//      height: auto !important;
//    }
//
//    .dex-layout__left-collapsed .dex-layout__column-left {
//      transform: translateX(-311px);
//    }
//
//    .dex-layout__left-collapsed .dex-layout__column-center {
//      left: 0;
//    }
//
//    .dex-layout__column-right .collapse-dex-block {
//      display: none;
//    }
//
//    .dex-layout.dex-layout__right-collapsed .dex-layout__column-right {
//      transform: translateX(0);
//    }
//
//    //if chart is Opened
//    .dex-layout:not(.chart-collapsed) {
//      .dex-layout__column-center w-dex-candle-chart {
//        height: 50vh;
//        min-height: 39px;
//      }
//    }
//
//    //if chart is Closed
//    .dex-layout.chart-collapsed {
//      .dex-layout__column-center w-dex-candle-chart {
//        height: 39px;
//      }
//    }
//
//    w-dex-candle-chart {
//      height: calc(50vh ~' - 195px');
//      margin-bottom: 10px;
//      border: 1px solid @color-disabled-200;
//    }
//
//    w-dex-trade-graph {
//      border: 1px solid @color-disabled-200;
//    }
//
//    .toggler {
//      display: block;
//    }
//
//  }
//
//}
//
///* end Tablet */
///* Mobile */
//@media screen and (max-width: 480px),
//(min-width: 481px) and (max-width: 768px) and (max-height: 480px) {
//
//  w-layout {
//
//    .dex-layout {
//      flex-direction: column;
//      flex-shrink: 0;
//
//      &__sidebar-toggle {
//        display: none;
//      }
//
//      &__column-left,
//      &__column-right,
//      &__column-center {
//        width: 100%;
//        left: auto;
//        top: auto;
//        right: auto;
//        position: relative;
//        height: auto;
//      }
//
//      &__column-left .dex-layout__block-top,
//      &__column-center .dex-layout__block-bottom,
//      &__column-right .dex-layout__block-top,
//      &__column-right .dex-layout__block-bottom {
//        max-height: 290px;
//        margin-top: 10px;
//      }
//
//      &__column-left .dex-layout__block-top {
//        margin-top: 0px;
//        margin-bottom: 10px;
//      }
//
//      &__column {
//        display: block;
//      }
//
//      &__column-left .dex-layout__block-bottom {
//        display: none;
//      }
//
//      &__column.dex-layout__column-center .dex-layout__block-top .block-wrapper {
//        border: 0 none;
//        background: none transparent;
//      }
//
//      &__block-center-bottom-collapsed .dex-layout__column-center .dex-layout__block-top {
//        height: auto !important;
//      }
//
//      &__right-collapsed .dex-layout__column-right {
//        transform: translateX(0);
//      }
//
//      &__right-collapsed .dex-layout__column-center {
//        right: 0;
//      }
//
//      &__left-collapsed .dex-layout__column-left {
//        transform: translateX(0);
//      }
//
//      &__left-collapsed .dex-layout__column-center {
//        left: 0;
//      }
//
//    }
//
//    .toggler {
//      display: block;
//    }
//
//  }
//
//  w-dex-candle-chart {
//    margin-bottom: 10px;
//    min-height: 39px;
//    border: 1px solid @color-disabled-200;
//
//    .candle-chart-wrapper {
//      height: 420px;
//    }
//  }
//
//  .dex-layout.chart-collapsed w-dex-candle-chart {
//    height: 39px;
//    overflow: hidden;
//  }
//
//  w-dex-trade-graph {
//    border: 1px solid @color-disabled-200;
//
//    .graph-wrapper {
//      height: 100%;
//      max-height: 150px;
//    }
//  }
//
//}
//
////low height desktop fix
//@media screen and (max-height: 355px) and (min-width: 769px) {
//  body.dex {
//    ui-view[name="main"],
//    .main-content .content,
//    .content ui-view[name="mainContent"],
//    w-layout {
//      min-height: 800px;
//    }
//
//    .dex-layout__block-right-bottom-collapsed {
//      .dex-layout__column-right .dex-layout__block-top {
//        min-height: 761px;
//      }
//    }
//
//    .dex-layout__block-center-bottom-collapsed {
//      .dex-layout__column-center .dex-layout__block-top {
//        min-height: 761px;
//      }
//    }
//
//    w-left-menu {
//      position: fixed;
//    }
//  }
//}
