<w-step-by-step active-step="$ctrl.step">
    <w-step>
        <div class="sponsorship__asset-content margin-4">
            <div class="sponsorship__top-content">
                <w-asset-logo ng-cloak asset-id="{{::$ctrl.asset.id}}" size="65"></w-asset-logo>

                <div class="sponsorship__asset-data">
                    <h4 ng-cloak class="basic-900">{{::$ctrl.asset.name}}</h4>
                    <div ng-cloak
                         class="body-2 basic-500 sponsorship__one-line"
                         w-i18n-ns="app.ui"
                         skip-errors
                         default-value="{{::$ctrl.asset.description}}"
                         w-i18n="{{::$ctrl.asset.id}}.description"
                         >
                    </div>
                </div>
            </div>

            <div class="sponsorship__chart-wrapper">
                <w-asset-rate-chart no-update="::true" asset-id="::$ctrl.asset.id"></w-asset-rate-chart>
                <div class="sponsorship__interactive-stop"></div>
            </div>
        </div>

        <form novalidate name="sponsored">

            <div class="sponsorship__line margin-3">
                <div class="basic-500" w-i18n="modal.sponsorship.assetId"></div>
                <div class="basic-900 fs-mobile ng-binding">{{::$ctrl.asset.id}}</div>
            </div>

            <div class="warning-plate margin-3 body-1">
                <div class="body-2 warning-500"
                     w-i18n="modal.sponsorship.warningHeader"
                     params="{name: $ctrl.asset.name}"

                ></div>
                <div class="footnote-1 basic-500" w-i18n="modal.sponsorship.warningText" params="{name: $ctrl.asset.name}"></div>
            </div>

            <div class="body-2 basic-900" w-i18n="modal.sponsorship.amountPerTx"></div>

            <w-input-container class="margin-1">
                <w-balance-input ng-model="$ctrl.minSponsoredAssetFee"
                         name="minSponsoredAssetFee"
                         w-validate
                         type="text"
                         required
                         asset-id="$ctrl.assetId"
                         w-validator-gt="0"
                         w-validator-custom="{{$ctrl.canSendTransaction}}"
                         w-validator-asset="{{::$ctrl.asset.id}}"
                         class="big"></w-balance-input>

                <w-input-error message="required">
                    <span w-i18n="modal.sponsorship.errors.feeRequired"></span>
                </w-input-error>
                <w-input-error message="precision">
                    <span w-i18n="modal.sponsorship.errors.minSponsoredAssetFee.precision"></span>
                </w-input-error>

            </w-input-container>

            <div class="basic-500 margin-3" w-i18n="modal.sponsorship.fee" params="{fee: $ctrl.fee}"></div>

            <div ng-if="!$ctrl.canSendTransaction">
                    <span w-i18n="modal.sponsorship.errors.noMoney"></span>
            </div>

            <w-button class="big submit long" disabled="sponsored.$invalid" on-click="$ctrl.onConfirm()">
                <span w-i18n="modal.sponsorship.continue"></span>
            </w-button>

        </form>
    </w-step>
    <w-step>
        <w-confirm-transaction on-click-back="$ctrl.onBack()"
                               tx="$ctrl.getSponsoredTx()"></w-confirm-transaction>
    </w-step>
</w-step-by-step>
