<md-dialog w-i18n-ns="app.utils" class="confirm-delete-user" aria-label="modal">
    <div class="btn icon-close" w-modal-close></div>
    <md-dialog-content class="dialog-content dialog-content_confirm-delete-user">
        <div class="modal-content">

            <i class="icon-remove margin-3"></i>
            <h3 ng-if="$ctrl.isSeed" w-i18n="modal.removeAccount.heading" class="basic-700"></h3>
            <h3 ng-if="$ctrl.isLedger" w-i18n="modal.removeLedgerAccount.heading" class="basic-700"></h3>
            <h3 ng-if="$ctrl.isKeeper" w-i18n="modal.removeKeeperAccount.heading" class="basic-700"></h3>

            <div class="warning-500 body-2 margin-1" ng-if="!$ctrl.hasBackup">
                <i class="icon-warning footnote-1"></i>
                <span w-i18n="modal.removeAccount.warning"></span>
            </div>

            <div ng-if="$ctrl.isSeed" class="margin-3 basic-500 body-2" w-i18n="modal.removeAccount.text"></div>
            <div  ng-if="$ctrl.isLedger" class="margin-3 basic-500 body-2" w-i18n="modal.removeLedgerAccount.text"></div>
            <div  ng-if="$ctrl.isKeeper" class="margin-3 basic-500 body-2" w-i18n="modal.removeKeeperAccount.text"></div>

            <div class="buttons-wrapper">
                <w-button w-modal-close
                        class="big long">
                    <span w-i18n="modal.removeAccount.cancel"></span>
                </w-button>
                <w-button w-modal-hide
                        class="big long submit">
                    <span w-i18n="modal.removeAccount.remove"></span>
                </w-button>
            </div>

        </div>
    </md-dialog-content>
</md-dialog>
