<fieldset ng-disabled="$ctrl.signPending" ng-class="{ 'disabled': $ctrl.signPending }">
    <form class="send-form"
          name="$ctrl.wavesSend"
          novalidate>

        <ng-transclude></ng-transclude>

        <div class="row margin-top-2">
            <div class="flex-row-title">
                <div class="body-2 margin-05" w-i18n="modal.send.recipient"></div>
                <div ng-if="$ctrl.canSendToBank"
                     class="toggle-mode-container">
                    <span class="link"
                          ng-click="$ctrl.setSendMode('bank')"
                          w-i18n="modal.send.toBank"></span>
                </div>
            </div>

            <w-input-container>
                <div class="read-address-wrap">
                    <w-input type="text"
                             name="recipient"
                             ng-model="$ctrl.tx.recipient"
                             placeholder="modal.send.placeholderRecipient"
                             w-i18n-attr="placeholder"
                             w-validate
                             w-validator-any-address="{{$ctrl.state.assetId}}"
                             required></w-input>

                    <w-qr-code-read on-read="$ctrl.onReadQrCode(text)" max-width="415" max-height="310"></w-qr-code-read>
                </div>

                <w-input-error message="anyAddress">
                    <span w-i18n="modal.send.errors.address"></span>
                </w-input-error>
                <w-input-error message="required">
                    <span w-i18n="modal.send.errors.required"></span>
                </w-input-error>
            </w-input-container>
        </div>

        <w-input-container class="margin-top-2">
            <div class="body-2 margin-05" w-i18n="modal.send.amount"></div>
            <div class="amount-wrap" ng-class="{'no-mirror': $ctrl.noMirror}">

                <w-balance-input name="amount"
                                 input-classes="big"
                                 asset-id="$ctrl.assetId"
                                 max-balance="$ctrl.maxAmount"
                                 fee="$ctrl.feeList"
                                 min="$ctrl.minAmount"
                                 on-focus="$ctrl.focus = 'amount'"
                                 on-blur="$ctrl.focus = ''"
                                 amount="$ctrl.tx.amount">
                </w-balance-input>
                <div class="amount-modal-icon"></div>
                <w-balance-input name="amountMirror"
                                 ng-if="!$ctrl.noMirror"
                                 input-classes="big"
                                 asset-id="$ctrl.mirrorId"
                                 on-focus="$ctrl.focus = 'mirror'"
                                 on-blur="$ctrl.onBlurMirror()"
                                 fill-max="$ctrl.fillMax()"
                                 fee="$ctrl.feeList"
                                 amount="$ctrl.mirror">
                </w-balance-input>

            </div>

            <div class="like-input-error multiline" ng-if="$ctrl.wavesSend.amount.$touched && $ctrl.wavesSend.amount.$invalid && $ctrl.focus !== 'amount'">
                <div class="error">
                    <span ng-if="$ctrl.wavesSend.amount.$error.required"
                          class="error-list-row"
                          w-i18n="inputs.errors.required"></span>
                    <span ng-if="$ctrl.wavesSend.amount.$error.gt && $ctrl.tx.amount.getTokens().eq(0)"
                          class="error-list-row"
                          w-i18n="inputs.errors.required"></span>
                    <span ng-if="$ctrl.wavesSend.amount.$error.precision"
                          class="error-list-row"
                          w-i18n="modal.send.errors.precision"
                          params="{precision: $ctrl.balance.asset.precision}"></span>
                    <span ng-if="$ctrl.wavesSend.amount.$error.lte"
                          class="error-list-row"
                          w-i18n="modal.send.errors.max"></span>
                </div>
            </div>
        </w-input-container>

        <div class="margin-top-2">
            <div class="body-2 margin-05" w-i18n="modal.send.description"></div>
            <w-input-container>
                <w-input textarea="true"
                         name="attachment"
                         ng-model="$ctrl.tx.attachment"
                         w-i18n-attr="placeholder"
                         w-validate
                         w-validator-byte-lte="140"
                         placeholder="modal.send.descriptionPlaceholder">
                </w-input>

                <w-input-error message="byteLte">
                    <span w-i18n="modal.send.attachmentLength"></span>
                </w-input-error>
            </w-input-container>
        </div>

        <div class="fee margin-top-1 margin-1">
            <w-fee-list tx="$ctrl.wavesTx"
                        balance-hash="$ctrl.state.moneyHash"
                        fee="$ctrl.tx.fee">
            </w-fee-list>
        </div>

        <div class="commission-error margin-top-1 margin-2 footnote error-500" ng-if="!$ctrl.hasFee">
            <span w-i18n="modal.send.validationError.notEnoughFunds"
                  params="{ fee: $ctrl.state.singleSend.fee }"></span>
        </div>
    </form>
</fieldset>

<div class="margin-top-3">
    <w-sign-button on-click="$ctrl.createTx()"
                   on-success="$ctrl.onSignTx(signable)"
                   disabled="$ctrl.wavesSend.$invalid || !$ctrl.hasFee">
        <span w-i18n="button.continue"></span>
    </w-sign-button>
</div>
