<div class="line-wrapper">
    <div class="line">
        <div class="body-2 margin-05 top flex fs-mobile">
            <span class="flex">
                <span class="exchange-type" w-i18n="transaction.headers.{{::$ctrl.typeName}}"></span>
                <span class="ellipsis">
                    {{$ctrl.getAssetName($ctrl.transaction.amount.asset)}}</span>
                <span>{{$ctrl.amountAssetName}}</span>
                <span ng-if="$ctrl.isScamAmount"
                      class="spam-label"
                      w-i18n="transaction.headers.suspicious"></span>
                /<span>{{$ctrl.priceAssetName}}</span>
            </span>
            <span>
                <span ng-if="$ctrl.isScamPrice"
                      class="spam-label"
                      w-i18n="transaction.headers.suspicious">
                </span>
            </span>
        </div>
        <div class="footnote-1 bottom fs-mobile">
            <span w-i18n="transaction.subheaders.{{::$ctrl.typeName}}"
                  params="{time: $ctrl.props.time}"></span>
        </div>
    </div>
    <div class="line">
        <div class="body-2 margin-05 top fs-mobile">
            <span w-i18n="transaction.amounts.{{::$ctrl.typeName}}"
                  params="$ctrl.amountParams"></span>
        </div>
        <div class="footnote-1 bottom fs-mobile">
            <span w-i18n="transaction.amounts.{{::$ctrl.typeName}}"
                  params="$ctrl.priceParams"></span>
        </div>
    </div>
</div>
