<div class="graph-wrapper">
    <w-loader ng-if="$ctrl.pending"></w-loader>
    <linechart ng-if="!$ctrl.pending && $ctrl.canShowGraph"
               options="$ctrl.options"
               data="$ctrl.data"></linechart>
    <div ng-if="!$ctrl.pending && !$ctrl.canShowGraph" class="empty-block-container">
        <div class="icon"></div>
        <div class="body-2 basic-700" w-i18n="directives.noChartDataTitle"></div>
        <div class="footnote-1 basic-500" w-i18n="directives.noChartDataMessage"></div>
    </div>
</div>
