<div w-i18n-ns="app.wallet.transactions" class="transactions-content">
    <div class="controls margin-1">

        <w-radio-wrap class="split-mode" ng-model="$ctrl.filter">
            <w-radio value="'all'">
                <w-i18n>all</w-i18n>
            </w-radio>
            <w-radio value="'send'">
                <w-i18n>sent</w-i18n>
            </w-radio>
            <w-radio value="'receive'">
                <w-i18n>received</w-i18n>
            </w-radio>
            <w-radio value="'exchange-buy,exchange-sell'">
                <w-i18n>exchanged</w-i18n>
            </w-radio>
            <w-radio value="'lease-in,lease-out,cancel-leasing'">
                <w-i18n>leased</w-i18n>
            </w-radio>
            <w-radio value="'issue,reissue,burn'">
                <w-i18n>issued</w-i18n>
            </w-radio>
        </w-radio-wrap>

        <w-button class="download" ng-click="$ctrl.exportTransactions()" class="interface">
            <w-i18n>export</w-i18n>
        </w-button>

    </div>

    <w-scroll-box>
        <div class="scroll-list">
            <w-transaction-list transaction-type="$ctrl.filter"
                                search="$ctrl.search"
                                page-size="1000"
                                transactions="$ctrl.transactions"></w-transaction-list>
        </div>
    </w-scroll-box>
</div>
