<div w-i18n-ns="app.wallet.transactions" class="transactions-content">
    <div class="controls margin-1">

        <w-radio-wrap class="split-mode" ng-model="$ctrl.filter">
            <w-radio value="'all'">
                <w-i18n>all</w-i18n>
            </w-radio>
            <w-radio value="'send,mass-send'">
                <w-i18n>sent</w-i18n>
            </w-radio>
            <w-radio value="'receive,mass-receive'">
                <w-i18n>received</w-i18n>
            </w-radio>
            <w-radio value="'exchange-buy,exchange-sell'">
                <w-i18n>exchanged</w-i18n>
            </w-radio>
            <w-radio value="'lease-in,lease-out,cancel-leasing'">
                <w-i18n>leased</w-i18n>
            </w-radio>
            <w-radio value="'issue,reissue,burn'">
                <w-i18n>issued</w-i18n>
            </w-radio>
        </w-radio-wrap>

        <w-select class="split-mode" ng-model="$ctrl.filter">
            <w-option value="::'all'">
                <w-i18n>all</w-i18n>
            </w-option>
            <w-option value="::'send,mass-send'">
                <w-i18n>sent</w-i18n>
            </w-option>
            <w-option value="::'receive,mass-receive'">
                <w-i18n>received</w-i18n>
            </w-option>
            <w-option value="::'exchange-buy,exchange-sell'">
                <w-i18n>exchanged</w-i18n>
            </w-option>
            <w-option value="::'lease-in,lease-out,cancel-leasing'">
                <w-i18n>leased</w-i18n>
            </w-option>
            <w-option value="::'issue,reissue,burn'">
                <w-i18n>issued</w-i18n>
            </w-option>
        </w-select>

        <w-button disabled="$ctrl.pending" class="download interface" on-click="$ctrl.exportTransactions()">
            <w-i18n>export</w-i18n>
        </w-button>

    </div>

    <w-scroll-box>
        <div class="scroll-list">
            <w-transaction-list transactions="$ctrl.transactions"
                                pending="$ctrl.pending"></w-transaction-list>
        </div>
    </w-scroll-box>
</div>
