<w-header>
    <w-navigation type="raw">
        <a class="assets" ui-sref=".assets" ui-sref-active="active">Assets</a>
        <a class="portfolio" ui-sref=".portfolio" ui-sref-active="active">Portfolio</a>
        <a class="transfers" ui-sref=".transfers" ui-sref-active="active">Transfers</a>
        <a class="transactions" ui-sref=".transactions" ui-sref-active="active">Transactions</a>
        <a class="leasing" ui-sref=".leasing" ui-sref-active="active">Leasing</a>
    </w-navigation>
    <w-notification></w-notification>
    <w-profile></w-profile>
</w-header>
