/* GENERAL NOTES
Waves' palette: #0096DC                             Waves' blue *
                #5AC8D2                             Turquoise (highlights) *
                #D7D7D7                             Light grey
                #AFAFAF                             Grey
                #555555                             Darker grey (h's, highlights)
                #333333     rgb(50,50,50);          80% black
                #E6E6E6     rgb(230,230,230);       10% black
                #E1B47D     rgb(225,180,125);       Soft orange
                #37556E     rgb(55,85,110);         Navy Blue
                #780CE8     rgb(130,12,232);        Lila
                #46AAB4     rgb(70,170,180);        Lapis Lazuli
                #9C0005                             Crimson red

* Not currently used.
*/


/* ======================================================================= */


/* FONT-FACE DEFINITIONS */

@font-face {
    font-family: 'Wesli';
    src: url('../css/fonts/wesli.eot?') format('eot'), url('../css/fonts/wesli.woff') format('woff'), url('../css/fonts/wesli.ttf') format('truetype');
}

@font-face {
    font-family: 'Engo';
    src: url('../css/fonts/engo.eot?') format('eot'), url('../css/fonts/engo.woff') format('woff'), url('../css/fonts/engo.ttf') format('truetype');
}

@font-face {
    font-family: 'Sparta';
    src: url('../css/fonts/sparta.eot?') format('eot'), url('../css/fonts/sparta.woff') format('woff'), url('../css/fonts/sparta.ttf') format('truetype');
}

@font-face {
    font-family: 'Lekton';
    src: url('../css/fonts/lekton.eot?') format('eot'), url('../css/fonts/lekton.woff') format('woff'), url('../css/fonts/lekton.ttf') format('truetype');
}


/* ======================================================================= */


/* GLOBAL SETTINGS AND CLASSES */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Wesli";
    color: #333333;
    background: #ffffff;
    overflow: hidden;
    -webkit-font-smoothing: antialiased !important;
}

.fade {
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.fFade {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

.centerIt {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.noSelect {
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.noDisp {
    display: none;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.infoSpan:after {
    content: "";
    position: absolute;
    display: inline-block;
    background: url(../img/wIcon_tip.svg) no-repeat;
    width: 1.25rem;
    height: 1.25rem;
    padding: 0;
    margin: 0;
    margin-left: .3rem;
}

.clipSpan:after {
    content: "";
    position: absolute;
    display: inline-block;
    background: url(../img/wIcon_clip.svg) no-repeat;
    width: 1.25rem;
    height: 1.25rem;
    padding: 0;
    margin: 0;
    margin-left: .3rem;
}

.clipSpan:hover:after,
.infoSpan:hover:after {
    cursor: pointer;
}

.divider-1,
.divider-2 {
    display: inline-block;
    width: 1rem;
}

#walletSeed,
#seedBackup {
    padding: .25rem;
}

.notice-alert {
    color: red;
}

.fontBold {
    font-weight: 600;
}

.sectionHeader {
    background-color: #ffffff;
    border: 0px solid #F0F0F0;
    text-align: center;
    font-size: 1.25rem;
    color: #333333;
    letter-spacing: .2rem;
    padding-bottom: 1rem;
    font-weight: 200;
    margin: 0 auto;
}


/* Custom Scrollbar */

.wScroll::-webkit-scrollbar-track,
.wScroll::-webkit-scrollbar-track:horizontal {
    background-color: #fff;
}

.wScroll::-webkit-scrollbar,
.wScroll::-webkit-scrollbar:horizontal {
    width: 5px;
    background-color: #fff;
}

.wScroll::-webkit-scrollbar-thumb,
.wScroll::-webkit-scrollbar-thumb:horizontal {
    background-color: #E6E6E6;
}


/* ======================================================================= */


/* PLACEHOLDER CONTENT SETTINGS */

.phContent {
    margin: 0 auto;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    max-width: 80%;
}

.phContent h1 {
    border: 0px solid #F0F0F0;
    text-align: center;
    font-size: 1.25rem;
    color: #333333;
    letter-spacing: .2rem;
    font-weight: 200;
}

.phContent p {
    font-size: 1.2rem;
    color: #333333;
}

.phContent > img {
    margin: 0 auto;
    width: 50%;
}

@media only screen and (max-width: 1024px) {
    .phContent > img {
        width: 75%;
    }
}

@media only screen and (max-width: 728px) {
    .phContent > img {
        width: 90%;
    }
    .phContent {
        max-width: 90%;
    }
}

@media only screen and (max-width: 620px) {
    .phContent > img {
        width: 96%;
    }
    .phContent {
        width: 96%;
        padding: 1rem;
        margin-bottom: 2rem;
    }
}

.modal-media {
    margin: 0 auto;
    text-align: center;
}

.modal-media-img {
    width: 2rem;
    margin-left: .5rem;
    margin-right: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.modal-media-img {
    opacity: .5;
}

.modal-media-img:hover {
    opacity: 1;
    cursor: pointer;
}

#feat-not-active {
    max-width: 500px;
    padding-bottom: 1rem;
}

#feat-not-active p {
    padding-left: 2rem;
    padding-right: 2rem;
}


/* ======================================================================= */


/* MAIN WRAPPER SETTINGS */

#wrapper {
    width: 100%;
    max-width: 1920px;
    min-width: 320px;
    height: 100vh;
    max-height: 1080px;
    min-height: 320px;
    margin: 0 auto;
    overflow: hidden;
}


/* ======================================================================= */


/* LOCKSCREEN SETTINGS */

@-webkit-keyframes wFlip {
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    100% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

@keyframes wFlip {
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    100% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

#bg-spin {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #37556E;
    z-index: 1;
}

#logoo {
    width: 150px;
    height: 150px;
    text-align: center;
}

#logo-spin {
    -webkit-animation: wFlip 1.2s ease-in infinite;
    animation: wFlip 1.2s ease-in infinite;
}

#networkCheck {
    width: 100%;
    color: #ffffff;
    font-family: 'Wesli';
    font-weight: 200;
    font-size: 1.25rem;
    margin-top: 1rem;
}

#lockscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    padding: 8rem;
    overflow-y: scroll;
}

.userBG {
    background-image: -webkit-linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/lockbg005b.jpg");
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/lockbg005b.jpg");
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

#lockscreenTable {
    width: auto;
    margin: 0 auto;
    padding: 1rem;
    padding-top: none;
    height: auto;
    text-align: center;
    cursor: default;
    overflow-y: scroll;
}

#logoNversion {
    position: relative;
    width: 12rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

#logoNversion > img {
    width: 12rem;
    margin-bottom: 1rem;
}

#logoNversion > p {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: .85rem;
    font-style: italic;
}

.testnet {
    color: #E1B47D !important;
}


/* REMOVE ACCOUNT CONFIRMATION POPUP */

#account-remove-popup {
    max-width: 500px;
    padding-bottom: 2rem;
}

#account-remove-popup p {
    text-align: justify;
    padding-left: 2rem;
    padding-right: 2rem;
}


/* END OF REMOVE ACCOUNT CONFIRMATION POPUP */

#AccHeader {
    margin-bottom: 1rem;
}

#accounts h2,
#register h2 {
    font-size: 1.5rem;
    font-weight: 200;
    color: #323232;
    background: #ffffff;
    /* Fallback */
    background: rgba(255, 255, 255, .9);
    padding: .5rem;
}

.loginAccountDiv {
    font-size: 1.25rem;
    height: 55px;
}

.loginAccountDiv > span {
    opacity: .5;
    outline: none;
}

.loginAccountDiv > span:hover {
    cursor: pointer;
    opacity: 1;
}

.loginAccountDiv .clipSpan {
    color: red;
}

#loginPassword {
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.loginAccountDiv > .wButton:hover {
    border: none;
    opacity: 1;
}

#readonlySeed {
    text-align: center;
    resize: none;
}


/* NEW ACCOUNT CONFIRMATION POPUP */

#login-wPop-new {
    background: #ffffff;
    color: #555555;
    margin-bottom: 1rem;
    text-align: center;
    max-width: 550px;
    padding-bottom: 2rem;
}

#login-wPop-new p {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: justify;
}

#login-wPop-new button {
    border: 1px solid #37556E;
    color: #37556E;
}

#login-wPop-new button:hover {
    background: #37556E;
    color: #ffffff;
}


/* SEED WHITESPACE CONFIRMATION POPUP */

#seed-whitespace-popup {
    max-width: 550px;
}

#seed-whitespace-popup p {
    text-align: justify;
    padding-left: 1rem;
    padding-right: 1rem;
}

#register > form {
    margin: 0 auto;
    padding-top: .75rem;
}

#walletSeed {
    /*    width: 300px;*/
    margin-top: .5rem;
    min-width: 320px;
    resize: none;
}

#walletName {
    /*    width: 300px;*/
    margin-top: .5rem;
}

.wavesAccounts {
    padding: 0px;
    margin: 0px;
    margin-top: none;
}

.wavesAccounts > p {
    /* Temporary fix - Check if this problem
    comes from Angular ng template side */
    margin-top: -35px;
    padding-top: 0px;
}

#import_account {
    margin-top: .5rem;
}

#errorPasswordLogin {
    margin: 1rem;
    padding: 1rem;
    color: red;
}

.loginAccountDiv {
    display: block;
    height: inherit;
}


/* ======================================================================= */


/* HEADER SETTINGS */

header,
#tabs,
#mBLeftBar,
#mBBody {
    padding: 10px;
}

header {
    position: relative;
    width: 100%;
    height: 50px;
    background: #37556E;
    z-index: 101;
}

#topLogoH {
    display: none;
    position: absolute;
    top: .5rem;
    left: 1rem;
    width: 12rem;
    z-index: 99;
}

#logoNversion2 {
    position: absolute;
    top: .75rem;
    left: 1.3rem;
    width: 8rem;
    z-index: 99;
}

#logoNversion2 > img {
    width: 7.5rem;
    margin-bottom: .7rem;
}

#logoNversion2 > p {
    position: absolute;
    bottom: 0;
    right: .45rem;
    color: #ffffff;
    font-size: .7rem;
    font-style: italic;
}

#version {
    font-size: 1.25rem;
    color: #ffffff;
    opacity: .5;
}

#header-Iconset {
    display: block;
    float: right;
}

#header-Iconset a {
    text-decoration: none;
}

.header-Icon {
    width: 2rem;
    margin-right: 1rem;
    opacity: .5;
}

.header-Icon:hover {
    cursor: pointer;
    opacity: 1;
}

.jurl {
    display: block;
    width: 100%;
    border: none;
    color: #ffffff;
    height: 0.04rem;
    background: #37556E;
    /* Old browsers */
    background: -webkit-linear-gradient(left, #37556E 0%, #37556E 25%, #ffffff 50%, #ffffff 50%, #37556E 75%, #37556E 100%);
    background: linear-gradient(to right, #37556E 0%, #37556E 25%, #ffffff 50%, #ffffff 50%, #37556E 75%, #37556E 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#37556E', endColorstr='#37556E', GradientType=1);
}


/* Backup pop-up style */

#header-wPop-backup {
    max-width: 550px;
    padding-bottom: 2rem;
}

#header-wPop-backup p,
#backupForm {
    padding-left: 2rem;
    padding-right: 2rem;
}

#header-wPop-backup a {
    text-decoration: none;
}

#header-wPop-backup input,
#header-wPop-backup textarea {
    width: 100%;
    resize: none;
    margin-bottom: .5rem;
}

#header-wPop-backup button {
    border: 1px solid #37556E;
    color: #37556E;
}

#header-wPop-backup button:hover {
    background: #37556E;
    color: #ffffff;
}

.wPop-content-buttons {
    padding-top: 1rem;
}

#copy_and_close_backup_modal {
    margin-right: 1rem;
}


/* ======================================================================= */


/* TAB SELECTORS SECTION */

#tabs {
    /*        display: flex;*/
    position: relative;
    width: 100%;
    height: 65px;
    background: #37556E;
    box-shadow: 0px 12px 12px -12px rgba(0, 0, 0, .25);
    z-index: 100;
}

#tabs-Iconset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 90%;
    width: 92.5%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#tabs-Iconset span {
    height: 100%;
}

#tabs-Iconset img {
    margin-top: 0px;
    margin-left: .5rem;
    margin-right: .5rem;
    height: 90%;
}

#tabs-Iconset img:focus {
    outline: none;
}

#tabs-Iconset img:hover {
    cursor: pointer;
    -webkit-transform: scale(0.88);
    transform: scale(0.88);
}

span.tabs-radio img {
    opacity: .4;
}

span.tabs-radio img:not(.selected) {
    -webkit-transform: scale(0.94);
    transform: scale(0.94);
}

span.tabs-radio:hover img {
    opacity: .3;
}

span.tabs-radio img.selected {
    opacity: 1;
    pointer-events: none;
}


/* ======================================================================= */


/* MAIN BODY SECTION */

#mainBody {
    overflow-y: scroll;
}


/* ======================================================================= */


/* MAIN BODY-BODY SETTINGS */

#mBBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    position: relative;
    width: 100% !important;
    padding-bottom: 1rem;
    margin: 0 auto;
}

#LBmBB-portfolio,
#LBmBB-exchange,
#LBmBB-voting,
#LBmBB-history,
#LBmBB-messages,
#LBmBB-community {
    display: none;
}


/* ======================================================================= */


/* WALLET TAB */

#mBB-wallet {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.walletBox {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    /*    display: inline-block;*/
    min-width: 260px;
    max-width: 300px;
    height: 220px;
    border: 1px solid rgb(220, 220, 220);
    margin: 5px;
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
}

.walletBox img {
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    z-index: 0;
}

.wB-name {
    display: block;
    position: relative;
    float: right;
    z-index: 100 !important;
    font-family: 'Engo';
    font-size: 2.5rem;
    color: #37556E;
}

.wB-add {
    display: block;
    width: 100%;
    position: relative;
    text-align: right;
    float: right;
    z-index: 100 !important;
    font-family: 'Wesli';
    font-size: 1rem;
    color: #D7D7D7;
}

.wB-balInt {
    display: block;
    position: relative;
    width: 100%;
    text-align: right;
    float: right;
    z-index: 99 !important;
    font-family: 'Sparta', Arial;
    font-weight: bold;
    font-size: 2.5rem;
    color: #37556E;
}

.wB-balDec {
    display: block;
    position: relative;
    text-align: right;
    float: right;
    z-index: 99 !important;
    font-family: 'Sparta', Arial;
    font-weight: bold;
    font-size: 1.75rem;
    color: #37556E;
    line-height: .5;
    letter-spacing: -2px;
    opacity: .5;
}


/* Do not eliminate this one */

#mBB-wallet h2 {
    padding: .5rem;
}


/* CONFIRMATION DIALOGS - ANGULAR FIXES FOR LATER */

#send-payment-confirmation {
    text-align: center;
    padding-bottom: 2rem;
}

#asset-details-dialog {
    max-width: 640px;
}

#create-asset-confirmation,
#asset-transfer-dialog,
#asset-reissue-dialog,
#transfer-asset-confirmation,
#asset-reissue-confirm-dialog,
#asset-details-dialog {
    padding-bottom: 2rem;
}

#send-payment-confirmation p,
#create-asset-confirmation p,
#asset-transfer-dialog form,
#asset-reissue-dialog form,
#transfer-asset-confirmation p,
#asset-reissue-confirm-dialog p,
#asset-details-dialog table {
    padding-bottom: 2rem;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-bottom: 1rem !important;
}

#send-payment-confirmation button,
#create-asset-confirmation button,
#asset-transfer-dialog button,
#asset-reissue-dialog button,
#transfer-asset-confirmation button,
#asset-reissue-confirm-dialog button,
#asset-details-dialog button {
    border: 1px solid #37556E;
    color: #37556E;
}

#send-payment-confirmation button:hover,
#create-asset-confirmation button:hover,
#asset-transfer-dialog button:hover,
#asset-reissue-dialog button:hover,
#transfer-asset-confirmation button:hover,
#asset-reissue-confirm-dialog button:hover,
#asset-details-dialog button:hover {
    background: #37556E;
    color: #ffffff;
}

#send-confirm {
    width: auto;
}

.confirmation-value {
    font-family: 'Sparta';
    /*    font-weight: 600;*/
}


/* BALANCE BOXES BUTTONS SECTION */

.wB-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    padding: 1%;
    margin-bottom: -5px;
}

.wB-buttons a {
    text-decoration: none;
}

.wB-but {
    display: inline-block;
    position: relative;
    width: 32.4%;
    height: 80%;
    margin: .45%;
    background: #37556E;
    overflow: hidden;
    font-family: 'Wesli';
    font-size: 1rem;
    color: #ffffff;
    border: none;
    outline: none;
}

.wB-but:hover {
    cursor: pointer;
    background: #E1B47D;
}

.wB-butSend {
    border-radius: 2px 2px 2px 16px;
}

.wB-butRec {
    border-radius: 2px 2px 2px 2px;
}

.wB-butTrade {
    border-radius: 2px 2px 16px 2px;
}

.wB-but p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);
}

#full-transaction-history,
#wallet-transaction-history {
    width: 100%;
    padding-bottom: 1rem;
}

#wallet-transaction-history table {
    overflow-y: scroll;
}

#wB-butSend-WAV {
    padding-bottom: 2rem;
}

#wB-butSend-WAV table {
    padding-left: 2rem;
    padding-right: 2rem;
}

#wB-butSend-WAV button {
    border: 1px solid #37556E;
    color: #37556E;
}

#wB-butSend-WAV button:hover {
    background: #37556E;
    color: #ffffff;
}


/* ======================================================================= */


/* WAVES STANDARD TABLES SECTION */

.wavesTable table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: auto;
    padding: 0px;
    margin-bottom: 2rem;
}

.wavesTable thead {
    background-color: #37556E;
    border: 0px solid #F0F0F0;
    text-align: center;
    font-size: 1.12rem;
    color: #ffffff;
}

.wavesTable tbody tr:nth-child(odd) {
    background-color: #F0F0F0;
}

.wavesTable tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.wavesTable td {
    vertical-align: middle;
    text-align: center;
    font-size: 1.1rem;
    padding: .5rem;
}

.wavesTable tbody tr {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

.wavesTable-hover tbody tr:hover {
    background: rgba(225, 180, 125, .5);
    cursor: pointer;
}

.wavesTable tbody tr:not(#mBB-token .wavesTable-hover tbody tr) {
    color: #333333;
    font-family: 'Lekton';
}

.wavesTable input[type="search"],
.paymentForm input[type="search"] {
    font-family: 'Wesli';
    font-size: 1rem;
    padding: .3rem
}


/* Added deeper specification to avoid it auto-excepting itself */

#mBB-portfolio .wavesTable tbody tr {
    color: #333333;
    font-family: 'Lekton';
}

.wavesTable-txIn {
    color: #4C7699 !important;
}

.wavesTable-txOut {
    color: #555 !important;
}

.wavesTable-txIn .clipSpan:after {
    background: url(../img/wIcon_clip_txIn.svg) no-repeat;
    opacity: .75;
}

.wavesTable-txOut .clipSpan:after {
    background: url(../img/wIcon_clip_txOut.svg) no-repeat;
    opacity: .75;
}

.wavesTable-txUnc .clipSpan:after {
    background: none;
}

#latestBlocksTable .clipSpan:after {
    background: url(../img/wIcon_clip_txOut.svg) no-repeat;
    opacity: .6;
}

#latestBlocks {
    /*    overflow-y: scroll !important;*/
}

.wavesTable-txUnc {
    -webkit-animation: opacity_change 1s infinite alternate ease-in-out;
    animation: opacity_change 1s infinite alternate ease-in-out;
}

@-webkit-keyframes opacity_change {
    from {
        opacity: 0.35;
    }
    to {
        opacity: 1;
    }
}

@keyframes opacity_change {
    from {
        opacity: 0.35;
    }
    to {
        opacity: 1;
    }
}

#full-transaction-history tbody,
#wallet-transaction-history tbody,
#latestBlocksUnconfirmed,
#latestBlocksTable {
    font-family: 'Lekton';
}


/* ======================================================================= */


/* WAVES STANDARD BUTTONS */

.wButton {
    display: inline-block;
    position: relative;
    padding: .3rem;
    padding-left: .8rem;
    padding-right: .8rem;
    background: none;
    overflow: hidden;
    font-family: 'Wesli';
    font-size: 1rem;
    color: #ffffff;
    border: 1px solid #ffffff;
    outline: none;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

#addContactSubmit {
    background: #fff;
    color: #37556E;
    border: 1px solid #37556E;
}

#addContactSubmit:hover {
    background: #37556E;
    color: #fff;
}

.wButton a,
.wButtonAlt a {
    text-decoration: none;
}

.wButton p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);
}

.wButton:hover {
    cursor: pointer;
    background: #ffffff;
    color: #323232;
}

.wButton-icon > img {
    width: .75rem;
    margin-right: .5rem;
}

.wButtonAlt {
    display: inline-block;
    position: relative;
    padding: .2rem;
    padding-left: .4rem;
    padding-right: .4rem;
    font-family: 'Wesli';
    font-size: 1rem;
    color: #ffffff;
    outline: none;
    border: none;
    background: none;
    overflow: hidden;
    opacity: .5;
}

.wButtonAlt:hover {
    cursor: pointer;
    opacity: 1;
}

.wButton-neg {
    border: 1px solid #37556E;
    color: #37556E;
}

.wButton-neg:hover {
    background: #37556E;
    color: #ffffff;
}

.wButton[disabled],
.wButton-neg[disabled] {
    opacity: .5;
    cursor: default;
    pointer-events: none;
}


/* Button style for Danger or Error messages against white bg */

.wButtonDanger {
    color: #9C0005;
    border: 1px solid #9C0005;
}

.wButtonDanger:hover {
    background: #9C0005;
    color: #fff;
}


/* Custom buttons */

#addContactSubmit,
#close_create_account_modal {
    background: #fff;
    color: #37556E;
    border: 1px solid #37556E;
}

#addContactSubmit:hover,
#close_create_account_modal:hover {
    background: #37556E;
    color: #fff;
}

.wPop-content-buttons {
    margin: 0 auto;
    text-align: center;
}

#transactionHistorySearch {
    background: #37556E;
    color: #fff;
}

#transactionHistorySearch:hover {
    background: #E1B47D;
}


/* Payment forms BUTTONS style */

.paymentForm-but {
    border: 1px solid #37556E;
    outline: none;
    position: relative;
    margin: 0 auto;
    /*    width: 5rem;*/
    padding-left: .5rem;
    padding-right: .5rem;
    background: #fff;
    font-family: 'Wesli';
    font-size: 1rem;
    color: #37556E;
    text-align: center;
}

.paymentForm-but:hover {
    cursor: pointer;
    background: #37556E;
    color: #fff;
}


/* Send Payment(s) form buttons */

.send-but {
    padding: .3rem;
    width: 4.5rem;
}

md-autocomplete.fee-autocomplete button {
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

md-autocomplete.fee-autocomplete button md-icon path {
    fill: #37556E;
}

md-autocomplete.fee-autocomplete button:hover md-icon path {
    fill: white;
}

/* md-autocomplete[md-input-name="wavessendfee"] button:hover,  md-autocomplete[md-input-name="assetFee"] button:hover {}*/


/* ======================================================================= */


/* WAVES STANDARD INPUTS */

.wInput {
    font-family: 'Wesli';
    font-size: 1rem;
    padding: .25rem;
    margin-top: .25rem;
    border: 1px solid #D7D7D7;
    min-width: 250px;
}

.wInput-error {
    border: 2px solid #9C0005 !important;
}


/* ======================================================================= */


/* PAYMENT FORM PARAMETERS */

.paymentForm {
    height: auto;
    padding-bottom: 1rem;
}


/* Temporary fix for misalignment in the Balance amount */

.paymentForm div:nth-child(2) {
    margin-right: 2rem;
}

.wPop-content {
    margin-top: -1.5rem;
}

.paymentForm table,
.paymentForm table tr {
    width: 100%;
}

.paymentForm td:first-child {
    width: 40%;
}

.paymentForm td:nth-child(2) {
    width: 60%;
}

.paymentForm thead tr {
    background-color: #37556E;
    text-align: center;
    font-size: 1.12rem;
    line-height: 2.3rem;
    color: #ffffff;
}

.paymentForm tbody td {
    padding: .25rem;
}

.paymentForm tbody tr {
    width: 100%;
}

.form-control {
    width: 100%;
    padding: .3rem;
    font-family: 'Wesli';
    font-size: 1rem;
}


/* Payment form from portfolio - Temp */

#mBB-portfolio #paymentForm {
    text-align: center;
}

#mBB-portfolio .paymentForm thead tr {
    line-height: 1.5rem;
}

#mBB-portfolio .paymentForm table {
    padding-bottom: 1rem;
}


/* Fix for the long non-spacing strings in the details field*/

#asset-details-dialog .wavesTable tr:nth-child(4) {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}


/* Payment Forms BALANCE style */

.balanceAmt {
    color: #999999;
    font-style: italic;
    text-align: right;
    margin-right: 0.25rem;
    line-height: 1.25rem;
    padding-bottom: .2rem;
}

.balanceAmt p {
    display: inline;
}


/* Payment forms FEES style */

.paymentFormFee {
    background-color: #F0F0F0;
    font-style: italic;
    color: #999999;
}

.paymentFormFee p {
    text-align: right;
    padding-right: .5rem;
}

.custom-combobox {
    position: relative;
    display: inline-block;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 2px;
    border-style: none none none solid;
}

.custom-combobox-toggle:hover {
    border-style: none none none solid;
}

.custom-combobox-input {
    margin: 0;
    padding: .25rem;
    font-family: 'Wesli';
    font-style: italic;
    color: #999999;
    padding-right: -.25rem;
}

.ui-menu.ui-autocomplete {
    font-family: 'Wesli';
    font-style: italic;
    color: #999999;
}

.popup-autocomplete {
    z-index: 160;
}

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
    z-index: 160;
}

.md-whiteframe-z1 {
    border: 1px solid #D7D7D7;
    box-shadow: none;
}


/* ======================================================================= */


/* PORTFOLIO TAB */

#mBB-portfolio {
    width: 100%;
    text-align: center;
}

#mBB-portfolio table {
    width: 100%;
}

#mBB-portfolio .wavesTable tbody {
    overflow-y: scroll;
}

#mBB-portfolio .wavesTable tr:hover {
    cursor: default;
}

#portfolio .btn {
    border: none;
    width: 8rem;
    margin-bottom: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    background: #37556E;
    font-family: 'Wesli';
    font-size: 1rem;
    line-height: 2.3rem;
    color: #ffffff;
    text-align: center;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

#portfolio .btn:hover {
    cursor: pointer;
    background: #5AC8D2;
}

#mBB-portfolio .wavesTable tr .clipSpan:after {
    background: url(../img/wIcon_clip_txIn.svg) no-repeat;
    opacity: 1;
}

#mBB-portfolio .wavesTable td:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


/* ======================================================================= */


/* HISTORY TAB */

#mBB-history {
    width: 100%;
    text-align: center;
}

#full-transaction-history table {
    overflow-y: scroll;
}

.wavesDD {
    display: inline-block;
    height: 90%;
    padding: .4rem;
}

.wavesDD select {
    font-family: 'Wesli';
    font-size: 1.15rem;
    padding: .1rem;
}

#hResults {
    height: auto;
    padding-bottom: 1rem;
}


/* ======================================================================= */


/* EXCHANGE TAB */

#mBB-exchange {
    width: 100%;
    text-align: center;
}


/* ======================================================================= */


/* TOKENS TAB */

#mBB-token {
    width: 100%;
    text-align: center;
}


/* Temporary fix for the extra space below this div - CHECK */

#create-asset-form div:nth-child(1) {
    margin-bottom: -20px;
}

#mBB-token form {
    width: 500px;
    margin: 0 auto;
}

#mBB-token table {
    width: 100%;
}

#mBB-token table tbody tr:last-child {
    background-color: #ffffff;
    font-style: italic;
    color: #999999;
}

#mBB-token table tbody tr:last-child {
    text-align: right;
    padding-right: .5rem;
}

#mBB-token table tbody tr:last-child:hover {
    cursor: default;
}

#mBB-token form button {
    margin-top: 1rem;
}


/* ======================================================================= */


/* MESSENGER TAB */


/* ======================================================================= */


/* COMMUNITY TAB */

#mBB-community {
    width: 100%;
    text-align: center;
}

#mBB-community > p {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #E1B47D;
    font-weight: 600;
}


/* ======================================================================= */


/* NPROGRESS CSS RULES */

#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #ffffff;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
}


/* ======================================================================= */


/* MEDIA QUERIES */

@media only screen and (max-width: 1024px) {
    #logoNversion2 {
        display: none;
    }
    #topLogoH {
        display: block;
    }
    #version {
        font-size: 1rem;
    }
    #mBLeftBar {
        width: 150px;
    }
    #blockheight,
    header .divider-2,
    header .inlineParagraph {
        display: none;
    }
    .header-Icon {
        width: 1.75rem;
    }
    .wavesTable {
        overflow-x: scroll !important;
    }
}

@media only screen and (max-width: 800px) {
    #version {
        display: none;
    }
    #mBLeftBar {
        width: 100px;
    }
    #lockscreen {
        padding: 2rem
    }
    #lockscreenTable {
        padding: 0;
        margin: 0 auto;
        min-width: 220px;
    }
    .loginAccountDiv .divider-1:nth-child(1),
    .loginAccountDiv .divider-1:nth-child(2),
    .loginAccountDiv .divider-1:nth-child(3),
    .loginAccountDiv > .clipSpan {
        display: none;
    }
    .loginAccount,
    .removeAccount {
        display: block;
        margin: 0 auto;
    }
    #mBB-community > p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 640px) {
    #tabs-Iconset {
        height: 80%;
    }
    #tabs-Iconset img {
        margin-top: 0rem;
        margin-left: .5rem;
        margin-right: .5rem;
    }
    #generateRandomSeed,
    #generateKeys {
        display: block;
        margin: 0 auto;
    }
    .removeAccount {
        margin-top: .5rem;
    }
    #walletSeed {
        min-width: 250px;
    }
}

@media only screen and (max-width: 512px) {
    #tabs {
        height: 55px;
    }
    #tabs-Iconset {
        height: 80%;
        width: 90%;
    }
    #tabs-Iconset img {
        margin-left: .25rem;
        margin-right: .25rem;
        height: 41px;
    }
    .wInput {
        min-width: 50px;
    }
    #mBB-token table {
        width: 100%;
    }
}


/* Mobile version - Landscape (iPhone up to 6, all Samsung Galaxy, all HTC) */

@media only screen and (max-width: 736px) and (max-height: 420px) {
    html {
        font-size: 12px;
    }
    header {
        height: 30px;
        padding: 0;
    }
    #topLogoH {
        width: 10rem;
        margin-top: .25rem;
    }
    #header-Iconset {
        position: absolute;
        right: .25rem;
        top: .5rem;
    }
    .header-Icon {
        width: 1.5rem;
        margin: 0;
        padding: 0;
        margin-right: .35rem;
    }
    #tabs {
        height: 40px;
    }
    #tabs-Iconset {
        height: 90%;
        margin-top: -.25rem;
    }
    #tabs-Iconset img {
        padding-left: .4rem;
        padding-right: .4rem;
    }
    #mBB-wallet {
        height: auto;
        padding-bottom: 2rem;
        text-align: center;
    }
    .walletBox {
        width: 275px;
        height: 175px;
    }
}


/* Mobile version - Portrait */

@media only screen and (max-width: 420px) {
    html {
        font-size: 12px;
    }
    header {
        height: 40px;
    }
    #lockscreen {
        text-align: center;
        margin: 0 auto;
        min-width: 300px;
    }
    #lockscreenTable {
        text-align: center;
        margin: 0 auto;
    }
    .loginAccountDiv {
        display: block;
        height: auto;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .loginAccount {
        margin-top: 20px;
    }
    .divider-1 {
        width: 0px;
    }
    #import_account,
    #create_account {
        display: block;
        margin: 0 auto;
    }
    .wavesTable td {
        padding-left: .2rem;
        padding-right: .2rem;
    }
    #topLogoH {
        width: 10rem;
        margin-top: .38rem;
    }
    .header-Icon {
        width: 1.5rem;
        margin-right: .35rem;
        margin-top: .2rem;
    }
    #tabs {
        height: 50px;
    }
    #tabs-Iconset img {
        /*        margin-top: .25rem;*/
        height: 36px;
    }
    #mBB-wallet {
        height: auto;
        padding-bottom: 2rem;
        text-align: center;
    }
    .walletBox {
        width: 275px;
        height: 175px;
    }
    .wB-buttons {
        height: 22.5%;
        margin-bottom: -3px;
    }
    #full-transaction-history,
    #wallet-transaction-history {
        display: none;
    }
}