<div class="line-wrapper grow">
    <div class="status-label-min success" ng-if="$ctrl.props.isActive" w-i18n="transaction.headers.activeLeasing"></div>
    <div class="status-label-min error" ng-if="!$ctrl.props.isActive" w-i18n="transaction.headers.canceled"></div>
    <div class="line">
        <div class="body-2 top fs-mobile">
            <span w-i18n="transaction.headers.{{::$ctrl.props.typeName}}"></span>
        </div>
        <div class="footnote-1 bottom fs-mobile">
            <span w-i18n="transaction.subheaders.{{::$ctrl.props.typeName}}"
                  params="{time: $ctrl.props.time, address: $ctrl.props.shownAddress}"></span>
        </div>
    </div>
    <div class="line">
        <div class="body-2 top fs-mobile">
            <span w-i18n="transaction.amounts.{{::$ctrl.props.typeName}}"
                  params="{amount: $ctrl.props.amount.toFormat(),
                    name: $ctrl.props.amount.asset.name}"></span>
        </div>
    </div>
</div>

