<w-main-header class="main-header"></w-main-header>

<div w-i18n-ns="app.import" class="main-container movable">
    <div class="main-container-wrapper">
        <div class="import-content-ledger">
            <div class="headline-1 text-center margin-1" w-i18n="importAccount"></div>
            <div class="body-2 text-center margin-top-2 basic-500 margin-05">
                <span w-i18n="importAccountInfo"></span>
            </div>

            <div  w-web-only-class="web-import-modal-wrapper" class="import-modal__blocks-wrapper text-center">
                <div class="import-modal__block" ui-sref="restore"
                     w-analytics event="'Import Backup Click'" event-target="'ui'">
                    <div class="import-modal__icon import-modal__icon-beta"></div>
                    <div class="import-modal__content">
                        <div class="body-1 margin-1 import-modal__content-title" w-i18n="seedAndKey"></div>
                        <div class="body-2 basic-500 import-modal__content-text"
                             w-i18n="seedAndKeyDescription"></div>
                    </div>
                </div>
                <div ng-if="isDesktop" class="import-modal__block" ui-sref="ledger"
                     w-analytics event="'Import Ledger Click'" event-target="'ui'">
                    <div class="import-modal__icon import-modal__icon-ledger"></div>
                    <div class="import-modal__content">
                        <div class="body-1 margin-1 import-modal__content-title" w-i18n="LedgerClient"></div>
                        <div class="body-2 basic-500 import-modal__content-text margin-05" w-i18n="ledgerDescription"></div>
                    </div>
                </div>
                <w-web-only ng-if="isNotPhone" w-web-only-class="import-modal__block" ui-sref="keeper">
                    <w-analytics event="'Import Keeper Click'" event-target="'ui'" class="import-modal__block-w">
                        <div class="import-modal__icon import-modal__icon-keeper"></div>
                        <div class="import-modal__content">
                            <div class="body-1 margin-1 import-modal__content-title" w-i18n="KeeperClient"></div>
                            <div class="body-2 basic-500 import-modal__content-text margin-05" w-i18n="keeperDescription"></div>
                        </div>
                    </w-analytics>
                </w-web-only>
            </div>

            <div class="import-footer">
                <w-get-started-link has-sign-in="::false" has-create="::true"></w-get-started-link>
            </div>
        </div>
    </div>
</div>

<w-footer></w-footer>
