<div w-i18n-ns="app.import" class="import-content">
    <i class="icon-information"></i>
    <span ng-click="$ctrl.showTutorialModals()"
          w-i18n-ns="app.welcome"
          w-i18n="infoTooltip"
          class="tooltip">
    </span>
    <w-change-language></w-change-language>

    <div class="waves-logo"></div>

    <div class="headline-1 text-center" w-i18n="import.importAccount"></div>
    <div class="body-2 text-center margin-5">
        <span class="disabled-600" w-i18n="import.importAccountInfo"></span>
    </div>

    <div class="import-modal__blocks-wrapper text-center">
        <div class="import-modal__block import-modal__block-beta">
            <div class="import-modal__icon-beta"></div>
            <div class="body-2 basic-700" w-i18n="modal.import.wavesBetaClient"></div>
            <div class="caption-1 basic-500 margin-2" w-i18n="modal.import.wavesBetaClientDescription"></div>
            <w-button class="submit tiny">
                <a ui-sref="restore" w-i18n="modal.import.selectButton"></a>
            </w-button>
        </div>
        <div class="import-modal__block import-modal__block-old">
            <div class="import-modal__icon-old"></div>
            <div class="body-2 basic-700" w-i18n="modal.import.wavesLiteClient"></div>
            <div class="caption-1 basic-500 margin-2" w-i18n="modal.import.wavesLiteClientDescription"></div>
            <w-button class="submit tiny"
                      on-click="$ctrl.importFromOld()">
                <span w-i18n="modal.import.selectButton"></span>
            </w-button>
        </div>
        <div class="import-modal__block import-modal__block-old">
            <div class="import-modal__icon-ledger"></div>
            <div class="body-2 basic-700" w-i18n="modal.import.LedgerClient"></div>
            <div class="caption-1 basic-500 margin-2" w-i18n="modal.import.ledgerDescription"></div>
            <w-button class="submit tiny">
                <a ui-sref="ledger" w-i18n="modal.import.selectButton"></a>
            </w-button>
        </div>
    </div>

    <div class="import-footer-wrp">
        <div class="or margin-2" w-i18n="or"></div>

        <div class="center">
            <a ng-click="$ctrl.next(-1)" w-i18n="import.back"> go back</a>
        </div>
    </div>

</div>
