<w-site-header></w-site-header>
<div w-i18n-ns="app.import" class="main-container">
    <div class="main-container-wrapper">

        <div class="import-content">

            <div class="headline-1 text-center" w-i18n="importAccount"></div>
            <div class="body-2 text-center margin-2 basic-500" w-i18n="importAccountInfo"></div>

            <div class="import-modal__blocks-wrapper text-center">
                <div class="import-modal__block" ui-sref="restore"
                     w-analytics event="'Import Backup Click'" event-target="'ui'">
                    <div class="import-modal__icon-beta"></div>
                    <div class="body-2 basic-700" w-i18n="wavesSeedClient"></div>
                    <div class="caption-1 basic-500 margin-2" w-i18n="wavesSeedClientDescription"></div>
                </div>
                <div ng-if="isDesktop" class="import-modal__block" ui-sref="ledger">
                    <w-analytics event="'Import Ledger Click'" event-target="'ui'">
                        <div class="import-modal__icon-ledger"></div>
                        <div class="body-2 basic-700" w-i18n="LedgerClient"></div>
                        <div class="caption-1 basic-500 margin-2" w-i18n="ledgerDescription"></div>
                    </w-analytics>
                </div>
                <w-web-only ng-if="isNotPhone" w-web-only-class="import-modal__block" ui-sref="keeper">
                    <w-analytics event="'Import Keeper Click'" event-target="'ui'">
                        <div class="import-modal__icon-keeper"></div>
                        <div class="body-2 basic-700" w-i18n="KeeperClient"></div>
                        <div class="caption-1 basic-500 margin-2" w-i18n="keeperDescription"></div>
                    </w-analytics>
                </w-web-only>
            </div>

            <div class="import-footer">
                <w-get-started-link></w-get-started-link>
            </div>

        </div>
    </div>

</div>
