<div class="receive-bank">

    <div class="row margin-2">
        <div class="body-2 basic-900" w-i18n="modal.receive.asset"></div>
        <div class="input-like big flex-row split-half" ng-if="$ctrl.singleAsset">
            <div class="flex-row">
                <w-asset-logo class="marker-hide" size="24" asset-id="{{::$ctrl.asset.id}}"></w-asset-logo>
                <div class="asset-name">{{::$ctrl.asset.name}}</div>
            </div>
        </div>
        <w-select
                class="big"
                ng-if="!$ctrl.singleAsset"
                ng-model="$ctrl.chosenAssetId">
            <w-option ng-repeat="fiat in $ctrl.fiats track by $index" value="::fiat.id">
                <div class="flex-row split-half">
                    <div class="flex-row">
                        <w-asset-logo class="marker-hide" size="24" asset-id="{{::fiat.id}}"></w-asset-logo>
                        <div class="asset-name">{{::fiat.name}}</div>
                    </div>
                </div>
            </w-option>
        </w-select>

    </div>

    <div ng-if="!$ctrl.isLira && !$ctrl.pending && !$ctrl.error" class="get-verified">

        <div ng-if="$ctrl.isVerified">
            Verified!
        </div>

        <div ng-if="!$ctrl.isVerified" class="warning-plate">
            <div class="body-2 warning-500" w-i18n="modal.sepa.warningTitle"></div>
        </div>

        <div ng-if="$ctrl.isVerified" class="warning-plate">
            <div class="body-2 warning-500">
                You must use the same Waves address that you used to make KYC&ALM request. If you make a mistake or put
                a different Waves address we can’t credit your account.
            </div>
        </div>

        <div ng-if="$ctrl.isVerified" class="warning-plate">
            <div class="body-2 warning-500">
                When making a wire transfer you should specify your unique id-number instead of your Waves address in
                the
                payment details field.
            </div>
        </div>

        <div ng-if="!$ctrl.isVerified" class="country-list-link">
            <a class="caption-1 submit-300"
               w-i18n="modal.sepa.countryList"
               ng-href="{{$ctrl.listOfEligibleCountries}}"
               target="_blank"></a>
        </div>

        <table ng-if="!$ctrl.isVerified" class="steps">
            <tr>
                <td class="step headline-3 basic-900" w-i18n="modal.sepa.step1"></td>
                <td class="description body-2 basic-900"
                    w-i18n="modal.sepa.step1Description"
                    params="{assetName: $ctrl.asset.name, url: $ctrl.idNowSiteUrl}"></td>
            </tr>
            <tr>
                <td class="step headline-3 basic-900" w-i18n="modal.sepa.step2"></td>
                <td class="description body-2 basic-900"
                    w-i18n="modal.sepa.step2Description"></td>
            </tr>
        </table>

        <w-coinomat-terms show-accepted-checkbox="::true"
                          is-verified="$ctrl.isVerified"
                          terms-accepted="$ctrl.termsAccepted"
                          on-sign-start="$ctrl.onSignStart()"
                          on-sign-end="$ctrl.onSignEnd()"
                          force-show-terms="!$ctrl.isVerified"></w-coinomat-terms>

        <a ng-if="!$ctrl.signPending && !$ctrl.isVerified"
           href="{{$ctrl.idNowUserLink}}"
           target="_blank">
            <w-button class="big submit long" disabled="!$ctrl.isTermsAccepted">
                <span w-i18n="modal.sepa.proceed"></span>
            </w-button>
        </a>

    </div>
    <w-loader ng-if="!$ctrl.isLira && $ctrl.pending"></w-loader>
    <div ng-if="!$ctrl.isLira && $ctrl.error">
        Error!
    </div>
    <div ng-if="$ctrl.isLira" class="bank-account wtry">

        <div class="warning-plate">
            <div class="body-2 warning-500" w-i18n="modal.receive.wtryPlate1Header"></div>
            <div class="footnote-1 basic-500" w-i18n="modal.receive.wtryPlate1Text"></div>
        </div>

        <div class="row margin-3 caption-1 info-block">
            <i class="icon-info"></i>
            <div w-i18n="modal.receive.wtry.info"></div>
        </div>

        <a href="{{$ctrl.digiLiraUserLink}}" target="_blank">
            <w-button class="big submit long" on-click="$ctrl.confirmDigilira()">
                <span w-i18n="modal.receive.card.continue"></span>
            </w-button>
        </a>

    </div>

</div>