@import (reference) '../../../config';
@import (reference) '../../../app/less/typography';

w-tabs {

  .titles-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 49px;
    background-color: @color-white;
    box-sizing: border-box;
    padding: 0 20px;
    position: relative;
    &:before, &:after {
      content: "";
      position: absolute;
      width: calc(100% + 80px);
      height: 1px;
      background-color: #f0f0f0;
      top: 0;
      left: -40px;
    }
    &:after {
      top: auto;
      bottom: 0;
    }

    w-row > div {
      width: 100%;
    }

    .title {
      .body-2();
      color: @color-info-500;
      display: block;
      border: 1px solid transparent;
      box-sizing: border-box;
      line-height: 49px;
      margin: 0 20px;

      &:not(.active) {
        cursor: pointer;
      }

      &.active {
        color: @color-submit-400;
        border-bottom-color: @color-submit-400;
        position: relative;
        z-index: 1;
      }
    }
  }

  .tab-body-wrap {
    .tab-tem {
      box-sizing: border-box;
      padding: 40px 0 0;
      position: relative;
      .line {
        &:not(:last-child) {
          border-bottom: 1px solid #f0f0f0;
        }
        div {
          display: inline-block;
          overflow-x: hidden;

          &:first-child {
            width: 27%;
            margin: 10px 0 6px;
          }
          &:last-child {
            width: 72%;
            margin: 10px 0 6px;
          }
        }
      }
    }
  }

}
