@import (reference) url('config');

w-copy-wrap-default {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;

  .copy-icon {
    background: url(/img/icons/copy-14-basic500.svg) center no-repeat;
    display: block;
    width: 14px;
    height: 14px;
    margin-left: 4px;
    flex-basis: auto;
    border: 0 none;
    cursor: pointer;
  }
}
