@import (reference) '../../../config';
@import (reference) '../../../app/less/typography';

html body md-dialog.asset-info-modal {

  md-dialog-content {
    padding-bottom: 0;
    overflow-y: hidden;

    &::after {
      display: none;
    }
  }

  w-asset-rate-chart {
    position: absolute;
  }

  .chart-wrapper {
    opacity: 0.2;
    position: relative;
    margin-left: -40px;
    margin-right: -40px;
    height: 76px;

    .interactive-stop {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .chart-tooltip,
    .chart-legend { // Lib ng3-charts
      display: none !important;
    }
  }

  .asset-content {
    height: 100%;

    .tab-tem {
      .footnote-1();
      overflow-y: auto;
      max-height: calc(~'74vh - 300px');
    }

    .one-line {
      max-height: 1.3em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .padding-content .tab-tem {
    padding: 40px;

    .line {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid @color-basic-100;
      padding: 5px 0;
      align-items: center;

      &.chart-container {
        .legend-item {
          white-space: nowrap;
        }

        & > div:first-child {
          width: 140px;
          flex-grow: 0;
        }

        & > div:last-child {
          width: calc(100% ~'- 140px');
          flex-grow: 1;
          margin-left: 30px;
        }
      }

      &-description div:last-child {
        padding-top: 6px;
        min-height: 30px;
      }

      &:last-child {
        border-bottom: 0 none;
      }

      & > div:first-child {
        align-items: center;
        display: flex;
      }

      & > div:last-child {
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: right;
        margin-left: 20px;

        .legend-item, .total {
          display: flex;
          width: 100%;
          border-bottom: 1px solid @color-basic-100;
          align-items: center;

          & > div {
            flex-basis: 50%;

            &:first-child {
              text-align: left;
            }
            &:last-child {
              text-align: right;
            }

            .legend-color {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              display: inline-block;
              margin: -3px 7px 0 0;
              vertical-align: middle;
            }
          }
        }

        .total {
          border-bottom: 0 none;
          font-family: @font-roboto-medium;

          div:first-child {
            color: @color-basic-500;
          }
        }

      }
    }

  }

  .padding-content.tab-details .tab-tem {
    .footnote-1();
    .line {
      min-height: 38px;
    }
    .line > div:last-child {
      display: block;
    }
  }

  .tab-container {
    width: calc(~'100% + 80px');
    margin-left: -40px;

    w-transaction-list ul {
      border-top: none;

      .transaction-item {
        .date {
          padding-left: 40px;
          letter-spacing: 2px;
        }

        .row {
          padding-left: 20px;

          .line {
            padding-right: 40px;
          }
        }
      }
    }

    .locale-address {
      display: none;
    }

    w-actions {
      display: none;
    }
  }

  .no-transactions {
    w-empty-block,
    w-error-block {
      margin: 20px auto;
    }
  }

}

@media screen and (max-width: 540px) {
  html body md-dialog.asset-info-modal {
    padding-bottom: 0;

    md-dialog-content {
      overflow-y: auto;
    }

    .chart-wrapper {
      margin-left: -20px;
      margin-right: -20px;
    }

    .asset-content {
      .padding-content .tab-tem {
        padding: 20px;
      }

      .tab-tem {
        overflow-y: hidden;
        max-height: 100%;
        padding: 0;

        .line {
          w-circle-chart {
            margin: 0 auto;
          }
        }

      }

      .footnote-1.fs-mobile {
        font-size: @mobile-low-fsize;
      }
    }

    .tab-container {
      width: calc(100% ~'+ 40px');
      margin-left: -20px;

      w-transaction-list ul .transaction-item .date {
        padding-left: 23px;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  html body md-dialog.asset-info-modal {
    .padding-content .tab-tem {
      .line.chart-container {
        flex-direction: column;

        & > div:first-child {
          width: 100%;
        }
        & > div:last-child {
          margin: 0;
          width: 100%;
        }
      }
    }
  }
}
