<div ng-cloak class="asset-modal">
    <div class="asset-modal__head">
        <div class="asset-modal__head-content">
            <w-asset-logo ng-cloak asset-id="{{::$ctrl.asset.id}}"
                          size="65"
                          class="asset-modal__logo"></w-asset-logo>

            <div class="asset-modal__data">
                <h2 ng-cloak class="asset-modal__name basic-900">{{::$ctrl.asset.name}}
                    <span class="asset__label" ng-if="$ctrl.isVerified" w-i18n-ns="app.utils" w-i18n="modal.assetInfo.qualified"></span>
                    <span class="asset__label" ng-if="$ctrl.isGateway" w-i18n-ns="app.utils" w-i18n="modal.assetInfo.gateway"></span>
                </h2>

                <div ng-if="$ctrl.ticker" class="body-2 basic-500">
                    {{::$ctrl.ticker}}
                </div>
            </div>

            <div class="chart-wrapper">
                <w-asset-rate-chart no-update="::true" asset-id="::$ctrl.asset.id"></w-asset-rate-chart>
                <div class="interactive-stop"></div>
            </div>

        </div>
    </div>

    <w-tabs class="inner" ng-model="$ctrl.tab">
        <w-tab id="::'info'"
               title-name="::'modal.assetInfo.details'"
               class="padding-content tab-details">
            <div class="line ">
                <div class="basic-500" w-i18n="modal.assetInfo.issuer"></div>
                <div class="basic-900 break-all fs-mobile">{{::$ctrl.asset.sender}}</div>
            </div>
            <div class="line">
                <div class="basic-500" w-i18n="modal.assetInfo.identifier"></div>
                <div class="basic-900 break-all fs-mobile">{{::$ctrl.asset.id}}</div>
            </div>
            <div class="line">
                <div class="basic-500" w-i18n="modal.assetInfo.name"></div>
                <div class="basic-900">{{::$ctrl.asset.name}}</div>
            </div>
            <div class="line">
                <div class="basic-500" w-i18n="modal.assetInfo.quantity"></div>
                <div class="basic-900">{{::$ctrl.quantity}}</div>
            </div>
            <div class="line">
                <div class="basic-500" w-i18n="modal.assetInfo.decimals"></div>
                <div class="basic-900">{{::$ctrl.asset.precision}}</div>
            </div>
            <div class="line">
                <div class="basic-500" w-i18n="modal.assetInfo.type"></div>
                <div class="basic-900">
                    <span w-i18n="modal.assetInfo.reissue.{{::$ctrl.asset.reissuable ? 'yes' : 'no'}}"></span>
                </div>
            </div>
            <div class="line" ng-if="::$ctrl.minFee">
                <div class="basic-500" w-i18n="modal.assetInfo.sponsorshipFee"></div>
                <div class="basic-900">
                    <span w-i18n="fee" params="{money: $ctrl.minFee}"></span>
                </div>
            </div>
            <div class="line">
                <div class="basic-500" w-i18n="modal.assetInfo.date"></div>
                <div class="basic-900">{{::$ctrl.asset.timestamp | date:'dd.MM.yyyy HH:mm'}}</div>
            </div>
            <div class="line" ng-if="::$ctrl.link">
                <div class="basic-500" w-i18n="modal.assetInfo.site"></div>
                <a target="_blank" href="{{::$ctrl.link}}">{{::$ctrl.link}}</a>
            </div>
            <div class="line" ng-if="::$ctrl.email">
                <div class="basic-500" w-i18n="modal.assetInfo.email"></div>
                <a target="_blank" href="mailto:{{::$ctrl.email}}">{{::$ctrl.email}}</a>
            </div>
            <div class="line" ng-if="::$ctrl.provider">
                <span class="basic-500" w-i18n-ns="app.utils" w-i18n="modal.assetInfo.qualified"></span>
                <span class="basic-900">{{::$ctrl.provider}}</span>
            </div>
            <div ng-if="$ctrl.description" class="line margin-top-2 basic-900">
                {{::$ctrl.description}}
            </div>

        </w-tab>
        <w-tab ng-if="!$ctrl.isDemo"
               id="::'balance'"
               title-name="::'modal.assetInfo.balance'"
               class="padding-content tab-balance">
            <div class="line chart-container">
                <div>
                    <w-circle-chart options="$ctrl.chartOptions" data="$ctrl.circleChartData"></w-circle-chart>
                </div>
                <div class="chart-legend">
                    <div ng-repeat="legend in $ctrl.circleChartData track by legend.id"
                         ng-if="!legend.value.getTokens().eq(0)"
                         class="legend-item">
                        <div class="part basic-500">
                            <div class="legend-color margin-right-1"
                                 style="background-color: {{::$ctrl.chartOptions.items[legend.id].color}}"></div>
                            <span w-i18n="modal.assetInfo.{{::legend.id}}"></span>
                        </div>
                        <div class="part">
                            <w-balance money="legend.value"></w-balance>
                        </div>
                    </div>
                    <div class="legend-item total">
                        <div w-i18n="modal.assetInfo.total"></div>
                        <div class="part">
                            <w-balance money="$ctrl.totalBalance"></w-balance>
                        </div>
                    </div>
                </div>
            </div>
        </w-tab>
        <w-tab ng-if="!$ctrl.isDemo"
               id="::'tx'"
               title-name="::'modal.assetInfo.transactions'">
            <w-transaction-list transactions="$ctrl.transactions"
                                parent-selector=".tab-tem"
                                pending="$ctrl.transactionsPending"></w-transaction-list>
        </w-tab>
    </w-tabs>
</div>
