<div ng-cloak class="asset-content">
    <div class="top-content">
        <w-asset-logo class="asset-logo-large" ng-cloak asset-id="{{::$ctrl.asset.id}}" size="65"></w-asset-logo>
        <div class="asset-data">
            <h2 ng-cloak class="asset__wrapper basic-900">
                <div>{{::$ctrl.asset.name}}</div>
                <div class="asset__label" ng-if="$ctrl.isVerified">
                    <span  w-i18n-ns="app.utils" w-i18n="modal.assetInfo.qualified"></span>
                </div>
                <div class="asset__label" ng-if="$ctrl.isGateway">
                    <span w-i18n-ns="app.utils" w-i18n="modal.assetInfo.gateway"></span>
                </div>
            </h2>

            <div class="body-2 basic-500 one-line">
                {{::$ctrl.ticker}}
            </div>
        </div>
        <!--<div ng-if="$ctrl.asset.id !== $ctrl.wavesId"
             ng-click="$ctrl.togglePin()"
             ng-class="{pinned: $ctrl.pinned}" class="pin">
            <span w-i18n="modal.assetInfo.unpinned" ng-if="!$ctrl.pinned"></span>
            <span w-i18n="modal.assetInfo.pinned" ng-if="$ctrl.pinned"></span>
        </div>-->
        <div class="chart-wrapper">
            <w-asset-rate-chart no-update="::true" asset-id="::$ctrl.asset.id"></w-asset-rate-chart>
            <div class="interactive-stop"></div>
        </div>
    </div>
    <w-tabs class="inner" ng-model="$ctrl.tab">
        <w-tab id="::'info'"
               title-name="::'modal.assetInfo.details'"
               class="padding-content tab-details">
            <div class="line ">
                <div class="basic-500" w-i18n="modal.assetInfo.issuer"></div>
                <div class="basic-900 break-all fs-mobile">{{::$ctrl.asset.sender}}</div>
            </div>
            <div class="line">
                <div class="basic-500" w-i18n="modal.assetInfo.identifier"></div>
                <div class="basic-900 break-all fs-mobile">{{::$ctrl.asset.id}}</div>
            </div>
            <div class="line">
                <div class="basic-500" w-i18n="modal.assetInfo.name"></div>
                <div class="basic-900">{{::$ctrl.asset.name}}</div>
            </div>
            <div class="line">
                <div class="basic-500" w-i18n="modal.assetInfo.quantity"></div>
                <div class="basic-900">{{::$ctrl.quantity}}</div>
            </div>
            <div class="line">
                <div class="basic-500" w-i18n="modal.assetInfo.decimals"></div>
                <div class="basic-900">{{::$ctrl.asset.precision}}</div>
            </div>
            <div class="line">
                <div class="basic-500" w-i18n="modal.assetInfo.type"></div>
                <div class="basic-900">
                    <span w-i18n="modal.assetInfo.reissue.{{::$ctrl.asset.reissuable ? 'yes' : 'no'}}"></span>
                </div>
            </div>
            <div class="line" ng-if="::$ctrl.minFee">
                <div class="basic-500" w-i18n="modal.assetInfo.sponsorshipFee"></div>
                <div class="basic-900">
                    <span w-i18n="fee" params="{money: $ctrl.minFee}"></span>
                </div>
            </div>
            <div class="line">
                <div class="basic-500" w-i18n="modal.assetInfo.date"></div>
                <div class="basic-900">{{::$ctrl.asset.timestamp | date:'dd.MM.yyyy HH:mm'}}</div>
            </div>
            <div class="line" ng-if="::$ctrl.link">
                <div class="basic-500" w-i18n="modal.assetInfo.site"></div>
                <a target="_blank" href="{{::$ctrl.link}}">{{::$ctrl.link}}</a>
            </div>
            <div class="line" ng-if="::$ctrl.email">
                <div class="basic-500" w-i18n="modal.assetInfo.email"></div>
                <a target="_blank" href="mailto:{{::$ctrl.email}}">{{::$ctrl.email}}</a>
            </div>
            <div class="line" ng-if="::$ctrl.provider">
                <span class="basic-500" w-i18n-ns="app.utils" w-i18n="modal.assetInfo.qualified"></span>
                <span class="basic-900">{{::$ctrl.provider}}</span>
            </div>
            <div ng-if="$ctrl.description" class="line margin-top-2 basic-900">
                {{::$ctrl.description}}
            </div>

        </w-tab>
        <w-tab ng-if="!$ctrl.isDemo"
               id="::'balance'"
               title-name="::'modal.assetInfo.balance'"
               class="padding-content tab-balance">
            <div class="line chart-container">
                <div>
                    <w-circle-chart options="$ctrl.chartOptions" data="$ctrl.circleChartData"></w-circle-chart>
                </div>
                <div class="chart-legend">
                    <div ng-repeat="legend in $ctrl.circleChartData track by legend.id"
                         ng-if="!legend.value.getTokens().eq(0)"
                         class="legend-item">
                        <div class="part basic-500">
                            <div class="legend-color margin-right-1"
                                 style="background-color: {{::$ctrl.chartOptions.items[legend.id].color}}"></div>
                            <span w-i18n="modal.assetInfo.{{::legend.id}}"></span>
                        </div>
                        <div class="part">
                            <w-balance money="legend.value"></w-balance>
                        </div>
                    </div>
                    <div class="legend-item total">
                        <div w-i18n="modal.assetInfo.total"></div>
                        <div class="part">
                            <w-balance money="$ctrl.totalBalance"></w-balance>
                        </div>
                    </div>
                </div>
            </div>
        </w-tab>
        <w-tab ng-if="!$ctrl.isDemo"
               id="::'tx'"
               title-name="::'modal.assetInfo.transactions'">
            <w-transaction-list transactions="$ctrl.transactions"
                                parent-selector=".tab-tem"
                                pending="$ctrl.transactionsPending"></w-transaction-list>
        </w-tab>
    </w-tabs>
</div>
