@import (reference) '../../../config';

w-complexity-meter {

  .complexity-meter {

    .help {
      text-align: right;
      color: #9ba6b2
    }

    &.not-secure.touched {
      .step.active {
        background-color: #ff151f;
      }
      .help {
        color: #ff151f;
      }
    }

    &.warn {
      .step.active {
        background-color: #f8b700;
      }
      .help {
        color: #f8b700;
      }
    }

    &.success {
      .step.active {
        background-color: #4ece3d;
      }
      .help {
        color: #4ece3d;
      }
    }

    .step-list {
      margin-top: 4px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .step {
        width: 9.5%;
        height: 3px;
        border-radius: @border-radius;
        background-color: #dae1e9;
      }
    }
  }
}
