<div class="white-bg">
    <div class="main-container movable" w-i18n-ns="app.migrate">
        <div class="main-container-wrapper update-centering-wrapper">

            <div class="footer__wrap return-wrap">
                <div ng-if="$ctrl._showMoving && !$ctrl.isOldDesktop" class="return-button" ng-click="$ctrl.toHome()">
                    <div class="return-button__arrow"></div>
                    <div class="return-button__text" w-i18n="desktopUpdate.return"></div>
                </div>

                <div class="logo update-logo"></div>
            </div>

            <div class="center">
                <div class="update-wrapper" ng-if="$ctrl.isOldDesktop && !$ctrl._showMoving">
                    <div ng-if="$ctrl.state !== 'downloading'">
                        <div ng-if="!$ctrl.downloadDone">
                            <div class="migrate-modal__image migrate-modal__image_moving"></div>
                            <h3 class="migrate-modal__title margin-2" w-i18n="migrate.modalTitle.moving"></h3>

                            <div ng-if="$ctrl.hasUserList || $ctrl.hasMultiAccount" class="basic-500 margin-3 downloading-text">
                                <div class="margin-2" w-i18n="desktopUpdate.movingText"></div>
                                <div class="migrate-modal__plate">
                                    <div class="migrate-modal__plate-icon"></div>
                                    <div class="migrate-modal__plate-text headline-3"
                                         w-i18n="migrate.modalTitle.plate"></div>
                                </div>
                            </div>

                            <div ng-switch="$ctrl.hasMultiAccount">
                                <div ng-switch-when="true">
                                    <form name="$ctrl.signInForm" ng-submit="$ctrl.signInAndExport()">
                                        <w-input-container class="margin-4">
                                            <div class="text-left body-2 margin-05">
                                                <span w-i18n="desktopUpdate.password"></span>
                                            </div>

                                            <w-show-hide-password>
                                                <w-input
                                                    name="password"
                                                    type="password"
                                                    class="big no-validate no-icon"
                                                    ng-model="$ctrl.password"
                                                    ng-change="$ctrl.onPasswordChange()"
                                                    required
                                                    w-autofocus>
                                                </w-input>
                                            </w-show-hide-password>

                                            <div class="like-input-error" ng-if="$ctrl.showPasswordError">
                                                <span class="error active" w-i18n="desktopUpdate.passwordError"></span>
                                            </div>
                                        </w-input-container>

                                        <w-button disabled="$ctrl.signInForm.$invalid" class="submit long big">
                                            <div class="full-width" w-i18n="desktopUpdate.signInAndMove"></div>
                                        </w-button>
                                    </form>
                                </div>

                                <div ng-switch-when="false">
                                    <div ng-if="!$ctrl.hasUserList" class="basic-500 margin-3 downloading-text">
                                        <div w-i18n="desktopUpdate.downloadText"></div>
                                    </div>

                                    <w-button
                                        disabled="$ctrl.state === 'downloading'"
                                        ng-if="!$ctrl.hasUserList"
                                        on-click="$ctrl.download()"
                                        class="submit big big-btn"
                                    >
                                        <span w-i18n="desktopUpdate.download"></span>
                                    </w-button>

                                    <w-button
                                        ng-if="$ctrl.hasUserList"
                                        on-click="$ctrl.toMigration()"
                                        class="submit big big-btn"
                                    >
                                        <span w-i18n="migrate.modalButton.moving"></span>
                                    </w-button>

                                    <div class="basic-400 downloading-info migrate-modal__link">
                                        <div w-i18n="desktopUpdate.oldApplication"></div>
                                    </div>
                                </div>
                            </div>
                    </div>

                        <div ng-if="$ctrl.downloadDone">
                            <div class="migrate-modal__image migrate-modal__image_congratulations"></div>
                            <h3 class="migrate-modal__title margin-2" w-i18n="desktopUpdate.congratulations"></h3>
                            <div class="basic-500 margin-2 body-2" w-i18n="desktopUpdate.congratulationsText"></div>
                            <div class="migrate-modal__steps margin-3">
                                <div class="migrate-modal__step margin-2 body-1">
                                    <span class="basic-500">1.</span>
                                    <span class="migrate-modal__description" w-i18n="desktopUpdate.install"></span>
                                </div>
                                <div class="migrate-modal__step margin-2 body-1">
                                    <span class="basic-500">2.</span>
                                    <span class="migrate-modal__description" w-i18n="desktopUpdate.run"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="$ctrl.state === 'downloading'">
                        <h3 class='step-title' w-i18n="desktopUpdate.pleaseWait"></h3>
                        <div class="download-bar__wrapper">
                            <div class="download-bar" ng-if="$ctrl.progress"
                                 ng-style="{'width': $ctrl.progress + '%'}"></div>
                        </div>
                        <div class='cancel-btn' ng-click="$ctrl.cancelDownload()">
                            <span class='cancel-btn' w-i18n="desktopUpdate.cancelDownloading"></span>
                        </div>
                    </div>
            </div>

                <div class="center update-wrapper" ng-if="$ctrl._showMoving">
                <div class="progress-bar">
                    <div class="progress-bar__item active"
                         ng-class="{ 'done': $ctrl.state !== 'askDownload' && $ctrl.state !== 'downloading' }">
                        <div class="progress-bar__item-number">1</div>
                        <div class="progress-bar__item-text" w-i18n="desktopUpdate.barDownload"></div>
                        <div class="progress-bar__stripe"></div>
                    </div>

                    <div class="progress-bar__item"
                         ng-class="{
                            'active': $ctrl.state === 'installAndRun',
                            'done': $ctrl.state === 'success' || $ctrl.state === 'fail'
                        }">
                        <div class="progress-bar__item-number">2</div>
                        <div class="progress-bar__item-text" w-i18n="desktopUpdate.barInstall"></div>
                        <div class="progress-bar__stripe"></div>
                    </div>

                    <div class="progress-bar__item"
                         ng-class="{
                            'done': $ctrl.state === 'success',
                            'fail': $ctrl.state === 'fail'
                        }">
                        <div class="progress-bar__item-number">3</div>
                        <div class="progress-bar__item-text"
                             w-i18n="{{$ctrl.state === 'fail' ? 'desktopUpdate.fail' : $ctrl.state === 'success' ? 'desktopUpdate.barSuccess' : 'desktopUpdate.barDone'}}"></div>
                    </div>
                </div>

                <div class="text-center">
                    <div ng-if="$ctrl.state === 'askDownload'">
                        <div class="step-title" w-i18n="desktopUpdate.haveYouDownloaded"></div>
                        <div class="buttons-wrapper">
                            <w-button class="big" on-click="$ctrl._toInstallAndRun()">
                                <span class='capitalize' w-i18n="desktopUpdate.downloaded"></span>
                            </w-button>
                            <w-button class="big submit" on-click="$ctrl.download()">
                                <span class='capitalize' w-i18n="desktopUpdate.download"></span>
                            </w-button>
                        </div>
                    </div>

                    <div ng-if="$ctrl.state === 'downloading'">
                        <div class="step-title" w-i18n="desktopUpdate.pleaseWait"></div>
                        <div class="download-bar__wrapper">
                            <div class="download-bar" ng-style="{'width': $ctrl.progress + '%'}"></div>
                        </div>
                        <div class='cancel-btn' ng-click="$ctrl.cancelDownload()">
                            <span class='cancel-btn' w-i18n="desktopUpdate.cancelDownloading"></span>
                        </div>
                    </div>

                    <div ng-if="$ctrl.state === 'installAndRun'">
                        <div ng-class="{ visible: $ctrl._showSteps }" class="step-title step-title_first">
                            <span class="basic-100">1. </span>
                            <span w-i18n="desktopUpdate.install"></span>
                        </div>
                        <div ng-class="{ visible: $ctrl._showSteps }" class="step-title step-title_second">
                            <span class="basic-100">2. </span>
                            <span w-i18n="desktopUpdate.run"></span>
                        </div>

                        <div class="buttons-wrapper">
                            <w-button class="big big-btn margin-right-2" on-click="$ctrl._askDownload()">
                                <span w-i18n="desktopUpdate.backToPrevious"></span>
                            </w-button>
                            <w-button disabled="$ctrl._timer > 0" class="big submit relative big-btn" on-click="$ctrl.tryExport()">
                                <div ng-if="$ctrl._timer > 0" class="circular-wrapper">
                                    <div class="circular">
                                        <svg class="circular-progress" width="28" height="28" viewBox="0 0 28 28">
                                            <circle cx="14" cy="14" r="10" fill="none" stroke="#b8cbfa"
                                                    stroke-width="4"/>
                                            <circle class="circular-progress__value" cx="14" cy="14" r="10" fill="none"
                                                    stroke="#fff" stroke-width="4"/>
                                        </svg>
                                    </div>
                                    <span class="circular-timer">{{$ctrl._timer}}</span>
                                    <span class="circular-timer__text" w-i18n="{{$ctrl.getPlural()}}"></span>
                                </div>
                                <span ng-if="$ctrl._timer === 0" class="capitalize" w-i18n="desktopUpdate.downloaded"></span>

                            </w-button>
                        </div>
                    </div>

                    <div ng-if="$ctrl.state === 'success'">
                        <div class="step-title step-title_success" w-i18n="desktopUpdate.almostThere"></div>
                        <div class="basic-500 to-finish" w-i18n="desktopUpdate.toFinish"></div>
                        <w-button ng-if="!$ctrl.isOldDesktop" class="big submit big-btn" on-click="$ctrl.toHome()">
                            <span w-i18n="desktopUpdate.iUnderstand"></span>
                        </w-button>
                    </div>

                    <div ng-if="$ctrl.state === 'fail'">
                        <div class="fail-icon"></div>
                        <div class="step-title step-title_fail" w-i18n="desktopUpdate.oops"></div>
                        <div class="basic-500 headline-3 fail-text" w-i18n="desktopUpdate.failText"></div>
                        <w-button class="big submit big-btn" on-click="$ctrl.tryAgain()">
                            <span w-i18n="desktopUpdate.tryAgain"></span>
                        </w-button>
                        <div class="basic-500 look-at-faq">
                            <div class="look-at-faq__item">
                                <span w-i18n="desktopUpdate.lookAtFAQ1"></span>
                                <span class="link" ng-click="$ctrl.showFAQ()">FAQ.</span>
                                <span w-i18n="desktopUpdate.lookAtFAQ2"></span>
                            </div>
                            <div class="look-at-faq__item" w-i18n="desktopUpdate.connectSupport"></div>
                        </div>
                    </div>

                </div>
            </div>
            </div>
        </div>
        <w-footer class="footer update-footer"></w-footer>
    </div>
</div>
