<form name="$ctrl.form" ng-submit="$ctrl.form.$valid && $ctrl.onSubmit()" w-i18n-ns="app.ui" novalidate>
    <w-input-container class="margin-top-3 margin-3">
        <div class="left body-2 margin-05">
            <span w-i18n="password.old"></span>
        </div>

        <w-show-hide-password>
            <w-input
                name="oldPassword"
                type="password"
                class="big no-validate no-icon"
                ng-model="$ctrl.oldPassword"
                required
                w-autofocus>
            </w-input>
        </w-show-hide-password>

        <div class="like-input-error" ng-if="$ctrl.showPasswordError">
            <span class="error active" w-i18n="password.oldWrong"></span>
        </div>
    </w-input-container>

    <w-input-container class="margin-3">
        <div class="left body-2 margin-05">
            <span w-i18n="password.newPass"></span>
        </div>

        <w-show-hide-password>
            <w-input
                name="password"
                type="password"
                class="big no-validate no-icon"
                ng-model="$ctrl.password"
                minlength="8"
                required>
            </w-input>
        </w-show-hide-password>

        <w-complexity-meter field="password">
            <complexity-message message="minlength, required">
                <span w-i18n="password.minLength" params="::{minLength: 8}" class="footnote-1"></span>
            </complexity-message>
            <complexity-message type="warn">
                <span w-i18n="password.warn" class="footnote-1"></span>
            </complexity-message>
            <complexity-message type="success">
                <span w-i18n="password.secure" class="footnote-1"></span>
            </complexity-message>
        </w-complexity-meter>
    </w-input-container>

    <w-input-container class="margin-3">
        <div class="left body-2 margin-05">
            <span w-i18n="password.repeat"></span>
        </div>
        <w-show-hide-password>
            <w-input
                name="confirm"
                type="password"
                class="no-icon big"
                ng-model="$ctrl.confirmPassword"
                w-validate
                w-validator-compare="password"
                required>
            </w-input>
        </w-show-hide-password>

        <div class="like-input-error" ng-if="$ctrl.form.confirm.$dirty && $ctrl.form.confirm.$error.compare" w-i18n-ns="app.signUp">
            <span class="error active" w-i18n="signUp.password.notMatch"></span>
        </div>
    </w-input-container>

    <div class="buttons-wrapper">
        <w-button class="big" w-modal-close w-i18n-ns="app.signIn">
            <div w-i18n="signIn.btn.cancel"></div>
        </w-button>
        <w-button disabled="$ctrl.form.$invalid" class="submit big">
            <div w-i18n="password.btn.confirm"></div>
        </w-button>
    </div>
</form>
