<div w-i18n-ns="{{::ns}}" class="notification {{::type}}">
    <div class="icon-close" ng-if="::!noCloseIcon" w-notification-close></div>
    <div>
        <w-i18n ng-if="::!!title"
                class="headline-3 basic-900"
                params="::title.params">
            {{::title.literal}}
        </w-i18n>
    </div>
    <div>
        <w-i18n ng-if="::!!body"
                class="footnote-1 basic-700"
                params="::body.params">
            {{::body.literal}}
        </w-i18n>
    </div>
    <div>
        <w-i18n ng-if="::!!action"
                w-notification-action
                class="footnote-1 basic-700"
                params="::action.params">
            {{::action.literal}}
        </w-i18n>
    </div>
</div>
