@import (reference) '../../../app/less/app';
@import (reference) '../../../app/less/typography';

w-radio {
  input {
    position: absolute;
    visibility: hidden;
  }

  input:checked ~ label.btn.btn-radio {
    .btn-wrap.btn-group .btn-active();
  }
}

w-radio-wrap.split-mode {
  .btn-wrap.btn-group label.btn {
    .footnote();
    border-color: transparent;
    //color: #7995b9; // TODO Change colors. Author Tsigel at 02/11/2017 08:11
  }

  .btn-wrap.btn-group input:checked ~ label.btn.btn-radio {
    //color: #0065d7; // TODO Change colors. Author Tsigel at 02/11/2017 08:11
    //border: 1px solid #d6d6df; // TODO Change colors. Author Tsigel at 02/11/2017 08:11
    border-radius: 3px;
    background-color: transparent;
  }
}
