<div class="txinfo__content" ng-class="::{'spam': $ctrl.isScam}">

    <div class="txinfo__icon " ng-class="$ctrl.typeName"></div>

    <w-issue-header ng-if="$ctrl.signable.type === 3" signable="$ctrl.signable"></w-issue-header>
    <w-transfer-header ng-if="$ctrl.signable.type === 4" signable="$ctrl.signable"></w-transfer-header>
    <w-reissue-header ng-if="$ctrl.signable.type === 5" signable="$ctrl.signable"></w-reissue-header>
    <w-burn-header ng-if="$ctrl.signable.type === 6" signable="$ctrl.signable"></w-burn-header>
    <w-exchange-header ng-if="$ctrl.signable.type === 7" signable="$ctrl.signable"></w-exchange-header>
    <w-lease-header ng-if="$ctrl.signable.type === 8" signable="$ctrl.signable"></w-lease-header>
    <w-cancel-lease-header ng-if="$ctrl.signable.type === 9" signable="$ctrl.signable"></w-cancel-lease-header>
    <!--<w-create-alias-header ng-if="$ctrl.signable.type === 10" signable="$ctrl.signable"></w-create-alias-header>-->
    <w-mass-transfer-header ng-if="$ctrl.signable.type === 11" signable="$ctrl.signable"></w-mass-transfer-header>
    <w-data-header ng-if="$ctrl.signable.type === 12" signable="$ctrl.signable"></w-data-header>
    <w-set-script-header ng-if="$ctrl.signable.type === 13" signable="$ctrl.signable"></w-set-script-header>
    <w-sponsorship-header ng-if="$ctrl.signable.type === 14" signable="$ctrl.signable"></w-sponsorship-header>
    <w-create-order-header ng-if="$ctrl.signable.type === 1002" signable="$ctrl.signable"></w-create-order-header>
    <w-cancel-order-header ng-if="$ctrl.signable.type === 1003" signable="$ctrl.signable"></w-cancel-order-header>

</div>
