<div ng-if="$ctrl.transaction" class="txinfo__content">

    <div class="txinfo__icon" ng-class="$ctrl.transaction.type"></div>

    <ng-include class="" src="$ctrl.templateUrl"></ng-include>

    <div class="txinfo__row" ng-if="$ctrl.transaction.height">
        <div class="txinfo__key" w-i18n="transaction.modals.height"></div>
        <div class="txinfo__value">{{::$ctrl.transaction.height}}</div>
    </div>

    <div class="txinfo__row">
        <div class="txinfo__key" w-i18n="transaction.modals.fee"></div>
        <div class="txinfo__value">
            <w-i18n params="{money: $ctrl.calculatedFee}">fee</w-i18n>
        </div>
    </div>

</div>
