<div ng-if="$ctrl.transaction" class="txinfo__content" ng-class="::{'spam': $ctrl.isScam}">

    <div class="txinfo__icon" ng-class="$ctrl.transaction.typeName"></div>

    <ng-include class="" src="$ctrl.templateUrl"></ng-include>

    <div class="txinfo__row" ng-if="$ctrl.transaction.height">
        <div class="txinfo__key" w-i18n="transaction.modals.height"></div>
        <div class="txinfo__value">{{::$ctrl.transaction.height}}</div>
    </div>

    <div class="txinfo__row">
        <div class="txinfo__key" w-i18n="transaction.modals.fee"></div>
        <div class="txinfo__value">
            <span w-i18n="fee" params="{money: $ctrl.calculatedFee}"></span>
        </div>
    </div>

</div>

<div class="bottom-warning" ng-if="$ctrl.transaction.createToken">
    <div class="warning-plate">
        <div class="body-2 warning-500" w-i18n="modal.token.warning.header"></div>
        <div class="footnote-1 basic-500" w-i18n="modal.token.warning.text"></div>
        <div class="body-2 warning-500" w-i18n="modal.token.warning.textWarning"></div>
    </div>
</div>
