<div class="txinfo__row" ng-if="$ctrl.timestamp">
    <div class="txinfo__key" w-i18n="transaction.modals.timestamp"></div>
    <div class="txinfo__value">{{::$ctrl.timestamp | date:'dd.MM.yyyy HH:mm:ss'}}</div>
</div>

<div class="txinfo__row" ng-if="::$ctrl.height">
    <div class="txinfo__key" w-i18n="transaction.modals.height"></div>
    <div class="txinfo__value">{{::$ctrl.height}}</div>
</div>

<div class="txinfo__row" ng-if="$ctrl.id">
    <div class="txinfo__key" w-i18n="transaction.modals.txId"></div>
    <div class="txinfo__value">{{::$ctrl.id}}</div>
</div>

<div class="txinfo__row" ng-if="$ctrl.fee">
    <div class="txinfo__key" w-i18n="transaction.modals.fee"></div>
    <div class="txinfo__value">
        <span w-i18n="fee" params="{money: $ctrl.fee}"></span>
    </div>
</div>
