@import (reference) 'config';
@import (reference) 'icons';
@import (reference) '../../app/less/typography';

@dex-lower-block-height: 50%;

.dex,
.dex-demo {
  overflow: hidden;
  background-color: @dex-background;

  .main-content {
    min-height: 520px;

    .content {
      max-width: 100%;
      padding: 5px;
    }
  }

  input::placeholder {
    color: @color-basic-500;
    opacity: 1;
  }

  .ghost {
    background: @color-white;
  }

  .toggler {
    display: none;
    position: absolute;
    right: 5px;
    top: 10px;
    z-index: 1;
  }

  .input-container {
    .input-error .error {
      padding: 12px;
    }
  }
}

.dex-wrapper {
  width: 100%;
  height: 100%;

  .block-title {
    .input-wrap input {
      padding: 6px 8px 6px 21px;
      background: url(/img/icons/icon-search-dex.svg) 0 center no-repeat;
      background-size: 12px 12px;
      font-size: @font-size-caption-2;
      height: 29px;
      border: 0 none;
      border-radius: 0;
      width: 100%;
    }

    .has-search {
      width: 50%;
      margin-left: 20px;
      position: relative;

      &::before {
        width: 1px;
        height: 37px;
        content: '';
        background: @color-basic-100;
        display: block;
        position: absolute;
        left: -10px;
        top: -4px;
      }
    }
  }

  .search-item {
    font-size: @font-size-caption-1;
    cursor: pointer;

    &.has-ticker {
      font-weight: bold;
    }
  }

  .input-clear {
    display: block;
    position: absolute;
    right: 1px;
    top: 50%;
    margin-top: -1px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    z-index: 2;
    cursor: pointer;
    background-image: url(/img/icons/order_cancel.svg);
    background-size: 8px 8px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.dex-trade-graph {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.candle-chart-wrapper.error {
  display: flex;

  & > div {
    text-align: center;
    display: flex;
    margin: auto;

    div:first-child {
      .body-1();
      margin: 0 auto 5px auto;
      color: @color-basic-700;

      &::before {
        background-image: url(/img/icons/icon-empty.svg);
        background-repeat: no-repeat;
        width: 50px;
        height: 52px;
        margin: 0 auto 20px;
        display: block;
        content: '';
      }
    }

    div:last-child {
      color: @color-basic-500;
      padding: 0 140px;
    }

  }
}

.dex-loader,
.loading {
  opacity: 0;
}

.dex-loader {
  position: absolute;
  z-index: 0;
}

.dex-loader.loading {
  opacity: 1;
  position: absolute;
  z-index: 1;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 2400px) {
  body.dex,
  body.dex-demo {
    font-size: 12px;
    .dex-wrapper {
      .smart-table {
        &__w-tbody {
          .smart-table {
            &__row {
              font-size: 12px;
            }
          }
        }
      }

      .dex-watchlist .wrapper {
        .titles-wrap {
          height: 42px;

          .select {
            .select-list {
              height: 42px;
              font-size: 13px;
            }

            .option {
              font-size: 13px;
            }

            .title {
              height: 41px;
              font-size: 13px;
            }
          }

          .title {
            height: 42px;
            font-size: 13px;
            &.active {
              background: @color-white;
            }
          }
        }
      }

      .create-order {
        .create-order {
          .body .making-order .areas .area .name {
            line-height: 36px;
          }
        }
      }

      .dex-layout {
        &__tradehistory .tabs {
          .titles-wrap {
            height: 42px;
            .title {
              height: 42px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .dex,
  .dex-demo {
    .main-content .content {
      height: 100%;
      width: 100%;
      padding: 5px;
      right: 0;
      bottom: 0;

      .dex-candle-chart {
        border-radius: 0 0 2px 0;
      }

      .tabs {

        .tab-body-wrap {
          height: calc(100% ~'- 48px');
        }

        .titles-wrap {
          height: 48px;
          box-shadow: @shadow-menu-top;
          position: relative;
          z-index: 6;

          &::after {
            display: none;
          }

          .title {
            height: 48px;
            line-height: 48px;

            &.active {
              border: 0 none;
              border-bottom: 1px solid @color-submit-400;

              &::after,
              &::before {
                display: none;
              }
            }
          }

        }

        .smart-table {
          &__w-tbody {

            .smart-table {
              &__row {
                position: relative;

                &:hover {
                  .underline:after {
                    display: none;
                  }
                }

                .status-mobile {
                  display: inline-block;
                }

                &.active {
                  .dropdown {
                    transform: rotate(180deg);
                  }

                  & + .active::before {
                    background: @color-basic-100;
                    height: 1px;
                    width: calc(100% ~'- 20px');
                    position: absolute;
                    top: 0;
                    left: 10px;
                    display: block;
                    content: '';
                  }
                }
              }
            }
          }

          &__cell {
            padding: 0;

            .dropdown {
              display: block;
            }
          }

        }
      }

      .tabs,
      .dex-watchlist {
        .table {
          .t-head {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 660px) and (max-width: 1024px) {
  .dex .main-content,
  .dex-demo .main-content {
    min-width: 645px;
    width: 100%;
    min-height: 100%;

    .content {
      position: relative;
      margin-top: 0;
      overflow: auto;
    }
  }
}

@media screen and (max-width: 659px) {
  .dex .main-content,
  .dex-demo .main-content {
    min-width: 100%;

    .content {
      margin-top: 0;
    }
  }

  .dex,
  .dex-demo {
    .main-content .content {
      width: 100%;
      padding: 5px;
      right: 0;
      bottom: 0;
      height: 100%;
      max-height: calc(100% ~' - 80px');
      overflow: auto;

      .dex-layout {
        &__tradehistory {

          .dex-my-balance {
            .smart-table {
              &__w-tbody {
                max-height: 217px;
              }
            }
          }

          .dex-trade-history {
            .smart-table {
              &__w-tbody {
                max-height: 243px;
              }

              &.my-trade-history {
                .smart-table {
                  &__w-tbody {
                    max-height: 255px;
                  }
                }
              }
            }
          }

          .dex-my-orders {
            .smart-table {
              &__w-tbody {
                max-height: 254px;
              }
            }
          }

        }
      }

      .dex-wrapper {
        .tabs {
          w-scroll-box {
            height: 392px;
            width: 100%;
            overflow-y: auto;
            overflow-x: hidden;
          }
        }
      }
    }
  }
}
