@import (reference) '../../config';
@import (reference) '../../app/less/typography';

@dex-lower-block-height: 50%;

body.dex {

  w-header {
    display: none;
  }

  w-t-head {
    height: 30px;
  }

  .main-content .content {
    height: calc(~'100vh - ' @padding-main-layout);
    width: calc(~'100% - '@width-left-menu + @padding-main-layout);
    right: @padding-main-layout / 2;
    bottom: @padding-main-layout / 2;
    overflow: hidden;
  }

  .dex-wrapper {
    width: 100%;
    height: 100%;

    w-dex-trade-history w-t-head w-row {
      padding-right: 14px;

      .table-cell {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    w-dex-trade-history w-scroll-box {
      padding-right: @padding-main-layout;

      w-row {
        white-space: nowrap;
      }
    }

    w-dex-trade-history .cell-2 div {
      font-size: @font-size-caption-2;
      line-height: 1.2em;
    }

    .block-title .w-input-wrap input {
      padding: 6px 8px;
      background-image: url(/img/icons/input-search-icon.svg);
      background-repeat: no-repeat;
      background-size: 12px 12px;
      background-position: 7px center;
      text-indent: 17px;
      font-size: @font-size-caption-2;
      height: 29px;
      border: 1px solid @color-disabled-200;
      border-radius: 0;

    }

    .search-item {
      font-size: @font-size-caption-1;

      &.has-ticker {
        font-weight: bold;
      }
    }

    w-table {
      width: 100%;
      height: 100%;
      display: block;

      & > div.table {
        height: 100%;

        w-scroll-box {
          height: calc(~'100% - 31px');
        }
      }

      w-t-head {
        color: @color-disabled-700;
        border-bottom: 1px solid @color-disabled-100;

        w-row {
          font-size: @font-size-caption-2;

          .table-row:hover {
            background-color: white;
            border-color: transparent;
          }
        }

        .table-row {
          height: 30px;
          padding: 0;
          display: flex;
          align-items: center;
        }
      }

      w-row {
        font-size: @font-size-caption-1;
      }

      .spread w-row {
        .footnote-1();
        font-weight: bold;
        white-space: nowrap;
      }

      .table-row {
        height: 21px;
        padding: 0;
        display: flex;
        align-items: center;
      }
    }
  }

  w-dex-trade-graph {
    height: 20%;
    max-height: 20%;
    overflow: hidden;
  }

  .candle-chart-wrapper.error {
    display: flex;

    & > div {
      text-align: center;
      display: flex;
      margin: auto;

      div:first-child {
        .body-1();
        margin: 0 auto 5px auto;
        color: @color-basic-700;

        &::before {
          background-image: url(../../../img/icons/null.svg);
          background-repeat: no-repeat;
          width: 50px;
          height: 52px;
          margin: 0 auto 20px;
          display: block;
          content: '';
        }
      }

      div:last-child {
        color: @color-basic-500;
        padding: 0 140px;
      }

    }
  }

}

@media screen and (max-width: 768px) {

  //firefox fixes
  w-layout .dex-layout__block {
    height: auto !important;

    &-center-bottom-collapsed w-dex-block .block-wrapper .block-title {
      height: auto;
      min-height: 39px;
    }
  }

  body.dex {
    w-dex-trade-graph,
    w-dex-trade-graph .graph-wrapper {
      height: 130px;
      min-height: 130px;
      max-height: 130px;
      overflow: hidden;
    }
  }
}

//Tablet
@media screen and (min-width: 481px) and (max-width: 768px) {

  body.dex {
    min-width: 580px;

    ui-view[name="main"] {
      height: auto;
    }

    .main-content .content {
      height: auto;
      width: 100%;
      margin: 0;
      overflow: auto;
      padding: 10px 10px 0 10px;
    }

    .dex-layout__column-right {
      padding-bottom: 100px;
    }

    .block-wrapper w-scroll-box w-row {
      font-size: 80%;
    }

    .dex-wrapper w-table > div.table w-scroll-box {
      height: auto;
      overflow: auto;
      max-height: calc(50vh ~'- 100px');
    }
  }

}

//Mobile
@media screen and (max-width: 480px),
(min-width: 481px) and (max-width: 768px) and (max-height: 480px) {

  body.dex {
    ui-view[name="main"] {
      height: auto;
    }

    .main-content .content {
      height: auto;
      width: 100%;
      overflow-y: auto;
      margin-top: 60px;
    }

    .dex-layout__column-right {
      padding-bottom: 90px;
    }

    .dex-wrapper w-table > div.table w-scroll-box {
      height: auto;
      overflow: auto;
      max-height: 217px;
    }
  }

}
