<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Export</title>
    <script src="adapter-client.js"></script>

    <style>
        body {
            height: 100%;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.7);
        }

        #container {
            background-color: #fff;
            width: 600px;
            height: 400px;
            position: absolute;
            left: 50%;
            top: 50%;
            border-radius: 3px;
            transform: translate(-50%, -50%);
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
    </style>

</head>
<body>

<div id="container">
    <input type="password"/>
    <button id="password">Confirm</button>
</div>

</body>
</html>
