<!--
/******************************************************************************
* Copyright © 2016 The Waves Developers.                                     *
*                                                                            *
* See the LICENSE file at                                                    *
* the top-level directory of this distribution for the individual copyright  *
* holder information and the developer policies on copyright and licensing.  *
*                                                                            *
* Unless otherwise agreed in a custom licensing agreement, no part of the    *
* Waves software, including this file may be copied, modified, propagated    *
* or distributed except according to the terms contained in the LICENSE file *
*                                                                            *
* Removal or modification of this copyright notice is prohibited.            *
*                                                                            *
******************************************************************************/
-->

<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Waves Lite Client</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/jquery.modal.css">
    <link rel="stylesheet" href="css/jquery.growl.css">
    <link rel="stylesheet" href="css/tooltipster.min.css">
	<link href="img/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
</head>

<body ng-controller="homeController as home">

<!-- LOADER -->
    <div ng-controller="splashController as splash" id="bg-spin" class="noSelect" ng-show="splashVisible">
        <div id="logo-container-centered" class="centerIt">
            <div id="logoo">
                <img id="logo-spin" src="img/logo-spin.svg" />
                <p id="networkCheck">{{::splash.connectionFailed}}</p>
            </div>
        </div>
    </div>

	<div id="wrapper" ng-show="!home.splashVisible">
        <!-- LOG IN AREA -->
        <div id="lockscreen" class="userBG" ng-controller="accountsController as accounts" ng-if="home.accountsVisible">
            <table id="lockscreenTable">

                <thead>
                <div id="logoNversion">
                    <img src="img/topleftlogo.svg" />
                    <p ng-class='{testnet: home.isTestnet()}'>{{::home.title}} <span class="wlcversion">{{::home.version}}</span></p>
                </div>
                </thead>

                <tbody>
                <tr>
                    <td>
                        <!-- Accounts -->
                        <div id="accounts">
                            <h2 id="AccHeader">{{accounts.caption}}</h2>
                            <div class="wavesAccounts" ng-controller="accountListController as list" ng-show="accounts.mode === 'list'">
                                <p class="loginAccountDiv" ng-repeat="account in list.accounts">
                                    <span class="loginAccount tooltip-1 fade" title="Log into this account." data-id="accountKey"> <br/>
                                        <b>{{::account.name}}</b> <span class="divider-1"></span> <small>{{::account.address}}</small>
                                    </span>
                                    <span class="clipSpan tooltip-1" title="Copy this address to the clipboard." data-clipboard-text="{{::account.address}}"></span>
                                    <span class="divider-1"></span>
                                    <button class="removeAccount wButtonAlt fade tooltip-1" title="Remove this account from the list." ng-click="list.removeAccount($index)">
                                        <span class="wButton-icon"><img src="img/wIcon_x.svg"></span>REMOVE
                                    </button>
                                </p>

                                <button id="import_account" class="wButton fade tooltip-1" title="Click here to import an existing account." ng-click="list.importAccount()">IMPORT ACCOUNT</button>
                                <span class="divider-1"></span>
                                <button id="create_account" class="wButton fade tooltip-1" title="Click here to create a brand new account." ng-click="list.createAccount()">NEW ACCOUNT</button>
                                <br/>

                                <!-- Remove Account popup -->
                                <div id="account-remove-popup" waves-dialog on-dialog-ok="list.removeAccount(list.accountIndex)" is-error="true" ok-button-caption="REMOVE">
                                    <h2>REMOVE ACCOUNT <span id="removeAccountSpan"></span> - NOTICE</h2>
                                    <p>This feature completely removes the account from this device.
                                        <br/><br/>
                                        The account will not be eliminated or destroyed, but instead will not be shown anymore in the Accounts List at the client startup.
                                        <br/><br/>
                                        You can always re-generate your account on this device again using the Import Account feature and entering the SEED when prompted.
                                        <br/><br/>
                                        Click on the REMOVE button to proceed with the account removal, or CANCEL to return to the previous screen.
                                        <br/><br/>
                                    </p>
                                </div>
                            </div>

                        <!-- Seed input -->
                        <div id="create-seed" ng-controller="accountSeedController as vm" ng-show="accounts.mode === 'create-seed'">
                            <form id="account-seed-form">
                                <br/>
                                <button id="generateRandomSeed" class="wButton fade" ng-click="vm.generateSeed()">GENERATE NEW SEED</button>
                                <br/>

                                <label for="walletSeed">WALLET SEED</label>
                                <br/>

                                <textarea id="walletSeed" rows="3" name="walletSeed" class="wInput" ng-model="vm.seed" ng-change="vm.refreshAddress()" ng-model-options="{ debounce: 750 }" ng-trim="false"></textarea>
                                <span class="clipSpan tooltip-1" title="Copy the seed to the clipboard." data-clipboard-target="#walletSeed" data-clipboard-message-success="Wallet seed has been successfully copied to clipboard" ></span>
                                <br/><br/>

                                <div class="wPop-content">
                                    <div>ADDRESS
                                        <br/>
                                        <span>{{vm.displayAddress}}</span>
                                    </div>
                                    <br/>
                                </div>
                                <br/>

                                <button class="wButton fade" ng-click="vm.checkSeedAndRegister()">REGISTER ACCOUNT</button>
                                <span class="divider-2"></span>
                                <button class="wButton fade" ng-click="vm.back()">BACK</button>

                                <div id="seed-whitespace-popup" waves-dialog on-dialog-ok="vm.registerAccount()" closeable="false" ok-button-caption="PROCEED">
                                    <h2>SEED NOTICE</h2>
                                    <p>
                                        Your wallet seed contains one or more trailing whitespace characters.
                                        <br/><br/>
                                        A seed with a whitespace at the end and a seed without one are different, and will result in different addresses generated.
                                        <br/><br/>
                                        It is strongly recommended that you avoid trailing whitespaces in the seed. If you understand the implications of including a trailing whitespace in your seed, press <b>PROCEED</b>.
                                        Press <b>CANCEL</b> or close the dialog box to edit your seed.<br/>
                                    </p>
                                </div>
                            </form>
                        </div>

                        <div id="login-wPop-new" waves-dialog ok-button-caption="I UNDERSTAND" on-dialog-ok="" cancel-button-visible="false" cloaseable="false">
                            <h2>NEW ACCOUNT - NOTICE</h2>
                            <p>This feature involves the creation of a new account on Waves platform.
                                <br/><br/>
                                The procedure consists of complex cryptographic operations that use a <b>SEED</b> (a series of random words) to create a unique address for your account.
                                <br/><br/>
                                This SEED is extremely important and must be kept in safe place, since it's the only way to recover your account in case of lost, corrupted data or hardware failure.
                                <br/>
                                Your SEED will also allow you to IMPORT your account to other devices.
                                <br/><br/>
                                <i>NOTE: Make sure that you select the entire SEED length before keeping it. It's suggested to use the copy-to-clipboard button located the right side of the SEED box.</i>
                            </p>
                        </div>

                        <!-- store account on the current device -->
                        <div id="register" ng-controller="accountRegisterController as vm" ng-show="accounts.mode === 'register'">
                            <form id="register-form">
                                <div class="wPop-content">
                                    <label for="walletSeed">WALLET SEED</label>
                                    <br/>

                                    <textarea id="readonlySeed" rows="3" class="wInput" ng-model="accounts.seed" readonly></textarea>
                                    <div>ADDRESS
                                        <br/>
                                        <span>{{accounts.displayAddress}}</span>
                                    </div>
                                    <br/>

                                    NAME<span class="infoSpan tooltip-1" title="It is possible to assign a name to your account(s)
                                        <br/>
                                        in order to make them more memorable, feel
                                        <br/>
                                        free to use the field below to do so.
                                        <br/><br/>
                                        <i>NOTE: This is optional, the accounts do not forcefully
                                        <br/>
                                        need to have assigned a name.</i>"></span>
                                    <br/>
                                    <input type="text" id="walletName" class="wInput" ng-model="vm.name"/>
                                    <br/><br/>
                                    PASSWORD<span class="infoSpan tooltip-1" title="Used to encrypt your wallet seed, the password
                                        <br/>
                                        will be prompted at the time of login.
                                        <br/><br/>
                                        It is imperative that the user keeps it in a safe
                                        <br/>
                                        place at all times."></span>
                                    <br/>
                                    <input type="password" id="walletPassword" name="walletPassword" class="wInput" ng-model="vm.password"/>
                                    <br/><br/>
                                    REPEAT PASSWORD
                                    <br/>
                                    <input type="password" id="walletPasswordConfirm" name="walletPasswordConfirm" class="wInput" ng-model="vm.confirmPassword"/>
                                    <br/><br/>

                                    <button id="registerSeed" class="wButton fade" ng-click="vm.saveAccountAndSignIn()">REGISTER</button>
                                    <span class="divider-2"></span>
                                    <button id="#" class="wButton fade" ng-click="vm.cancel()">CANCEL</button>
                                </div>

                            </form>

                        </div>

                        </div>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>

	</div> <!-- Wrapper div END -->

    <!-- JAVASCRIPT -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>

    <script src="../bower_components/js-sha3/src/sha3.js"></script>

    <!-- angular -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/restangular/dist/restangular.js"></script>

    <!-- utilities -->
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/decimal.js/decimal.js"></script>

    <script src="../bower_components/nprogress/nprogress.js"></script>
    <script src="../bower_components/clipboard/dist/clipboard.js"></script>

    <!-- crypto libraries -->
    <script src="../bower_components/Base58/Base58.js"></script>
    <script src="../bower_components/cryptojslib/rollups/aes.js"></script>
    <script src="../bower_components/cryptojslib/rollups/sha256.js"></script>
    <script src="../bower_components/curve25519-js/axlsign.js"></script>

    <script src="js/vendor/jquery.modal.js"></script>

    <!-- application modules -->
    <script src="../bower_components/wavesplatform-core-js/distr/wavesplatform-core-js-0.1.0.js"></script>



    <script src="js/app.js"></script>
    <script src="js/ui.module.js"></script>
    <script src="js/home.controller.js"></script>
    <script src="js/splash.controller.js"></script>

    <script src="js/shared/shared.module.js"></script>
    <script src="js/shared/dialog.service.js"></script>
    <script src="js/shared/shared.dialog.directive.js"></script>

    <script src="js/login/login.module.js"></script>
    <script src="js/login/login.constants.js"></script>
    <script src="js/login/accounts.controller.js"></script>
    <script src="js/login/account.list.controller.js"></script>
    <script src="js/login/account.register.controller.js"></script>
    <script src="js/login/account.seed.controller.js"></script>

    <script src="js/style.js"></script>
</body>
</html>