@import (reference) 'config';
@import (reference) '../../app/less/app';

body.restore {
  .restore-content {
    .seed-block {
      border-radius: @border-radius;
      border: 1px solid @color-basic-200;

      w-input textarea {
        border-radius: @border-radius;
        border: none;
        padding: 16px;
        min-height: 86px;
        max-height: 150px;
        resize: vertical;
      }

      .address {
        &-block {
          width: calc(100% ~'- 45px');

          .address {
            overflow: hidden;
            text-overflow: ellipsis;

            &.empty {
              position: relative;
              top: 3px;
              height: 12px;
              border-radius: 100px;
              background-color: @color-basic-100;
            }
          }

          &-avatar { // .address-block-avatar
            margin-right: 10px;
          }
        }

        &-block-info {
          background-color: @color-basic-50;
          border-top: 1px solid @color-basic-200;
          height: 76px;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0 14px;
        }
      }

      .avatar-fake {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: @color-basic-100;
        flex-shrink: 0;
      }
    }
  }
}