@import (reference) '../../config';
@import (reference) '../../app/less/typography';

body.restore {

  ui-view[name="main"] {
    position: relative;
  }

  .restore-content {
    width: 460px;
    margin: auto;

    .restore-description {
      padding: 0 40px;
    }


    .buttons-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      w-button {
        flex-basis: 49%;
      }

      div {
        flex-basis: 49%;
        w-button {
          width: 100%;
        }
      }
    }

    .seed-block {
      border-radius: @border-radius;
      border: 1px solid @color-basic-200;
    }



    .user-list {
      w-select {
        width: 100%;

        .title-content,
        .option {
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        .select-list {
          max-height: 300px;
          overflow: auto;
        }
      }

      .input-like .has-name .name,
      w-select .has-name .name {
        .body-2();
        line-height: 1em;
        margin: 0 0 4px 0;
      }

      .input-like .has-name .address,
      w-select .has-name .address {
        .footnote-1();
        color: @color-basic-500;
        line-height: 1em;
      }
    }
  }

  .no-users {
    padding-top: 30px;
    i {
      width: 80px;
      height: 80px;
      display: inline-block;
      background: url(/img/icons/error-circle-x.svg) center no-repeat;
    }
  }
}

@media screen and (max-width: 480px) {
  body.restore .restore-content {
    width: calc(100% ~'- 20px');
    padding: 0 10px;

    .restore-description {
      padding: 0 20px;
    }
  }
}
