<div class="leasing">
  <div class="tools">
    <div class="column balance">
      <waves-leasing-balance-details balance-details="$ctrl.balanceDetails"></waves-leasing-balance-details>
    </div>
    <div class="column form">
      <waves-leasing-lease-form></waves-leasing-lease-form>
    </div>
    <div class="column quick-note">
      <section-header>QUICK NOTE</section-header>
      <p>You can transfer or trade only the the money which isn't leased. The leased money cannot be spent by you nor by anyone else.</p>
      <p>You can cancel a leasing transaction as soon as it is in the blockchain. That happens in about a minute most usually.</p>
    </div>
  </div>

  <waves-transaction-history heading="LEASING TRANSACTIONS"
                             transactions="$ctrl.transactions"
                             limit-to="200"></waves-transaction-history>
</div>