<div class="leasing">
  <div class="tools">
    <div class="column balance">
      <waves-leasing-balance-details balance-details="$ctrl.balanceDetails"></waves-leasing-balance-details>
    </div>
    <div class="column form">
      <waves-leasing-lease-form></waves-leasing-lease-form>
    </div>
    <div class="column quick-note">
      <section-header>QUICK NOTE</section-header>
      <p>You can only transfer or trade Waves that aren’t leased. The leased amount cannot be transferred or traded by you or anyone else.</p>
      <p>You can cancel a leasing transaction as soon as it appears in the blockchain which usually occurs in a minute or less.</p>
      <p>To cancel a lease, click on the black button in the far right column of the Leasing Transactions table below and select Cancel Leasing.</p>
      <p>The generating balance will be updated after 1000 blocks.</p>
    </div>
  </div>

  <waves-transaction-history heading="LEASING TRANSACTIONS"
                             transactions="$ctrl.transactions"
                             limit-to="$ctrl.limitTo"></waves-transaction-history>
</div>