<section-header>BALANCE LEASING</section-header>
<form name="$ctrl.form" novalidate ng-validate="$ctrl.validationOptions">
  <table class="form-table">
    <tbody>
    <tr>
      <td>Recipient</td>
      <td><input class="wInput form-control" name="leasingRecipient" type="text" placeholder="Recipient address" ng-model="$ctrl.recipient"/></td>
    </tr>
    <tr>
      <td>Amount</td>
      <td><input class="wInput form-control" name="leasingAmount" type="text" placeholder="Leasing amount" ng-model="$ctrl.amount" decimal-input-restrictor/></td>
    </tr>
    <tr>
      <td class="fee">Fee</td>
      <td class="fee">{{$ctrl.fee | moneyLong:true}}</td>
    </tr>
    <tr>
      <td colspan="2" class="button-container">
        <button class="wButton wButton-neg fade" ng-click="$ctrl.confirmLease($ctrl.form)">LEASE</button>
      </td>
    </tr>
    </tbody>
  </table>
</form>

<div id="start-leasing-confirmation" waves-dialog ok-button-caption="CONFIRM" ok-button-enabled="!$ctrl.broadcast.pending" on-dialog-ok="$ctrl.broadcastTransaction()">
  <div class="dialog-confirmation">
    <p class="dialog-text">You are going to lease <span class="confirmation-value">{{$ctrl.confirm.amount | moneyLong:true}}</span> with
      <span class="confirmation-value">{{$ctrl.confirm.fee | moneyLong:true}}</span> fee to the address<br/>
      <span class="confirmation-value">{{$ctrl.confirm.recipient}}</span>
    </p>
    <p class="dialog-text">Please <span class="fontBold"> CONFIRM </span>to execute or <span class="fontBold"> CANCEL </span> to discard.</p>
  </div>
</div>