<md-dialog class="modal-send" w-i18n-ns="app.utils" aria-label="modal">
    <md-dialog-content>
        <div class="modal-content">
            <div class="btn icon-close ng-scope" w-modal-close></div>
            <w-step-by-step active-step="$ctrl.step" ng-if="!$ctrl.errorOccured">
                <w-step>

                    <w-tabs class="header" ng-model="$ctrl.tab">
                        <w-tab title-name="::'modal.send.sendTitle'" id="::'singleSend'">
                            <w-permit name="CAN_TRANSFER_TRANSACTION" mode="on">
                                <w-single-send state="$ctrl.state"
                                               on-continue="$ctrl.nextStep(signable)">
                                    <ng-include src="::$ctrl.headerPath"></ng-include>
                                </w-single-send>
                            </w-permit>
                            <w-permit name="CAN_TRANSFER_TRANSACTION" mode="off">
                                <div class="center">
                                    <svg width="80px" height="80px" viewBox="0 0 80 80" version="1.1" class="margin-3 margin-top-2"
                                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <title>Icon/80/error-80-error500</title>
                                        <g id="Icon/80/error-80-error500" stroke="none" stroke-width="1" fill="none"
                                           fill-rule="evenodd">
                                            <path d="M40,77 C60.4345357,77 77,60.4345357 77,40 C77,19.5654643 60.4345357,3 40,3 C19.5654643,3 3,19.5654643 3,40 C3,60.4345357 19.5654643,77 40,77 Z M40,80 C17.90861,80 0,62.09139 0,40 C0,17.90861 17.90861,0 40,0 C62.09139,0 80,17.90861 80,40 C80,62.09139 62.09139,80 40,80 Z"
                                                  id="Oval" fill="#EF4829" fill-rule="nonzero"></path>
                                            <path d="M42.1213203,40 L55.5563492,53.4350288 C56.1421356,54.0208153 56.1421356,54.9705627 55.5563492,55.5563492 C54.9705627,56.1421356 54.0208153,56.1421356 53.4350288,55.5563492 L40,42.1213203 L26.5649712,55.5563492 C25.9791847,56.1421356 25.0294373,56.1421356 24.4436508,55.5563492 C23.8578644,54.9705627 23.8578644,54.0208153 24.4436508,53.4350288 L37.8786797,40 L24.4436508,26.5649712 C23.8578644,25.9791847 23.8578644,25.0294373 24.4436508,24.4436508 C25.0294373,23.8578644 25.9791847,23.8578644 26.5649712,24.4436508 L40,37.8786797 L53.4350288,24.4436508 C54.0208153,23.8578644 54.9705627,23.8578644 55.5563492,24.4436508 C56.1421356,25.0294373 56.1421356,25.9791847 55.5563492,26.5649712 L42.1213203,40 Z"
                                                  id="Combined-Shape" fill="#EF4829"></path>
                                        </g>
                                    </svg>
                                </div>
                                <h3 class="basic-700 margin-3 center"
                                    w-i18n="confirmTransaction.notPermitted.sendTitle"></h3>
                                <div class="warning-plate body-1 warning-500 margin-4"
                                     w-i18n="modal.disabledFeatures.transfer"></div>
                            </w-permit>
                        </w-tab>

                        <w-tab title-name="::'modal.send.massSendTitle'" id="::'massSend'">
                            <w-permit name="CAN_MASS_TRANSFER_TRANSACTION" mode="on">
                                <w-mass-send state="$ctrl.state"
                                             on-continue="$ctrl.nextStep(signable)">
                                    <ng-include src="::$ctrl.headerPath"></ng-include>
                                </w-mass-send>
                            </w-permit>
                            <w-permit name="CAN_MASS_TRANSFER_TRANSACTION" mode="off">
                                <div class="center">
                                    <svg width="80px" height="80px" viewBox="0 0 80 80" version="1.1" class="margin-3 margin-top-2"
                                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <title>Icon/80/error-80-error500</title>
                                        <g id="Icon/80/error-80-error500" stroke="none" stroke-width="1" fill="none"
                                           fill-rule="evenodd">
                                            <path d="M40,77 C60.4345357,77 77,60.4345357 77,40 C77,19.5654643 60.4345357,3 40,3 C19.5654643,3 3,19.5654643 3,40 C3,60.4345357 19.5654643,77 40,77 Z M40,80 C17.90861,80 0,62.09139 0,40 C0,17.90861 17.90861,0 40,0 C62.09139,0 80,17.90861 80,40 C80,62.09139 62.09139,80 40,80 Z"
                                                  id="Oval" fill="#EF4829" fill-rule="nonzero"></path>
                                            <path d="M42.1213203,40 L55.5563492,53.4350288 C56.1421356,54.0208153 56.1421356,54.9705627 55.5563492,55.5563492 C54.9705627,56.1421356 54.0208153,56.1421356 53.4350288,55.5563492 L40,42.1213203 L26.5649712,55.5563492 C25.9791847,56.1421356 25.0294373,56.1421356 24.4436508,55.5563492 C23.8578644,54.9705627 23.8578644,54.0208153 24.4436508,53.4350288 L37.8786797,40 L24.4436508,26.5649712 C23.8578644,25.9791847 23.8578644,25.0294373 24.4436508,24.4436508 C25.0294373,23.8578644 25.9791847,23.8578644 26.5649712,24.4436508 L40,37.8786797 L53.4350288,24.4436508 C54.0208153,23.8578644 54.9705627,23.8578644 55.5563492,24.4436508 C56.1421356,25.0294373 56.1421356,25.9791847 55.5563492,26.5649712 L42.1213203,40 Z"
                                                  id="Combined-Shape" fill="#EF4829"></path>
                                        </g>
                                    </svg>
                                </div>
                                <h3 class="basic-700 margin-3 center"
                                    w-i18n="confirmTransaction.notPermitted.massSendTitle"></h3>
                                <div class="warning-plate body-1 warning-500 margin-4"
                                     w-i18n="modal.disabledFeatures.massTransfer"></div>
                            </w-permit>
                        </w-tab>

                    </w-tabs>
                </w-step>
                <w-step>
                    <w-confirm-transaction ng-if="!$ctrl.outerSendMode"
                                           on-click-back="$ctrl.back()"
                                           no-back-button="$ctrl.strict"
                                           on-tx-sent="$ctrl.onTxSent(id)"
                                           referrer="$ctrl.referrer"
                                           warning="$ctrl.state.warning || ''"
                                           show-validation-errors="$ctrl.strict"
                                           signable="$ctrl.signable"></w-confirm-transaction>

                    <w-confirm-gateway-transaction ng-if="$ctrl.outerSendMode"
                                                   on-click-back="$ctrl.back()"
                                                   gateway-details="$ctrl.gatewayDetails"
                                                   target-recipient="$ctrl.state.singleSend.recipient"
                                                   signable="$ctrl.signable"></w-confirm-gateway-transaction>
                </w-step>
            </w-step-by-step>
            <div class="error-content" ng-if="$ctrl.errorOccured">
                <div class="error-title headline-2">
                    <span w-i18n="modal.send.errors.title"></span>
                </div>

                <div class="icon-browser-warning"></div>

                <h3 class="text-center margin-4 basic-700">
                    <span w-i18n="modal.send.errors.headline"></span>
                </h3>

                <w-button class="big long white" w-modal-close>
                    <span w-i18n="modal.send.errors.button"></span>
                </w-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
