<div>
    <div class="body-2 margin-05" w-i18n="modal.send.currency"></div>
    <div ng-if="!$ctrl.canChooseAsset || $ctrl.choosableMoneyList.length === 1"
         class="input-like big flex-row split-half">
        <div class="flex-row">
            <w-asset-logo size="24" asset-id="{{::$ctrl.state.assetId}}"></w-asset-logo>
            <div class="asset__name ellipsis">{{$ctrl.balance.asset.name}}</div>
        </div>
        <div ng-click="$ctrl.activate()" class="flex-row asset__balance">
            <w-balance class="ellipsis asset__amount" money="$ctrl.balance"></w-balance>
            <span class="mobile-ellipsis ellipsis asset__name">&nbsp;{{$ctrl.balance.asset.displayName}}</span>
        </div>
    </div>
    <w-select class="big"
              can-search="::true"
              ng-if="$ctrl.canChooseAsset && $ctrl.choosableMoneyList.length > 1"
              ng-model="$ctrl.state.assetId">
        <w-option
                ng-repeat="option in $ctrl.choosableMoneyList track by option.asset.id"
                search-value="::[option.asset.name, option.asset.ticker, option.asset.id]"
                value="::option.asset.id">
            <div class="flex-row split-half">
                <div class="flex-row">
                    <w-asset-logo size="24" asset-id="{{::option.asset.id}}"></w-asset-logo>
                    <div class="asset__name ellipsis">{{::option.asset.name}}</div>
                </div>
                <div class="asset__balance">
                    <w-balance class="ellipsis asset__amount" money="option"></w-balance>
                    <span class="mobile-ellipsis ellipsis asset__name">&nbsp;{{::option.asset.displayName}}</span>
                </div>
            </div>
        </w-option>
    </w-select>
</div>
