<md-dialog class="modal-send" w-i18n-ns="app.utils" aria-label="modal">
    <md-dialog-content>
        <div class="modal-content">
            <div class="btn icon-close ng-scope" w-modal-close></div>
            <w-step-by-step active-step="$ctrl.step" ng-if="!$ctrl.errorOccured">
                <w-step>

                    <w-tabs class="header" ng-model="$ctrl.tab">
                        <w-tab title-name="::'modal.send.sendTitle'" id="::'singleSend'">
                            <w-permit name="CAN_TRANSFER_TRANSACTION" mode="on">
                                <w-single-send state="$ctrl.state"
                                               on-continue="$ctrl.nextStep(signable)">
                                    <ng-include src="::$ctrl.headerPath"></ng-include>
                                </w-single-send>
                            </w-permit>
                            <w-permit name="CAN_TRANSFER_TRANSACTION" mode="off">
                                <div class="warning-plate body-1 warning-500"
                                     w-i18n="modal.disabledFeatures.transfer"></div>
                            </w-permit>
                        </w-tab>

                        <w-tab title-name="::'modal.send.massSendTitle'" id="::'massSend'">
                            <w-permit name="CAN_MASS_TRANSFER_TRANSACTION" mode="on">
                                <w-mass-send state="$ctrl.state"
                                             on-continue="$ctrl.nextStep(signable)">
                                    <ng-include src="::$ctrl.headerPath"></ng-include>
                                </w-mass-send>
                            </w-permit>
                            <w-permit name="CAN_MASS_TRANSFER_TRANSACTION" mode="off">
                                <div class="warning-plate body-1 warning-500"
                                     w-i18n="modal.disabledFeatures.massTransfer"></div>
                            </w-permit>
                        </w-tab>

                    </w-tabs>
                </w-step>
                <w-step>
                    <w-confirm-transaction ng-if="!$ctrl.outerSendMode"
                                           on-click-back="$ctrl.back()"
                                           no-back-button="$ctrl.strict"
                                           on-tx-sent="$ctrl.onTxSent(id)"
                                           referrer="$ctrl.referrer"
                                           warning="$ctrl.state.warning || ''"
                                           show-validation-errors="$ctrl.strict"
                                           signable="$ctrl.signable"></w-confirm-transaction>

                    <w-confirm-gateway-transaction ng-if="$ctrl.outerSendMode"
                                                   on-click-back="$ctrl.back()"
                                                   gateway-details="$ctrl.gatewayDetails"
                                                   target-recipient="$ctrl.state.singleSend.recipient"
                                                   signable="$ctrl.signable"></w-confirm-gateway-transaction>
                </w-step>
            </w-step-by-step>
            <div class="error-content" ng-if="$ctrl.errorOccured">
                <div class="error-title headline-2">
                    <span w-i18n="modal.send.errors.title"></span>
                </div>

                <div class="icon-browser-warning"></div>

                <h3 class="text-center margin-4 basic-700">
                    <span w-i18n="modal.send.errors.headline"></span>
                </h3>

                <w-button class="big long white" w-modal-close>
                    <span w-i18n="modal.send.errors.button"></span>
                </w-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
