@import (reference) '../../../config';

.modal-send {
  width: 540px;

  w-qr-code-read {
    position: absolute;
    height: 34px;
    width: 56px;
    right: 0;
    top: 50%;
    margin-top: -17px;
    border-left: 2px solid #dae1e9;
    .btn:before {
      width: 38px;
      height: 32px;
      background-size: 38px;
    }
  }

  .read-address-wrap w-input:not(.no-validate) .w-input-wrap::after {
    right: 70px;
  }

  .read-address-wrap {
    position: relative;
    .w-input-wrap input {
      height: 54px;
    }
  }

  textarea {
    resize: vertical;
    height: 47px;
    max-height: 250px;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    &.split-half {
      justify-content: space-between;
    }
  }

  .select .title {
    height: auto;
  }

  .row {
    margin-top: 23px;
    position: relative;
    textarea {
      font-size: 17px;
      min-height: 54px;
      padding: 16px;
    }
    .body.ng-binding {
      font-size: 12px;
    }
    .body-2 {
      margin: 0;
    }
    button {
      height: 54px;
      font-size: 17px;
    }
  }

  .asset-name {
    margin-left: 10px;
  }

  .input-like {
    position: relative;
    padding: 0 20px;
    height: 54px;
    border-radius: @border-radius;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 17px;

    w-asset-logo {
      margin-right: 10px;
    }

    w-balance {
      position: absolute;
      right: 42px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .amount-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .amount-modal-icon {
    background-image: url(/img/icons/amount-modal-icon.svg);
    background-size: 100% 100%;
    width: 24px;
    height: 20px;
  }

  .input-wrap {
    width: 208px;
    position: relative;
    .w-input-wrap input {
      font-size: 17px;
      height: 54px;
    }
    .currency {
      text-transform: uppercase;
      //color: @color-lite-font;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      font-size: 17px;
    }

    .send-all {
      cursor: pointer;
      background-color: @color-white;
      font-size: 13px;
      border-radius: @border-radius;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      padding: 8px 12px;
    }
  }

  .no-mirror {
    .amount-modal-icon {
      display: none;
    }
    .input-wrap {
      width: 100%;
    }
  }

  .fee {
    display: flex;
    flex-direction: row;

    .decimal-muted {
      display: none;
    }

    & > div:first-child {
      width: 50%;
    }
    & > div:last-child {
      width: 50%;
      text-align: right;
    }
  }

  .lite {
    //color: @color-lite-font;

    &::before, &::after {
      //color: @color-lite-font;
    }
    &::before {
      content: '('
    }

    &::after {
      content: ')'
    }
  }

  .modal-content {
    width: 100%;
    height: 100%;
    position: relative;
  }
}
