.seed-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 231px;
  width: 520px;
  border: 1px dotted #979797;
  border-radius: 3px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

// Due to animations that element should be directly in <body>
.seed-item {
  margin: 10px 8px;
  padding: 8px 17px;
  box-sizing: border-box;
  font-weight: bold;
  display: inline-block;
  transform-origin: center center;
  user-select: none;
  text-align: center;
  border: 1px solid #eee;
  background-color: #fff;

  &.moved {
    color: rgba(0, 0, 0, 0)
  }

  &.empxy {
    background-color: transparent;
  }

  &.clone {
    text-align: center;
  }
}
