<div class="txinfo__row" ng-if="::$ctrl.transaction.stringifiedData">
    <div class="txinfo__key" w-i18n="transaction.modals.data"></div>
    <div class="txinfo__value txinfo__button"
         w-i18n="{{$ctrl.dataVisible ? 'transaction.modals.hide' : 'transaction.modals.show'}}"
         ng-click="$ctrl.toggleVisible()"></div>
</div>
<div class="txinfo__data" ng-if="$ctrl.transaction.data.length > 0">
    <div class="transaction-details ng-hide"
         ng-class="{'show-all': $ctrl.allVisible}"
         ng-show="$ctrl.dataVisible">
        <ul class="transaction-details__list">
            <li class="transaction-details__item transaction-details__item_header">
                <div class="txinfo__item"><span class="txinfo__key" w-i18n="transaction.modals.dataKey"></span></div>
                <div class="txinfo__item"><span class="txinfo__key" w-i18n="transaction.modals.dataType"></span></div>
                <div class="txinfo__item"><span class="txinfo__key" w-i18n="transaction.modals.dataValue"></span></div>
            </li>
            <li class="transaction-details__item invoke-args-list__item"
                title="{{transaction.value}}"
                ng-repeat="transaction in $ctrl.transaction.data track by $index">
                <div class="txinfo__item"><span class="txinfo__unit">{{transaction.key}}</span></div>
                <div class="txinfo__item"><span class="txinfo__unit">{{transaction.type}}</span></div>
                <div class="txinfo__item"><span class="txinfo__unit">{{transaction.value}}</span></div>
            </li>
        </ul>
        <div class="transaction-details__actions">
            <!-- TODO copy JSON -->
<!--            <span class="transaction-details__action copy-code submit-300"-->
<!--                  w-copy="::$ctrl.json"-->
<!--                  w-i18n="transaction.modals.copyCode"></span>-->
            <span class="transaction-details__action see-all submit-300"
                  ng-if="$ctrl.transaction.data.length > 4"
                  ng-click="$ctrl.toggleAll()"
                  w-i18n="{{$ctrl.allVisible ? 'transaction.modals.hideAll' : 'transaction.modals.seeAll'}}">
            </span>
        </div>
    </div>
</div>



<w-transaction-info-general height="$ctrl.transaction.height"
                            timestamp="$ctrl.transaction.timestamp"
                            id="$ctrl.id"
                            fee="$ctrl.transaction.fee"></w-transaction-info-general>



