<fieldset ng-disabled="$ctrl.signPending" ng-class="{ 'disabled': $ctrl.signPending }">
    <form class="send-form"
          name="$ctrl.bankSend"
          novalidate>

        <ng-transclude></ng-transclude>

        <div class="row">
            <div ng-if="!$ctrl.isVerified && !$ctrl.isBankPendingOrError"
                 class="plate-error">
                <div class="body-2 error-500 margin-05" w-i18n="modal.send.notVerifiedHeader"></div>
                <div class="footnote-1 basic-500" w-i18n="modal.send.notVerifiedText"></div>
            </div>
        </div>

        <div class="row margin-top-2">
            <div class="flex-row-title">
                <div class="body-2 margin-05" w-i18n="modal.send.recipient"></div>
                <div class="toggle-mode-container">
                    <span class="link"
                          ng-click="$ctrl.setSendMode('waves')"
                          w-i18n="modal.send.toWaves"></span>
                </div>
            </div>

            <div class="input-like big disabled">
                <span w-i18n="modal.send.bankAccount"></span>
            </div>
        </div>

        <div ng-if="$ctrl.termsIsPending && $ctrl.isBankAccepted" class="row relative" style="min-height: 60px;">
            <w-loader class="asd"></w-loader>
        </div>

        <div ng-if="!$ctrl.isBankPendingOrError && $ctrl.isVerified && $ctrl.isBankAccepted" class="margin-1">
            <div class="plate-warning">
                <div class="body-2 warning-500 margin-05" w-i18n="modal.send.coinomatWarningHeader"></div>
                <div class="footnote-1 basic-500" w-i18n="modal.send.coinomatWarningText"></div>
            </div>
        </div>

        <div ng-if="!$ctrl.isBankPendingOrError && $ctrl.isVerified && $ctrl.isBankAccepted" class="row">
            <div class="plate-warning">
                <div class="body-2 warning-500 margin-05" w-i18n="modal.send.coinomatLimits"></div>
            </div>
        </div>

        <div ng-if="!$ctrl.isBankAccepted" class="row">
            <div class="plate-warning server-error">
                <div class="body-2 warning-500 margin-05"
                     w-i18n="modal.receive.gatewayError">
                </div>
            </div>
        </div>

        <w-input-container ng-if="!$ctrl.termsLoadError && !$ctrl.termsIsPending" class="margin-top-2">
            <div class="body-2 margin-05" w-i18n="modal.send.amount"></div>
            <div class="amount-wrap" ng-class="{'no-mirror': $ctrl.noMirror}">

                <w-balance-input name="amount"
                                 asset-id="$ctrl.assetId"
                                 max-balance="$ctrl.maxAmount"
                                 fee="$ctrl.feeList"
                                 input-classes="big"
                                 disabled="!$ctrl.isVerified || !$ctrl.termsAccepted"
                                 min="$ctrl.minAmount"
                                 on-focus="$ctrl.focus = 'amount'"
                                 on-blur="$ctrl.focus = ''"
                                 amount="$ctrl.tx.amount">
                </w-balance-input>
                <div class="amount-modal-icon"></div>
                <w-balance-input ng-if="!$ctrl.noMirror"
                                 on-focus="$ctrl.focus = 'mirror'"
                                 on-blur="$ctrl.onBlurMirror()"
                                 name="amountMirror"
                                 asset-id="$ctrl.mirrorId"
                                 fill-max="$ctrl.fillMax()"
                                 fee="$ctrl.feeList"
                                 input-classes="big"
                                 disabled="!$ctrl.isVerified || !$ctrl.termsAccepted"
                                 amount="$ctrl.mirror">
                </w-balance-input>

            </div>

            <div ng-if="$ctrl.isVerified && $ctrl.bankSend.amount.$touched && $ctrl.bankSend.amount.$invalid && $ctrl.focus !== 'amount'"
                 class="like-input-error multiline" >
                <div class="error">
                    <span ng-if="$ctrl.bankSend.amount.$error.required"
                          class="error-list-row"
                          w-i18n="inputs.errors.required"></span>
                    <span ng-if="$ctrl.bankSend.amount.$error.gt && $ctrl.tx.amount.getTokens().eq(0)"
                          class="error-list-row"
                          w-i18n="inputs.errors.required"></span>
                    <span ng-if="$ctrl.bankSend.amount.$error.gt && $ctrl.tx.amount.getTokens().gt(0)"
                          class="error-list-row"
                          w-i18n="inputs.errors.gtGatewayMin"
                          params="{min: $ctrl.minAmount.getTokens(), assetName: $ctrl.tx.amount.asset.displayName}"></span>
                    <span ng-if="$ctrl.bankSend.amount.$error.precision"
                          class="error-list-row"
                          w-i18n="modal.send.errors.precision"
                          params="{precision: $ctrl.balance.asset.precision}"></span>
                    <span ng-if="$ctrl.bankSend.amount.$error.lte && !$ctrl.tx.amount.getTokens().gte($ctrl.maxCoinomatAmount)"
                          class="error-list-row"
                          w-i18n="modal.send.errors.max"></span>
                    <span ng-if="$ctrl.bankSend.amount.$error.lte && $ctrl.tx.amount.getTokens().gte($ctrl.maxCoinomatAmount)"
                          params="{money: $ctrl.maxCoinomatAmount}"
                          class="error-list-row"
                          w-i18n="modal.send.errors.maxCoinomat"></span>
                </div>
            </div>
        </w-input-container>

        <w-input-container ng-if="!$ctrl.isBankPendingOrError" class="margin-top-2">
            <div class="body-2 margin-05">
                <span w-i18n="modal.send.idNumberTitle"></span>
                <w-help-icon>
                    <div w-i18n="modal.send.idNumber.helpIcon.title"
                         class="help-icon__row headline-3"></div>
                    <div w-i18n="modal.send.idNumber.helpIcon.description"
                         class="help-icon__row"></div>
                </w-help-icon>
            </div>
            <w-input w-validate
                     ng-disabled="!$ctrl.termsAccepted"
                     w-validator-pattern="\d*"
                     ng-model="$ctrl.tx.attachment"
                     name="idNumber"
                     type="text"
                     required></w-input>
            <w-input-error name="idNumber" message="required">
                <span w-i18n="inputs.errors.required"></span>
            </w-input-error>
        </w-input-container>

        <div class="fee margin-top-1 margin-1" ng-if="!$ctrl.termsLoadError && !$ctrl.termsIsPending && $ctrl.isBankAccepted">
            <w-fee-list tx="$ctrl.wavesTx"
                        disabled="!$ctrl.isVerified || !$ctrl.termsAccepted"
                        balance-hash="$ctrl.state.moneyHash"
                        fee="$ctrl.tx.fee"></w-fee-list>
        </div>

        <div ng-if="!$ctrl.hasFee" class="commission-error margin-top-1 margin-2 footnote error-500">
            <span w-i18n="modal.send.validationError.notEnoughFunds"
                  params="{fee: $ctrl.tx.fee}"></span>
        </div>

        <div ng-if="$ctrl.isBankAccepted" class="margin-top-2">
            <w-coinomat-terms force-show-terms="::false"
                              terms-pending="$ctrl.termsIsPending"
                              load-error="$ctrl.termsLoadError"
                              show-accepted-checkbox="::false"
                              is-verified="$ctrl.isVerified"
                              terms-accepted="$ctrl.termsAccepted"></w-coinomat-terms>
        </div>

    </form>
</fieldset>

<div class="margin-top-3">
    <w-sign-button ng-if="!$ctrl.termsLoadError && !$ctrl.termsIsPending"
                   on-click="$ctrl.createTx()"
                   on-success="$ctrl.onSignTx(signable)"
                   disabled="$ctrl.bankSend.$invalid || !$ctrl.hasFee || !$ctrl.termsAccepted">
        <span w-i18n="button.continue"></span>
    </w-sign-button>
</div>
