@import "../variables";

waves-dex-pairs-list {
  display: block;
  width: 100%;
  padding: 10px;

  h2 {
    margin-bottom: 12px;
  }

  .pairs-list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    .pair,
    .action {
      width: 90px;
      display: inline-block;
      padding: 5px 10px;
      margin: 0 20px 18px 0;
      border-radius: 4px;
      text-align: center;
      cursor: pointer;
    }

    .action {
      width: auto;
      font-weight: bold;
      user-select: none;
    }

    &.favorite .pair {
      background: @color-soft-orange;
    }

    &.favorite .action {
      background: lighten(@color-soft-orange, 15%);
      color: @color-grey;
    }

    &.traded .pair {
      background: @color-waves-blue-temp;
      color: @color-white;
    }

    &.traded .action {
      background: lighten(@color-waves-blue-temp, 15%);
      color: @color-white;
    }
  }
}