@import "../variables";

waves-dex-user-orders {
  display: block;

  h3 {
    padding: 3px 0;
  }

  table.user {
    width: 100%;
    border-collapse: collapse;

    td {
      width: 19%;
      text-align: center;

      &:nth-child(6) {
        width: 5%;
        cursor: pointer;
      }
    }

    thead {
      background: @color-waves-blue-temp;
      color: @color-white;

      td {
        padding-top: 3px;
        padding-bottom: 5px;
      }
    }

    tbody {
      tr {
        &.filled {
          color: @color-grey;
        }

        &:nth-child(even) {
          background: @color-almost-white;
        }

        td {
          padding-top: 1px;
          padding-bottom: 1px;
        }
      }
    }
  }

  waves-scrollbox {
    max-height: 240px;
    overflow: auto;
  }
}