<ul>
    <li class="transaction-item" ng-repeat="data in $ctrl.transactions track by data.date">
        <div class="date tag-2 info-400">{{ ::data.timestamp | date:'MMM, d, yyyy' }}</div>
        <div class="row" ng-repeat="transaction in data.transactions track by transaction.id">
            <div class="icon {{::transaction.type}}"></div>
            <div class="transaction-info">
                <div class="line body-1 basic-700">
                    <div>
                        <span w-i18n="transactionList.types.{{::transaction.type}}"></span>
                        {{::transaction.asset.name}}
                    </div>
                    <div>
                        <span w-i18n="transactionList.amount.{{::transaction.type}}"></span>
                        <w-balance balance="transaction.amount.tokens"
                                   asset-id="{{::transaction.amount.assetId}}"></w-balance>
                        {{::transaction.asset.name}}
                    </div>
                </div>
                <div class="line footnote basic-500">
                    <div>
                        {{::transaction.timestamp | date:'HH:mm,'}}
                        <span w-i18n="transactionList.address.{{::transaction.type}}"></span>
                        {{::transaction.address}}
                    </div>
                    <div>
                        <span w-i18n="transactionList.amount.{{::transaction.type}}"></span>
                        <w-balance balance="transaction.mirrorBalance"
                                   asset-id="{{::$ctrl.mirrorId}}"></w-balance>
                        {{::$ctrl.mirror.name}}
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
