@import (reference) 'config';
@import (reference) 'icons';
@import (reference) '../../../app/less/typography';

@cell-height: 64px;
@responsive-cell-height: auto;

.search {
  &-wrapper {
    height: 100%;
    width: 100%;
    display: inline-block;
  }

  &-input {
    background: @input-search-icon 8px center no-repeat @color-white;
    height: 100%;
    width: 100%;
    padding-left: 31px;
    cursor: pointer;
    color: @color-disabled-900;
    transition: .3s;
    border: 1px solid transparent;
    font-size: @font-size-caption-2;

    &:focus {
      border-color: @color-submit-300;
      cursor: default;
    }
  }
}

.smart-table {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;

  &__wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  &__row {
    font-size: @font-size-caption-2;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    background: @color-white;
    padding: 0 14px;

    .cell-label {
      display: none;
      color: @color-basic-500;
      margin-right: 7px;
      font-size: @font-size-caption-2;
    }
  }

  &__cell {
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &[data-column-id="controls"] {
      color: @color-basic-700;
    }
  }

  &__thead {
    width: 100%;
    z-index: 1;
    color: @color-basic-600;
    border-bottom: 1px solid @color-basic-100;

    .smart-table {
      &__search-container {
        position: relative;
      }

      &__cell {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .sort-by {
          cursor: pointer;
          display: inline-block;

          &::after {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-left: 5px;
            margin-top: -1px;
            content: '';
            background: @sorting-icon center center no-repeat;
            vertical-align: middle;
            transform: rotate(0deg);
          }
        }

        &.asc .sort-by::after,
        &.desc .sort-by::after {
          background-image: @sorting-active-icon;
        }

        &.desc {
          .sort-by {
            &::after {
              transform: rotate(180deg);
            }
          }
        }
      }

      &__row {
        height: 28px;
      }
    }
  }

  &__tbody {
    height: 100%;
    display: block;
    overflow: auto;
    position: relative;
    z-index: 2;

    .smart-table {
      &__row {
        transition: all 0.3s;

        &:hover {
          background-color: @dex-selected-item-bg;

          .underline {
            a {
              display: inline-block;
              position: relative;

              &:after {
                display: block;
                height: 1px;
                border-bottom: 1px dashed @color-basic-400;
                position: absolute;
                content: '';
                bottom: 0;
                width: 100%;
              }
            }
          }
        }

        a {
          color: @color-disabled-900;
        }
      }
    }
  }

  .decimal-muted {
    color: @color-basic-900;
  }

  .search-input {
    &:focus {
      border-color: transparent;
    }
  }

  &_watchlist {
    .smart-table {
      &__row {
        flex-wrap: wrap;
        cursor: pointer;
        padding: 2px 0;

        &.selected {
          background-color: @dex-selected-item-bg;

          .smart-table {
            &__cell[data-column-id="info"] {
              display: block;
            }
          }
        }

        &.disabled {
          cursor: default;

          .smart-table__cell {
            opacity: 0.4;
          }
        }
      }

      &__cell {
        padding: 0;

        &[data-column-id="favourite"] {
          flex-basis: 30px;
        }

        &[data-column-id="pair"] {
          flex-basis: calc(34% ~'- 30px');
        }

        &[data-column-id="price"] {
          flex-basis: 24%;
          max-width: 24%;
          text-align: right;
        }

        &[data-column-id="change"] {
          flex-basis: 17%;
          text-align: right;

          &.plus {
            color: @color-submit-400;
            &::before {
              content: '+';
              display: inline-block;
            }
          }

          &.minus {
            color: @color-error-400;
          }
        }

        &[data-column-id="volume"] {
          flex-basis: 25%;
          text-align: right;
          padding-right: 10px;
        }

        &[data-column-id="info"] {
          flex-basis: 100%;
          display: none;
          width: 100%;
          padding: 5px 20px 10px 30px;
          .caption-3();

          .chosen {
            &__info {
              margin-bottom: 2px;
            }

            &__link {
              position: relative;
              display: inline-block;

              &:hover {
                &::after {
                  height: 1px;
                  display: block;
                  width: 100%;
                  content: '';
                  position: absolute;
                  bottom: 0;
                  border-bottom: 1px dashed @color-disabled-400;
                }
              }
            }
          }
        }
      }
    }
  }

  &_dex-my-orders {
    .smart-table {
      &__row {
        &.buy {
          .smart-table {

            &__cell[data-column-id="pair"] {
              span.status-mobile {
                color: @color-submit-400;
                background: @color-submit-50;
              }
            }

            &__cell[data-column-id="type"],
            &__cell[data-column-id="status"] {
              color: @color-submit-400;

              .progress-bar {
                background: @color-bluebar-400;

                .progress-fill {
                  background: @color-bluebar-1000;
                }
              }
            }
          }
        }

        &.sell {
          .smart-table {

            &__cell[data-column-id="pair"] {
              span.status-mobile {
                color: @color-error-500;
                background: @color-error-100;
              }
            }

            &__cell[data-column-id="type"],
            &__cell[data-column-id="status"] {
              color: @color-error-500;

              .progress-bar {
                background: @color-redbar-400;

                .progress-fill {
                  background: @color-redbar-1000;
                }
              }
            }
          }
        }

        &.cancelled {
          color: @color-disabled-500;

          .progress-fill {
            display: none;
          }

          &.sell {
            .smart-table {
              &__cell[data-column-id="type"],
              &__cell[data-column-id="status"] {
                color: @color-error-200;

                .progress-bar {
                  background: @color-error-100;
                }
              }
            }
          }

          &.buy {
            .smart-table {
              &__cell[data-column-id="type"],
              &__cell[data-column-id="status"] {
                color: @color-submit-200;

                .progress-bar {
                  background: @color-submit-50;
                }
              }
            }
          }
        }

        .smart-table__cell {
          .cancelled {
            opacity: .5;
          }
        }
      }

      &__row {
        position: relative;
        display: flex;
        justify-content: space-between;

        .dropdown {
          display: none;
          cursor: pointer;
          width: 30px;
          height: 30px;
          position: absolute;
          right: 4px;
          top: 1px;
          background: url(/img/icons/dex-toggle.svg) center no-repeat;
          background-size: 10px;
        }
      }

      &__cell {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-basis: 100px;

        .decimal-muted {
          color: @color-basic-500;
        }

        &[data-column-id="controls"] {
          padding-left: 0;
        }

        &__cell[data-column-id="fee"] {
          text-align: right;
        }

        &[data-column-id="type"] {
          flex-basis: 80px;
          flex-grow: 0;
          min-width: auto;
        }

        &[data-column-id="status"] {
          flex-basis: 80px;
          flex-grow: 0;
          min-width: auto;
        }

        &[data-column-id="fee"] {
          flex-basis: 135px;
        }

        &[data-column-id="pair"] {
          padding-left: 0;
          flex-basis: 160px;

          span {
            display: block;
            align-items: center;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: 200px;
            cursor: pointer;
          }
        }

        &[data-column-id="filled"],
        &[data-column-id="average"],
        &[data-column-id="price"],
        &[data-column-id="amount"],
        &[data-column-id="total"],
        &[data-column-id="time"],
        &[data-column-id="type"] {
          text-align: right;
        }

        &[data-column-id="controls"] {
          flex-grow: 0;
          padding-right: 0;
          flex-shrink: 0;
        }
      }

      &__thead {
        .smart-table {
          &__cell[data-column-id="controls"] {

            .disabled {
              display: none;
            }

            span[role='button'] {
              display: inline-block;
              .stop();
              padding-left: 22px;
              background-position: 7px center;
            }

            w-confirm-action {
              border-left: 1px solid @color-basic-100;
              display: block;

              .confirm-tooltip {
                position: absolute;
                top: calc(100% ~'+ 1px');
                right: -10px;
                background: @color-white;
                box-shadow: @shadow-tooltip-confirm;
                width: 186px;
                padding: 15px 20px;
                text-align: center;
                white-space: normal;
                border-radius: @border-radius;

                &::before {
                  display: block;
                  content: '';
                  transform: translate(91px, -20px);
                  right: 0;
                  width: 0;
                  height: 0;
                  border: 5px solid transparent;
                  border-bottom-color: @color-white;
                  border-top: 0 none;
                }

                .buttons-wrapper {
                  w-button {
                    button {
                      color: @white-only;
                      font-size: @font-size-caption-2;
                      border-radius: @border-radius / 2;
                    }
                  }
                }

                .cancel {
                  background: @color-submit-400;
                }

                .action {
                  background: @color-error-400;
                }

                .title {
                  font-size: @font-size-caption-1;
                  line-height: 1em;
                }

                .descr {
                  line-height: 1.2em;
                }
              }
            }
          }
        }
      }

      &__tbody {
        .smart-table {
          &__row {
            padding: 6px 14px;

            &.can-expand {
              .smart-table {
                &__cell[data-column-id="status"] {
                  cursor: pointer;
                }
              }
            }

            &.sell {
              &.new-order {
                background: rgba(255, 228, 228, 0.5);
              }
            }

            &.buy {
              &.new-order {
                background: @color-submit-50;
              }
            }

            &.disabled {
              .smart-table__cell {
                opacity: 0.4;
              }

              .smart-table__cell.cell_stop {
                opacity: 1;
              }

              .cell_set-pair {
                cursor: default;

                a {
                  cursor: default;
                }
              }

              &:hover {
                background: @color-white;

                .cell_set-pair {
                  a::after {
                    display: none;
                  }
                }

                .tooltip-dex {
                  display: flex;
                }
              }
            }
          }
        }

        .order-details {
          background: @color-basic-50;

          &:hover {
            background-color: @color-basic-100;
          }
        }
      }
    }

    .order-row:last-child {
      margin-bottom: 10px;
    }

    .status {
      margin-top: 3px;
      .tag-3();

      .progress-bar {
        width: 100%;
        height: 2px;
        margin-top: 2px;

        .progress-fill {
          max-width: 100%;
          height: 2px;
        }
      }
    }

    .stop {
      cursor: pointer;
      background-image: url(/img/icons/order_cancel.svg);
      background-size: 8px 8px;
      background-repeat: no-repeat;
      background-position: 10px center;
      display: inline-block;
      padding-left: 25px;
      text-transform: capitalize;
    }
  }

  &_dex-trade-history {
    .smart-table {
      &__row {
        flex-wrap: nowrap;
        padding: 6px 14px;
        justify-content: space-between;

        .to-dex-link {
          cursor: default;
        }

        .underline .to-dex-link {
          cursor: pointer;
        }
      }

      &__cell {
        flex-basis: calc(20% ~' - 20px');
      }

      &__cell[data-column-id="type"] {
        flex-basis: 80px;
        color: @color-basic-900;
      }

      &__cell[data-column-id="price"],
      &__cell[data-column-id="amount"],
      &__cell[data-column-id="total"],
      &__cell[data-column-id="time"],
      &__cell[data-column-id="fee"] {
        text-align: right;
      }
    }
  }

  &_dex-my-balance {
    .smart-table {
      &__row {
        padding: 6px 14px;
      }

      &__cell[data-column-id="asset"] {
        flex-basis: 25%;

        w-asset-logo,
        span {
          cursor: pointer;
        }
      }

      &__cell[data-column-id="assetId"] {
        flex-basis: 35%;
        min-width: 35%;
      }

      &__cell[data-column-id="total"],
      &__cell[data-column-id="available"],
      &__cell[data-column-id="inOrders"] {
        text-align: right;
        flex-basis: calc(50% / 3);
      }

      &__cell[data-column-id="controls"] {
        display: none;
      }

      &__cell[data-column-id="asset"] {
        display: flex;
        align-items: center;
      }
    }

    .to-dex-link {
      cursor: default;
    }

    w-copy-wrap {
      border: 0 none;
      border-radius: 0;
      height: 18px;
      background-color: transparent;
      width: 75%;

      .container {
        padding: 0;
        cursor: pointer;
        font-size: @font-size-caption-2;
        line-height: inherit;
        display: inline-block;
        width: auto;
        text-overflow: ellipsis;
        overflow: hidden;

        @media screen and (min-width: 1025px) and (max-width: 1550px) {
          max-width: 250px;
        }

        @media screen and (max-width: 400px) {
          max-width: 300px;
        }

        @media screen and (min-width: 660px) and (max-width: 820px) {
          max-width: 220px;
        }

        span {
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 300px;
          display: block;
          width: 100%;
        }
      }

      .copy-icon {
        border-left: 0 none;
        flex-basis: 24px;
        position: relative;
        height: 18px;
        margin-top: -4px;
        background: @dex-copybalance-icon no-repeat right center;
      }
    }

    .search-input {
      background-position: 4px center;
      padding-left: 24px;
    }

    .dropdown {
      display: none;
      cursor: pointer;
      width: 30px;
      height: 30px;
      position: absolute;
      right: 4px;
      top: 1px;
      background: url(/img/icons/dex-toggle.svg) 50% no-repeat;
      background-size: 10px;
    }
  }

  &_mode-large {
    border-radius: @border-radius;
    box-shadow: @shadow-type-1;

    .smart-table__wrapper {
      color: @color-basic-700;
      font-size: 15px;
      background: @color-white;
    }

    .smart-table__row {
      padding: 0;

      i.toggler {
        display: none;
      }

      &.spam {
        .smart-table__cell:last-child {
          .cell {
            span.icon svg {
              fill: @color-basic-200;
            }
          }
        }
      }
    }

    .smart-table__cell {
      transition: all 0.3s;
      overflow: visible;

      &:first-child {
        min-width: 200px;
      }

      .cell {
        height: @cell-height;

        .decimal-muted {
          display: none;
        }
      }

      &:first-child {
        min-width: 200px;

        .cell {
          min-width: 160px;
          padding-left: 10px;
          justify-content: flex-start;

          .sort-by {
            margin-left: 60px;
          }
        }
      }

      &:last-child {
        padding-right: 5px;
        min-width: 250px;
        width: 250px;
      }
    }

    .smart-table__name .cell {
      .body-2();
      margin: 0;

      span {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 160px;
      }
    }

    .smart-table__available .cell {
      .body-2();
      font-family: @font-roboto-medium;
      margin: 0;
    }

    .smart-table__available-value .cell,
    .smart-table__chart-wrap .cell,
    .smart-table__in-orders .cell {
      .footnote-1();
    }

    .smart-table__change .cell {
      .footnote-1();
      span {
        &.plus {
          color: @color-submit-300;
        }
        &.minus {
          color: @color-error-500;
        }
      }
    }

    .smart-table__cell:last-child {

      .cell {
        display: flex;
        align-items: center;

        .spam-icons {
          span.unspam,
          span.tospam,
          svg {
            display: none;
          }

          &.icon-hide {
            svg:first-child {
              display: inline-block;
            }
            &:hover {
              span.unspam {
                display: none;
              }
              span.tospam {
                display: block;
              }
            }
          }

          &.icon-show {
            svg:first-child + svg {
              display: inline-block;
            }
            &:hover {
              span.unspam {
                display: block;
              }
              span.tospam {
                display: none;
              }
            }
          }
        }

        .icon {
          z-index: 2;
          display: inline-block;
          width: 18px;
          height: 18px;
          cursor: pointer;
          position: absolute;
          transform: translate3d(0, 0, 0);

          span {
            display: none;
            position: absolute;
            background: @color-basic-700;
            opacity: .8;
            top: 0;
            z-index: 2;
            left: 50%;
            transform: translate(-50%, -40px);
            color: @color-white;
            padding: 10px 15px;
            border-radius: @border-radius;
            .tag-2();
            text-transform: none;

            &::after {
              display: block;
              content: '';
              width: 10px;
              height: 10px;
              background: @color-basic-700;
              position: absolute;
              left: 50%;
              transform: translate(-50%, 5px) rotate(45deg);
            }
          }

          svg {
            fill: @color-basic-500;
            transition: .3s;
            vertical-align: top;
          }

          &:hover {
            span {
              display: block;
            }
            svg {
              fill: @color-basic-700;
            }
          }
        }

        .icon-send {
          right: 181px;
        }

        .icon-receive {
          right: 139px;
          span {
            margin-left: -2px;
          }
          svg {
            transform: rotate(-180deg);
          }
        }
        .icon-dex {
          right: 97px;
        }
        .icon-hide {
          right: 55px;
        }
        .icon-show {
          right: 55px;
        }

      }
    }

    .smart-table__thead {
      .smart-table__row {
        height: auto;
        min-width: 768px;
        overflow-x: auto;
        background: @color-white;
      }

      .smart-table__cell {
        border-bottom: 1px solid @color-basic-100;
        width: 100%;

        &:first-child {
          .cell {
            justify-content: flex-start;
          }
        }

        .cell {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          color: @color-basic-500;
          height: @cell-height;
          white-space: nowrap;
          .footnote-1();
        }
      }

      .smart-table__search-container {
        position: absolute;
        left: 20px;
        top: 13px;
        z-index: 1;
        height: 36px;
      }
    }

    .smart-table__tbody {
      transform: translate3d(0, 0, 0);
      will-change: transform;

      .smart-table__cell {
        border-bottom: 1px solid @color-basic-50;
        padding: 0 10px;
        width: 100%;
        .footnote-1();

        .cell {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          white-space: nowrap;
        }

        .cell-header {
          display: none;
        }

        &:first-child {
          .cell {
            justify-content: flex-start;
          }
        }

        .w-visible:first-child {
          .smart-table__cell:last-child .cell span.icon span::after {
            transform: translate(-50%, -5px) rotate(45deg);
            top: 0;
          }

          .smart-table__cell:last-child .cell span.icon span {
            transform: translate(-50%, 100%);
            bottom: -5px;
            top: auto;
          }
        }
      }

      .w-visible {
        min-height: 64px;

        &:first-child {
          .smart-table {
            &__control-cell {
              .cell {
                .icon {
                  span {
                    top: auto;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, 40px);

                    &::after {
                      left: 50%;
                      transform: translate(-50%, -27px) rotate(45deg);
                    }
                  }
                }
              }
            }
          }
        }
      }

      @media screen and (min-width: 769px) {
        .smart-table {
          &__row:hover {
            background: @hover-default;

            .asset__logo {
              .marker {
                border: 2px solid @custom-asset-marker-border;
              }
            }
          }
        }
      }
    }

    .search-input {
      width: 36px;
      border-radius: @border-radius;
      margin-right: 10px;
      text-indent: -999px;
      border-color: @color-basic-200;
      z-index: 1;
      background-position: 10px center;
      padding-left: 35px;
      .footnote-1();

      &:focus {
        width: 200px;
        text-indent: 0;
        border-color: @color-submit-300;
      }

      &.not-empty {
        border-color: @color-submit-300;
      }
    }

    .z-top {
      position: relative;
      z-index: 1;
    }
  }
}

@media screen and (min-width: 2400px) {
  .dex-layout {
    .smart-table__thead .smart-table__row {
      font-size: 12px;
    }

    .smart-table__row {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .smart-table_dex-my-orders {
    .smart-table__cell[data-column-id="pair"] {
      span {
        max-width: 126px;
      }
    }
  }
}

@media screen and (max-width: 1190px) {
  .smart-table_dex-my-orders {
    min-width: 100%;

    .smart-table {
      &__thead {
        display: none;
      }

      &__tbody {
        .smart-table__row {
          padding-left: 48px;
          padding-right: 48px;
          padding-top: 14px;
          padding-bottom: 14px;
          flex-wrap: wrap;
          margin: 0 2px;
        }
      }

      &__cell {
        padding: 0;
      }

      &__cell {
        &[data-column-id="average"],
        &[data-column-id="filled"],
        &[data-column-id="pair"],
        &[data-column-id="time"],
        &[data-column-id="price"],
        &[data-column-id="amount"] {
          flex-basis: 50%;
          height: 18px;
        }

        .cell-label {
          display: inline-block;
        }
      }

      &__cell[data-column-id="fee"] {
        display: none;
        text-align: left;
      }

      &__cell[data-column-id="pair"] {
        order: 0;
        margin-bottom: 5px;
        font-family: @font-roboto-medium;

        span {
          max-width: none;
        }
      }

      &__cell[data-column-id="price"] {
        text-align: left;
        order: 2;
      }

      &__cell[data-column-id="amount"] {
        order: 3;
      }

      &__cell[data-column-id="filled"] {
        text-align: left;
      }

      &__cell[data-column-id="type"],
      &__cell[data-column-id="total"],
      &__cell[data-column-id="filled"],
      &__cell[data-column-id="average"] {
        display: none;
      }

      &__cell[data-column-id="time"] {
        margin-bottom: 5px;
        order: 1;
        text-align: right;
        color: @color-basic-500;
        font-size: @font-size-caption-2;

        .cell-label {
          display: none;
        }
      }

      &__cell[data-column-id="status"] {
        order: 0;
        position: absolute;
        min-width: 36px;
        left: 10px;
        top: 50%;
        transform: translate(0, -50%);
        height: 36px;
        width: 36px;
        font-size: 0;

        .progress-bar,
        .progress-precents {
          display: none;
        }
      }

      &__cell[data-column-id="controls"] {
        order: 4;
        position: absolute;
        flex-basis: 30px;
        right: 10px;
        min-width: 30px;
        top: 50%;
        transform: translate(0, -50%);
        height: 30px;
        width: 30px;
        font-size: 0;
      }
    }

    .stop {
      background-size: 10px 10px;
      background-repeat: no-repeat;
      background-position: center center;
      margin-left: 0;
      height: 30px;
      width: 30px;
    }

    .order-row {
      position: relative;

      &:not(:last-child) {
        &::before {
          background: @color-basic-100;
          height: 1px;
          width: calc(100% ~'- 20px');
          position: absolute;
          bottom: 0;
          left: 10px;
          display: block;
          content: '';
          z-index: 1;
        }
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1180px) {
  .smart-table {
    &_mode-large {
      .smart-table__cell:last-child {
        width: 50px;
        min-width: 50px;

        .cell .icon {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .smart-table {
    &__tbody {

      .smart-table {
        &__row {
          position: relative;

          &:hover {
            .underline:after {
              display: none;
            }
          }

          .status-mobile {
            display: inline-block;
          }

          &.active {
            .dropdown {
              transform: rotate(180deg);
            }

            & + .active::before {
              background: @color-basic-100;
              height: 1px;
              width: calc(100% ~'- 20px');
              position: absolute;
              top: 0;
              left: 10px;
              display: block;
              content: '';
            }
          }
        }
      }
    }

    &__cell {
      padding: 0;

      .dropdown {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .smart-table_dex-my-balance {
    min-width: 100%;

    .smart-table {
      &__thead {
        .smart-table {
          &__row {
            height: 37px;
            border-top: 1px solid @color-basic-100;
            padding: 0 10px;

            &:hover {
              background: @color-white;
            }
          }

          &__search-container .search-input {
            height: 36px;
          }

          &__cell {
            display: none;
          }

          &__cell:first-child {
            display: block;
            height: 37px;
            flex-basis: 100%;
          }
        }
      }

      &__row {
        padding: 8px 38px 8px 12px;
        flex-wrap: wrap;
        margin: 0 2px;
        max-height: 37px;

        &.active {
          background: @color-basic-50;
          max-height: 80px;

          .smart-table {
            &__cell[data-column-id="assetId"] {
              display: flex;
            }

            &__cell[data-column-id="inOrders"],
            &__cell[data-column-id="total"] {
              display: block;
            }
          }
        }

        &:hover {
          background: @color-basic-50;
        }
      }

      &__cell {
        .cell-label {
          display: inline-block;
        }
      }

      &__cell[data-column-id="asset"] {
        flex-basis: 50%;
      }

      &__cell[data-column-id="assetId"] {
        display: none;
        order: 4;
        margin-top: 4px;
        flex-basis: 100%;
        height: 18px;
      }

      &__cell[data-column-id="price"] {
        text-align: left;
        order: 2;
      }

      &__cell[data-column-id="amount"] {
        order: 3;
      }

      &__cell[data-column-id="inOrders"] {
        margin-top: 4px;
        flex-basis: 50%;
        text-align: left;
        display: none;
      }

      &__cell[data-column-id="total"] {
        margin-top: 4px;
        flex-basis: 50%;
        text-align: right;
        display: none;
      }

      &__cell[data-column-id="available"] {
        flex-basis: 50%;

        w-balance {
          min-width: 74px;
        }
      }

      w-copy-wrap .copy-icon {
        margin-top: 0;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .smart-table_dex-trade-history {
    min-width: 100%;

    .smart-table {
      &__thead {
        display: flex;
      }

      &__cell {
        flex-basis: 25%;

        .cell-label {
          display: none;
        }
      }

      &__row {
        flex-wrap: nowrap;
        padding: 6px 12px;
        margin: 0 2px;
      }

      &__cell[data-column-id="pair"] {
        order: 0;
        margin-bottom: 5px;
        font-family: @font-roboto-medium;

        span {
          max-width: none;
        }
      }

      &__cell[data-column-id="type"] {
        display: none;
      }

      &__cell[data-column-id="price"] {
        text-align: left;
        order: 0;
      }

      &__cell[data-column-id="total"] {
        order: 1;
      }

      &__cell[data-column-id="amount"] {
        order: 2;
      }

      &__cell[data-column-id="time"] {
        order: 3;
        text-align: right;
        margin-right: 0;
        color: @color-basic-500;
        font-size: @font-size-caption-2;

        .cell-label {
          display: none;
        }
      }

      &__cell[data-column-id="controls"] {
        order: 4;
        position: absolute;
        flex-basis: 30px;
        right: 10px;
        min-width: 30px;
        top: 0;
        height: 30px;
        width: 30px;
        font-size: 0;
        margin-top: 5px;
      }
    }

    .stop {
      background-size: 10px 10px;
      background-repeat: no-repeat;
      background-position: center center;
      margin-left: 0;
      height: 30px;
      width: 30px;
    }
  }
}

@media screen and (max-width: 768px) {
  .smart-table {
    &_mode-large {
      max-height: 100%;

      .smart-table__wrapper {
        background: none transparent;
      }

      .smart-table__thead {
        display: none;
      }

      .smart-table__tbody {
        max-height: 100%;
        padding-right: 10px;

        .w-visible {
          margin: 0 0 5px;
          height: 70px !important;
        }

        .smart-table__row {
          padding: 0;
          flex-direction: row;
          flex-wrap: wrap;
          border-radius: @border-radius;
          box-shadow: @shadow-type-1;

          .smart-table__cell {
            padding: 0;
          }

          .smart-table__name {
            min-width: auto;

            .cell {
              overflow: hidden;
              text-overflow: ellipsis;
              width: 100%;
              max-width: 100%;
              padding: 0 5px 0 20px;

              span {
                max-width: 100%;
              }
            }
          }

          .smart-table__control-cell {
            max-width: 50px;
            min-width: 50px;
          }

          &:hover {
            background: @color-white;
          }
        }
      }

      .smart-table__row {
        .smart-table__available-value,
        .smart-table__chart-wrap,
        .smart-table__change,
        .smart-table__in-orders {
          display: none;
        }

        .smart-table__cell[data-column-id="name"] {
          flex-basis: 50px;
          max-width: 50px;
        }

        .smart-table__cell[data-column-id="balance"] {
          .cell {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0 0 0 20px;
          }
        }
      }

      .smart-table__cell {
        .cell {
          height: 40px;
        }

        &:last-child {
          padding: 0 0 10px 20px;

          .cell {
            height: 20px;

            span.icon {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 660px) and (max-width: 768px) {
  .smart-table {
    &_mode-large {
      .smart-table__row {
        min-width: 100%;
      }

      .smart-table__cell[data-column-id="controls"] {
        display: block;
        width: 50px;
        min-width: 50px;

        .cell {
          .icon {
            display: none;
          }
        }
      }

      .smart-table__cell[data-column-id="mirror"],
      .smart-table__cell[data-column-id="inReserved"] {
        display: none;
      }
    }
  }
}

